// Global
$bgColor: blue;

body{
  // background: $bgColor;
  // margin-top: 80px; // Allows for Fixed Top Navbar
  // height: 400vh;
}

// .col-12, .col-sm-4 {
//   background-color: pink;
// }

// .column{
//   border:1px dotted red;
// }


hr.fat{
  border-width: 4px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header{
  height: 100px;
}