@charset "UTF-8";

@font-face {
  font-family: "sard-icons";
  src:url("../sard-icons/fonts/sard-icons.eot");
  src:url("../sard-icons/fonts/sard-icons.eot?#iefix") format("embedded-opentype"),
    url("../sard-icons/fonts/sard-icons.woff") format("woff"),
    url("../sard-icons/fonts/sard-icons.ttf") format("truetype"),
    url("../sard-icons/fonts/sard-icons.svg#sard-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "sard-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sicon-"]:before,
[class*=" sicon-"]:before {
  font-family: "sard-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sicon-approve:before {
  content: "\61";
}
.sicon-approve-circle:before {
  content: "\62";
}
.sicon-approve-circle-o:before {
  content: "\63";
}
.sicon-arrow-right:before {
  content: "\6b";
}
.sicon-arrow-right-circle:before {
  content: "\6c";
}
.sicon-arrow-right-circle-o:before {
  content: "\6d";
}
.sicon-arrow-up:before {
  content: "\6e";
}
.sicon-arrow-up-circle:before {
  content: "\6f";
}
.sicon-arrow-up-circle-o:before {
  content: "\70";
}
.sicon-comment-right-o:before {
  content: "\78";
}
.sicon-dot:before {
  content: "\79";
}
.sicon-double-arrow-down:before {
  content: "\7a";
}
.sicon-double-arrow-left:before {
  content: "\41";
}
.sicon-double-arrow-right:before {
  content: "\42";
}
.sicon-double-arrow-up:before {
  content: "\43";
}
.sicon-flower-circle-sm:before {
  content: "\4b";
}
.sicon-flower-circle-xl:before {
  content: "\4c";
}
.sicon-flower-circle-xs:before {
  content: "\4d";
}
.sicon-flower-lg:before {
  content: "\4e";
}
.sicon-flower-md:before {
  content: "\4f";
}
.sicon-flower-sm:before {
  content: "\50";
}
.sicon-page-approved:before {
  content: "\58";
}
.sicon-page-archived:before {
  content: "\59";
}
.sicon-page-complete:before {
  content: "\5a";
}
.sicon-page-draft:before {
  content: "\30";
}
.sicon-page-due:before {
  content: "\31";
}
.sicon-page-recommended:before {
  content: "\32";
}
.sicon-sard-logo-md:before {
  content: "\21";
}
.sicon-sard-logo-sm:before {
  content: "\22";
}
.sicon-sard-logo-xs:before {
  content: "\23";
}
.sicon-sard-name:before {
  content: "\24";
}
.sicon-sol-360:before {
  content: "\25";
}
.sicon-sol-360-o:before {
  content: "\26";
}
.sicon-sol-jp-o:before {
  content: "\2e";
}
.sicon-sol-mrv:before {
  content: "\2f";
}
.sicon-sol-mrv-o:before {
  content: "\3a";
}
.sicon-arrow-down:before {
  content: "\65";
}
.sicon-arrow-down-circle:before {
  content: "\67";
}
.sicon-arrow-down-circle-o:before {
  content: "\68";
}
.sicon-arrow-left:before {
  content: "\69";
}
.sicon-arrow-left-circle:before {
  content: "\6a";
}
.sicon-arrow-left-circle-o:before {
  content: "\71";
}
.sicon-arrow-left-right:before {
  content: "\72";
}
.sicon-arrow-up-down:before {
  content: "\73";
}
.sicon-cancel:before {
  content: "\74";
}
.sicon-circle:before {
  content: "\75";
}
.sicon-circle-dot:before {
  content: "\76";
}
.sicon-comment-left:before {
  content: "\77";
}
.sicon-comment-left-o:before {
  content: "\44";
}
.sicon-comment-right:before {
  content: "\45";
}
.sicon-flower-circle-lg:before {
  content: "\46";
}
.sicon-flower-circle-md:before {
  content: "\47";
}
.sicon-flower-circle-o-lg:before {
  content: "\48";
}
.sicon-flower-circle-o-md:before {
  content: "\49";
}
.sicon-flower-circle-o-sm:before {
  content: "\4a";
}
.sicon-flower-circle-o-xl:before {
  content: "\51";
}
.sicon-flower-circle-o-xs:before {
  content: "\52";
}
.sicon-flower-xl:before {
  content: "\53";
}
.sicon-flower-xs:before {
  content: "\54";
}
.sicon-nav-icon-admin:before {
  content: "\55";
}
.sicon-nav-icon-site:before {
  content: "\56";
}
.sicon-nhs-logo:before {
  content: "\57";
}
.sicon-nhs-oxleas:before {
  content: "\33";
}
.sicon-nhs-oxleas-joint:before {
  content: "\34";
}
.sicon-page-submitted:before {
  content: "\35";
}
.sicon-quote:before {
  content: "\36";
}
.sicon-quote-o:before {
  content: "\37";
}
.sicon-reject:before {
  content: "\38";
}
.sicon-reject-circle:before {
  content: "\39";
}
.sicon-reject-circle-o:before {
  content: "\27";
}
.sicon-sard-logo-lg:before {
  content: "\28";
}
.sicon-sol-a4a:before {
  content: "\29";
}
.sicon-sol-a4a-o:before {
  content: "\2a";
}
.sicon-sol-ele:before {
  content: "\2b";
}
.sicon-sol-ele-o:before {
  content: "\2c";
}
.sicon-sol-eros:before {
  content: "\2d";
}
.sicon-sol-eros-o:before {
  content: "\3e";
}
.sicon-sol-jp:before {
  content: "\3f";
}
.sicon-sort-both:before {
  content: "\64";
}
.sicon-sort-desc:before {
  content: "\66";
}
.sicon-status-approved:before {
  content: "\3b";
}
.sicon-status-approved-o:before {
  content: "\3c";
}
.sicon-status-recommended:before {
  content: "\7b";
}
.sicon-sol-nrv:before {
  content: "\5c";
}
.sicon-sol-nrv-o:before {
  content: "\e000";
}
.sicon-sort-asc:before {
  content: "\e001";
}
.sicon-status-archived:before {
  content: "\e002";
}
.sicon-status-archived-o:before {
  content: "\e003";
}
.sicon-status-danger:before {
  content: "\e004";
}
.sicon-status-submitted:before {
  content: "\e005";
}
.sicon-status-recommended-o:before {
  content: "\e006";
}
.sicon-volcano:before {
  content: "\e007";
}
.sicon-upload-o:before {
  content: "\e008";
}
.sicon-upload:before {
  content: "\e009";
}
.sicon-super-admin-o:before {
  content: "\e00a";
}
.sicon-super-admin:before {
  content: "\e00b";
}
.sicon-status-warning-o:before {
  content: "\e00c";
}
.sicon-status-due-o:before {
  content: "\e00d";
}
.sicon-status-due:before {
  content: "\e00e";
}
.sicon-status-warning:before {
  content: "\e00f";
}
.sicon-status-success-o:before {
  content: "\e010";
}
.sicon-status-draft-o:before {
  content: "\e011";
}
.sicon-status-draft:before {
  content: "\e012";
}
.sicon-status-success:before {
  content: "\e013";
}
.sicon-status-submitted-o:before {
  content: "\e014";
}
.sicon-status-danger-o:before {
  content: "\e015";
}
