// Global UI Variables


hr.black{
  border-width: 1px;
  border-color: black;
  margin-top: 2rem;
}

header{
  height: 100px;
}

.bs-anchor{
  padding-top: 100px;
}

.icon-bg{
  background-color: lightgrey;
  padding: 0.5rem
}