// SARD Variables

// ==================================================================

// Spacing
// Based on 16px to 1 rem
// .0625rem = 1px
// .125rem = 2px
// .1875rem = 3px
// .25rem = 4px
// 0.3125 = 5px
// .375 = 6px 
// .5rem = 8px
// 0.625rem = 10px
// .75rem = 12px
// 0.875rem = 14px
// 1rem = 16px
// 1.25rem = 20px
// 1.5 = 24px
// 1.75 = 28px
// 2rem = 32px
// 3rem = 48px

$sard-spacer-1:              .0625rem;
$sard-spacer-2:              .125rem;
$sard-spacer-3:              .1875rem;
$sard-spacer-4:              .25rem;
$sard-spacer-5:              0.3125rem;
$sard-spacer-6:              .375rem;
$sard-spacer-7:              0.4375rem;
$sard-spacer-8:              .5rem;
$sard-spacer-9:              0.5625rem;
$sard-spacer-10:             .625rem;
$sard-spacer-11:             0.6875rem;
$sard-spacer-12:             .75rem;
$sard-spacer-13:             0.8125rem;
$sard-spacer-14:             .875rem;
$sard-spacer-15:             0.9375rem;
$sard-spacer-16:             1rem;
$sard-spacer-17:             1.0625rem;
$sard-spacer-18:             1.125rem;
$sard-spacer-19:             1.1875rem;
$sard-spacer-20:             1.25rem;

$sard-spacer-y:              .25rem; // Top to Bottom // 4px
$sard-spacer-x:              0.625rem; // Left to Right // 10px

$sard-spacer-y-2x:           .5rem; // Top to Bottom
$sard-spacer-x-2x:           1.25rem; // Left to Right

$sard-spacer-y-3x:           .75rem; // Top to Bottom
$sard-spacer-x-3x:           3rem; // Left to Right

$sard-spacer-y-4x:           1rem; // Top to Bottom
$sard-spacer-x-4x:           1.5rem; // Left to Right

$sard-margin:                1rem;
$sard-margin-sm:             .75rem;

// ==================================================================


$sard-bg:                    $sa-grey-02;
$sard-heading-bg:            $sa-grey-16;

$sard-padding:               $sard-spacer-y;
$sard-body-padding:          $sard-spacer-x;
$sard-heading-padding:       $sard-spacer-y $sard-spacer-x;
$sard-heading-font-size:     1.25rem;
$sard-heading-font-weight:   300;
$sard-heading-line-height:   1.575rem;
$sard-heading-text-color:    white;

$sard-footer-padding:        $sard-heading-padding !default;
$sard-border-width:          $border-width !default;
$sard-border-color:          $sard-heading-bg !default;


$sard-border-radius:         $border-radius;
$sard-inner-border-radius:   calc(#{$sard-border-radius} - #{$sard-border-width}) !default;



// //** Border color for elements within panels and cards
$sard-inner-border:          #ddd !default;
$sard-footer-bg:             $sard-heading-bg !default;


// Body adjust to allow for footer ==================================

body { margin-bottom: 70px; }

// Remove outer glow from Focus =====================================

textarea:focus, 
select:focus, 
input:focus, 
button:focus, 
.navbar-brand:focus,
.nav-link:focus,
.nav-item:focus, 
.dropdown-item:focus, 
.dropdown:focus, 
.dropdown-menu:focus {
  outline: none!important;  
  outline: -webkit-focus-ring-color none!important;
  outline-color: -webkit-focus-ring-color!important;
  outline-style: none!important;
  outline-width: none!important;
}

$sa-box-shadow:         1px 1px 2px 0px rgba(0,0,0,0.2);

// ==================================================================

// Alignments
.right, 
.align-right,
.right-align{
  text-align: right;
}
.center, 
.align-center,
.center-align{
  text-align: center;
}

.inline-block{
  display: inline-block;
}

.inset{
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: calc(100% - 2rem);
}
.inset-x2{
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: calc(100% - 4rem);
}
.inset-x3{
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: calc(100% - 6rem);
}
.inset-x4{
  padding-left: 4rem;
  padding-right: 4rem;
  max-width: calc(100% - 8rem);
}

