!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4, Bootstrap 4 - Components
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-styles.min.css", :rel => "stylesheet"}/
 
  %body.theme-trust
    //=include ../navbars/_navbar-x1.haml
    //=include ../navbars/_navbar-admin.haml

    #breadcrumb-top.fixed-top
      .container
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "#/"} Home
            %li.breadcrumb-item
              %a{:href => "#/"} Library
            %li.breadcrumb-item.active{"aria-current" => "page"} Data


    .container
      .row
        .col-12
          %h1.display-4 Components
          %p.lead These are default Bootstrap Components styled for SARD.
    .container
      //=include components/_alerts.haml

      %hr.black.mt-5

      //=include components/_badges.haml

      %hr.black.mt-5

      //=include components/_breadcrumbs.haml

      %hr.black.mt-5

      //=include components/_buttons.haml

      %hr.black.mt-5

      //=include components/_cards.haml

      %hr.black.mt-5

      //=include components/_collapse.haml

      %hr.black.mt-5

      //=include components/_dropdowns.haml

      %hr.black.mt-5

      //=include components/_forms.haml

      %hr.black.mt-5

      //=include components/_checkboxes-radios.haml
      
      %hr.black.mt-5

      //=include components/_file-imports.haml

      %hr.black.mt-5

      //=include components/_input-group.haml

      %hr.black.mt-5

      //=include components/_validation.haml

      %hr.black.mt-5

      //=include components/_list-group.haml

      %hr.black.mt-5

      //=include components/_modal.haml

      %hr.black.mt-5

      //=include components/_navbar.haml

      %hr.black.mt-5

      //=include components/_navs.haml

      %hr.black.mt-5

      //=include components/_pagination.haml

      %hr.black.mt-5

      //=include components/_panels.haml

      %hr.black.mt-5

      //=include components/_popovers.haml

      %hr.black.mt-5

      //=include components/_progress.haml

      %hr.black.mt-5

      //=include components/_searchbars.haml

      %hr.black.mt-5

      //=include components/_tables.haml

      %hr.black.mt-5

      //=include components/_tooltips.haml

    //=include ../navbars/_footer.haml

    -# Sidebars must be at the bottom of the file
    //=include ../navbars/_options-tab.haml
    //=include ../navbars/_rag-tab-x1.haml

/ Scripts

%script{:src => "../assets/js/remote-sard-scripts.min.js"}
