!!!
%html.no-js{:lang => "en"}
  %head
    %title Bootstrap 4 Layout - Typography
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-styles.min.css", :rel => "stylesheet"}/
 
  %body
    //=include ../navbars/_navbar-x1.haml

    .container
      .row
        .col-12
          %h1 Sard Colours
          %p.lead.base These are the core SARD Colours.
          %p The dark colours are 30% darker, while the light colours are 30% lighter.
      .row
        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-turq.mb-3
            .card-header.bg-sa-turq-dark sa-turq-dark: #007C7C
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-turq
                %br
                \#00B2B2
                %br
                0.178.178
                %br
                75.0.35.0
                %br
                Pantone: 3262 CP
            .card-footer.bg-sa-turq-light.text-default 
              sa-turq-light: #4DC9C9

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-pink.mb-3
            .card-header.bg-sa-pink-dark sa-pink-dark: #A00050
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-pink
                %br
                \#E50073
                %br
                229.0.115
                %br
                0.99.15.0
                %br
                Pantone: 226 CP
            .card-footer.bg-sa-pink-light.text-default 
              sa-pink-light: #ED4D9D

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-orange.mb-3
            .card-header.bg-sa-orange-dark sa-orange-dark: #B24A00
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-orange
                %br
                \#FF6A00
                %br
                255.106.0
                %br
                0.68.100.0
                %br
                Pantone: 7578 CP
            .card-footer.bg-sa-orange-light.text-default 
              sa-orange-light: #FF974D
  
        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-yellow.mb-3
            .card-header.bg-sa-yellow-dark sa-yellow-dark: #B27C00
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-yellow
                %br
                \#FFB200
                %br
                255.178.0
                %br
                0.34.100.0
                %br
                Pantone: 7409 CP
            .card-footer.bg-sa-yellow-light.text-default 
              sa-yellow-light: #FFC94D

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-lime.mb-3
            .card-header.bg-sa-lime-dark sa-lime-dark: #758522
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-lime
                %br
                \#A7BF30
                %br
                167.191.48
                %br
                43.5.99.0
                %br
                Pantone: 383 CP
            .card-footer.bg-sa-lime-light.text-default 
              sa-lime-light: #C2D26F

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-green.mb-3
            .card-header.bg-sa-green-dark sa-green-dark: #256E00
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-green
                %br
                \#359E00
                %br
                53.158.0
                %br
                78.6.100.1
                %br
                Pantone: 363 CP
            .card-footer.bg-sa-green-light.text-default 
              sa-green-light: #72BB4D

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-teal.mb-3
            .card-header.bg-sa-teal-dark sa-teal-dark: #003636
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-teal
                %br
                \#004D4D
                %br
                0.77.77
                %br
                91.42.56.46
                %br
                Pantone: 7721 CP
            .card-footer.bg-sa-teal-light.text-default 
              sa-teal-light: #4D8383

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-blue.mb-3
            .card-header.bg-sa-blue-dark sa-blue-dark: #002A7C
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-blue
                %br
                \#003CB2
                %br
                0.60.178
                %br
                97.78.0.0
                %br
                Pantone: 286 CP
            .card-footer.bg-sa-blue-light.text-default 
              sa-blue-light: #4D77C9

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-ink.mb-3
            .card-header.bg-sa-ink-dark sa-ink-dark: #000050
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-ink
                %br
                \#000078
                %br
                0.0.120
                %br
                100.94.27.20
                %br
                Pantone: 275 CP
            .card-footer.bg-sa-ink-light.text-default 
              sa-ink-light: #4D5DAB

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-purple.mb-3
            .card-header.bg-sa-purple-dark sa-purple-dark: #390062
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-purple
                %br
                \#52008C
                %br
                82.0.140
                %br
                88.100.4.1
                %br
                Pantone: 2622 CP
            .card-footer.bg-sa-purple-light.text-default 
              sa-purple-light: #864DAF

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-plum.mb-3
            .card-header.bg-sa-plum-dark sa-plum-dark: #6B006B
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-plum
                %br
                \#990099
                %br
                153.0.153
                %br
                57.95.0.0
                %br
                Pantone: 7648 CP
            .card-footer.bg-sa-plum-light.text-default 
              sa-plum-light: #B84DB8

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card-red.mb-3
            .card-header.bg-sa-red-dark sa-red-dark: #850000
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-red
                %br
                \#BF0000
                %br
                191.0.0
                %br
                15.100.100.8
                %br
                Pantone: 7621 CP
            .card-footer.bg-sa-red-light.text-default 
              sa-red-light: #D24D4D
      %hr
      .row
        .col-12
          %h1 Sard Greys
          %p.lead.base These are the core SARD Greys.
          %p.base The even numbers are key greys, while the odd numbers are intermediate greys.
          %p 
            Text across the system is not set to black but is set to 
            %b sa-grey-18.

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-00.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-00
                %br
                \#F5F5F5
                %br
                245.245.245
                %br
                5.4.4.0

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-01.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-01
                %br
                \#F0F0F0
                %br
                240.240.240
                %br
                7.5.6.0

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-02.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-02
                %br
                \#ECEBEB
                %br
                236.235.235
                %br
                9.7.7.0

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-03.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-03
                %br
                \#E3E1E1
                %br
                227.225.224
                %br
                13.10.11.0

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-04.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-04
                %br
                \#D9D7D7
                %br
                217.215.215
                %br
                17.13.14.0

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-05.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-05
                %br
                \#D0CECD
                %br
                208.206.205
                %br
                21.17.18.1

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-06.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-06
                %br
                \#C7C4C4
                %br
                200.196.195
                %br
                25.20.20.2

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-07.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-07
                %br
                \#BDBAB9
                %br
                189.186.185
                %br
                29.23.24.3

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-08.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-08
                %br
                \#B4B0AF
                %br
                180.176.175
                %br
                32.26.27.5

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-09.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-09
                %br
                \#ABA6A5
                %br
                171.165.164
                %br
                35.30.30.8

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-10.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-10
                %br
                \#A29D9B
                %br
                162.157.155
                %br
                37.32.32.10

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-11.mb-3
            .card-body
              %h5.card-title.base 
                %span.h2.base sa-grey-11
                %br
                \#918D8B
                %br
                144.141.139
                %br
                43.36.36.16

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-12.mb-3
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-grey-12
                %br
                \#817D7C
                %br
                129.125.124
                %br
                48.40.40.22

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-13.mb-3
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-grey-13
                %br
                \#716D6C
                %br
                114.110.109
                %br
                52.44.43.29

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-14.mb-3
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-grey-14
                %br
                \#615E5D
                %br
                97.95.94
                %br
                56.48.47.37

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-15.mb-3
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-grey-15
                %br
                \#514E4D
                %br
                81.78.77
                %br
                60.52.51.47

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-16.mb-3
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-grey-16
                %br
                \#403E3E
                %br
                64.62.62
                %br
                65.57.54.58

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-17.mb-3
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-grey-17
                %br
                \#302F2E
                %br
                48.47.47
                %br
                69.60.57.68

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-18.mb-3
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-grey-18
                %br
                \#201F1F
                %br
                32.31.21
                %br
                72.62.73.81

        .col-sm-6.col-md-4.col-lg-3.col-xxl-2
          .card.sa-card.bg-sa-grey-19.mb-3
            .card-body
              %h5.card-title.base.text-white 
                %span.h2.base sa-grey-19
                %br
                \#0E0E0E
                %br
                14.14.14
                %br
                82.71.62.90




    / Scripts ================================

    %script{:src => "../assets/js/remote-sard-scripts.min.js"}