!!!
%html.no-js{:lang => "en"}
  %head
    %title Bootstrap 4 Layout - Typography
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/assets/css/remote-sard-styles.min.css", :rel => "stylesheet"}/
 
  %body
    //=include ../shared/_navbar.haml

    .container
      .row
        .col-12
          %h1 Sard ColoursX
          %hr
          %h1 
  

    / Scripts ================================

    %script{:src => "/assets/js/remote-sard-scripts.min.js"}