// UI Styles
// Used only for the UI Build

header{
  height: 100px;
}

.bs-anchor{
  padding-top: 120px;
}

.icon-bg{
  background-color: lightgrey;
  padding: 0.5rem
}


// TEMP BG colours for alignment
// .row {background: rgba( pink, .5 ) }

// .col, [class*="col-"] {
//   background: rgba( lightblue, .5 )
// }

#ui-index-page{
  .logo{
    width: 300px;
    margin-bottom: 16px;
  }
}