// SARD Variables

// Responsive Media Queries ---------------------
// http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32

$break-sm: 576px;
$break-md: 769px;  // Adjusted from 768 to include iPad V as small
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1590px;


@mixin respond-to($media) {
  @if $media == xxs-screens {
    @media only screen and (max-width: 420px) { @content; }
  }
  @if $media == xs-screens {
    @media only screen and (min-width: 421px) and (max-width: 575px) { @content; }
  }
  @else if $media == sm-screens {
    @media only screen and (min-width: 576px) and (max-width: 768px) { @content; }
  }
  @else if $media == md-screens {
    @media only screen and (min-width: 769px) and (max-width: 991px) { @content; }
  }
  @else if $media == lg-screens {
    @media only screen and (min-width: 992px) and (max-width: 1199px) { @content; }
  }
  @else if $media == xl-screens {
    @media only screen and (min-width: 1200px) and (max-width: 1589px) { @content; }
  }
  @else if $media == xxl-screens {
    @media only screen and (min-width: 1590px) { @content; }
  }

  // Up / Down Sizes

  @else if $media == xs-break-down {
    @media only screen and (max-width: 420px) { @content; }
  }
  @else if $media == xs-break-up {
    @media only screen and (min-width: 421px) { @content; }
  }
  @else if $media == sm-break-down {
    @media only screen and (max-width: 575px) { @content; }
  }
  @else if $media == sm-break-up {
    @media only screen and (min-width: 576px) { @content; }
  }
  @else if $media == md-break-down {
    @media only screen and (max-width: 768px) { @content; }
  }
  @else if $media == md-break-up {
    @media only screen and (min-width: 769px) { @content; }
  }
  @else if $media == lg-break-down {
    @media only screen and (max-width: 991px ) { @content; }
  }
  @else if $media == lg-break-up {
    @media only screen and (min-width: 992px) { @content; }
  }
  @else if $media == xl-break-down {
    @media only screen and (max-width: 1199px ) { @content; }
  }
  @else if $media == xl-break-up {
    @media only screen and (min-width: 1200px) { @content; }
  }
  @else if $media == xxl-break-down {
    @media only screen and (max-width: 1589px ) { @content; }
  }

  // iPad landscape
  @else if $media == ipad-landscape {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { @content; }
  }
  @else if $media == ipad-portrait {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { @content; }
  }

  @else if $media == ipad-p-down {
    @media only screen and (max-width: 767px) { @content; }
  }

  @else if $media == mobile-landscape {
    @media only screen and (max-device-width : 911px) and (orientation : landscape) { @content; }
  }

    // iPad Pro
    @else if $media == ipad-pro-landscape {
      @media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
    @else if $media == ipad-pro-portrait {
      @media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
  
  // Phones 
  // https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints/
  
  // iPhone 4
  @else if $media == iphone-4-portrait {
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) { @content; }
  }
  @else if $media == iphone-4-landscape {
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) { @content; }
  }

  // iPhone 5
  @else if $media == iphone-5-portrait {
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) { @content; }
  }
  @else if $media == iphone-5-landscape {
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) { @content; }
  }

  // iPhone 6, 7, 8
  @else if $media == iphone-6-portrait {
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) { @content; }
  }
  @else if $media == iphone-6-landscape {
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) { @content; }
  }

  // iPhone 6+, 7+, 8+
  @else if $media == iphone-6-plus-portrait {
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) { @content; }
  }
  @else if $media == iphone-6-plus-landscape {
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) { @content; }
  }

  // iPhone X
  @else if $media == iphone-x-portrait {
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) { @content; }
  }
  @else if $media == iphone-x-landscape {
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) { @content; }
  }
  
  // iPhone XS Max, XR
  @else if $media == iphone-xr-portrait {
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) { @content; }
  }
  @else if $media == iphone-xr-landscape {
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) { @content; }
  }

  // Samsung Galaxy S3
  @else if $media == galaxy-S3-portrait {
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) { @content; }
  }
  @else if $media == galaxy-S3-landscape {
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) { @content; }
  }

  // Samsung Galaxy S4
  @else if $media == galaxy-S4-portrait {
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) { @content; }
  }
  @else if $media == galaxy-S4-landscape {
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) { @content; }
  }

  // Samsung Galaxy S5
  @else if $media == galaxy-S5-portrait {
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) { @content; }
  }
  @else if $media == galaxy-S5-landscape {
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) { @content; }
  }

    // Pixel 2XL
    @else if $media == pixel-2xl-portrait {
      @media only screen and (min-device-width: 411px) and (max-device-height: 823px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3.5) { @content; }
    }
    @else if $media == pixel-2xl-landscape {
      @media only screen and (min-device-width: 411px) and (max-device-height: 823px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3.5) { @content; }
    }

    // Pixel 2
    @else if $media == pixel-2-portrait {
      @media only screen and (min-device-width: 411px) and (max-device-height: 731px) and (orientation : portrait) { @content; }
    }
    @else if $media == pixel-2-landscape {
      @media only screen and (min-device-width: 411px) and (max-device-height: 731px) and (orientation : landscape) { @content; }
    }

  // ie 11 ------------------
  
  @else if $media == ie11 {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { @content; }
  }
}



@mixin breakout{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 31px;
  padding-right: 31px;
}

.breakout{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 31px;
  padding-right: 31px;
}

.container-fluid{
  padding-left: 30px;
  padding-right: 30px;
  @include media-breakpoint-down(sm){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container{
  @include media-breakpoint-down(sm){
    max-width: calc(100% - 45px);
  }
}
// ==================================================================

// Spacing
// Based on 16px to 1 rem
// .0625rem = 1px
// .125rem = 2px
// .1875rem = 3px
// .25rem = 4px
// 0.3125 = 5px
// .375 = 6px 
// .5rem = 8px
// 0.625rem = 10px
// .75rem = 12px
// 0.875rem = 14px
// 1rem = 16px
// 1.25rem = 20px
// 1.5 = 24px
// 1.75 = 28px
// 2rem = 32px
// 3rem = 48px

$sa-spacer-1:              .0625rem;
$sa-spacer-2:              .125rem;
$sa-spacer-3:              .1875rem;
$sa-spacer-4:              .25rem;
$sa-spacer-5:              0.3125rem;
$sa-spacer-6:              .375rem;
$sa-spacer-7:              0.4375rem;
$sa-spacer-8:              .5rem;
$sa-spacer-9:              0.5625rem;
$sa-spacer-10:             .625rem;
$sa-spacer-11:             0.6875rem;
$sa-spacer-12:             .75rem;
$sa-spacer-13:             0.8125rem;
$sa-spacer-14:             .875rem;
$sa-spacer-15:             0.9375rem;
$sa-spacer-16:             1rem;
$sa-spacer-17:             1.0625rem;
$sa-spacer-18:             1.125rem;
$sa-spacer-19:             1.1875rem;
$sa-spacer-20:             1.25rem;

$sa-spacer-y:              .25rem; // Top to Bottom // 4px
$sa-spacer-x:              0.625rem; // Left to Right // 10px

$sa-spacer-y-2x:           .5rem; // Top to Bottom
$sa-spacer-x-2x:           1.25rem; // Left to Right

$sa-spacer-y-3x:           .75rem; // Top to Bottom
$sa-spacer-x-3x:           3rem; // Left to Right

$sa-spacer-y-4x:           1rem; // Top to Bottom
$sa-spacer-x-4x:           1.5rem; // Left to Right

$sa-margin:                1rem;
$sa-margin-sm:             .75rem;

// ==================================================================

@mixin sa-transition {
  transition: all 320ms ease!important;
}

$sa-bg:                    $sa-grey-02;
$sa-heading-bg:            $sa-grey-16;

$sa-padding:               $sa-spacer-y;
$sa-body-padding:          $sa-spacer-x;
$sa-heading-padding:       $sa-spacer-y $sa-spacer-x;
$sa-heading-font-size:     1.25rem;
$sa-heading-font-weight:   300;
$sa-heading-line-height:   1.575rem;
$sa-heading-text-color:    white;

$sa-footer-padding:        $sa-heading-padding !default;
$sa-border-width:          $border-width !default;
$sa-border-color:          $sa-heading-bg !default;


// Define common padding and border radius sizes and more.
$sa-border-radius:               .375rem ;
$sa-border-radius-lg:            .5rem ;
$sa-border-radius-sm:            .2rem ;

$sa-border-radius:         $border-radius;
$sa-inner-border-radius:   calc(#{$sa-border-radius} - #{$sa-border-width}) ;




// //** Border color for elements within panels and cards
$sa-inner-border:          #ddd !default;
$sa-footer-bg:             $sa-heading-bg !default;


// Body adjust to allow for footer ==================================
html {
  height: 100%;
}
body {
  // min-height: 100%;
  padding-bottom: 70px;
}


// Remove outer glow from Focus =====================================

textarea:focus, 
select:focus, 
input:focus, 
button:focus, 
.navbar-brand:focus,
.nav-link:focus,
.nav-item:focus, 
.dropdown-item:focus, 
.dropdown:focus, 
.dropdown-menu:focus {
  outline: none!important;  
  outline: -webkit-focus-ring-color none!important;
  outline-color: -webkit-focus-ring-color!important;
  outline-style: none!important;
  outline-width: none!important;
}

$sa-box-shadow:         1px 1px 2px 0px rgba(0,0,0,0.2);
$sa-box-shadow-lg:      1px 1px 3px 0px rgba(0,0,0,0.4);

$sa-box-shadow-inset:   inset 1px 1px 2px 0px rgba(0,0,0,0.2);


// ==================================================================

// Alignments
.right, 
.align-right,
.right-align{
  text-align: right;
}
.center, 
.align-center,
.center-align{
  text-align: center;
}

.inline-block{
  display: inline-block;
}

.inset{
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: calc(100% - 2rem);
}
.inset-x2{
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: calc(100% - 4rem);
}
.inset-x3{
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: calc(100% - 6rem);
}
.inset-x4{
  padding-left: 4rem;
  padding-right: 4rem;
  max-width: calc(100% - 8rem);
}


// ==============================================

#navbar + #navbar-admin{
  top: 50px;
 @include media-breakpoint-down(md){ top: 35px; }
}

// Breadcrumbs
#navbar-admin + #breadcrumbs{
  top: 35px;
 @include media-breakpoint-down(md){ top: 35px; }
}
#navbar + #breadcrumbs{
  top: 50px;
 @include media-breakpoint-down(md){ top: 35px; }
}
#navbar + #navbar-admin + #breadcrumbs{
  top: 85px;
 @include media-breakpoint-down(md){ top: 70px; }
}



// Containers

#navbar + .container-fluid,
#navbar + .container{
  @include media-breakpoint-up(md){  top: 70px;}
  @include media-breakpoint-down(md){  top: 50px;}
}

#navbar + #breadcrumbs + .container-fluid,
#navbar + #breadcrumbs + .container{
  @include media-breakpoint-up(md){  top: 100px;}
  @include media-breakpoint-down(md){  top: 80px;}
}

#navbar + #navbar-admin + .container-fluid,
#navbar + #navbar-admin + .container{
  @include media-breakpoint-up(md){  top: 105px;}
  @include media-breakpoint-down(md){  top: 85px;}
}

#navbar + #navbar-admin + #breadcrumbs + .container-fluid,
#navbar + #navbar-admin + #breadcrumbs + .container{
  @include media-breakpoint-up(md){  top: 135px;}
  @include media-breakpoint-down(md){  top: 115px;}
}






// Layering ==============================
.navbar.fixed-top{
  z-index: 5002;
}
#navbar-admin{
  z-index: 5001;
}
#breadcrumbs{
  z-index: 5000;
}
.sa-sidemenu{
  z-index: 4999;
}
.sa-footer{
  z-index: 5000;
}
.sa-footer #accordion{
  z-index: 5000;
}

.modal{
  z-index: 5050;
}


// Display / Hide for various screen sizes

@include media-breakpoint-down(xs){
  .hide-mobile-down { display: none !important;}
}

@include media-breakpoint-up(sm){
  .hide-mobile-up { display: none !important;}
}

@include media-breakpoint-down(sm){
  .hide-ipad-down { display: none !important;}
}

@include media-breakpoint-up(md){
  .hide-ipad-up { display: none !important;}
}

@include media-breakpoint-down(md){
  .hide-laptop-down { display: none !important;}
}

@include media-breakpoint-up(lg){
  .hide-laptop-up { display: none !important;}
}

