// Color themes
// https://www.sitepoint.com/dealing-color-schemes-sass/
// https://codepen.io/SitePoint/pen/czixa


// ----
// Sass (v3.3.0.rc.5)
// Compass (v1.0.0.alpha.18)
// ----

/* Theme Colouring */

// ================================================================================================
// Main Mixin - Theme Includes are added at the base of this file =================================
@mixin theme($theme-name, $first-colour,  $second-colour, $third-colour,  $forth-colour) {
  $theme-primary:         $first-colour;
  $theme-primary-dark:                    $second-colour;
  $theme-secondary:                                       $third-colour;
  $theme-secondary-dark:                                                  $forth-colour;

  // Panels =====================================
  // .#{$theme-name} {
  //   .panel-sard {
  //     background-color: $first;
  //     & .panel-heading, .panel-footer{
  //       background-color: $theme-primary-dark;
  //     }
  //   }
  // } // End Panels Mixin

  // ============================================
  // Theme Name =================================
  .#{$theme-name} {
    // Scrollbar ==============
    ::-webkit-scrollbar-thumb {
        background-color: $theme-primary;
    }


    // Navbar =================
    .navbar-sard {
      background-color: $theme-primary;
    }
    .navbar-sard .nav-item:focus .nav-link,
    .navbar-sard .nav-item:hover .nav-link {
        background-color: darken($theme-primary, 10%); 
    }
    .navbar-sard .nav-item.active .nav-link{
      background-color: darken($theme-primary, 20%); // add background-color to active links 
    }
    .navbar-sard .nav-item.dropdown.show .nav-link.dropdown-toggle{
      background-color: darken($theme-primary, 25%);
    }
    .navbar-sard .dropdown-menu{
      background-color: darken($theme-primary, 20%);
    }
    .navbar-sard .dropdown-menu .dropdown-item{
      border-color: $theme-primary;
      &:focus{
        background-color: darken($theme-primary, 25%);
      }
      &:hover{
        background-color: darken($theme-primary, 25%);
      }
      &:active{
        background-color: darken($theme-primary, 30%);
      }
    }
    // Navbar Toggler
    .navbar-sard .navbar-toggler{
      background-color: darken($theme-primary, 20%);
      &:focus{
        background-color: darken($theme-primary, 25%);
      }
      &:hover{
        background-color: darken($theme-primary, 25%);
      }
      &:active{
        background-color: darken($theme-primary, 30%);
      }
    }
    .navbar-sard .nav-item:focus .nav-link.disabled,
    .navbar-sard .nav-item:hover .nav-link.disabled {
      background-color: $theme-primary; 
    }
    .navbar-sard .dropdown-submenu .dropdown-menu{
      border-left-color:  darken($theme-primary, 30%);
    }

    // Breadcrumbs
    .breadcrumb{
      a{
        color: $theme-primary;
        &:visited{
          color: $theme-primary;
        }
        &:focus,
        &:hover{
          color: $theme-primary-dark;
        } 
        &:active{
          color: $theme-secondary-dark;
        }
      }
    }

    // Perforations
    hr.trust{ border-color: $theme-primary; }

    .perf.trust { background-color: $theme-primary; }

    // Trust Colours ==============
    // Background
    .bg-trust{ background-color: $theme-primary !important;}
    .bg-trust-dark{ background-color: darken($theme-primary, 10%) !important;}
    .bg-trust-light{ background-color: lighten($theme-primary, 10%) !important;}

    .bg-trust-2{ background-color: $theme-secondary !important;}
    .bg-trust-2-dark{ background-color: darken($theme-secondary, 10%) !important;}
    .bg-trust-2-light{ background-color: lighten($theme-secondary, 10%) !important;}

    .bg-trust-user{ background-color: $user-colour !important;}
    .bg-trust-user-dark{ background-color: darken($user-colour, 10%) !important;}
    .bg-trust-user-light{ background-color: lighten($user-colour, 5%) !important;}

    .bg-trust-user-2{ background-color: $user-colour-2 !important;}
    .bg-trust-user-2-dark{ background-color: darken($user-colour-2, 5%) !important;}
    .bg-trust-user-2-light{ background-color: lighten($user-colour-2, 10%) !important;}

    .bg-trust-admin{ background-color: $admin-colour !important;}
    .bg-trust-admin-dark{ background-color: darken($admin-colour, 10%) !important;}
    .bg-trust-admin-light{ background-color: lighten($admin-colour, 10%) !important;}

    .bg-trust-admin-2{ background-color: $admin-colour-2 !important;}
    .bg-trust-admin-2-dark{ background-color: darken($admin-colour-2, 10%) !important;}
    .bg-trust-admin-2-light{ background-color: lighten($admin-colour-2, 10%) !important;}

    // Foreground
    .text-trust{ color: $theme-primary !important;}
    .text-trust-dark{ color: darken($theme-primary, 10%) !important;}
    .text-trust-light{ color: lighten($theme-primary, 10%) !important;}

    .text-trust-2{ color: $theme-secondary !important;}
    .text-trust-2-dark{ color: darken($theme-secondary, 10%) !important;}
    .text-trust-2-light{ color: lighten($theme-secondary, 10%) !important;}

    .text-trust-user{ color: $user-colour !important;}
    .text-trust-user-dark{ color: darken($user-colour, 10%) !important;}
    .text-trust-user-light{ color: lighten($user-colour, 5%) !important;}

    .text-trust-user-2{ color: $user-colour-2 !important;}
    .text-trust-user-2-dark{ color: darken($user-colour-2, 5%) !important;}
    .text-trust-user-2-light{ color: lighten($user-colour-2, 10%) !important;}

    .text-trust-admin{ color: $admin-colour !important;}
    .text-trust-admin-dark{ color: darken($admin-colour, 10%) !important;}
    .text-trust-admin-light{ color: lighten($admin-colour, 10%) !important;}

    .text-trust-admin-2{ color: $admin-colour-2 !important;}
    .text-trust-admin-2-dark{ color: darken($admin-colour-2, 10%) !important;}
    .text-trust-admin-2-light{ color: lighten($admin-colour-2, 10%) !important;}

    // Badges ---------------
    .badge.badge-trust{ 
      background-color: $theme-primary; 
    }
    // Buttons --------------
    .btn-trust{
      background-color: $theme-primary;
      &:hover { 
        background-color: darken($theme-primary, 5%); 
      }
      &:active {
        background-color: darken($theme-primary, 10%);
      }
      &:focus,
      &.focus {
        box-shadow: 0 0 0 0.2rem rgba($theme-primary, .25);
      }
    }

    .btn.btn-outline-trust{
      color: $theme-primary;
      border-color: $theme-primary;
      &:hover{
        background-color: $theme-primary;
        color: white;
      }
    }

    // Range Inputs ---------
    input[type=range]::-webkit-slider-thumb {
      background-color: $theme-primary;
    }
    input[type=range]::-moz-range-thumb {
      background-color: $theme-primary;
    }
    input[type=range]::-ms-thumb {
      background-color: $theme-primary;
    }

    // Checkboxes etc -------
    .sa-checkbox input[type="checkbox"]:checked + label span.checkbox::before {
      background-color: $theme-primary;
      border-color: $theme-primary;
    }
    .sa-checkbox-after input[type="checkbox"]:checked + label span.checkbox::after {
      background-color: $theme-primary;
      border-color: $theme-primary;
    }

    // Hover effect
    .sa-checkbox:hover span.checkbox::before,
    .sa-checkbox-after:hover span.checkbox::after{
      border-color: $theme-primary;
    }

    // Radios ---------------
    .sa-radio-buttons input[type="radio"]:checked + .radio-button:after {
      background-color: $theme-primary;
      border-color: $theme-primary;
    }
    .sa-radio-buttons input[type="radio"]:disabled:checked + .radio-button:after{
      border-color: mix($checkbox-background-disabled, $theme-primary, 50%);
      background-color: mix($checkbox-background-disabled, $theme-primary, 50%);
    }
    .sa-radio-buttons-after input[type="radio"]:checked + .radio-button:after {
      color:#0B8;
      background-color: $theme-primary;
      border-color: $theme-primary;
    }
    .sa-radio-buttons-after input[type="radio"]:disabled:checked + .radio-button:after{
      border-color: mix($checkbox-background-disabled, $theme-primary, 50%);
      background-color: mix($checkbox-background-disabled, $theme-primary, 50%);
      cursor: not-allowed;
    }
    // Hover effect
    .sa-radio-buttons:hover .radio-button:after,
    .sa-radio-buttons-after:hover .radio-button:after{
      border-color: $theme-primary;
    }

    // Toggles --------------
    .sa-toggle-switch:hover span.slider::before{
      border-color: $theme-primary;
    }
    .sa-toggle-switch input[type="radio"]:checked + label span.slider::before{
      border-color: $theme-primary;
    }
    .sa-toggle-switch input[type="checkbox"]:checked + label span.slider::after {
      background-color: $theme-primary;
    }
    .sa-toggle-switch-right:hover span.slider::before{
      border-color: $theme-primary;
    }
    .sa-toggle-switch-right input[type="radio"]:checked + label span.slider::before{
      border-color: $theme-primary;
    }
    .sa-toggle-switch-right input[type="checkbox"]:checked + label span.slider::after {
      background-color: $theme-primary;
    }
    .sa-radio-toggle:hover span.radio::before{
      border-color: $theme-primary;
    }
    .sa-radio-toggle input[type="radio"]:checked + label span.radio::before{
      border-color: $theme-primary;
    }
    .sa-radio-toggle input[type="radio"]:checked + label span.radio::after {
      background-color: $theme-primary;
    }
    .sa-radio-toggle-right:hover span.radio::before{
      border-color: $theme-primary;
    }
    .sa-radio-toggle-right input[type="radio"]:checked + label span.radio::before{
      border-color: $theme-primary;
    }
    .sa-radio-toggle-right input[type="radio"]:checked + label span.radio::after {
      background-color: $theme-primary;
    }
    .toggle-check-text:hover{
      border-color: $theme-primary;
    }
    .toggle-check-input:checked ~ .toggle-check-text {
      background: $theme-primary;
      border-color: $theme-primary;
    }
    .toggle-check-text:hover{
      border-color: $theme-primary;
    }
    .toggle-check-input:checked ~ .toggle-check-text {
      background: $theme-primary;
      border-color: $theme-primary;
    }

    // File uploads ---------
    .input-group.sa-file-upload{
      & input.form-control{
        border-color: $theme-primary;
      }
      & .btn{ 
        background-color: $theme-primary;
        border-color: $theme-primary;
        &:hover { 
          background-color: darken($theme-primary, 5%); 
          border-color: darken($theme-primary, 5%); 
        }
        &:active {
          background-color: darken($theme-primary, 10%);
          border-color: darken($theme-primary, 10%);
        }
      }
    }

    // Input Groups ---------
    .input-group>.input-group-prepend>.input-group-text{
      background-color: $theme-primary;
      border-color: $theme-primary;
    }
    .input-group>.input-group-append>.input-group-text{
      background-color: $theme-primary;
      border-color: $theme-primary;
    }
    .input-group > .form-control,
    .input-group > .custom-select,
    .input-group > .custom-file-label{
      &:focus{
        border-color: $theme-primary;
      }
    }

    // BS File Imputs and Uploads ---------------
    .input-group>.custom-file .custom-file-input:focus~.custom-file-label, .input-group>.custom-select:focus, .input-group>.form-control:focus{
      border-color: darken($theme-primary, 10%);
    }

    .custom-file-label{
      border-color: $theme-primary;
    }
    .custom-file-label::after{
      background-color: $theme-primary;
    }
    .custom-file-input~.custom-file-label::after{
      background-color: $theme-primary;
    }
    .custom-file-input:hover~.custom-file-label::after{
      background-color: darken($theme-primary, 5%);
      border-color: darken($theme-primary, 5%);
    }
    .custom-file-input:focus~.custom-file-label::after{
      background-color: darken($theme-primary, 10%);
      border-color: darken($theme-primary, 10%);
    }

    // List Groups ----------
    a.list-group-item-trust{
      color: darken($theme-primary, 0%);
      border-color: darken($theme-primary, 0%);
      &:visited{
        color: darken($theme-primary, 0%);
      }
      &:focus,
      &:hover{
        color: darken($theme-primary, 20%);
        background-color: $sa-grey-04;
      } 
      &:active{
        color: darken($theme-primary, 20%);
        background-color: $sa-grey-04;
      }
      &.active{
        color: white;
        background-color: darken($theme-primary, 0%);
      }
      & small.text-muted{ color: $sa-grey-10!important;}
    }

    // List styles ----------
    ul.trust-list{
      li::before{ color: $theme-primary; }
    }
    ul{
      li.trust-list::before{ color: $theme-primary; }
    }
    
    // Modal Trust ----------------------------------

    .modal-trust .modal-header {
      background-color: $theme-primary;
    }

    .modal-trust .modal-footer {
      background-color: $theme-primary;
    }

    .modal-trust .modal-body a:hover {color: darken($theme-primary, 20%);}
    .modal-trust .modal-body a:focus {color: darken($theme-primary, 25%)!important;}
    .modal-trust .modal-body a:active {color: darken($theme-primary, 25%)!important;}

    .modal-trust .modal-body hr{
      border-color: $theme-primary;
    }



  } // End Theme Name ===========================
  // ============================================


} // End Main Mixin ===============================================================================
// ================================================================================================



// ================================================================================================
// This need to come at the base - Colours for each theme.
//             theme          first-colour      second-colour           third-colour            fourth-colour
@include theme(theme-user,    $user-colour,     $user-colour-dark,      $user-colour-2,         $user-colour-2-dark  );
@include theme(theme-admin,   $admin-colour,    $admin-colour-dark,     $admin-colour-2,        $admin-colour-2-dark   );

@include theme(theme-trust,   $trust-colour,    $trust-colour-dark,     $trust-colour-2,         $trust-colour-2-dark );



