// Color themes
// https://www.sitepoint.com/dealing-color-schemes-sass/
// https://codepen.io/SitePoint/pen/czixa


// ----
// Sass (v3.3.0.rc.5)
// Compass (v1.0.0.alpha.18)
// ----

/* Theme Colouring */

// ================================================================================================
// Main Mixin - Theme Includes are added at the base of this file =================================
@mixin theme($theme-name, $first-colour,  $second-colour, $third-colour,  $forth-colour) {
  $theme-primary:         $first-colour;
  $theme-primary-dark:                    $second-colour;
  $theme-secondary:                                       $third-colour;
  $theme-secondary-dark:                                                  $forth-colour;

  // Panels =====================================
  // .#{$theme-name} {
  //   .panel-sard {
  //     background-color: $first;
  //     & .panel-heading, .panel-footer{
  //       background-color: $theme-primary-dark;
  //     }
  //   }
  // } // End Panels Mixin

  // ============================================
  // Theme Name =================================
  .#{$theme-name} {
    // Scrollbar ==============
    ::-webkit-scrollbar-thumb {
        background-color: $theme-primary;
    }


    // Navbar =================
    .navbar-sard {
      background-color: $theme-primary;
    }
    .navbar-sard .nav-item:focus .nav-link,
    .navbar-sard .nav-item:hover .nav-link {
        background-color: darken($theme-primary, 10%); 
    }
    .navbar-sard .nav-item.active .nav-link{
      background-color: darken($theme-primary, 20%); // add background-color to active links 
    }
    .navbar-sard .nav-item.dropdown.show .nav-link.dropdown-toggle{
      background-color: darken($theme-primary, 25%);
    }
    .navbar-sard .dropdown-menu{
      background-color: darken($theme-primary, 20%);
    }
    .navbar-sard .dropdown-menu .dropdown-item{
      border-color: $theme-primary;
      &:focus{
        background-color: darken($theme-primary, 25%);
      }
      &:hover{
        background-color: darken($theme-primary, 25%);
      }
      &:active{
        background-color: darken($theme-primary, 30%);
      }
    }
    // Navbar Toggler
    .navbar-sard .navbar-toggler{
      background-color: darken($theme-primary, 20%);
      &:focus{
        background-color: darken($theme-primary, 25%);
      }
      &:hover{
        background-color: darken($theme-primary, 25%);
      }
      &:active{
        background-color: darken($theme-primary, 30%);
      }
    }
    .navbar-sard .nav-item:focus .nav-link.disabled,
    .navbar-sard .nav-item:hover .nav-link.disabled {
      background-color: $theme-primary; 
    }
    .navbar-sard .dropdown-submenu .dropdown-menu{
      border-left-color:  darken($theme-primary, 30%);
    }

    // Breadcrumbs
    .breadcrumb{
      a{
        color: $theme-primary;
        &:visited{
          color: $theme-primary;
        }
        &:focus,
        &:hover{
          color: $theme-primary-dark;
        } 
        &:active{
          color: $theme-secondary-dark;
        }
      }
    }

    // Perforations
    hr.trust{ border-color: $theme-primary; }

    .perf.trust { background-color: $theme-primary; }





    
  } // End Theme Name ===========================
  // ============================================


} // End Main Mixin ===============================================================================
// ================================================================================================



// ================================================================================================
// This need to come at the base - Colours for each theme.
//             theme          first-colour    second-colour     third-colour      fourth-colour
@include theme(theme-user,    $client,        $client-dark,     $client-2,        $client-2-dark  );
@include theme(theme-admin,   $admin,         $admin-dark,      $admin-2,         $admin-2-dark   );

@include theme(theme-trust,   $theme-test,    $theme-test-dark, $theme-test-2,    $theme-test-2-dark );

@include theme(theme-test,    $theme-test,    $theme-test-dark, $theme-test-2,    $theme-test-2-dark );



