// Colours



//  SARD Colours ===============
$sa-turq:                  #00B2B2;
$sa-pink:                  #E50073;
$sa-orange:                #FF6A00;
$sa-yellow:                #FFB200;
$sa-lime:                  #A7BF30;
$sa-green:                 #359E00;
$sa-teal:                  #004D4D;
$sa-blue:                  #003CB8;
$sa-ink:                   #000078;
$sa-purple:                #52008C;
$sa-plum:                  #990099;
$sa-red:                   #BF0000;
$sa-white:                 #FFFFFF;

$MRv:                   $sa-turq;
$NRv:                   $sa-orange;
$sa-360:                $sa-yellow;
$eLeave:                $sa-lime;
$A4A:                   $sa-plum;
$JPL:                   $sa-pink;
$eRo:                   $sa-teal;
$CPL:                   $sa-red;

// Dark Colours ================
$sa-turq-dark:              #007C7C;
$sa-pink-dark:              #A00050;
$sa-orange-dark:            #B24A00;
$sa-yellow-dark:            #B27C00;
$sa-lime-dark:              #758522;
$sa-green-dark:             #256E00;
$sa-teal-dark:              #003636;
$sa-blue-dark:              #002A7C;
$sa-ink-dark:               #000050;
$sa-purple-dark:            #390062;
$sa-plum-dark:              #6B006B;
$sa-red-dark:               #850000;


// Light Colours ===============
$sa-turq-light:             #4DC9C9;
$sa-pink-light:             #ED4D9D;
$sa-orange-light:           #FF974D;
$sa-yellow-light:           #FFC94D;
$sa-lime-light:             #C2D26F;
$sa-green-light:            #72BB4D;
$sa-teal-light:             #4D8383;
$sa-blue-light:             #4D77C9;
$sa-ink-light:              #4D5DAB;
$sa-purple-light:           #864DAF;
$sa-plum-light:             #B84DB8;
$sa-red-light:              #D24D4D;


//  Greys ======================
$sa-grey-00:                #f6f5f5;
$sa-grey-01:                #F0F0F0;
$sa-grey-02:                #EDEBEB;
$sa-grey-03:                #E3E1E1;
$sa-grey-04:                #D9D6D6;
$sa-grey-05:                #d0cecd;
$sa-grey-06:                #C7C4C2;
$sa-grey-07:                #bdbab9;
$sa-grey-08:                #B5B0B0;
$sa-grey-09:                #aba6a5;
$sa-grey-10:                #A39E9C;
$sa-grey-11:                #918d8b;
$sa-grey-12:                #827D7D;
$sa-grey-13:                #716d6c;
$sa-grey-14:                #615E5C;
$sa-grey-15:                #514e4d;
$sa-grey-16:                #403D3D;
$sa-grey-17:                #302f2e;
$sa-grey-18:                #211F0F;
$sa-grey-19:                #0e0e0e;

//  Other Colours ==============
$sa-active:                $sa-grey-04; // Used in Bootstrap Overrides Table Hover line 1030.
$sa-success:               $sa-green;
$sa-info:                  #00a0e0;
$sa-warning:               $sa-yellow;
$sa-danger:                $sa-red;
$sa-alert:                 $sa-pink;

//colours used for admin Options Menu buttons
$index_colour: #BF14AE;
$view_colour: #83C8EE;
$edit_colour: #E81E6F;
$export_colour: #1ba7dc;

// Job Plan Colours ====================
$jp_trav:               #ED4D9D;
$jp_fps:                #D24D4D;
$jp_ms:                 #FF974D;
$jp_ed:                 #FFC94D;
$jp_spa:                #72BB4D;
$jp_dcc:                #4DC9C9;
$jp_priv:               #4D77C9;
$jp_ar:                 #B84DB8;
$jp_uni:                #C2D26F;

// Global Mixins ===================

$text:                        $sa-grey-18;
$bodytext:                    $sa-grey-18;




// Trust Colours ================================
// $trust-primary-colour:                $sa-yellow;
$trust-primary-colour:                #999966 ; // Used for Testing - Swap with above
$trust-primary-colour-light:          lighten($trust-primary-colour, 5%);
$trust-primary-colour-very-light:     lighten($trust-primary-colour, 10%);
$trust-primary-colour-dark:           darken($trust-primary-colour, 10%);
$trust-primary-colour-very-dark:      darken($trust-primary-colour, 20%);

// $trust-secondary-colour:              $sa-orange;
$trust-secondary-colour:              #996633; // Used for Testing - Swap with above
$trust-secondary-colour-light:        lighten($trust-secondary-colour, 5%);
$trust-secondary-colour-very-light:   lighten($trust-secondary-colour, 10%);
$trust-secondary-colour-dark:         darken($trust-secondary-colour, 10%);
$trust-secondary-colour-very-dark:    darken($trust-secondary-colour, 20%);

// Trust User Colours ===========================
$user-primary-colour:                 $sa-turq;
$user-primary-colour-light:           lighten($user-primary-colour, 5%);
$user-primary-colour-very-light:      lighten($user-primary-colour, 10%);
$user-primary-colour-dark:            darken($user-primary-colour, 10%);
$user-primary-colour-very-dark:       darken($user-primary-colour, 20%);

$user-secondary-colour:               $sa-teal;
$user-secondary-colour-light:         lighten($user-secondary-colour, 5%);
$user-secondary-colour-very-light:    lighten($user-secondary-colour, 10%);
$user-secondary-colour-dark:          darken($user-secondary-colour, 10%);
$user-secondary-colour-very-dark:     darken($user-secondary-colour, 20%);

// Trust Admin Colours ==========================
$admin-primary-colour:               $sa-pink;
$admin-primary-colour-light:         lighten($admin-primary-colour, 5%);
$admin-primary-colour-very-light:    lighten($admin-primary-colour, 10%);
$admin-primary-colour-dark:          darken($admin-primary-colour, 10%);
$admin-primary-colour-very-dark:     darken($admin-primary-colour, 20%);

$admin-secondary-colour:             $sa-plum;
$admin-secondary-colour-light:       lighten($admin-secondary-colour, 5%);
$admin-secondary-colour-very-light:  lighten($admin-secondary-colour, 10%);
$admin-secondary-colour-dark:        darken($admin-secondary-colour, 10%);
$admin-secondary-colour-very-dark:   darken($admin-secondary-colour, 20%);


// Other Colour Mixins ==========================
$medic:                       $sa-turq;
$non-medic:                   $sa-ink;


$link-color:                  $sa-turq;




// Navbar Admin =================================

$navAdminBase        : $admin-secondary-colour;
$navAdminHover       : darken($navAdminBase, 10%);
$navAdminFocus       : darken($navAdminBase, 15%);
$navAdminActive      : darken($navAdminBase, 15%);
$navAdminText        : white;
$navAdminActiveFocus : darken($navAdminBase, 15%);
$navAdminDropdown    : darken($navAdminBase, 15%);
$navAdminDropdownBG  : darken($navAdminBase, 15%);


// Text Colours =================================

.text-default {color: $text!important;}

.text-client {color: $user-primary-colour;}
.text-admin {color: $admin-primary-colour;}
.text-admin-2 {color: $admin-secondary-colour;}

.text-turq{ color: $sa-turq;}
.text-pink{ color: $sa-pink;}
.text-orange{ color: $sa-orange;}
.text-yellow{ color: $sa-yellow;}
.text-lime{ color: $sa-lime;}
.text-green{ color: $sa-green;}
.text-teal{ color: $sa-teal;}
.text-blue{ color: $sa-blue;}
.text-ink{ color: $sa-ink;}
.text-purple{ color: $sa-purple;}
.text-plum{ color: $sa-plum;}
.text-red{ color: $sa-red;}
.text-white{ color: $sa-white;}

.text-MRv{ color: $MRv;}
.text-NRv{ color: $NRv;}
.text-sa-360{ color: $sa-360;}
.text-eLeave{ color: $eLeave;}
.text-A4A{ color: $A4A;}
.text-JPL{ color: $JPL;}
.text-eRo{ color: $eRo;}
.text-CPL{ color: $CPL;}

.text-grey-02{ color: $sa-grey-02;}
.text-grey-03{ color: $sa-grey-03;}
.text-grey-04{ color: $sa-grey-04;}
.text-grey-06{ color: $sa-grey-06;}
.text-grey-08{ color: $sa-grey-08;}
.text-grey-10{ color: $sa-grey-10;}
.text-grey-10{ color: $sa-grey-10;}
.text-grey-12{ color: $sa-grey-12;}
.text-grey-14{ color: $sa-grey-14;}
.text-grey-16{ color: $sa-grey-16;}
.text-grey-18{ color: $sa-grey-18;}

.text-success{ color: $sa-success;}
.text-info{ color: $sa-info;}
.text-warning{ color: $sa-warning;}
.text-danger{ color: $sa-danger;}
.text-alarm{ color: $sa-alert;}

// Background Colours ====================

.bg-sa-turq{ background-color: $sa-turq !important;}
.bg-sa-pink{ background-color: $sa-pink !important;}
.bg-sa-orange{ background-color: $sa-orange !important;}
.bg-sa-yellow{ background-color: $sa-yellow !important;}
.bg-sa-lime{ background-color: $sa-lime !important;}
.bg-sa-green{ background-color: $sa-green !important;}
.bg-sa-teal{ background-color: $sa-teal !important;}
.bg-sa-blue{ background-color: $sa-blue !important;}
.bg-sa-ink{ background-color: $sa-ink !important;}
.bg-sa-purple{ background-color: $sa-purple !important;}
.bg-sa-plum{ background-color: $sa-plum !important;}
.bg-sa-red{ background-color: $sa-red !important;}
.bg-sa-white{ background-color: $sa-white !important;}

.bg-sa-MRv{ background-color: $MRv !important;}
.bg-sa-NRv{ background-color: $NRv !important;}
.bg-sa-sa-360{ background-color: $sa-360 !important;}
.bg-sa-eLeave{ background-color: $eLeave !important;}
.bg-sa-A4A{ background-color: $A4A !important;}
.bg-sa-JPL{ background-color: $JPL !important;}
.bg-sa-eRo{ background-color: $eRo !important;}
.bg-sa-CPL{ background-color: $CPL !important;}

// Background Colours Dark ===============

.bg-sa-turq-dark{ background-color: $sa-turq-dark !important;}
.bg-sa-pink-dark{ background-color: $sa-pink-dark !important;}
.bg-sa-orange-dark{ background-color: $sa-orange-dark !important;}
.bg-sa-yellow-dark{ background-color: $sa-yellow-dark !important;}
.bg-sa-lime-dark{ background-color: $sa-lime-dark !important;}
.bg-sa-green-dark{ background-color: $sa-green-dark !important;}
.bg-sa-teal-dark{ background-color: $sa-teal-dark !important;}
.bg-sa-blue-dark{ background-color: $sa-blue-dark !important;}
.bg-sa-ink-dark{ background-color: $sa-ink-dark !important;}
.bg-sa-purple-dark{ background-color: $sa-purple-dark !important;}
.bg-sa-plum-dark{ background-color: $sa-plum-dark !important;}
.bg-sa-red-dark{ background-color: $sa-red-dark !important;}
// Background Colours Light ==============
.bg-sa-turq-light{ background-color: $sa-turq-light !important;}
.bg-sa-pink-light{ background-color: $sa-pink-light !important;}
.bg-sa-orange-light{ background-color: $sa-orange-light !important;}
.bg-sa-yellow-light{ background-color: $sa-yellow-light !important;}
.bg-sa-lime-light{ background-color: $sa-lime-light !important;}
.bg-sa-green-light{ background-color: $sa-green-light !important;}
.bg-sa-teal-light{ background-color: $sa-teal-light !important;}
.bg-sa-blue-light{ background-color: $sa-blue-light !important;}
.bg-sa-ink-light{ background-color: $sa-ink-light !important;}
.bg-sa-purple-light{ background-color: $sa-purple-light !important;}
.bg-sa-plum-light{ background-color: $sa-plum-light !important;}
.bg-sa-red-light{ background-color: $sa-red-light !important;}

// Background Greys ======================
.bg-sa-grey-00{ background-color: $sa-grey-00 !important;}
.bg-sa-grey-01{ background-color: $sa-grey-01 !important;}
.bg-sa-grey-02{ background-color: $sa-grey-02 !important;}
.bg-sa-grey-03{ background-color: $sa-grey-03 !important;}
.bg-sa-grey-04{ background-color: $sa-grey-04 !important;}
.bg-sa-grey-05{ background-color: $sa-grey-05 !important;}
.bg-sa-grey-06{ background-color: $sa-grey-06 !important;}
.bg-sa-grey-07{ background-color: $sa-grey-07 !important;}
.bg-sa-grey-08{ background-color: $sa-grey-08 !important;}
.bg-sa-grey-09{ background-color: $sa-grey-09 !important;}
.bg-sa-grey-10{ background-color: $sa-grey-10 !important;}
.bg-sa-grey-11{ background-color: $sa-grey-11 !important;}
.bg-sa-grey-12{ background-color: $sa-grey-12 !important;}
.bg-sa-grey-13{ background-color: $sa-grey-13 !important;}
.bg-sa-grey-14{ background-color: $sa-grey-14 !important;}
.bg-sa-grey-15{ background-color: $sa-grey-15 !important;}
.bg-sa-grey-16{ background-color: $sa-grey-16 !important;}
.bg-sa-grey-17{ background-color: $sa-grey-17 !important;}
.bg-sa-grey-18{ background-color: $sa-grey-18 !important;}
.bg-sa-grey-19{ background-color: $sa-grey-19 !important;}

.bg-sa-success{ background-color: $sa-success !important;}
.bg-sa-info{ background-color: $sa-info !important;}
.bg-sa-warning{ background-color: $sa-warning !important;}
.bg-sa-danger{ background-color: $sa-danger !important;}
.bg-sa-alarm{ background-color: $sa-alert !important;}

// Trust Colours ================================
// Used on Colours page =========================
// Backgrounds
.bg-trust-primary{ background-color: $user-primary-colour !important;}
.bg-trust-primary-dark{ background-color: darken($user-primary-colour, 10%) !important;}
.bg-trust-primary-light{ background-color: lighten($user-primary-colour, 4%) !important;}

.bg-trust-secondary{ background-color: $user-secondary-colour !important;}
.bg-trust-secondary-dark{ background-color: darken($user-secondary-colour, 10%) !important;}
.bg-trust-secondary-light{ background-color: lighten($user-secondary-colour, 10%) !important;}

.bg-user{ background-color: $user-primary-colour !important;}
.bg-user-dark{ background-color: darken($user-primary-colour, 10%) !important;}
.bg-user-light{ background-color: lighten($user-primary-colour, 4%) !important;}

.bg-user-2{ background-color: $user-secondary-colour !important;}
.bg-user-2-dark{ background-color: darken($user-secondary-colour, 7%) !important;}
.bg-user-2-light{ background-color: lighten($user-secondary-colour, 10%) !important;}

.bg-admin{ background-color: $admin-primary-colour !important;}
.bg-admin-dark{ background-color: darken($admin-primary-colour, 10%) !important;}
.bg-admin-light{ background-color: lighten($admin-primary-colour, 12%) !important;}

.bg-admin-2{ background-color: $admin-secondary-colour !important;}
.bg-admin-2-dark{ background-color: darken($admin-secondary-colour, 10%) !important;}
.bg-admin-2-light{ background-color: lighten($admin-secondary-colour, 10%) !important;}

// Foregrounds
.text-trust{ color: $user-primary-colour !important;}
.text-trust-dark{ color: darken($user-primary-colour, 10%) !important;}
.text-trust-light{ color: lighten($user-primary-colour, 4%) !important;}

.text-trust-2{ color: $user-secondary-colour !important;}
.text-trust-2-dark{ color: darken($user-secondary-colour, 10%) !important;}
.text-trust-2-light{ color: lighten($user-secondary-colour, 10%) !important;}

.text-user{ color: $user-primary-colour !important;}
.text-user-dark{ color: darken($user-primary-colour, 10%) !important;}
.text-user-light{ color: lighten($user-primary-colour, 4%) !important;}

.text-user-2{ color: $user-secondary-colour !important;}
.text-user-2-dark{ color: darken($user-secondary-colour, 7%) !important;}
.text-user-2-light{ color: lighten($user-secondary-colour, 10%) !important;}

.text-admin{ color: $admin-primary-colour !important;}
.text-admin-dark{ color: darken($admin-primary-colour, 10%) !important;}
.text-admin-light{ color: lighten($admin-primary-colour, 12%) !important;}

.text-admin-2{ color: $admin-secondary-colour !important;}
.text-admin-2-dark{ color: darken($admin-secondary-colour, 10%) !important;}
.text-admin-2-light{ color: lighten($admin-secondary-colour, 10%) !important;}