// Links

$text_link:             darken($client, 5%);
$text_link_visited:     darken($client, 5%);
$text_link_hover:       darken($client, 15%);
$text_link_active:      darken($client, 20%);

a{
  transition: all 320ms ease;
  color: $text_link;
  text-decoration: none;
  &:visited{
    color: $text_link_visited;
  }
  &:focus,
  &:hover{
    color: $text_link_hover;
    text-decoration: none;
  } 
  &:active{
    color: $text_link_active;
    text-decoration: none;
  }
}

// Cards / Panels / Fieldsets
.card-header,
.card-footer,
.panel-heading,
.panel-header,
.panel-footer,
legend,
.form-footer{
  a{
    &:focus,
    &:hover{
      color: lighten($client, 5%);
    } 
    &:active{
      color: lighten($client, 10%);
    }
  }
} 

// Link Icons ===============

// PDF
.link-icon{
  padding-left: 18px ; // 18px
  text-indent: -1.125rem ; // 18px
  display: inline-block;
}

$link-icon-padding: 0.25rem; // 4px



p.link-pdf a:before,
p.pdf a:before,
a.link-pdf:before,
a.pdf:before,
span.link-pdf a:before,
span.pdf a:before
{
  font-family: "Font Awesome 5 Free"; 
  content: "\f1c1" ;
  padding-right: $link-icon-padding ;
  color:$text;
}

p.link-doc a:before,
p.doc a:before,
a.link-doc:before,
a.doc:before,
span.link-doc a:before,
span.doc a:before,

p.link-docm a:before,
p.docm a:before,
a.link-docm,
a.docm,
span.link-docm a:before,
span.docm a:before,

p.link-docx a:before,
p.docx a:before,
a.link-docx,
a.docx,
span.link-docx a:before,
span.docx a:before
{
  font-family: "Font Awesome 5 Free"; 
  content: "\f1c2" ;
  padding-right: $link-icon-padding ;
  color:$text;
}

