// Color themes
// https://www.sitepoint.com/dealing-color-schemes-sass/
// https://codepen.io/SitePoint/pen/czixa


// ----
// Sass (v3.3.0.rc.5)
// Compass (v1.0.0.alpha.18)
// ----

/* Theme Colouring */

// ================================================================================================
// Main Mixin - Theme Includes are added at the base of this file =================================
@mixin theme($theme-name, $first-colour,  $second-colour, $third-colour,  $forth-colour) {
  $theme-primary:         $first-colour;
  $theme-primary-dark:                    $second-colour;
  $theme-secondary:                                       $third-colour;
  $theme-secondary-dark:                                                  $forth-colour;

  // Panels =====================================
  // .#{$theme-name} {
  //   .panel-sard {
  //     background-color: $first;
  //     & .panel-heading, .panel-footer{
  //       background-color: $theme-primary-dark;
  //     }
  //   }
  // } // End Panels Mixin

  // ============================================
  // Theme Name =================================
  .#{$theme-name} {
    // Scrollbar ==============
    ::-webkit-scrollbar-thumb {
        background-color: $theme-primary;
    }


    // Navbar =================
    .navbar-sard {
      background-color: $theme-primary;
    }
    .navbar-sard .nav-item:focus .nav-link,
    .navbar-sard .nav-item:hover .nav-link {
        background-color: darken($theme-primary, 10%); 
    }
    .navbar-sard .nav-item.active .nav-link{
      background-color: darken($theme-primary, 20%); // add background-color to active links 
    }
    .navbar-sard .nav-item.dropdown.show .nav-link.dropdown-toggle{
      background-color: darken($theme-primary, 25%);
    }
    .navbar-sard .dropdown-menu{
      background-color: darken($theme-primary, 20%);
    }
    .navbar-sard .dropdown-menu .dropdown-item{
      border-color: $theme-primary;
      &:focus{
        background-color: darken($theme-primary, 25%);
      }
      &:hover{
        background-color: darken($theme-primary, 25%);
      }
      &:active{
        background-color: darken($theme-primary, 30%);
      }
    }
    // Navbar Toggler
    .navbar-sard .navbar-toggler{
      background-color: darken($theme-primary, 20%);
      &:focus{
        background-color: darken($theme-primary, 25%);
      }
      &:hover{
        background-color: darken($theme-primary, 25%);
      }
      &:active{
        background-color: darken($theme-primary, 30%);
      }
    }
    .navbar-sard .nav-item:focus .nav-link.disabled,
    .navbar-sard .nav-item:hover .nav-link.disabled {
      background-color: $theme-primary; 
    }
    .navbar-sard .dropdown-submenu .dropdown-menu{
      border-left-color:  darken($theme-primary, 30%);
    }

    // Breadcrumbs
    .breadcrumb{
      a{
        color: $theme-primary;
        &:visited{
          color: $theme-primary;
        }
        &:focus,
        &:hover{
          color: $theme-primary-dark;
        } 
        &:active{
          color: $theme-secondary-dark;
        }
      }
    }

    // Perforations
    hr.trust{ border-color: $theme-primary; }

    .perf.trust { background-color: $theme-primary; }

    // Trust Colours ==============
    // Background
    .bg-trust{ background-color: $theme-primary !important;}
    .bg-trust-dark{ background-color: darken($theme-primary, 10%) !important;}
    .bg-trust-light{ background-color: lighten($theme-primary, 10%) !important;}

    .bg-trust-2{ background-color: $theme-secondary !important;}
    .bg-trust-2-dark{ background-color: darken($theme-secondary, 10%) !important;}
    .bg-trust-2-light{ background-color: lighten($theme-secondary, 10%) !important;}

    .bg-trust-user{ background-color: $user-colour !important;}
    .bg-trust-user-dark{ background-color: darken($user-colour, 10%) !important;}
    .bg-trust-user-light{ background-color: lighten($user-colour, 5%) !important;}

    .bg-trust-user-2{ background-color: $user-colour-2 !important;}
    .bg-trust-user-2-dark{ background-color: darken($user-colour-2, 10%) !important;}
    .bg-trust-user-2-light{ background-color: lighten($user-colour-2, 10%) !important;}

    .bg-trust-admin{ background-color: $admin-colour !important;}
    .bg-trust-admin-dark{ background-color: darken($admin-colour, 10%) !important;}
    .bg-trust-admin-light{ background-color: lighten($admin-colour, 10%) !important;}

    .bg-trust-admin-2{ background-color: $admin-colour-2 !important;}
    .bg-trust-admin-2-dark{ background-color: darken($admin-colour-2, 10%) !important;}
    .bg-trust-admin-2-light{ background-color: lighten($admin-colour-2, 10%) !important;}

    // Foreground
    .text-trust{ color: $theme-primary !important;}
    .text-trust-dark{ color: darken($theme-primary, 10%) !important;}
    .text-trust-light{ color: lighten($theme-primary, 10%) !important;}

    .text-trust-2{ color: $theme-secondary !important;}
    .text-trust-2-dark{ color: darken($theme-secondary, 10%) !important;}
    .text-trust-2-light{ color: lighten($theme-secondary, 10%) !important;}

    .text-trust-user{ color: $user-colour !important;}
    .text-trust-user-dark{ color: darken($user-colour, 10%) !important;}
    .text-trust-user-light{ color: lighten($user-colour, 5%) !important;}

    .text-trust-user-2{ color: $user-colour-2 !important;}
    .text-trust-user-2-dark{ color: darken($user-colour-2, 10%) !important;}
    .text-trust-user-2-light{ color: lighten($user-colour-2, 10%) !important;}

    .text-trust-admin{ color: $admin-colour !important;}
    .text-trust-admin-dark{ color: darken($admin-colour, 10%) !important;}
    .text-trust-admin-light{ color: lighten($admin-colour, 10%) !important;}

    .text-trust-admin-2{ color: $admin-colour-2 !important;}
    .text-trust-admin-2-dark{ color: darken($admin-colour-2, 10%) !important;}
    .text-trust-admin-2-light{ color: lighten($admin-colour-2, 10%) !important;}



    
  } // End Theme Name ===========================
  // ============================================


} // End Main Mixin ===============================================================================
// ================================================================================================



// ================================================================================================
// This need to come at the base - Colours for each theme.
//             theme          first-colour      second-colour           third-colour            fourth-colour
@include theme(theme-user,    $user-colour,     $user-colour-dark,      $user-colour-2,         $user-colour-2-dark  );
@include theme(theme-admin,   $admin-colour,    $admin-colour-dark,     $admin-colour-2,        $admin-colour-2-dark   );

@include theme(theme-trust,   $trust-colour,    $trust-colour-dark,     $trust-colour-2,         $trust-colour-2-dark );



