// Buttons ===================================

// Base styles

.btn{
  border-radius: 2rem;
  box-shadow: $sa-box-shadow;
  &:visited { 
    color: white; 
  }
}

.btn-xs{
  padding: 0 $sa-spacer-6;
  font-size: .75rem;
}

.btn-warning, .btn-light{
  &:visited { 
    color: $text; 
  }
}

.btn-link{
  &:visited { 
    color: $link-color; 
  }
}

.btn-primary{
  background-color: $user-primary-colour;
  border-color: $user-primary-colour;
  color: white!important;
  &:hover { 
    background-color: darken($user-primary-colour, 5%); 
    border-color: darken($user-primary-colour, 5%); 
  }
  &:active {
    background-color: darken($user-primary-colour, 10%);
    border-color: darken($user-primary-colour, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-primary-colour, .25);
  }
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  background-color: darken($user-primary-colour, 15%);
    border-color: darken($user-primary-colour, 15%);
    box-shadow: 0 0 0 0.2rem rgba($user-primary-colour, .25);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
  background-color: darken($user-primary-colour, 15%);
  border-color: darken($user-primary-colour, 15%);
  box-shadow: 0 0 0 0.2rem rgba($user-primary-colour, .25);
}

.btn-secondary{
  background-color: $user-primary-colour-dark;
  border-color: $user-primary-colour-dark;
  color: white!important;
  &:hover { 
    background-color: darken($user-primary-colour-dark, 5%);
    border-color: darken($user-primary-colour-dark, 5%); 
  }
  &:active {
    background-color: darken($user-primary-colour-dark, 10%);
    border-color: darken($user-primary-colour-dark, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-primary-colour-dark, .25);
  }
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
  background-color: darken($user-primary-colour-dark, 15%);
  border-color: darken($user-primary-colour-dark, 15%);
  box-shadow: 0 0 0 0.2rem rgba($user-primary-colour-dark, .25);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
  background-color: darken($user-primary-colour-dark, 15%);
  border-color: darken($user-primary-colour-dark, 15%);
  box-shadow: 0 0 0 0.2rem rgba($user-primary-colour-dark, .25);
}

$btn-default-colour: $sa-grey-14;
.btn-default{
  background-color: $btn-default-colour;
  color: white!important;
  &:hover { 
    background-color: darken($btn-default-colour, 5%); 
  }
  &:active {
    background-color: darken($btn-default-colour, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($btn-default-colour, .5);
  }
}
.btn-default:not(:disabled):not(.disabled).active, .btn-default:not(:disabled):not(.disabled):active, .show>.btn-default.dropdown-toggle{
  background-color: darken($btn-default-colour, 15%);
    border-color: darken($btn-default-colour, 15%);
}

.btn.btn-link{
  box-shadow: none;
}

// SARD Buttons

.btn-save{
  background-color: $success;
  color: white!important;
  &:hover { 
    background-color: darken($success, 5%); 
  }
  &:active {
    background-color: darken($success, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($success, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f0c7" ;
    color:white;
    font-size: 1.45rem;
    line-height: 1rem;
    position: relative;
    top: 3.5px;
    left: -5px;
  }
}

.btn-submit{
  background-color: $success;
  color: white!important;
  &:hover { 
    background-color: darken($success, 5%); 
  }
  &:active {
    background-color: darken($success, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($success, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f058" ;
    color:white;
    font-size: 1.45rem;
    line-height: 1rem;
    position: relative;
    top: 3.5px;
    left: -5px;
  }
}
.btn-sign-in{
  background-color: $success;
  color: white!important;
  &:hover { 
    background-color: darken($success, 5%); 
  }
  &:active {
    background-color: darken($success, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($success, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f2f6" ;
    color:white;
    font-size: 1.45rem;
    font-weight: 900;
    line-height: 1rem;
    position: relative;
    top: 3.5px;
    left: -5px;
  }
}

.btn-sign-out{
  background-color: $success;
  color: white!important;
  &:hover { 
    background-color: darken($success, 5%); 
  }
  &:active {
    background-color: darken($success, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($success, .25);
  }
  &::after{
    font-family: "Font Awesome 5 Free"; 
    content: "\f2f5" ;
    color:white;
    font-size: 1.45rem;
    font-weight: 900;
    line-height: 1rem;
    position: relative;
    top: 3.5px;
    right: -6px;
  }
}

.btn-cancel{
  background-color: $sa-red;
  color: white!important;
  &:hover { 
    background-color: darken($sa-red, 5%); 
  }
  &:active {
    background-color: darken($sa-red, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($sa-red, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f057" ;
    color:white;
    font-size: 1.45rem;
    line-height: 1rem;
    position: relative;
    top: 3.5px;
    left: -5px;
  }
}

.btn-add{
  background-color: $user-primary-colour;
  color: white!important;
  &:hover { 
    background-color: darken($user-primary-colour, 5%); 
  }
  &:active {
    background-color: darken($user-primary-colour, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-primary-colour, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f067" ;
    color:white;
    font-weight: 900;
    font-size: 1.45rem;
    line-height: 1rem;
    position: relative;
    top: 3.5px;
    left: -5px;
  }
}

.btn-back{
  background-color: $btn-default-colour;
  color: white!important;
  &:hover { 
    background-color: darken($btn-default-colour, 5%); 
  }
  &:active {
    background-color: darken($btn-default-colour, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($btn-default-colour, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f060" ;
    color:white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1rem;
    position: relative;
    top: 2px;
    left: -3px;
  }
}

.btn-forward{
  background-color: $btn-default-colour;
  color: white!important;
  &:hover { 
    background-color: darken($btn-default-colour, 5%); 
  }
  &:active {
    background-color: darken($btn-default-colour, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($btn-default-colour, .25);
  }
  &::after{
    font-family: "Font Awesome 5 Free"; 
    content: "\f061" ;
    color:white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1rem;
    position: relative;
    top: 2px;
    right: -6px;
  }
}

.btn-download{
  background-color: $sa-info;
  color: white!important;
  &:hover { 
    background-color: darken($sa-info, 5%); 
  }
  &:active {
    background-color: darken($sa-info, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($sa-info, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f381" ;
    color:white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1rem;
    position: relative;
    top: 2px;
    left: -3px;
  }
}

.btn-upload{
  background-color: $sa-info;
  color: white!important;
  &:hover { 
    background-color: darken($sa-info, 5%); 
  }
  &:active {
    background-color: darken($sa-info, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($sa-info, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f382" ;
    color:white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1rem;
    position: relative;
    top: 2px;
    left: -3px;
  }
}

.btn-refresh{
  background-color: $sa-success;
  color: white!important;
  &:hover { 
    background-color: darken($sa-success, 5%); 
  }
  &:active {
    background-color: darken($sa-success, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($sa-success, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f2f1" ;
    color:white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1rem;
    position: relative;
    top: 2px;
    left: -3px;
  }
}

.btn-lg::before{
    font-size: 1.7rem;
    top: 4px;
    left: -8px;
  }
  .btn-lg::after{
    font-size: 1.7rem;
    top: 4px;
    right: -10px;
  }

.btn-sm::before{
  font-size: 1.1rem;
  top: 2px;
  left: -3px;
}
.btn-sm::after{
  font-size: 1.1rem;
  top: 2px;
  right: -5px;
}

.btn-xs::before{
  font-size: 0.8rem;
  top: 1px;
  left: -2px;
}
.btn-xs::after{
  font-size: 0.8rem;
  top: 1px;
  right: -5px;
}


.btn-notext{
  padding: $sa-spacer-6;
  &::before{
    left: 0;
    right: 0;
  }
  &::after{
    left: 0;
    right: 0;
  }
  &.btn-forward{
    padding: $sa-spacer-6 $sa-spacer-8;
  }
  &.btn-back{
    padding: $sa-spacer-6 $sa-spacer-8;
  }
  &.btn-refresh{
    padding: $sa-spacer-6 $sa-spacer-8;
  }
}

.btn-notext.btn-lg{
  padding:  $sa-spacer-7;
  &::before{
    left: 0;
    right: 0;
  }
  &::after{
    left: 0;
    right: 0;
  }
  &.btn-forward{
   padding:  $sa-spacer-7 $sa-spacer-9;
  }
  &.btn-back{
    padding:  $sa-spacer-7 $sa-spacer-9;
  }
}

.btn-notext.btn-sm{
  padding:  $sa-spacer-4;
  &::before{
    left: 0;
    right: 0;
  }
  &::after{
    left: 0;
    right: 0;
  }
  &.btn-forward{
   padding:  $sa-spacer-4 $sa-spacer-6;
  }
  &.btn-back{
    padding:  $sa-spacer-4 $sa-spacer-6;
  }
}

.btn-notext.btn-xs{
  padding:  0 $sa-spacer-2;
  &::before{
    left: 0;
    right: 0;
  }
  &::after{
    left: 0;
    right: 0;
  }
  &.btn-cancel{
    padding: 0 $sa-spacer-3;
  }
  &.btn-forward{
    padding: 0 $sa-spacer-3;
  }
  &.btn-back{
    padding: 0 $sa-spacer-3;
  }
  &.btn-refresh{
    padding: 0 $sa-spacer-3;
  }
  &.btn-upload{
    padding: 0 $sa-spacer-3;
  }
  &.btn-download{
    padding: 0 $sa-spacer-3;
  }
}

.btn-save{
  padding-left: $sa-spacer-14;
  &.btn-lg{
    padding-left: $sa-spacer-18;
  }
  &.btn-sm{
    padding-left: $sa-spacer-12;
  }
  &.btn-xs{
    padding-left: $sa-spacer-8;
  }
  &.btn-notext{
    padding-left: $sa-spacer-7;
  }
}

// Button Outlines ==============================
.btn.btn-outline-primary{
  color: $user-primary-colour;
  border-color: $user-primary-colour;
  &:hover{
    background-color: $user-primary-colour;
    color: white;
  }
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
  background-color: darken($user-primary-colour, 15%);
  border-color: darken($user-primary-colour, 15%);
}

.btn.btn-outline-secondary{
  color: $user-primary-colour-dark;
  border-color: $user-primary-colour-dark;
  &:hover{
    background-color: $user-primary-colour-dark;
    color: white;
  }
}
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle{
  background-color: darken($user-primary-colour-dark, 15%);
  border-color: darken($user-primary-colour-dark, 15%);
}

.btn.btn-outline-default{
  color: $btn-default-colour;
  border-color: $btn-default-colour;
  &:hover{
    background-color: $btn-default-colour;
    color: white;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($btn-default-colour, .5);
  }
}
.btn-outline-default:not(:disabled):not(.disabled).active, .btn-outline-default:not(:disabled):not(.disabled):active, .show>.btn-outline-default.dropdown-toggle{
  background-color: darken($btn-default-colour, 15%);
  border-color: darken($btn-default-colour, 15%);
}

.btn.btn-outline-light{
  color: $sa-grey-06;
  border-color: $sa-grey-06;
  &:hover{
    color: $sa-grey-10;
  }
}


.btn.btn-outline-warning{
  color: $text;
  &:hover{
    color: $text;
  }
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark,
.btn-outline-default{
  border-width: 2px;
}

// Button Groups ================================
.btn-group .btn{
  box-shadow: none;
}
.btn-group{
  border-radius: 2rem;
  box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.2);
}

.btn-group.with-divide .btn{
  margin-right: 2px;
}
.btn-group.with-divide .btn:last-of-type{
  margin-right: 0px;
}

.buttons-grouped .btn{
  margin:2.5px 0;
}

.card-header .btn.btn-xs{ 
  margin-top: 3px; 
  float: right;
}

.card-sard .card-body .buttons{
  padding: 8px 0 0 0;
}

.card-sard .card-body .buttons.border{
  border-top: 1px solid white;
  padding-top: 0px;
}
.card-body.buttons{
  margin-top: -8px;
}
