// Fieldsets ====================================

// Base class

fieldset{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  word-wrap: break-word;
  background-color: $sa-bg;
  background-clip: border-box;
  border:1px solid transparent;
  @include border-radius($sa-border-radius);

  // padding: $sa-body-padding;
  margin-bottom: $sa-margin;

  & legend{
    // min-width: calc(100% + #{$sa-spacer-x-2x} + 2px ); // Kept for Reference
    min-width: calc(100% + 2px );

    margin: 0 -1px;
    overflow: hidden;

    padding: $sa-heading-padding;

    background-color: $sa-heading-bg;
    font-size: $sa-heading-font-size;
    font-weight: 300;
    line-height: $sa-heading-line-height;
    color: $sa-heading-text-color;

    border-top-left-radius: $sa-border-radius;
    border-top-right-radius: $sa-border-radius;
  }

  & .form-group{
    padding: $sa-body-padding;
    margin: -1px;
  }
  
  & hr{
    border-color: white;
    margin: 0 8px;
  }
  & .border-bottom, .border-top{
    border-color: white!important;
  }
  & .form-footer,
  & footer{
    min-width: calc(100% + 2px );
    margin: -1px;
    margin-top: -3px;
    overflow: hidden;
    padding: $sa-heading-padding;
    background-color: $sa-heading-bg;
    color: $sa-heading-text-color;
    border-bottom-left-radius: $sa-border-radius;
    border-bottom-right-radius: $sa-border-radius;
    font-weight: $sa-heading-font-weight;
  }
}
.form-group p:last-child {
  margin-bottom: 0;
}
.form-group hr{
  margin: 0;
  margin-bottom: .5rem;
}
.form-group p+hr {
  margin-top: -.5rem;
}


// Fieldsets within Cards or Panels -------------

.card fieldset, .panel fieldset{
  border-color: $sa-border-color;
  @include border-radius($border-radius-sm);
  margin-bottom: $sa-margin-sm;
  & legend{
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
  }
  & hr{
    border-color: $sa-border-color;
    margin: 0 ;
  }
  & .border-bottom, .border-top{
    border-color: $sa-border-color!important;
  }
}
.card fieldset:first-child, .panel fieldset:first-child{
  margin-top: 2px;
}
.card fieldset:last-child, .panel fieldset:last-child{
  margin-bottom: 0;
}

