// Navs =========================================

$sa-nav-colour: $sa-grey-14;

.nav.nav-tabs .nav-item{
  margin-left: 2px;
  margin-right: 2px;
}

.nav.nav-tabs .nav-item{
  .nav-link{
    color: $sa-nav-colour;
    background-color: $sa-grey-01;
    margin-bottom: 1px;
    &:visited{
      color: $sa-nav-colour;
    }
    &:hover{
      background-color: $sa-grey-02;
      border-color: transparent;
    }
    &:focus,
    &:active{
      background-color: $sa-grey-04;
    }
    &.active{
      background-color: $sa-grey-14;
      color: white;
      border-bottom:2px solid $sa-grey-14;
      margin-bottom: 0px;
    }
  }
}

.nav.nav-pills .nav-link{
  border-radius: $sa-spacer-6;
  color: $sa-nav-colour;
  background-color: $sa-grey-01;
  margin-right: 4px;
  &:visited{
    color: $sa-nav-colour;
  }
  &:hover{
    background-color: $sa-grey-03;
  }
  &:focus,
  &:active{
    background-color: $sa-grey-05;
  }
}

.nav.nav-pills .nav-link.active{
  &:focus,
  &:active{
    background-color: $sa-nav-colour;
  }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: $sa-nav-colour;
}

.nav.nav-pills .nav-item,
.nav.nav-pills .nav-link{
  & a{
    color: $sa-nav-colour;
  }
}
.nav.nav-pills .nav-link.active{
  background-color: $sa-nav-colour;
  color: white;
  &:focus,
  &:active{
    background-color: $sa-nav-colour;
  }
}

// Vertical Pils ------------
#v-pills-tab.nav.nav-pills .nav-link{
  margin-right: 0px;
  margin-bottom: 4px;
}

// Colour variations ----------------------------
.nav-primary.nav.nav-tabs .nav-item{
  .nav-link{
    &.active{
      background-color: $user-primary-colour;
      border-color: $user-primary-colour;
      border-bottom:2px solid $user-primary-colour;
    }
  }
}

.nav-primary.nav.nav-pills .nav-link.active{
  background-color: $user-primary-colour;
  &:focus,
  &:active{
    background-color: $user-primary-colour;
  }
}

.nav-secondary.nav.nav-tabs .nav-item{
  .nav-link{
    &.active{
      background-color: $user-secondary-colour;
      border-color: $user-secondary-colour;
      border-bottom:2px solid $user-secondary-colour;
    }
  }
}

.nav-secondary.nav.nav-pills .nav-link.active{
  background-color: $user-secondary-colour;
  &:focus,
  &:active{
    background-color: $user-secondary-colour;
  }
}

// Navs in Cards --------------------------------

.card-header-tabs{
 margin-left: 0;
 margin-right: 0;
 margin-top: $sa-spacer-6;
 margin-bottom: -$sa-spacer-10;
}
.nav.nav-tabs.card-header-tabs .nav-item{
  .nav-link{
    color: $sa-nav-colour;
    background-color: white;
    margin-right: 1px;
    padding-top: $sa-spacer-2;
    &:visited{
      color: $sa-nav-colour;
    }
    &:hover{
      background-color: $sa-grey-02;
    }
    &:focus,
    &:active{
      background-color: $sa-grey-04;
    }
    &.active{
      background-color: $sa-grey-02;
    }
  }
}