// Navs =========================================

$sa-nav-colour:           $sa-grey-14;
$sa-tab-bg:               $sa-grey-12;

$tab-colour:              $sa-grey-03;
$tab-colour-hover:        $sa-grey-05;
$tab-shadow:              $sa-grey-07;
$tab-colour-active:       $sa-grey-14;
$tab-number-bg:           $sa-grey-12;

.nav.nav-tabs .nav-item{
  margin-left: 2px;
  margin-right: 2px;
}

.nav.nav-tabs .nav-item{
  .nav-link{
    color: $sa-nav-colour;
    background-color: $tab-colour;
    margin-bottom: 1px;
    max-height: 39px;
    height: auto;
    padding: 0.5rem 0.5rem;
    &:visited{
      color: $sa-nav-colour;
    }
    &:hover{
      background-color: $tab-colour-hover;
      border-color: transparent;
    }
    &:focus,
    &:active{
      background-color: $tab-colour-active;
      color: white;
    }
    &.active{
      background-color: $sa-grey-14;
      color: white;
      border-color: $tab-colour-active;
      border-bottom:2px solid $sa-grey-14;
      margin-bottom: 0px;
    }
  }
}

.nav.nav-pills .nav-link{
  border-radius: $sa-spacer-6;
  color: $sa-nav-colour;
  background-color: $tab-colour;
  margin-right: 4px;
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.15);
  box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.15);
  &:visited{
    color: $sa-nav-colour;
  }
  &:hover{
    background-color: $tab-colour-hover;
  }
  &:focus,
  &:active{
    background-color: $tab-colour-active;
    color: white;
  }
  &.active {
    -webkit-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.25);
  }
}

.nav.nav-pills .nav-link.active{
  &:focus,
  &:active{
    background-color: $sa-nav-colour;
  }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: $sa-nav-colour;
}

.nav.nav-pills .nav-item,
.nav.nav-pills .nav-link{
  & a{
    color: $sa-nav-colour;
  }
}
.nav.nav-pills .nav-link.active{
  background-color: $sa-nav-colour;
  color: white;
  &:focus,
  &:active{
    background-color: $sa-nav-colour;
  }
}

// Justified Nav Pills ------ 
.nav.nav-pills.nav-justified{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 -2px 8px -2px;

  .nav-item{ margin-bottom: 4px;}
  .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 2px;
  }
}

// Vertical Pils ------------
#v-pills-tab.nav.nav-pills .nav-link{
  margin-right: 0px;
  margin-bottom: 4px;
}

// Colour variations ----------------------------
.nav-primary.nav.nav-tabs .nav-item{
  .nav-link{
    &:focus,
    &:active{
      background-color: darken($user-primary-colour, 5%);
    }
    &.active{
      background-color: $user-primary-colour;
      border-color: $user-primary-colour;
      border-bottom:2px solid $user-primary-colour;
    }
  }
}

.nav-primary.nav.nav-pills .nav-link{
  &:focus,
  &:active{
    background-color: darken($user-primary-colour, 5%);
  }
}

.nav-primary.nav.nav-pills .nav-link.active{
  background-color: $user-primary-colour;
  &:focus,
  &:active{
    background-color: $user-primary-colour;
  }
}

.nav-secondary.nav.nav-tabs .nav-item{
  .nav-link{
    &:focus,
    &:active{
      background-color: darken($user-secondary-colour, 5%);
    }
    &.active{
      background-color: $user-secondary-colour;
      border-color: $user-secondary-colour;
      border-bottom:2px solid $user-secondary-colour;
    }
  }
}

.nav-secondary.nav.nav-pills .nav-link{
  &:focus,
  &:active{
    background-color: darken($user-secondary-colour, 5%);
  }
}
.nav-secondary.nav.nav-pills .nav-link.active{
  background-color: $user-secondary-colour;
  &:focus,
  &:active{
    background-color: $user-secondary-colour;
  }
}

// Navs in Cards --------------------------------

.card-header-tabs{
 margin-left: 0;
 margin-right: 0;
 margin-top: $sa-spacer-6;
 margin-bottom: -$sa-spacer-10;
}
.nav.nav-tabs.card-header-tabs .nav-item{
  .nav-link{
    color: $sa-nav-colour;
    background-color: white;
    margin-right: 1px;
    padding-top: $sa-spacer-2;
    &:visited{
      color: $sa-nav-colour;
    }
    &:hover{
      background-color: $sa-grey-02;
    }
    &:focus,
    &:active{
      background-color: $sa-grey-04;
    }
    &.active{
      background-color: $sa-grey-02;
    }
  }
}