// Tables =======================================

$sa-table-head-bg:          $sa-grey-14;
$sa-table-dark-head-bg:     $sa-grey-18;
// Base styles

.panel-body .table, .card-body .table, .form-group .table{
  margin: -$sa-spacer-x;
  min-width: calc(100% + #{$sa-spacer-x-2x});
  font-size: 0.875rem; // 14px
}


// Table Responsive ---------
.table-responsive{
  margin: -8px -10px -10px -10px;
  width: calc(100% + 20px);
  .table-sard{
    margin: 0;
  }
}

@media (max-width: 575.98px) {
  .table-responsive-sm{
    margin: -8px -10px -10px -10px;
    width: calc(100% + 20px);
    .table-sard{
      margin: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md{
    margin: -8px -10px -10px -10px;
    width: calc(100% + 20px);
    .table-sard{
      margin: 0;
    }
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg{
    margin: -8px -10px -10px -10px;
    width: calc(100% + 20px);
    .table-sard{
      margin: 0;
    }
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl{
    margin: -8px -10px -10px -10px;
    width: calc(100% + 20px);
    .table-sard{
      margin: 0;
    }
  }
}



// ==========================
// Table Sard styles

.table.table-sard > thead > tr > th,
.table.table-sard > tbody > tr > th,
.table.table-sard > tfoot > tr > th,
.table.table-sard > thead > tr > td,
.table.table-sard > tbody > tr > td,
.table.table-sard > tfoot > tr > td {
  padding: $sa-spacer-6 $sa-spacer-10;
}

.table-sard td, .table-sard th{
  border-color: white;
}

.table-sard thead th{
  background-color: $sa-table-head-bg;
  color: white;
  border-bottom: none;
  border-top: none;
}

.table-sard tbody tr:first-child td,
.table-sard tbody tr:first-child th{
  border-top: none;
}

// ==========================
// Inverted(dark) table
.table-sard.table-dark{
  background-color: $sa-heading-bg;
  margin-bottom: 0;
}
.table-sard.table-dark thead th{
  background-color: $sa-table-dark-head-bg;
}

// Hoverable table
.table-sard.table-hover tbody tr:hover{
  background-color: $sa-grey-04;
}

// Striped table
.table-sard.table-striped{
  margin-bottom: 0;
}
.table-sard.table-striped tbody tr:last-child td, .table-sard.table-striped tbody tr:last-child th{
  border-bottom: 1px solid white;
}
.table-sard.table-striped tbody tr:nth-of-type(odd){
  background-color: $sa-grey-03;
}
.table-sard.table-striped.table-hover tbody tr:nth-of-type(odd):hover{
  background-color: $sa-grey-04;
}

// Bordered table
.table-sard.table-bordered{
  border: none;
}
.table-sard.table-bordered td, .table-sard.table-bordered th{
  border-color: white;
}

.table-sard.table-bordered td:first-child, .table-sard.table-bordered th:first-child{
  border-left: none;
}
.table-sard.table-bordered td:last-child, .table-sard.table-bordered th:last-child{
  border-right: none;
}
.table-sard.table-bordered tr:last-child td, .table-sard.table-bordered tr:last-child th{
  border-bottom: none;
}

// Small table 
.table.table-sard.table-sm>tbody>tr>td, 
.table.table-sard.table-sm>tbody>tr>th, 
.table.table-sard.table-sm>tfoot>tr>td, 
.table.table-sard.table-sm>tfoot>tr>th, 
.table.table-sard.table-sm>thead>tr>td, 
.table.table-sard.table-sm>thead>tr>th{
  padding: $sa-spacer-3;
}
.table.table-sard.table-sm>tbody>tr>td:first-child, 
.table.table-sard.table-sm>tbody>tr>th:first-child, 
.table.table-sard.table-sm>tfoot>tr>td:first-child, 
.table.table-sard.table-sm>tfoot>tr>th:first-child, 
.table.table-sard.table-sm>thead>tr>td:first-child, 
.table.table-sard.table-sm>thead>tr>th:first-child{
  padding-left: $sa-spacer-10;
}
.table.table-sard.table-sm>tbody>tr>td:last-child, 
.table.table-sard.table-sm>tbody>tr>th:last-child, 
.table.table-sard.table-sm>tfoot>tr>td:last-child, 
.table.table-sard.table-sm>tfoot>tr>th:last-child, 
.table.table-sard.table-sm>thead>tr>td:last-child, 
.table.table-sard.table-sm>thead>tr>th:last-child{
  padding-right: $sa-spacer-10;
}

// Table head options
.table.table-sard .thead-dark th{
  background-color: $sa-grey-18;
  color: white;
}

.table.table-sard .thead-light th{
  background-color: $sa-grey-12;
  color: white;
}

.table.table-sard .thead-white th{
  background-color: white;
  color: $text;
}
.table.table-sard .thead-white th:first-child{
  border-left: 1px solid $sa-grey-04;
  padding-left: 9px;
}
.table.table-sard .thead-white th:last-child{
  border-right: 1px solid $sa-grey-04;
  padding-right: 9px;
}

.table.table-sard .thead-info th{
  background-color: $sa-info;
  color: white;
}

// ==========================
// Captions
.table-sard caption{
  caption-side: top;
  color: $text;
  padding: $sa-spacer-6 $sa-spacer-10
}
.table-sard caption.caption-bottom{
  caption-side: bottom;
  border-top: 1px solid white;
}
.table-sard.table-dark caption{
  background-color: $sa-heading-bg;
  color: white;
  padding: $sa-spacer-6 $sa-spacer-10
}
