// Tables =======================================

$sa-table-head-bg:          $sa-grey-14;
$sa-table-dark-head-bg:     $sa-grey-18;
// Base styles

.panel-body .table, .card-body .table, .form-group .table{
  margin: -$sa-spacer-x;
  min-width: calc(100% + #{$sa-spacer-x-2x});
  font-size: 0.875rem; // 14px
}


// Table Responsive ---------
.container{
  .table-responsive{
    margin: -8px -10px -10px -10px;
    width: calc(100% + 20px);
    .table-sard{
      margin: 0;
    }
  }

  @media (max-width: 575.98px) {
    .table-responsive-sm{
      margin: -8px -10px -10px -10px;
      width: calc(100% + 20px);
      .table-sard{
        margin: 0;
      }
    }
  }

  @media (max-width: 767.98px) {
    .table-responsive-md{
      margin: -8px -10px -10px -10px;
      width: calc(100% + 20px);
      .table-sard{
        margin: 0;
      }
    }
  }

  @media (max-width: 991.98px) {
    .table-responsive-lg{
      margin: -8px -10px -10px -10px;
      width: calc(100% + 20px);
      .table-sard{
        margin: 0;
      }
    }
  }

  @media (max-width: 1199.98px) {
    .table-responsive-xl{
      margin: -8px -10px -10px -10px;
      width: calc(100% + 20px);
      .table-sard{
        margin: 0;
      }
    }
  }
}

// Table Responsive in Cards etc

.card-body .table-responsive,
.panel-body .table-responsive,
.form-group .table-responsive{
  margin:-10px;
  min-width: calc(100% + 20px);
  width: calc(100% + 20px);
}

.card-body .table-responsive table,
.panel-body .table-responsive table,
.form-group .table-responsive table{
  margin: 0px;
  min-width: 100%;
  width: 100%;
}
.table-responsive.sm-up .table{margin-bottom: 0px;}
@media (max-width: 767px){
  .table-responsive.sm-up{
    overflow-x: hidden;
    textarea{margin-top:5px;}
  }
}


// ==========================
// Table Sard styles

.table.table-sard > thead > tr > th,
.table.table-sard > tbody > tr > th,
.table.table-sard > tfoot > tr > th,
.table.table-sard > thead > tr > td,
.table.table-sard > tbody > tr > td,
.table.table-sard > tfoot > tr > td {
  padding: $sa-spacer-6 $sa-spacer-10;
  line-height: 18px;
}

.table-sard td, .table-sard th{
  border-color: white;
}

.table-sard thead th{
  background-color: $sa-table-head-bg;
  color: white;
  border-bottom: none;
  border-top: none;
}

.table-sard tbody tr:first-child td,
.table-sard tbody tr:first-child th{
  border-top: none;
}

// ==========================
// Inverted(dark) table
.table-sard.table-dark{
  background-color: $sa-heading-bg;
  margin-bottom: 0;
}
.table-sard.table-dark thead th{
  background-color: $sa-table-dark-head-bg;
}

// Hoverable table
.table-sard.table-hover tbody tr:hover{
  background-color: $sa-grey-04;
  cursor: pointer;
}

// Striped table
.table-sard.table-striped{
  margin-bottom: 0;
}
.table-sard.table-striped tbody tr:last-child td, .table-sard.table-striped tbody tr:last-child th{
  border-bottom: 1px solid white;
}
.table-sard.table-striped tbody tr:nth-of-type(odd){
  background-color: $sa-grey-03;
}
.table-sard.table-striped.table-hover tbody tr:nth-of-type(odd):hover{
  background-color: $sa-grey-04;
}

// Bordered table
.table-sard.table-bordered{
  border: none;
}
.table-sard.table-bordered td, .table-sard.table-bordered th{
  border-color: white;
}

.table-sard.table-bordered td:first-child, .table-sard.table-bordered th:first-child{
  border-left: none;
}
.table-sard.table-bordered td:last-child, .table-sard.table-bordered th:last-child{
  border-right: none;
}
.table-sard.table-bordered tr:last-child td, .table-sard.table-bordered tr:last-child th{
  border-bottom: none;
}

// Small table 
.table.table-sard.table-sm>tbody>tr>td, 
.table.table-sard.table-sm>tbody>tr>th, 
.table.table-sard.table-sm>tfoot>tr>td, 
.table.table-sard.table-sm>tfoot>tr>th, 
.table.table-sard.table-sm>thead>tr>td, 
.table.table-sard.table-sm>thead>tr>th{
  padding: $sa-spacer-3;
}
.table.table-sard.table-sm>tbody>tr>td:first-child, 
.table.table-sard.table-sm>tbody>tr>th:first-child, 
.table.table-sard.table-sm>tfoot>tr>td:first-child, 
.table.table-sard.table-sm>tfoot>tr>th:first-child, 
.table.table-sard.table-sm>thead>tr>td:first-child, 
.table.table-sard.table-sm>thead>tr>th:first-child{
  padding-left: $sa-spacer-10;
}
.table.table-sard.table-sm>tbody>tr>td:last-child, 
.table.table-sard.table-sm>tbody>tr>th:last-child, 
.table.table-sard.table-sm>tfoot>tr>td:last-child, 
.table.table-sard.table-sm>tfoot>tr>th:last-child, 
.table.table-sard.table-sm>thead>tr>td:last-child, 
.table.table-sard.table-sm>thead>tr>th:last-child{
  padding-right: $sa-spacer-10;
}

// Table head options
.table.table-sard .thead-dark th{
  background-color: $sa-grey-18;
  color: white;
}

.table.table-sard .thead-light th{
  background-color: $sa-grey-12;
  color: white;
}

.table.table-sard .thead-white th{
  background-color: white;
  color: $text;
}
.table.table-sard .thead-white th:first-child{
  border-left: 1px solid $sa-grey-04;
  padding-left: 9px;
}
.table.table-sard .thead-white th:last-child{
  border-right: 1px solid $sa-grey-04;
  padding-right: 9px;
}

.table.table-sard .thead-info th{
  background-color: $sa-info;
  color: white;
}

// ==========================
// Captions
.table-sard caption{
  caption-side: top;
  color: $text;
  padding: $sa-spacer-6 $sa-spacer-10
}
.table-sard caption.caption-bottom{
  caption-side: bottom;
  border-top: 1px solid white;
}
.table-sard.table-dark caption{
  background-color: $sa-heading-bg;
  color: white;
  padding: $sa-spacer-6 $sa-spacer-10
}

// Table cells with icon links in them ==================================

.table > thead > tr > th.icons,
.table > tbody > tr > td.icons{
  width:1%;
  white-space:nowrap;
  a{
    display: inline-block;

    .fa, .si{
      padding-right:0;
      padding-left:2px;
    }
  }
}

// Table cells with buttons in them ==================================

.table > thead > tr > th.action-buttons,
.table > tbody > tr > td.action-buttons{
  width:1%;
  white-space:nowrap;
  a{
    display: inline-block;

    .btn{
      padding-right:0;
      padding-left:2px;
    }
  }
}


// Sortable tables ==============================================

table.sortable thead th {
  border-right: 1px solid $sa-grey-02!important;
  padding-bottom: 3px!important;
}

table.sortable thead th:last-child {
  border-right: none!important;
}

table.sortable thead th.sortable{
  vertical-align: bottom;
}

table.sortable thead th.sortable{
  position: relative;
  padding: 0;
  line-height: 16px;
}

table.sortable thead th.sortable a{
  color: white;
  display: block;
  padding: 4px 8px 2px 8px;
  padding-right: 23px;
  &:hover{ color: $user-primary-colour;}
}

table.sortable thead th.sortable a.asc,
table.sortable thead th.sortable a.desc{
  color: $user-primary-colour;
}

table.sortable thead th.sortable a:after{
  font-family: "sard-icons";
  position: absolute;
  right: 4px;
}
table.sortable thead th.sortable a.asc:after {
  // background-image: url("ui2017/sort-asc.png");
  content: "\e092";
  color: $user-primary-colour;
}

table.sortable thead th.sortable a.desc:after {
  // background-image: url("ui2017/sort-desc.png");
  content: "\e094";
  color: $user-primary-colour;
}

table.sortable thead th.sortable a:not(.asc):not(.desc):after {
  // background-image: url("ui2017/sort-both.png");
  content: "\e093";
  color: $sa-grey-06;
}



// Table column variations - Use these within the td to adjust it's width.
// Table column widths must add up to 100% in total, or leave columns empty and it will fill to fit.
// You should only need to apply this to the top table head or table cell in a column.
.tcol-75 { width:75%; }
.tcol-66 { width:66%; }
.tcol-60 { width:60%; }
.tcol-50 { width:50%; }
.tcol-45 { width:45%; }
.tcol-41 { width:41%; }
.tcol-40 { width:40%; }
.tcol-39 { width:39%; }
.tcol-33 { width:33%; }
.tcol-30 { width:30%; }
.tcol-25 { width:25%; }
.tcol-20 { width:20%; }
.tcol-15 { width:15%; }
.tcol-14 { width:14%; }
.tcol-12 { width:12%; }
.tcol-12-5 { width:12.5%; }
.tcol-11 { width:11%; }
.tcol-10 { width:10%; }
.tcol-5 { width:5%; }

// These are fixed variations on the above
.tcol-fixed-300, .tcol-300px  { max-width:300px!important; min-width:300px!important; }
.tcol-fixed-250, .tcol-250px  { max-width:250px!important; min-width:250px!important; }
.tcol-fixed-200, .tcol-200px  { max-width:200px!important; min-width:200px!important; }
.tcol-fixed-150, .tcol-150px  { max-width:150px!important; min-width:150px!important; }
.tcol-fixed-140, .tcol-140px  { max-width:140px!important; min-width:140px!important; }
.tcol-fixed-130, .tcol-130px  { max-width:130px!important; min-width:130px!important; }
.tcol-fixed-120, .tcol-120px  { max-width:120px!important; min-width:120px!important; }
.tcol-fixed-100, .tcol-100px  { max-width:100px!important; min-width:100px!important; }
.tcol-fixed-80, .tcol-80px    { max-width:80px!important; min-width:80px!important; }
.tcol-fixed-70, .tcol-70px    { max-width:70px!important; min-width:70px!important; }
.tcol-fixed-60, .tcol-60px    { max-width:60px!important; min-width:60px!important; }
.tcol-fixed-50, .tcol-50px    { max-width:50px!important; min-width:50px!important; }
.tcol-fixed-5, .tcol-5px      { max-width:5px!important; min-width:5px!important; }

.no-wrap { white-space: normal!important; }