// sard-nav-tabs ================================

// Elements specific to a page can be found in their relative page css

$tab-colour:              $sa-grey-03;
$tab-colour-hover:        $sa-grey-05;
$tab-shadow:              $sa-grey-07;
$tab-colour-active:       $sa-grey-14;
$tab-number-bg:           $sa-grey-12;


// Structure ------------------------------------
.sard-nav-tabs{
  display: block;
  @include respond-to(md-break-up) {
    display: table;
    vertical-align: top;
  }
}

.sard-nav-tabs{
  .snt-main-nav{
    @include respond-to(md-break-down){
      display: block;
    }
    @include respond-to(md-screens){
      display: table-cell;
      vertical-align: top;
      width: 25%;
    }
    @include respond-to(lg-screens){
      display: table-cell;
      vertical-align: top;
      width: 25%;
    }

    @include respond-to(xl-break-up) {
      display: table-cell;
      vertical-align: top;
      width: 25%;
    }
  }

  .nav-info{
    display: table;
    vertical-align: top;
    min-width: 100%;
  }
  .nav-col{
    display: block;
  }

  .nav-row {
    display: table;
    width: 100%;
    @include respond-to(md-break-up){
      margin-bottom: 5px;
    }
}

  .snt-main-section{
    @include respond-to(md-break-down){
      display: block;
    }
    @include respond-to(md-screens){
      display: table-cell;
      vertical-align: top;
      width: 75%;
    }
    @include respond-to(lg-screens){
      display: table-cell;
      vertical-align: top;
      width: 75%;
    }
    @include respond-to(xl-break-up) {
      display: table-cell;
      vertical-align: top;
      width: 75%;
    }
  }
} // End .sard-nav-tabs

.section-view{
  vertical-align: top;
}

// Styling --------------------------------------

// snt-main-nav -------------
.sard-nav-tabs{
  #left-activity-summary{
    position: relative; 
    zoom: 1;
  }

  #left-activity-summary-toggles{
    border: 1px solid $tab-colour-active;
    border-top: none;
    padding-top: 7px;
    padding-left: 10px;
    margin-top: -20px;
    @include respond-to(md-break-up){
      border-right: none;
    }
    .sa-checkbox label {
      padding-right: 10px;
    }
  }

  #on-call{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $tab-colour-active;
  }

  .nav-info-buttons p{
    margin-bottom: 10px;
  }

  .submit-button {
    margin-top: 10px;
    @include respond-to(md-break-up){
      margin-right: 10px;
    }
  }
} // End .sard-nav-tabs

// Tabs ---------------------
.sard-nav-tabs{
  .nav-row a {
    display: table-cell;
    background-color: $tab-colour;
    color: $text;
    &:hover{
      background-color: $tab-colour-hover;
    }
    @include respond-to(md-break-down){
      border-top: 1px solid white;
    }
    @include respond-to(md-break-up){
      box-shadow: inset -5px 0px 0px 0px $tab-shadow;
    }
  }

  .nav-row.active a{
    background-color: $tab-colour-active;
    color: white;
    @include respond-to(md-break-up){
      box-shadow: none;
    }
  }
 
} // End .sard-nav-tabs 

// Tab Numbers --------------
.sard-nav-tabs .nav-row .number{
  color: white;
  display: table-cell;
  text-align: center;
  letter-spacing: $tight;
  @include respond-to(md-break-down){ 
    min-width: 25px;
    width: 25px;
    min-height: 25px;
    height: 25px;

    @include roboto-regular;
    font-size: 14px;
  }

  @include respond-to(md-break-up){ 
    vertical-align: top;    
    min-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;

    @include roboto-light;
    font-size: 24px;
    line-height: 1em;
    padding-top: 8px;
  }
} 

// Tab Titles ---------------
.sard-nav-tabs .nav-row .title{
  display: table-cell;
  padding: 5px 8px;
  @include roboto-regular;
  font-size: 14px;
  line-height: 1.2em;
  
  @include respond-to(md-break-up){ 
    vertical-align: top;
    padding: 7px 8px 8px 8px;
    padding-right: 10px;
  }
}


// Main Section -------------
.sard-nav-tabs{
  .snt-main-section{
    border: 1px solid $tab-colour-active;
    padding-left: 20px;
    padding-right: 20px;
    @include respond-to(md-break-down){
      border-top: 10px solid $tab-colour-active;
    }
    @include respond-to(md-break-up){
      border-left: 10px solid $tab-colour-active;
    }
  }
} // End .sard-nav-tabs

