!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4, Bootstrap 4 - Sard Nav Tabs - Job Planning
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-styles.min.css", :rel => "stylesheet"}/
 
  %body.theme-trust
    //=include ../navbars/_navbar-x1.haml

    #job-plan.container
      .row
        .col-sm-12
          %h1#links.bs-anchor Sard Nav Tabs - Job Planning

      .row
        .col-sm-12
          %p.lead
            Sard Nav Tabs are created for use on the Job Planning, Portfolio and Appraisals pages, but have a different look on each. 


      .row
        .col-sm-12
          // sard-nav-tabs
          .sard-nav-tabs
            .snt-main-nav.pb
              .nav-info
                .activity-summary
                  %h5 Activity Summary
                  #left-activity-summary
                    %table.table.table-sard
                      %thead
                        %tr.TITLE
                          %th  
                          %th Hours
                          %th PAs
                      %tbody
                        %tr.DCC
                          %td
                            %strong
                              DCC
                          %td 24.82
                          %td 6.401
                        %tr.SPA
                          %td
                            %strong
                              SPA
                          %td 4
                          %td 1
                        %tr.TOTAL
                          %td
                            %strong
                              TOTAL
                          %td 28.82
                          %td 7.401
                  #left-activity-summary-toggles
                    .sa-checkbox
                      %input#core_toggle{:type => "checkbox"}/
                      %label.no-pdf{:for => "core_toggle"}
                        %span.checkbox Core
                      %input#apa_toggle{:type => "checkbox"}/
                      %label.no-pdf{:for => "apa_toggle"}
                        %span.checkbox APA
                      %input#atc_toggle{:type => "checkbox"}/
                      %label#atc_toggle_label.no-pdf{:for => "atc_toggle"}
                        %span.checkbox ATC
                    %p#atc_warning.atc_warning{:style => "display: none;"} Includes uncontracted work
                  #left-activity-summary-on-call.no-pdf
                    #on-call
                      %strong On-Call
                      %br/
                      Low frequency: 1 in 9 or less frequent
                      %br/
                      Agreed category: A
                      %br/
                      On call supplement: 3.0%
                
                .nav-info-buttons.no-pdf
                  %p
                    %a.btn.btn-xs.btn-default{:href => "/online_job_plans/5d1cae7c4a67d131446cf5a0/summary_pdf.pdf", :target => "_blank"} Summary PDF
                  %p
                    %a.btn.btn-xs.btn-default{:href => "/online_job_plans/5d1cae7c4a67d131446cf5a0/full_pdf.pdf", :target => "_blank"} Full PDF
                  %p
                    %a#create_template_button.btn.btn-xs.btn-default Share as Template
              
              #nav-col.nav-col.no-pdf
                .nav-row.active{:id => "#nav-instructions"}
                  %a{:href => "#section/instructions"}
                    .number
                      0
                    .title
                      Instructions
                .nav-row{:id => "#nav-general_info"}
                  %a{:href => "#section/general_info"}
                    .number
                      1
                    .title
                      General Info
                .nav-row{:id => "#nav-signatories"}
                  %a{:href => "#section/signatories"}
                    .number
                      2
                    .title
                      Signatories
                .nav-row{:id => "#nav-timetable"}
                  %a{:href => "#section/timetable"}
                    .number
                      3
                    .title
                      Timetable
                .nav-row{:id => "#nav-on_call_supplement"}
                  %a{:href => "#section/on_call_supplement"}
                    .number
                      4
                    .title
                      On-Call Supplement
                .nav-row{:id => "#nav-spa_notes"}
                  %a{:href => "#section/spa_notes"}
                    .number
                      5
                    .title
                      SPA Notes
                .nav-row{:id => "#nav-additional_external"}
                  %a{:href => "#section/additional_external"}
                    .number
                      6
                    .title
                      Additional / External
                .nav-row{:id => "#nav-other_agreements"}
                  %a{:href => "#section/other_agreements"}
                    .number
                      7
                    .title
                      Other Agreements
                .nav-row{:id => "#nav-additional_pas"}
                  %a{:href => "#section/additional_pas"}
                    .number
                      8
                    .title
                      APAs / ATCs
                .nav-row{:id => "#nav-fee_paying_services"}
                  %a{:href => "#section/fee_paying_services"}
                    .number
                      9
                    .title
                      Fee Paying Services
                .nav-row{:id => "#nav-private_practice"}
                  %a{:href => "#section/private_practice"}
                    .number
                      10
                    .title
                      Private Practice
                .nav-row{:id => "#nav-objectives"}
                  %a{:href => "#section/objectives"}
                    .number
                      11
                    .title
                      Objectives
                .nav-row{:id => "#nav-supporting_resources"}
                  %a{:href => "#section/supporting_resources"}
                    .number
                      12
                    .title
                      Supporting Resources
                .nav-row{:id => "#nav-general_discussion"}
                  %a{:href => "#section/general_discussion"}
                    .number
                      13
                    .title
                      General Discussion
                .nav-row{:id => "#nav-meetings"}
                  %a{:href => "#section/meetings"}
                    .number
                      14
                    .title
                      Meetings
                .nav-row{:id => "#nav-sign_off"}
                  %a{:href => "#section/sign_off"}
                    .number
                      15
                    .title
                      Sign Off
              .submit-button.no-pdf
                #job-plan-status
                  %p
                    %a.btn.btn-block.btn-sm.btn-success.send_for_sign_off{:href => "#"}
                      Submit for Sign Off

            
            / main-section
            .snt-main-section
              #section-view.section-view.pb
                .section.no-pdf
                  .header
                    %h3 Instructions
                  .main
                    .rc.job_plan_instructions.link-external
                      %p Job plans are an annual agreement between the employer and the doctor setting out:
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu scelerisque augue, in venenatis nulla. Proin ante dolor, tempus sed sem vel, viverra pulvinar eros. Aenean eros sapien, sollicitudin sed iaculis placerat, lacinia ut turpis. Nullam porttitor tellus a porttitor molestie. In ac dapibus odio, et egestas massa. Phasellus gravida gravida metus, in imperdiet ante mollis a. Integer tincidunt consectetur velit, pellentesque vulputate mauris sodales nec. Phasellus tempus ipsum eget magna rhoncus cursus. Curabitur aliquet nulla et leo molestie, facilisis ornare enim tempor. Curabitur dolor justo, imperdiet id dictum non, interdum vitae libero. Sed id nisl eu purus aliquam rutrum at at est. Sed condimentum augue volutpat vehicula molestie. Curabitur non est scelerisque, porta odio id, egestas metus. 

        / END SARD Nav Tabs

                
    //=include ../navbars/_footer.haml

    / Scripts ================================

    %script{:src => "../assets/js/remote-sard-scripts.min.js"}