!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4, Bootstrap 4 - Sard Side Menu
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-styles.min.css", :rel => "stylesheet"}/
 
  %body.theme-trust
    //=include ../navbars/_navbar-x1.haml

    .container
      .row
        .col-sm-12
          %h1 Sard Side Menu

      .row
        .col-sm-12
          %p.lead
            The Sard sidemenu slides out from the left. 



    //=include ../navbars/_sidemenu.haml
    //=include ../navbars/_footer.haml

    / Scripts ================================

    %script{:src => "../assets/js/remote-sard-scripts.min.js"}