!!!
%html.no-js{:lang => "en"}
  %head
    %title SARD Core UI - Sard Side Menu - New
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-ui-styles.min.css", :rel => "stylesheet"}/
 
  %body.theme-trust
    //=include ../navbars/_navbar-x1.haml
    -# //=include ../navbars/_navbar-admin.haml
    -# #breadcrumbs.fixed-top
    -#   .container-fluid
    -#     %nav{"aria-label" => "breadcrumb"}
    -#       %ol.breadcrumb
    -#         %li.breadcrumb-item
    -#           %a{:href => "#/"} Home
    -#         %li.breadcrumb-item
    -#           %a{:href => "#/"} Library
    -#         %li.breadcrumb-item.active{"aria-current" => "page"} Data

    //=include ../navbars/_sidemenu-new.haml
    .container-fluid
      .row
        .col-sm-24.border
          %h1 Sard Side Menu - New (Sync Test)

          %p.lead
            The Sard sidemenu pushes out from the left. 



    //=include ../navbars/_footer.haml

    / Scripts ================================

    %script{:src => "../assets/js/remote-sard-scripts.min.js"}