.row
  .col-sm-12
    %h1#dropdowns.bs-anchor Dropdowns

    .btn-group
      %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Action
      .dropdown-menu
        %a.dropdown-item{:href => "#"} Action
        %a.dropdown-item{:href => "#"} Another action
        %a.dropdown-item.active{:href => "#"} Active
        .dropdown-divider
        %h6.dropdown-header Dropdown header
        %a.dropdown-item{:href => "#"} Separated link

    .btn-group
      %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Action
      .dropdown-menu
        %h6.dropdown-header Dropdown header
        %a.dropdown-item{:href => "#"} Action
        %a.dropdown-item{:href => "#"} Another action
        %a.dropdown-item.active{:href => "#"} Active
        .dropdown-divider
        %a.dropdown-item{:href => "#"} Separated link

    .btn-group
      %button.btn.btn-success.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Action
      .dropdown-menu
        %a.dropdown-item{:href => "#"} Action
        %a.dropdown-item{:href => "#"} Another action
        %a.dropdown-item.active{:href => "#"} Active
        .dropdown-divider
        %h6.dropdown-header Dropdown header
        %a.dropdown-item{:href => "#"} Separated link

    .btn-group
      %button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Action
      .dropdown-menu
        %h6.dropdown-header Dropdown header
        %a.dropdown-item{:href => "#"} Action
        %a.dropdown-item{:href => "#"} Another action
        %a.dropdown-item.active{:href => "#"} Active
        .dropdown-divider
        %a.dropdown-item{:href => "#"} Separated link

    .btn-group
      %button.btn.btn-warning.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Action
      .dropdown-menu
        %a.dropdown-item{:href => "#"} Action
        %a.dropdown-item{:href => "#"} Another action
        %a.dropdown-item.active{:href => "#"} Active
        .dropdown-divider
        %h6.dropdown-header Dropdown header
        %a.dropdown-item{:href => "#"} Separated link
      
    .btn-group
      %button.btn.btn-danger.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Action
      .dropdown-menu
        %a.dropdown-item{:href => "#"} Action
        %a.dropdown-item{:href => "#"} Another action
        %a.dropdown-item.active{:href => "#"} Active
        .dropdown-divider
        %a.dropdown-item{:href => "#"} Separated link

    %hr

    %h4 Sizing
    / Large button groups (default and split)
    .btn-group
      %button.btn.btn-secondary.btn-lg.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Large button
      .dropdown-menu
        \...
    .btn-group
      %button.btn.btn-secondary.btn-lg{:type => "button"}
        Large split button
      %button.btn.btn-lg.btn-secondary.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.sr-only Toggle Dropdown
      .dropdown-menu
        \...
    %p
    / Small button groups (default and split)
    .btn-group
      %button.btn.btn-secondary.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Small button
      .dropdown-menu
        \...
    .btn-group
      %button.btn.btn-secondary.btn-sm{:type => "button"}
        Small split button
      %button.btn.btn-sm.btn-secondary.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.sr-only Toggle Dropdown
      .dropdown-menu
        \...

    %hr

    %h4 Responsive alignment
    .btn-group
      %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-display" => "static", "data-toggle" => "dropdown", :type => "button"}
        Left-aligned but right aligned when large screen
      .dropdown-menu.dropdown-menu-lg-right
        %button.dropdown-item{:type => "button"} Action
        %button.dropdown-item{:type => "button"} Another action
        %button.dropdown-item{:type => "button"} Something else here
    %p
    .btn-group
      %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-display" => "static", "data-toggle" => "dropdown", :type => "button"}
        Right-aligned but left aligned when large screen
      .dropdown-menu.dropdown-menu-right.dropdown-menu-lg-left
        %button.dropdown-item{:type => "button"} Action
        %button.dropdown-item{:type => "button"} Another action
        %button.dropdown-item{:type => "button"} Something else here


    %hr

    %h4 Text & Forms
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Text
      .dropdown-menu.p-4.text-muted{:style => "max-width: 200px;"}
        %p
          Some example text that's free-flowing within the dropdown menu.
        %p.mb-0
          And this is more example text.
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Form
      .dropdown-menu
        %form.px-4.py-3
          .form-group
            %label{:for => "exampleDropdownFormEmail1"} Email address
            %input#exampleDropdownFormEmail1.form-control{:placeholder => "email@example.com", :type => "email"}/
          .form-group
            %label{:for => "exampleDropdownFormPassword1"} Password
            %input#exampleDropdownFormPassword1.form-control{:placeholder => "Password", :type => "password"}/
          .form-group
            .form-check
              %input#dropdownCheck.form-check-input{:type => "checkbox"}/
              %label.form-check-label{:for => "dropdownCheck"}
                Remember me
          %button.btn.btn-primary{:type => "submit"} Sign in
        .dropdown-divider
        %a.dropdown-item{:href => "#"} New around here? Sign up
        %a.dropdown-item{:href => "#"} Forgot password?

