!!!
%html.no-js{:lang => "en"}
  %head
    %title SARD Core UI - Typography
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-ui-styles.min.css", :rel => "stylesheet"}/
 
  %body
    //=include ../navbars/_navbar-x1.haml

    .container
      .row
        .col-24
          %h1 Test Page
          %h2 Patient Feedback Questionnaire
      %hr
      .row
        .col-sm-24
          #questionnaire.patient-questionnaire
            %form#new_gmc_patient_questionnaire.form-horizontal{"accept-charset" => "UTF-8", :action => "/admin/online_msfs/583c4063f2a39f345e00001a/gmc_patient_questionnaires", :method => "post"}
              %div{:style => "margin:0;padding:0;display:inline"}
                %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                %input{:name => "authenticity_token", :type => "hidden", :value => "1b1qqZAtWJxpmpy5EYcwmrfnckp9LxBVd5FJ0Jv1TUM="}/
              %input#new_at{:name => "new_at", :type => "hidden", :value => "2019-06-13 10:37:27 +0100"}/
              .row
                .col-xs-24
                  %h3 Patient Questionnaire
                  %p Licensed doctors are expected to seek feedback from colleagues and patients and review and act upon that feedback where appropriate.
                  %p The purpose of this exercise is to provide doctors with information about their work through the eyes of those they work with and treat, and is intended to help inform their further development.
                  %p.bold Please do not write your name on this questionnaire.
                  %p.bold Please base your answers only on the consultation you have had today.
                  %p Please mark the box like this [✓] with a ball point pen. If you change your mind just cross out your old response and make your new choice.
                  %ul
                    %li.no-bullet.bold KEYBOARD SHORTCUTS FOR FILLING IN THIS FORM:
                    %li Press Alt or the Option key to switch on the keyboard shortcuts which should appear in red.
                    %li Press Tab to scroll through each question. Hold Shift and Tab to go back a question.
                    %li Type a number to toggle the checkboxes or radio buttons on and off.
                    %li Use the arrow keys to scroll through select boxes, and hit enter to choose an option.
                    %li You can click the mouse at any time.
                    %li Give it a try! We hope it speeds up your day!
              .row
                .col-xs-24
                  .panel.panel-default
                    .panel-heading
                      %h3 About the Patient...
                    .panel-body
                      %table.table.table-pq-questionnaire
                        %tbody
                          %tr
                            %td
                              %label.control-label
                                %label{:for => "gmc_patient_questionnaire_patient_completed_date"} Please write today's date here:
                            %td.textfield.date
                              %input#datepicker.datepicker.form-control.hasDatepicker{:name => "gmc_patient_questionnaire[patient_completed_date]", :type => "text"}/
                    .panel-body
                      / Q1
                      %table.table.table-pq-questionnaire
                        %thead
                          %tr.q-question
                            %th.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .number 1
                            %th.qq{:colspan => "9"}
                              %label{:for => "gmc_patient_questionnaire_are_you_filling_this_question_in_for"} Are you filling in this questionnaire for:
                        %thead.hidden-xs
                          %tr.q-question
                            %th.qn.hidden-xs  
                            %th.rating Yourself
                            %th.rating Your child
                            %th.rating Your spouse or partner
                            %th.rating Another relative or friend
                            %th.dk.rating Spoiled
                        %tbody
                          %tr.q-answers
                            %td.qn.hidden-xs
                            %td.rating-label.mobile-only Yourself
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q1a1.q1{:name => "gmc_patient_questionnaire[are_you_filling_this_question_in_for]", :type => "radio", :value => "yourself"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Your child
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q1a2.q1{:name => "gmc_patient_questionnaire[are_you_filling_this_question_in_for]", :tabindex => "-1", :type => "radio", :value => "your child"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Your spouse or partner
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q1a3.q1{:name => "gmc_patient_questionnaire[are_you_filling_this_question_in_for]", :tabindex => "-1", :type => "radio", :value => "your spouse or partner"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Another relative or friend
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q1a4.q1{:name => "gmc_patient_questionnaire[are_you_filling_this_question_in_for]", :tabindex => "-1", :type => "radio", :value => "another relative or friend"}/
                              .radio-button
                               
                            %td.dk.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q1a5.q1{:name => "gmc_patient_questionnaire[are_you_filling_this_question_in_for]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                    .q-comment.border-top
                      If you are filling this in for someone else, please answer the following questions from the
                      %span.bold
                        patient’s
                      point of view.
                    .panel-body
                      / Q2
                      %table.table.table-pq-questionnaire
                        %thead
                          %tr.q-question
                            %th.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .number 2
                            %th.qq{:colspan => "3"}
                              %label{:for => "gmc_patient_questionnaire_the_reason_you_saw_the_doctor_today"} Which of the following best describes the reason you saw the doctor today? (Please tick all the boxes that apply):
                        %tbody
                          %tr.q-answers
                            %td.qn.hidden-xs
                            %td.rating-label.mobile-only To ask for advice
                            %td.q-checkboxes
                              %span.accesskey{:style => "display: none;"} 1
                              %label.q-checkbox{:for => "q2a1"}
                                %span.hidden-xs To ask for advice
                                %input#q2a1.q2{:name => "gmc_patient_questionnaire[the_reason_you_saw_the_doctor_today][]", :type => "checkbox", :value => "to ask for advice"}/
                                .checkmark
                            %td.rating-label.mobile-only Because of an ongoing problem
                            %td.q-checkboxes
                              %span.accesskey{:style => "display: none;"} 2
                              %label.q-checkbox{:for => "q2a2"}
                                %span.hidden-xs Because of an ongoing problem
                                %input#q2a2.q2{:name => "gmc_patient_questionnaire[the_reason_you_saw_the_doctor_today][]", :tabindex => "-1", :type => "checkbox", :value => "because of an ongoing problem"}/
                                .checkmark
                            %td.rating-label.mobile-only For treatment (including prescriptions)
                            %td.q-checkboxes
                              %span.accesskey{:style => "display: none;"} 3
                              %label.q-checkbox{:for => "q2a3"}
                                %span.hidden-xs For treatment (including prescriptions)
                                %input#q2a3.q2{:name => "gmc_patient_questionnaire[the_reason_you_saw_the_doctor_today][]", :tabindex => "-1", :type => "checkbox", :value => "for treatment"}/
                                .checkmark
                          %tr
                            %td.qn.hidden-xs
                            %td.rating-label.mobile-only Because of a one-off problem
                            %td.q-checkboxes
                              %span.accesskey{:style => "display: none;"} 4
                              %label.q-checkbox{:for => "q2a4"}
                                %span.hidden-xs Because of a one-off problem
                                %input#q2a4.q2{:name => "gmc_patient_questionnaire[the_reason_you_saw_the_doctor_today][]", :tabindex => "-1", :type => "checkbox", :value => "because of a one-off problem"}/
                                .checkmark
                            %td.rating-label.mobile-only For a routine check
                            %td.q-checkboxes
                              %span.accesskey{:style => "display: none;"} 5
                              %label.q-checkbox{:for => "q2a5"}
                                %span.hidden-xs For a routine check
                                %input#q2a5.q2{:name => "gmc_patient_questionnaire[the_reason_you_saw_the_doctor_today][]", :tabindex => "-1", :type => "checkbox", :value => "for a routine check"}/
                                .checkmark
                            %td.rating-label.mobile-only Other (please give details)
                            %td.q-checkboxes
                              %span.accesskey{:style => "display: none;"} 6
                              %label.q-checkbox{:for => "q2a6"}
                                %span.hidden-xs Other (please give details)
                                %input#q2a6.q2{:name => "gmc_patient_questionnaire[the_reason_you_saw_the_doctor_today][]", :tabindex => "-1", :type => "checkbox", :value => "other"}/
                                .checkmark
                          %tr.textfield
                            %td.qn.hidden-xs
                            %td.textfield{:colspan => "3"}
                              %span.accesskey{:style => "display: none;"} 7
                              %textarea#q2a7.q2.form-control{:cols => "40", :name => "gmc_patient_questionnaire[other_reason]", :placeholder => "please give details", :rows => "20", :style => "overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 200px;", :tabindex => "-1"}
                    .panel-body
                      / Q3
                      %table.table.table-pq-questionnaire
                        %thead
                          %tr.q-question
                            %th.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .number 3
                            %th.qq{:colspan => "6"}
                              %label{:for => "gmc_patient_questionnaire_how_important_was_your_reason_for_visiting"} On a scale of 1 to 5, how important to your health and wellbeing was your reason for visiting the doctor today?
                        %thead.hidden-xs
                          %tr.q-question
                            %th.qn  
                            %th.rating Not Very Important (1)
                            %th.rating Not Important
                            %th.rating Average
                            %th.rating Important
                            %th.rating Very Important (5)
                            %th.dk.rating spoiled
                        %tbody
                          %tr.q-answers
                            %td.qn.hidden-xs  
                            %td.rating-label.mobile-only Not very important (1)
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q3a1.q3{:name => "gmc_patient_questionnaire[how_important_was_your_reason_for_visiting]", :type => "radio", :value => "not very important"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Not important
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q3a2.q3{:name => "gmc_patient_questionnaire[how_important_was_your_reason_for_visiting]", :tabindex => "-1", :type => "radio", :value => "not important"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Average
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q3a3.q3{:name => "gmc_patient_questionnaire[how_important_was_your_reason_for_visiting]", :tabindex => "-1", :type => "radio", :value => "average"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Important
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q3a4.q3{:name => "gmc_patient_questionnaire[how_important_was_your_reason_for_visiting]", :tabindex => "-1", :type => "radio", :value => "important"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Very Important (5)
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q3a5.q3{:name => "gmc_patient_questionnaire[how_important_was_your_reason_for_visiting]", :tabindex => "-1", :type => "radio", :value => "very important"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 6
                              %input#q3a6.q3{:name => "gmc_patient_questionnaire[how_important_was_your_reason_for_visiting]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                  .panel.panel-default
                    .panel-heading
                      %h3 About the doctor...
                    .panel-body
                      / Q4
                      %table.table.table-pq-questionnaire
                        %thead.first
                          %tr.q-question
                            %th.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .number 4
                            %th.qq{:colspan => "9"}
                              %label How good was your doctor today at each of the following? (Please tick one box in each line)
                        %thead.hidden-xs
                          %tr.q-question
                            %th.qn  
                            %th  
                            %th.rating Poor
                            %th.rating Less than satisfactory
                            %th.rating Satisfactory
                            %th.rating Good
                            %th.rating Very good
                            %th.rating Does not apply
                            %th.dk.rating Spoiled
                        %tbody
                          %tr.q-answers.q-sub-questions
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .sub-number a
                            %td.sub-question
                              %label{:for => "gmc_patient_questionnaire_being_polite"} Being polite
                            %td.rating-label.mobile-only Poor
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q4aa1.q4a{:name => "gmc_patient_questionnaire[being_polite]", :type => "radio", :value => "poor"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Less than satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q4aa2.q4a{:name => "gmc_patient_questionnaire[being_polite]", :tabindex => "-1", :type => "radio", :value => "less than satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q4aa3.q4a{:name => "gmc_patient_questionnaire[being_polite]", :tabindex => "-1", :type => "radio", :value => "satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q4aa4.q4a{:name => "gmc_patient_questionnaire[being_polite]", :tabindex => "-1", :type => "radio", :value => "good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Very good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q4aa5.q4a{:name => "gmc_patient_questionnaire[being_polite]", :tabindex => "-1", :type => "radio", :value => "very good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Does not apply
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 6
                              %input#q4aa6.q4a{:name => "gmc_patient_questionnaire[being_polite]", :tabindex => "-1", :type => "radio", :value => "does not apply"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 7
                              %input#q4aa7.q4a{:name => "gmc_patient_questionnaire[being_polite]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                          %tr.q-answers.q-sub-questions
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .sub-number b
                            %td.sub-question
                              %label{:for => "gmc_patient_questionnaire_making_you_feel_at_ease"} Making you feel at ease
                            %td.rating-label.mobile-only Poor
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q4ba1.q4b{:name => "gmc_patient_questionnaire[making_you_feel_at_ease]", :type => "radio", :value => "poor"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Less than satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q4ba2.q4b{:name => "gmc_patient_questionnaire[making_you_feel_at_ease]", :tabindex => "-1", :type => "radio", :value => "less than satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q4ba3.q4b{:name => "gmc_patient_questionnaire[making_you_feel_at_ease]", :tabindex => "-1", :type => "radio", :value => "satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q4ba4.q4b{:name => "gmc_patient_questionnaire[making_you_feel_at_ease]", :tabindex => "-1", :type => "radio", :value => "good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Very good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q4ba5.q4b{:name => "gmc_patient_questionnaire[making_you_feel_at_ease]", :tabindex => "-1", :type => "radio", :value => "very good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Does not apply
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 6
                              %input#q4ba6.q4b{:name => "gmc_patient_questionnaire[making_you_feel_at_ease]", :tabindex => "-1", :type => "radio", :value => "does not apply"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 7
                              %input#q4ba7.q4b{:name => "gmc_patient_questionnaire[making_you_feel_at_ease]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                          %tr.q-answers.q-sub-questions
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .sub-number c
                            %td.sub-question
                              %label{:for => "gmc_patient_questionnaire_listening_to_you"} Listening to you
                            %td.rating-label.mobile-only Poor
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q4ca1.q4c{:name => "gmc_patient_questionnaire[listening_to_you]", :type => "radio", :value => "poor"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Less than satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q4ca2.q4c{:name => "gmc_patient_questionnaire[listening_to_you]", :tabindex => "-1", :type => "radio", :value => "less than satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q4ca3.q4c{:name => "gmc_patient_questionnaire[listening_to_you]", :tabindex => "-1", :type => "radio", :value => "satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q4ca4.q4c{:name => "gmc_patient_questionnaire[listening_to_you]", :tabindex => "-1", :type => "radio", :value => "good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Very good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q4ca5.q4c{:name => "gmc_patient_questionnaire[listening_to_you]", :tabindex => "-1", :type => "radio", :value => "very good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Does not apply
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 6
                              %input#q4ca6.q4c{:name => "gmc_patient_questionnaire[listening_to_you]", :tabindex => "-1", :type => "radio", :value => "does not apply"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 7
                              %input#q4ca7.q4c{:name => "gmc_patient_questionnaire[listening_to_you]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                          %tr.q-answers.q-sub-questions
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .sub-number d
                            %td.sub-question
                              %label{:for => "gmc_patient_questionnaire_assessing_your_medical_condition"} Assessing your medical condition
                            %td.rating-label.mobile-only Poor
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q4da1.q4d{:name => "gmc_patient_questionnaire[assessing_your_medical_condition]", :type => "radio", :value => "poor"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Less than satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q4da2.q4d{:name => "gmc_patient_questionnaire[assessing_your_medical_condition]", :tabindex => "-1", :type => "radio", :value => "less than satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q4da3.q4d{:name => "gmc_patient_questionnaire[assessing_your_medical_condition]", :tabindex => "-1", :type => "radio", :value => "satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q4da4.q4d{:name => "gmc_patient_questionnaire[assessing_your_medical_condition]", :tabindex => "-1", :type => "radio", :value => "good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Very good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q4da5.q4d{:name => "gmc_patient_questionnaire[assessing_your_medical_condition]", :tabindex => "-1", :type => "radio", :value => "very good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Does not apply
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 6
                              %input#q4da6.q4d{:name => "gmc_patient_questionnaire[assessing_your_medical_condition]", :tabindex => "-1", :type => "radio", :value => "does not apply"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 7
                              %input#q4da7.q4d{:name => "gmc_patient_questionnaire[assessing_your_medical_condition]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                          %tr.q-answers.q-sub-questions
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .sub-number e
                            %td.sub-question
                              %label{:for => "gmc_patient_questionnaire_explaining_your_condition_and_treatment"} Explaining your condition and treatment
                            %td.rating-label.mobile-only Poor
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q4ea1.q4e{:name => "gmc_patient_questionnaire[explaining_your_condition_and_treatment]", :type => "radio", :value => "poor"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Less than satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q4ea2.q4e{:name => "gmc_patient_questionnaire[explaining_your_condition_and_treatment]", :tabindex => "-1", :type => "radio", :value => "less than satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q4ea3.q4e{:name => "gmc_patient_questionnaire[explaining_your_condition_and_treatment]", :tabindex => "-1", :type => "radio", :value => "satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q4ea4.q4e{:name => "gmc_patient_questionnaire[explaining_your_condition_and_treatment]", :tabindex => "-1", :type => "radio", :value => "good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Very good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q4ea5.q4e{:name => "gmc_patient_questionnaire[explaining_your_condition_and_treatment]", :tabindex => "-1", :type => "radio", :value => "very good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Does not apply
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 6
                              %input#q4ea6.q4e{:name => "gmc_patient_questionnaire[explaining_your_condition_and_treatment]", :tabindex => "-1", :type => "radio", :value => "does not apply"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 7
                              %input#q4ea7.q4e{:name => "gmc_patient_questionnaire[explaining_your_condition_and_treatment]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                          %tr.q-answers.q-sub-questions
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .sub-number f
                            %td.sub-question
                              %label{:for => "gmc_patient_questionnaire_involving_you_in_decisions_about_your_treatment"} Involving you in decisions about your treatment
                            %td.rating-label.mobile-only Poor
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q4fa1.q4f{:name => "gmc_patient_questionnaire[involving_you_in_decisions_about_your_treatment]", :type => "radio", :value => "poor"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Less than satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q4fa2.q4f{:name => "gmc_patient_questionnaire[involving_you_in_decisions_about_your_treatment]", :tabindex => "-1", :type => "radio", :value => "less than satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q4fa3.q4f{:name => "gmc_patient_questionnaire[involving_you_in_decisions_about_your_treatment]", :tabindex => "-1", :type => "radio", :value => "satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q4fa4.q4f{:name => "gmc_patient_questionnaire[involving_you_in_decisions_about_your_treatment]", :tabindex => "-1", :type => "radio", :value => "good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Very good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q4fa5.q4f{:name => "gmc_patient_questionnaire[involving_you_in_decisions_about_your_treatment]", :tabindex => "-1", :type => "radio", :value => "very good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Does not apply
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 6
                              %input#q4fa6.q4f{:name => "gmc_patient_questionnaire[involving_you_in_decisions_about_your_treatment]", :tabindex => "-1", :type => "radio", :value => "does not apply"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 7
                              %input#q4fa7.q4f{:name => "gmc_patient_questionnaire[involving_you_in_decisions_about_your_treatment]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                          %tr.q-answers.q-sub-questions
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .sub-number g
                            %td.sub-question
                              %label{:for => "gmc_patient_questionnaire_providing_or_arranging_treatment_for_you"} Providing or arranging treatment for you
                            %td.rating-label.mobile-only Poor
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q4ga1.q4g{:name => "gmc_patient_questionnaire[providing_or_arranging_treatment_for_you]", :type => "radio", :value => "poor"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Less than satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q4ga2.q4g{:name => "gmc_patient_questionnaire[providing_or_arranging_treatment_for_you]", :tabindex => "-1", :type => "radio", :value => "less than satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Satisfactory
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q4ga3.q4g{:name => "gmc_patient_questionnaire[providing_or_arranging_treatment_for_you]", :tabindex => "-1", :type => "radio", :value => "satisfactory"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q4ga4.q4g{:name => "gmc_patient_questionnaire[providing_or_arranging_treatment_for_you]", :tabindex => "-1", :type => "radio", :value => "good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Very good
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q4ga5.q4g{:name => "gmc_patient_questionnaire[providing_or_arranging_treatment_for_you]", :tabindex => "-1", :type => "radio", :value => "very good"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Does not apply
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 6
                              %input#q4ga6.q4g{:name => "gmc_patient_questionnaire[providing_or_arranging_treatment_for_you]", :tabindex => "-1", :type => "radio", :value => "does not apply"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 7
                              %input#q4ga7.q4g{:name => "gmc_patient_questionnaire[providing_or_arranging_treatment_for_you]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                    .panel-body
                      / Q5
                      %table.table.table-pq-questionnaire
                        %thead
                          %tr.q-question
                            %th.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .number 5
                            %th.qq{:colspan => "9"}
                              %label Please decide how strongly you agree or disagree with the following statements by ticking one box in each line.
                        %thead.hidden-xs
                          %tr
                            %th.qn  
                            %th  
                            %th.rating Strongly disagree
                            %th.rating Disagree
                            %th.rating Neutral
                            %th.rating Agree
                            %th.rating Strongly agree
                            %th.rating Does not apply
                            %th.dk.rating Spoiled
                        %tbody
                          %tr.q-answers.q-sub-questions
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .sub-number a
                            %td.sub-question
                              %label{:for => "gmc_patient_questionnaire_this_doctor_will_keep_information_about_me_confidential"} This doctor will keep information about me confidential
                            %td.rating-label.mobile-only Strongly disagree
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q5aa1.q5a{:name => "gmc_patient_questionnaire[this_doctor_will_keep_information_about_me_confidential]", :type => "radio", :value => "strongly disagree"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Disagree
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q5aa2.q5a{:name => "gmc_patient_questionnaire[this_doctor_will_keep_information_about_me_confidential]", :tabindex => "-1", :type => "radio", :value => "disagree"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Neutral
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q5aa3.q5a{:name => "gmc_patient_questionnaire[this_doctor_will_keep_information_about_me_confidential]", :tabindex => "-1", :type => "radio", :value => "neutral"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Agree
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q5aa4.q5a{:name => "gmc_patient_questionnaire[this_doctor_will_keep_information_about_me_confidential]", :tabindex => "-1", :type => "radio", :value => "agree"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Strongly agree
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q5aa5.q5a{:name => "gmc_patient_questionnaire[this_doctor_will_keep_information_about_me_confidential]", :tabindex => "-1", :type => "radio", :value => "strongly agree"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Does not apply
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 6
                              %input#q5aa6.q5a{:name => "gmc_patient_questionnaire[this_doctor_will_keep_information_about_me_confidential]", :tabindex => "-1", :type => "radio", :value => "does not apply"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 7
                              %input#q5aa7.q5a{:name => "gmc_patient_questionnaire[this_doctor_will_keep_information_about_me_confidential]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                          %tr.q-answers.q-sub-questions
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .sub-number b
                            %td.sub-question
                              %label{:for => "gmc_patient_questionnaire_this_doctor_is_honest_and_trustworthy"} This doctor is honest and trustworthy
                            %td.rating-label.mobile-only Strongly disagree
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q5ba1.q5b{:name => "gmc_patient_questionnaire[this_doctor_is_honest_and_trustworthy]", :type => "radio", :value => "strongly disagree"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Disagree
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q5ba2.q5b{:name => "gmc_patient_questionnaire[this_doctor_is_honest_and_trustworthy]", :tabindex => "-1", :type => "radio", :value => "disagree"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Neutral
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q5ba3.q5b{:name => "gmc_patient_questionnaire[this_doctor_is_honest_and_trustworthy]", :tabindex => "-1", :type => "radio", :value => "neutral"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Agree
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q5ba4.q5b{:name => "gmc_patient_questionnaire[this_doctor_is_honest_and_trustworthy]", :tabindex => "-1", :type => "radio", :value => "agree"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Strongly agree
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q5ba5.q5b{:name => "gmc_patient_questionnaire[this_doctor_is_honest_and_trustworthy]", :tabindex => "-1", :type => "radio", :value => "strongly agree"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Does not apply
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 6
                              %input#q5ba6.q5b{:name => "gmc_patient_questionnaire[this_doctor_is_honest_and_trustworthy]", :tabindex => "-1", :type => "radio", :value => "does not apply"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 7
                              %input#q5ba7.q5b{:name => "gmc_patient_questionnaire[this_doctor_is_honest_and_trustworthy]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                    .panel-body
                      / Q6
                      %table.table.table-pq-questionnaire
                        %thead
                        %thead.hidden-xs
                          %tr.q-question
                            %th.qn
                            %th{:colspan => "3"}
                            %th Yes
                            %th No
                            %th.dk Spoiled
                        %tbody
                          %tr.q-answers
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .number 6
                            %td.qq{:colspan => "3"}
                              %label{:for => "gmc_patient_questionnaire_i_am_confident_about_this_doctors_ability_to_provide_care"} I am confident about this doctor’s ability to provide care
                            %td.rating-label.mobile-only Yes
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q6a1.q6{:name => "gmc_patient_questionnaire[i_am_confident_about_this_doctors_ability_to_provide_care]", :type => "radio", :value => "yes"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only No
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q6a2.q6{:name => "gmc_patient_questionnaire[i_am_confident_about_this_doctors_ability_to_provide_care]", :tabindex => "-1", :type => "radio", :value => "no"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q6a3.q6{:name => "gmc_patient_questionnaire[i_am_confident_about_this_doctors_ability_to_provide_care]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                          / Q7
                          %tr.q-answers.border-top-xs
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .number 7
                            %td.qq{:colspan => "3"}
                              %label{:for => "gmc_patient_questionnaire_i_would_be_completely_happy_to_see_this_doctor_again"} I would be completely happy to see this doctor again
                            %td.rating-label.mobile-only Yes
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q7a1.q7{:name => "gmc_patient_questionnaire[i_would_be_completely_happy_to_see_this_doctor_again]", :type => "radio", :value => "yes"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only No
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q7a2.q7{:name => "gmc_patient_questionnaire[i_would_be_completely_happy_to_see_this_doctor_again]", :tabindex => "-1", :type => "radio", :value => "no"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q7a3.q7{:name => "gmc_patient_questionnaire[i_would_be_completely_happy_to_see_this_doctor_again]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                          / Q8
                          %tr.q-answers.border-top-xs
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .number 8
                            %td.qq{:colspan => "3"}
                              %label{:for => "gmc_patient_questionnaire_was_this_visit_with_your_usual_doctor"} Was this visit with your usual doctor?
                            %td.rating-label.mobile-only Yes
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q8a1.q8{:name => "gmc_patient_questionnaire[was_this_visit_with_your_usual_doctor]", :type => "radio", :value => "yes"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only No
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q8a2.q8{:name => "gmc_patient_questionnaire[was_this_visit_with_your_usual_doctor]", :tabindex => "-1", :type => "radio", :value => "no"}/
                              .radio-button
                               
                            %td.rating-label.mobile-only Spoiled
                            %td.dk.spoiled.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q8a3.q8{:name => "gmc_patient_questionnaire[was_this_visit_with_your_usual_doctor]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                              .radio-button
                               
                    / Q9
                    .panel-body
                      %table.table.table-pq-questionnaire
                        %tbody
                          %tr.q-answers
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .number 9
                            %td.qq{:colspan => "6"}
                              %label#q9a1.left-align{:for => "gmc_patient_questionnaire_comments"} Please add any other comments you want to make about this doctor. Please note: No patients will be identified when this information is given to the doctor.
                          %tr.textfield
                            %td.qn.hidden-xs
                            %td.textfield{:colspan => "6"}
                              %textarea#gmc_patient_questionnaire_comments{:cols => "40", :name => "gmc_patient_questionnaire[comments]", :placeholder => "Add comments", :rows => "20", :style => "overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 344px;"}
                  / Q10
                  .panel.panel-default
                    .panel-heading
                      About you...
                    .q-comment
                      %strong The next questions will give us some basic information about who took part in the survey.
                    .panel-body
                      %table.table.table-pq-questionnaire
                        %tbody
                          %tr.q-answers
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .number 10
                            %td.qq
                              %label{:for => "gmc_patient_questionnaire_male_or_female"} Gender:
                            %td.rating-label.mobile-only Female
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q10a1.q10{:name => "gmc_patient_questionnaire[male_or_female]", :type => "radio", :value => "female"}/
                              .radio-button
                              %span.hidden-xs Female
                            %td.rating-label.mobile-only Male
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q10a2.q10{:name => "gmc_patient_questionnaire[male_or_female]", :tabindex => "-1", :type => "radio", :value => "male"}/
                              .radio-button
                              %span.hidden-xs Male
                    / Q11
                    .panel-body
                      %table.table.table-pq-questionnaire
                        %tbody
                          %tr.q-answers
                            %td.qn
                              %span.accesskey{:style => "display: none;"} ⇥
                              .number 11
                            %td.qq
                              %label{:for => "gmc_patient_questionnaire_age"} Age:
                            %td.rating-label.mobile-only Under 15
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 1
                              %input#q11a1.q11{:name => "gmc_patient_questionnaire[age]", :type => "radio", :value => "under 15"}/
                              .radio-button
                              %span.hidden-xs Under 15
                            %td.rating-label.mobile-only 15 to 20
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 2
                              %input#q11a2.q11{:name => "gmc_patient_questionnaire[age]", :tabindex => "-1", :type => "radio", :value => "15 to 20"}/
                              .radio-button
                              %span.hidden-xs 15 to 20
                            %td.rating-label.mobile-only 21 to 40
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 3
                              %input#q11a3.q11{:name => "gmc_patient_questionnaire[age]", :tabindex => "-1", :type => "radio", :value => "21 to 40"}/
                              .radio-button
                              %span.hidden-xs 21 to 40
                            %td.rating-label.mobile-only 40 to 60
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 4
                              %input#q11a4.q11{:name => "gmc_patient_questionnaire[age]", :tabindex => "-1", :type => "radio", :value => "40 to 60"}/
                              .radio-button
                              %span.hidden-xs 40 to 60
                            %td.rating-label.mobile-only 60 or over
                            %td.sa-radio-buttons
                              %span.accesskey{:style => "display: none;"} 5
                              %input#q11a5.q11{:name => "gmc_patient_questionnaire[age]", :tabindex => "-1", :type => "radio", :value => "60 or over"}/
                              .radio-button
                              %span.hidden-xs 60 or over
                    / Q12
                    .panel-body
                      .q-column-table
                        .question-head
                          .cell.qn
                            %span.accesskey{:style => "display: none;"} ⇥
                            .number 12
                          .cell.qq.question
                            %label{:for => "gmc_patient_questionnaire_ethnic_group"} What is your ethnic group? Please choose one section from A to E, and then select the appropriate box to indicate your cultural background.
                        .body
                          .column.qn.hidden-xs
                            .cell.ethnic-q  
                          .column
                            .cell.ethnic-q A. White
                            .cell
                              .rating-label.mobile-only British
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} 01
                                %input#q12aa1.q12a{:name => "gmc_patient_questionnaire[ethnic_group]", :type => "radio", :value => "british"}/
                                .radio-button.radio-inline
                                %span.ethnic-type British
                            .cell
                              .rating-label.mobile-only Irish
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} 02
                                %input#q12aa2.q12a{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "irish"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Irish
                            .cell
                              .rating-label.mobile-only Any other White background
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} 03
                                %input#q12aa3.q12a{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "any other white background"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Any other White background
                            .cell.hidden-xs  
                            .cell.textfield
                              %span.accesskey{:style => "display: none;"} 04
                              %input#q12aa4.q12a.form-control{:name => "gmc_patient_questionnaire[ethnic_group_a_other]", :placeholder => "Other", :size => "30", :tabindex => "-1", :type => "text"}/
                          .column
                            .cell.ethnic-q B. Mixed
                            .cell
                              .rating-label.mobile-only White and Black Caribbean
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} 05
                                %input#q12aa5.q12a{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "white and black caribbean"}/
                                .radio-button.radio-inline
                                %span.ethnic-type White and Black Caribbean
                            .cell
                              .rating-label.mobile-only White and Black African
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} 06
                                %input#q12aa6.q12a{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "white and black african"}/
                                .radio-button.radio-inline
                                %span.ethnic-type White and Black African
                            .cell
                              .rating-label.mobile-only White and Asian
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} 07
                                %input#q12aa7.q12a{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "white and asian"}/
                                .radio-button.radio-inline
                                %span.ethnic-type White and Asian
                            .cell
                              .rating-label.mobile-only Any other Mixed background
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} 08
                                %input#q12aa8.q12a{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "any other mixed background"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Any other Mixed background
                            .cell.textfield
                              %span.accesskey{:style => "display: none;"} 09
                              %input#q12aa9.q12b.form-control{:name => "gmc_patient_questionnaire[ethnic_group_b_other]", :placeholder => "Other", :size => "30", :tabindex => "-1", :type => "text"}/
                          .column
                            .cell.ethnic-q C. Asian or Asian British
                            .cell
                              .rating-label.mobile-only Indian
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} -1
                                %input#q12ca1.q12c{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "indian"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Indian
                            .cell
                              .rating-label.mobile-only Pakistani
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} -2
                                %input#q12ca2.q12c{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "pakistani"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Pakistani
                            .cell
                              .rating-label.mobile-only Bangladeshi
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} -3
                                %input#q12ca3.q12c{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "bangladeshi"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Bangladeshi
                            .cell
                              .rating-label.mobile-only Any other Asian background
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} -4
                                %input#q12ca4.q12c{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "any other asian background"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Any other Asian background
                            .cell.textfield
                              %span.accesskey{:style => "display: none;"} -5
                              %input#q12ca5.q12c.form-control{:name => "gmc_patient_questionnaire[ethnic_group_c_other]", :placeholder => "Other", :size => "30", :tabindex => "-1", :type => "text"}/
                          .column
                            .cell.ethnic-q D. Black or Black British
                            .cell
                              .rating-label.mobile-only Caribbean
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} -6
                                %input#q12ca6.q12c{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "caribbean"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Caribbean
                            .cell
                              .rating-label.mobile-only African
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} -7
                                %input#q12ca7.q12c{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "african"}/
                                .radio-button.radio-inline
                                %span.ethnic-type African
                            .cell
                              .rating-label.mobile-only Any other Black background
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} -8
                                %input#q12ca8.q12c{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "any other black background"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Any other Black background
                            .cell.hidden-xs  
                            .cell.textfield
                              %span.accesskey{:style => "display: none;"} -9
                              %input#q12ca9.q12d.form-control{:name => "gmc_patient_questionnaire[ethnic_group_d_other]", :placeholder => "Other", :size => "30", :tabindex => "-1", :type => "text"}/
                          .column
                            .cell.ethnic-q
                              %label E. Chinese or other ethnic group
                            .cell
                              .rating-label.mobile-only Chinese
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} +1
                                %input#q12ea1.q12e{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "chinese"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Chinese
                            .cell
                              .rating-label.mobile-only Any other
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} +2
                                %input#q12ea2.q12e{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "any other"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Any other
                            .cell.hidden-xs  
                            .cell.hidden-xs  
                            .cell.textfield
                              %span.accesskey{:style => "display: none;"} +3
                              %input#q12ea3.q12e.form-control{:name => "gmc_patient_questionnaire[ethnic_group_e_other]", :placeholder => "Other", :size => "30", :tabindex => "-1", :type => "text"}/
                          .column
                            .cell.ethnic-q Spoiled
                            .cell
                              .rating-label.mobile-only Spoiled
                              .sa-radio-buttons
                                %span.accesskey{:style => "display: none;"} +4
                                %input#q12ea4.q12e{:name => "gmc_patient_questionnaire[ethnic_group]", :tabindex => "-1", :type => "radio", :value => "spoiled"}/
                                .radio-button.radio-inline
                                %span.ethnic-type Spoiled
                            .cell.hidden-xs  
                            .cell.hidden-xs  
                            .cell.hidden-xs  
                            .cell.hidden-xs  
                  / Administrators Only
                  .panel.panel-default
                    .panel-heading
                      ADMINISTRATORS ONLY
                    .panel-body
                      %table.table.table-pq-questionnaire
                        %tbody
                          %tr
                            %td.block
                              %span.accesskey{:style => "display: none;"} ⇥
                              %label.left-align{:for => "gmc_patient_questionnaire_admin_comments"} Comments e.g. reason if marked as spoiled
                          %tr
                            %td.textfield
                              %textarea#gmc_patient_questionnaire_admin_comments{:cols => "40", :name => "gmc_patient_questionnaire[admin_comments]", :placeholder => "Add comments", :rows => "20", :style => "overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 344px;"}
                  .save.right
                    %span.accesskey{:style => "display: none;"} ⇥
                    %input.btn.btn-success{"data-disable-with" => "Submitting...", :name => "commit", :type => "submit", :value => "Submit response"}/
                    %span.accesskey{:style => "display: none;"} (on the next page, press enter to create a new questionnaire)


    
    
    
    
    
    
    
    //=include ../navbars/_footer.haml
    
    / Scripts ================================

    %script{:src => "../assets/js/remote-sard-scripts.min.js"}