.row
  .col-sm-12
    %h1#alerts-anchor.bs-anchor Alerts

    .alert.alert-user{:role => "alert"}
      \.alert.alert-user
    .alert.alert-admin{:role => "alert"}
      \.alert.alert-admin

    .alert.alert-primary{:role => "alert"}
      \.alert.alert-primary 
    .alert.alert-secondary{:role => "alert"}
      \.alert.alert-secondary
    .alert.alert-success{:role => "alert"}
      \.alert.alert-success
    .alert.alert-danger{:role => "alert"}
      \.alert.alert-danger
    .alert.alert-warning{:role => "alert"}
      \.alert.alert-warning
    .alert.alert-info{:role => "alert"}
      \.alert.alert-info
    .alert.alert-light{:role => "alert"}
      \.alert.alert-light
    .alert.alert-dark{:role => "alert"}
      \.alert.alert-dark


    %hr
    %h3 Additional content
    .alert.alert-success{:role => "alert"}
      %h4.alert-heading Well done!
      %p Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
      %hr/
      %p.mb-0 Whenever you need to, be sure to use margin utilities to keep things nice and tidy.

    %hr
    %h3 Dismissible Alerts
    .alert.alert-user.alert-dismissible.fade.show{:role => "alert"}
      %strong Dismissible Alerts
      \.alert.alert-user.alert-dismissible.fade.show
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-admin.alert-dismissible.fade.show{:role => "alert"}
      %strong Dismissible Alerts
      \.alert.alert-admin.alert-dismissible.fade.show
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-primary.alert-dismissible.fade.show{:role => "alert"}
      %strong Dismissible Alerts
      \.alert.alert-primary.alert-dismissible.fade.show
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close
    .alert.alert-secondary.alert-dismissible.fade.show{:role => "alert"}
      %strong Dismissible Alerts
      \.alert.alert-secondary.alert-dismissible.fade.show
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-success.alert-dismissible.fade.show{:role => "alert"}
      %strong Dismissible Alerts
      \.alert.alert-success.alert-dismissible.fade.show
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-danger.alert-dismissible.fade.show{:role => "alert"}
      %strong Dismissible Alerts
      \.alert.alert-danger.alert-dismissible.fade.show
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-warning.alert-dismissible.fade.show{:role => "alert"}
      %strong Dismissible Alerts
      \.alert.alert-warning.alert-dismissible.fade.show
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-info.alert-dismissible.fade.show{:role => "alert"}
      %strong Dismissible Alerts
      \.alert.alert-info.alert-dismissible.fade.show
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-light.alert-dismissible.fade.show{:role => "alert"}
      %strong Dismissible Alerts
      \.alert.alert-light.alert-dismissible.fade.show
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-dark.alert-dismissible.fade.show{:role => "alert"}
      %strong Dismissible Alerts
      \.alert.alert-dark.alert-dismissible.fade.show
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    
    
