.row
  .col-sm-12
    %h1#alerts-anchor.bs-anchor Alerts

    .alert.alert-primary{:role => "alert"}
      A simple primary alert—check it out! 
    .alert.alert-secondary{:role => "alert"}
      A simple secondary alert—check it out!
    .alert.alert-success{:role => "alert"}
      A simple success alert—check it out!
    .alert.alert-danger{:role => "alert"}
      A simple danger alert—check it out!
    .alert.alert-warning{:role => "alert"}
      A simple warning alert—check it out!
    .alert.alert-info{:role => "alert"}
      A simple info alert—check it out!
    .alert.alert-light{:role => "alert"}
      A simple light alert—check it out!
    .alert.alert-dark{:role => "alert"}
      A simple dark alert—check it out!

    %hr
    %h3 SARD Alerts
    .alert.alert-user{:role => "alert"}
      A simple user alert—check it out!
    .alert.alert-admin{:role => "alert"}
      A simple admin alert—check it out!

    %hr
    %h3 Additional content
    .alert.alert-success{:role => "alert"}
      %h4.alert-heading Well done!
      %p Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
      %hr/
      %p.mb-0 Whenever you need to, be sure to use margin utilities to keep things nice and tidy.

    %hr
    %h3 Dismissible Alerts
    .alert.alert-primary.alert-dismissible.fade.show{:role => "alert"}
      %strong Holy guacamole!
      You should check in on some of those fields below.
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close
    .alert.alert-secondary.alert-dismissible.fade.show{:role => "alert"}
      %strong Holy guacamole!
      You should check in on some of those fields below.
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-success.alert-dismissible.fade.show{:role => "alert"}
      %strong Holy guacamole!
      You should check in on some of those fields below.
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-danger.alert-dismissible.fade.show{:role => "alert"}
      %strong Holy guacamole!
      You should check in on some of those fields below.
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-warning.alert-dismissible.fade.show{:role => "alert"}
      %strong Holy guacamole!
      You should check in on some of those fields below.
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-info.alert-dismissible.fade.show{:role => "alert"}
      %strong Holy guacamole!
      You should check in on some of those fields below.
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-light.alert-dismissible.fade.show{:role => "alert"}
      %strong Holy guacamole!
      You should check in on some of those fields below.
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-dark.alert-dismissible.fade.show{:role => "alert"}
      %strong Holy guacamole!
      You should check in on some of those fields below.
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    
    .alert.alert-user.alert-dismissible.fade.show{:role => "alert"}
      %strong Holy guacamole!
      You should check in on some of those fields below.
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
    .alert.alert-admin.alert-dismissible.fade.show{:role => "alert"}
      %strong Holy guacamole!
      You should check in on some of those fields below.
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        .fa-icon.alert-close 
