.row
  .col-sm-12
    %h1#badges-anchor.bs-anchor Badges

    %h1
      Example heading
      %span.badge.badge-user New
    %h2
      Example heading
      %span.badge.badge-user New
    %h3
      Example heading
      %span.badge.badge-user New
    %h4
      Example heading
      %span.badge.badge-user New
    %h5
      Example heading
      %span.badge.badge-user New
    %h6
      Example heading
      %span.badge.badge-user New

    %button.btn.btn-user{:type => "button"}
      Notifications
      %span.badge.badge-light 4

    %hr

    %h4 Contextual variations
    %span.badge.badge-trust Trust
    %span.badge.badge-user User
    %span.badge.badge-admin Admin
    %span.badge.badge-primary Primary
    %span.badge.badge-secondary Secondary
    %span.badge.badge-success Success
    %span.badge.badge-danger Danger
    %span.badge.badge-warning Warning
    %span.badge.badge-info Info
    %span.badge.badge-light Light
    %span.badge.badge-dark Dark

    %hr

    %h4 Pill badges
    %span.badge.badge-pill.badge-trust Trust
    %span.badge.badge-pill.badge-user User
    %span.badge.badge-pill.badge-admin Admin
    %span.badge.badge-pill.badge-primary Primary
    %span.badge.badge-pill.badge-secondary Secondary
    %span.badge.badge-pill.badge-success Success
    %span.badge.badge-pill.badge-danger Danger
    %span.badge.badge-pill.badge-warning Warning
    %span.badge.badge-pill.badge-info Info
    %span.badge.badge-pill.badge-light Light
    %span.badge.badge-pill.badge-dark Dark

    %hr

    %h4 Link badges
    %a.badge.badge-trust{:href => ""} Trust
    %a.badge.badge-user{:href => ""} User
    %a.badge.badge-admin{:href => ""} Admin
    %a.badge.badge-primary{:href => ""} Primary
    %a.badge.badge-secondary{:href => ""} Secondary
    %a.badge.badge-success{:href => ""} Success
    %a.badge.badge-danger{:href => ""} Danger
    %a.badge.badge-warning{:href => ""} Warning
    %a.badge.badge-info{:href => ""} Info
    %a.badge.badge-light{:href => ""} Light
    %a.badge.badge-dark{:href => ""} Dark