.row
  .col-sm-12
    %h1#breadcrumbs-anchor.bs-anchor Breadcrumbs
    %p 
      At the top of this page you will see an example of breadcrumbs fixed below the navbar. To achieve that should wrap the 
      %code %nav %ol.breadcrumb
      within 
      %code #breadcrumbs.fixed-top 
      and
      %code .container

    %nav{"aria-label" => "breadcrumb"}
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{:href => "#/"} Home
        %li.breadcrumb-item
          %a{:href => "#/"} Library
        %li.breadcrumb-item.active{"aria-current" => "page"} Data

