.row
  .col-sm-12
    %h1#buttons-anchor.bs-anchor Buttons

    %button.btn.btn-primary{:type => "button"} Primary
    %button.btn.btn-secondary{:type => "button"} Secondary
    %button.btn.btn-success{:type => "button"} Success
    %button.btn.btn-danger{:type => "button"} Danger
    %button.btn.btn-warning{:type => "button"} Warning
    %button.btn.btn-info{:type => "button"} Info
    %button.btn.btn-light{:type => "button"} Light
    %button.btn.btn-dark{:type => "button"} Dark
    %button.btn.btn-link{:type => "button"} Link

    %hr

    %button.btn.btn-outline-primary{:type => "button"} Primary
    %button.btn.btn-outline-secondary{:type => "button"} Secondary
    %button.btn.btn-outline-success{:type => "button"} Success
    %button.btn.btn-outline-danger{:type => "button"} Danger
    %button.btn.btn-outline-warning{:type => "button"} Warning
    %button.btn.btn-outline-info{:type => "button"} Info
    %button.btn.btn-outline-light{:type => "button"} Light
    %button.btn.btn-outline-dark{:type => "button"} Dark

    %hr/
    %p These buttons will change colour depending on the theme class added to the body tag.
    %button.btn.btn-trust{:type => "button"} .btn.btn-trust
    %button.btn.btn-outline-trust{:type => "button"} .btn.btn-outline-trust

    %hr

    %button.btn.btn-trust.btn-lg{:type => "button"} Large button

    %hr

    %button.btn.btn-trust.btn-sm{:type => "button"} Small button


    %hr

    %button.btn.btn-trust.btn-xs{:type => "button"} Extra small button

    %hr

    %h4 SARD button colours
    %button.btn.btn-user{:type => "button"} .btn-user
    %button.btn.btn-user-dark{:type => "button"} .btn-user-dark
    %button.btn.btn-user-2{:type => "button"} .btn-user-2
    %button.btn.btn-user-2-dark{:type => "button"} .btn-user-2-dark
    %br
    %br
    %button.btn.btn-admin{:type => "button"} .btn-admin
    %button.btn.btn-admin-dark{:type => "button"} .btn-admin-dark
    %button.btn.btn-admin-2{:type => "button"} .btn-admin-2
    %button.btn.btn-admin-2-dark{:type => "button"} .btn-admin-2-dark
    %br
    %br
    %button.btn.btn-default{:type => "button"} .btn-default


    %hr

    %h4 Checkbox and radio buttons

    .btn-group-toggle{"data-toggle" => "buttons"}
      %label.btn.btn-user
        %input{:autocomplete => "off", :checked => "checked", :type => "checkbox"}/
        Checked
    %br
    %br
    .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
      %label.btn.btn-user.active
        %input#option1{:autocomplete => "off", :checked => "checked", :name => "options", :type => "radio"}/
        Active
      %label.btn.btn-user
        %input#option2{:autocomplete => "off", :name => "options", :type => "radio"}/
        Radio
      %label.btn.btn-user
        %input#option3{:autocomplete => "off", :name => "options", :type => "radio"}/
        Radio

    %hr

    %h4 Button group
    .btn-group{"aria-label" => "Basic example", :role => "group"}
      %button.btn.btn-user{:type => "button"} Left
      %button.btn.btn-user{:type => "button"} Middle
      %button.btn.btn-user{:type => "button"} Right

    %hr
    %h4 Button toolbar
    .btn-group{"aria-label" => "Basic example", :role => "group"}
      %button.btn.btn-user{:type => "button"} Left
      %button.btn.btn-user{:type => "button"} Middle
      %button.btn.btn-user{:type => "button"} Right

    %hr
    .btn-toolbar.mb-3{"aria-label" => "Toolbar with button groups", :role => "toolbar"}
      .btn-group.mr-2{"aria-label" => "First group", :role => "group"}
        %button.btn.btn-user{:type => "button"} 1
        %button.btn.btn-user{:type => "button"} 2
        %button.btn.btn-user{:type => "button"} 3
        %button.btn.btn-user{:type => "button"} 4
      .input-group
        .input-group-prepend
          #btnGroupAddon.input-group-text @
        %input.form-control{"aria-describedby" => "btnGroupAddon", "aria-label" => "Input group example", :placeholder => "Input group example", :type => "text"}/
    .btn-toolbar.justify-content-between{"aria-label" => "Toolbar with button groups", :role => "toolbar"}
      .btn-group{"aria-label" => "First group", :role => "group"}
        %button.btn.btn-user{:type => "button"} 1
        %button.btn.btn-user{:type => "button"} 2
        %button.btn.btn-user{:type => "button"} 3
        %button.btn.btn-user{:type => "button"} 4
      .input-group
        .input-group-prepend
          #btnGroupAddon2.input-group-text @
        %input.form-control{"aria-describedby" => "btnGroupAddon2", "aria-label" => "Input group example", :placeholder => "Input group example", :type => "text"}/