.row
  .col-sm-12
    %h1#cards-anchor.bs-anchor Cards

    .card.card-sard{:style => "width: 18rem;"}
      %img.card-img-top{:alt => "image placement", :src => "../assets/images/image-placement.png"}/
      .card-body
        %h5.card-title Card title
        %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        %ul.list-group
          %li.list-group-item Cras justo odio
          %li.list-group-item Dapibus ac facilisis in
          %li.list-group-item Vestibulum at eros
      .card-body
        %a.card-link{:href => "#"} Card link
        %a.card-link{:href => "#"} Another link

    %hr
    .card.card-sard.text-center
      .card-header
        Featured
      .card-body
        %h5.card-title Special title treatment
        %p.card-text With supporting text below as a natural lead-in to additional content.
        %a.btn.btn-primary{:href => "#"} Go somewhere
      .card-footer.text-muted
        2 days ago

    %hr

.row
  .col-sm-6
    .card.card-sard
      .card-body
        %h5.card-title Special title treatment
        %p.card-text With supporting text below as a natural lead-in to additional content.
        %a.btn.btn-primary{:href => "#"} Go somewhere
  .col-sm-6
    .card.card-sard
      .card-body
        %h5.card-title Special title treatment
        %p.card-text With supporting text below as a natural lead-in to additional content.
        %a.btn.btn-primary{:href => "#"} Go somewhere

%hr

.row
  .col-12
    %h4 Navigation
    .card.card-sard.text-center
      .card-header
        %ul.nav.nav-tabs.card-header-tabs
          %li.nav-item
            %a.nav-link.active{:href => "#/"} Active
          %li.nav-item
            %a.nav-link{:href => "#/"} Link
          %li.nav-item
            %a.nav-link.disabled{"aria-disabled" => "true", :href => "#/", :tabindex => "-1"} Disabled
      .card-body
        %h5.card-title Special title treatment
        %p.card-text With supporting text below as a natural lead-in to additional content.
        %a.btn.btn-primary{:href => "#"} Go somewhere

%hr

.row
  .col-sm-6
    %h4 Horizontal
    .card.card-sard
      .row.no-gutters
        .col-md-4
          %img.card-img{:alt => "image placement", :src => "../assets/images/image-placement.png"}/
            
        .col-md-8
          .card-body
            %h5.card-title Card title
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            %p.card-text
              %small.text-muted Last updated 3 mins ago

  .col-sm-6
    %h4 Images 
    %p 
      For information about placing images in cards, see: 
      %br/
      %a.link-external{href: "https://getbootstrap.com/docs/4.3/components/card/#images-1", target:'blank'} Bootstrap card Images
%hr

.row
  .col-sm-12
    %h4 Card Styles
  .col-sm-6
    .card.card-sard
      .card-header Card Sard / Default
      .card-body.border-bottom
        %h5.card-title .card.card-sard
        %p.card-text 
          This can also be classed as 
          %br
          %span.bold .card.card-default.
          %br
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-sard.outline
      .card-header Card Sard / Default Outline
      .card-body.border-bottom
        %h5.card-title .card.card-sard.outline
        %p.card-text  
          This can also be classed as 
          %br
          %span.bold .card.card-default.outline.
          %br
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted
  
  .col-12
    %hr/

  .col-sm-6
    .card.card-primary
      .card-header Card Primary
      .card-body.border-bottom
        %h5.card-title .card.card-primary
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-primary.outline
      .card-header Card Primary Outline
      .card-body.border-bottom
        %h5.card-title .card.card-primary
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-secondary
      .card-header Card Secondary
      .card-body.border-bottom
        %h5.card-title .card.card-secondary
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-secondary.outline
      .card-header Card Secondary Outline
      .card-body.border-bottom
        %h5.card-title .card.card-secondary
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-12
    %hr/

  .col-sm-6
    .card.card-success
      .card-header Card Success
      .card-body.border-bottom
        %h5.card-title .card.card-success
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-success.outline
      .card-header Card Success Outline
      .card-body.border-bottom
        %h5.card-title .card.card-success
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted


  .col-sm-6
    .card.card-danger
      .card-header Card Danger 
      .card-body.border-bottom
        %h5.card-title .card.card-danger
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-danger.outline
      .card-header Card Danger Outline
      .card-body.border-bottom
        %h5.card-title .card.card-danger
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-warning
      .card-header Card Warning 
      .card-body.border-bottom
        %h5.card-title .card.card-warning
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-warning.outline
      .card-header Card Warning Outline
      .card-body.border-bottom
        %h5.card-title .card.card-warning
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-info
      .card-header Card Info 
      .card-body.border-bottom
        %h5.card-title .card.card-info
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-info.outline
      .card-header Card Info Outline
      .card-body.border-bottom
        %h5.card-title .card.card-info
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-dark
      .card-header Card Dark 
      .card-body.border-bottom
        %h5.card-title .card.card-dark
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-dark.outline
      .card-header Card Dark Outline
      .card-body.border-bottom
        %h5.card-title .card.card-dark
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted


%hr
.row
  .col-sm-12
    .card.card-sard
      .card-body
        %h5 White cards
        .row
          .col-sm-6
            .card.card-white
              .card-header Card White 
              .card-body.border-bottom
                %h5.card-title .card.card-white
                %p.card-text 
                  This .card-body has .border-bottom added to it, you could also add .border-top
              .card-body
                %h5.card-title 2nd Card body
                %p Below is a %hr between the paras.
                %hr
                %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
              .card-footer
                Card Footer / 
                %span.text-muted .text-muted
          .col-sm-6
            .card.card-white.outline
              .card-header Card White Outline
              .card-body.border-bottom
                %h5.card-title .card.card-white
                %p.card-text 
                  This .card-body has .border-bottom added to it, you could also add .border-top
              .card-body
                %h5.card-title 2nd Card body
                %p Below is a %hr between the paras.
                %hr
                %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
              .card-footer
                Card Footer / 
                %span.text-muted .text-muted


%hr

.row
  .col-12
    %h4 Card Groups
    .card-group
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card-footer
          %small.text-muted Last updated 3 mins ago
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This card has supporting text below as a natural lead-in to additional content.
        .card-footer
          %small.text-muted Last updated 3 mins ago
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        .card-footer
          %small.text-muted Last updated 3 mins ago


%hr

.row
  .col-12
    %h4 Card Decks
    .card-deck
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card-footer
          %small Last updated 3 mins ago
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This card has supporting text below as a natural lead-in to additional content.
        .card-footer
          %small Last updated 3 mins ago
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        .card-footer
          %small.text-muted .text-muted

%hr

.row
  .col-12
    %h4 Card Columns
    .card-columns
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title that wraps to a new line
          %p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card.card-sard.p-3
        %blockquote.blockquote.mb-0.card-body
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          %footer.blockquote-footer
            %small.text-muted
              Someone famous in
              %cite{:title => "Source Title"} Source Title
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This card has supporting text below as a natural lead-in to additional content.
          %p.card-text
            %small.text-muted Last updated 3 mins ago
      .card.card-sard.text-center.p-3
        %blockquote.blockquote.mb-0
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
          %footer.blockquote-footer
            %small
              Someone famous in
              %cite{:title => "Source Title"} Source Title
      .card.card-sard.text-center
        .card-body
          %h5.card-title Card title
          %p.card-text This card has a regular title and short paragraphy of text below it.
          %p.card-text
            %small.text-muted Last updated 3 mins ago
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
      .card.card-sard.p-3.text-right
        %blockquote.blockquote.mb-0
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          %footer.blockquote-footer
            %small.text-muted
              Someone famous in
              %cite{:title => "Source Title"} Source Title
      .card.card-sard
        .card-body
          %h5.card-title Card title
          %p.card-text This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.
          %p.card-text
            %small.text-muted Last updated 3 mins ago



