.row
  .col-sm-12
    %h1#checkboxes-anchor.bs-anchor Checkboxes and Radios
    %p Standard Checkboxes and Radios are by default quite small. We have created a new set, that with a little bit of extra code added, will make them stand are out better.
    %p Below you will see the Default and SARD styles next to each other.

  -# Standard =====
  .col-sm-6
    %h3 Standard Style
    %h4 Default (stacked)
    .form-check.mb-3
      %input#defaultCheck1.form-check-input{:type => "checkbox", :value => ""}/
      %label.form-check-label{:for => "defaultCheck1"}
        Default checkbox
    .form-check
      %input#defaultCheck2.form-check-input{:disabled => "disabled", :type => "checkbox", :value => ""}/
      %label.form-check-label{:for => "defaultCheck2"}
        Disabled checkbox

    .form-check.mb-3
      %input#exampleRadios1.form-check-input{:checked => "checked", :name => "exampleRadios", :type => "radio", :value => "option1"}/
      %label.form-check-label{:for => "exampleRadios1"}
        Default radio
    .form-check
      %input#exampleRadios2.form-check-input{:name => "exampleRadios", :type => "radio", :value => "option2"}/
      %label.form-check-label{:for => "exampleRadios2"}
        Second default radio
    .form-check.mb-3
      %input#exampleRadios3.form-check-input{:disabled => "disabled", :name => "exampleRadios", :type => "radio", :value => "option3"}/
      %label.form-check-label{:for => "exampleRadios3"}
        Disabled radio

    %h4 Inline
    .form-check.form-check-inline.mb-3
      %input#inlineRadio1.form-check-input{:name => "inlineRadioOptions", :type => "radio", :value => "option1"}/
      %label.form-check-label{:for => "inlineRadio1"} 1
    .form-check.form-check-inline
      %input#inlineRadio2.form-check-input{:name => "inlineRadioOptions", :type => "radio", :value => "option2"}/
      %label.form-check-label{:for => "inlineRadio2"} 2
    .form-check.form-check-inline
      %input#inlineRadio3.form-check-input{:disabled => "disabled", :name => "inlineRadioOptions", :type => "radio", :value => "option3"}/
      %label.form-check-label{:for => "inlineRadio3"} 3 (disabled)

    %h4 Without labels
    %p Add .position-static to inputs within .form-check that don’t have any label text. Remember to still provide some form of label for assistive technologies (for instance, using aria-label).

    .form-check
      %input#blankCheckbox.form-check-input.position-static{"aria-label" => "...", :type => "checkbox", :value => "option1"}/
    .form-check
      %input#blankRadio1.form-check-input.position-static{"aria-label" => "...", :name => "blankRadio", :type => "radio", :value => "option1"}/

  -# SARD =========
  .col-sm-6
    %h3 SARD style
    %h4 Default (stacked)
    .form-check.mb-3
      %input#defaultCheck1.form-check-input{:type => "checkbox", :value => ""}/
      %label.form-check-label{:for => "defaultCheck1"}
        Default checkbox
    .form-check
      %input#defaultCheck2.form-check-input{:disabled => "disabled", :type => "checkbox", :value => ""}/
      %label.form-check-label{:for => "defaultCheck2"}
        Disabled checkbox

    .form-check.mb-3
      %input#exampleRadios1.form-check-input{:checked => "checked", :name => "exampleRadios", :type => "radio", :value => "option1"}/
      %label.form-check-label{:for => "exampleRadios1"}
        Default radio
    .form-check
      %input#exampleRadios2.form-check-input{:name => "exampleRadios", :type => "radio", :value => "option2"}/
      %label.form-check-label{:for => "exampleRadios2"}
        Second default radio
    .form-check.mb-3
      %input#exampleRadios3.form-check-input{:disabled => "disabled", :name => "exampleRadios", :type => "radio", :value => "option3"}/
      %label.form-check-label{:for => "exampleRadios3"}
        Disabled radio

    %h4 Inline
    .form-check.form-check-inline.mb-3
      %input#inlineRadio1.form-check-input{:name => "inlineRadioOptions", :type => "radio", :value => "option1"}/
      %label.form-check-label{:for => "inlineRadio1"} 1
    .form-check.form-check-inline
      %input#inlineRadio2.form-check-input{:name => "inlineRadioOptions", :type => "radio", :value => "option2"}/
      %label.form-check-label{:for => "inlineRadio2"} 2
    .form-check.form-check-inline
      %input#inlineRadio3.form-check-input{:disabled => "disabled", :name => "inlineRadioOptions", :type => "radio", :value => "option3"}/
      %label.form-check-label{:for => "inlineRadio3"} 3 (disabled)

    %h4 Without labels
    %p Add .position-static to inputs within .form-check that don’t have any label text. Remember to still provide some form of label for assistive technologies (for instance, using aria-label).

    .form-check
      %input#blankCheckbox.form-check-input.position-static{"aria-label" => "...", :type => "checkbox", :value => "option1"}/
    .form-check
      %input#blankRadio1.form-check-input.position-static{"aria-label" => "...", :name => "blankRadio", :type => "radio", :value => "option1"}/

