.row
  .col-sm-12
    %h1#collapse-anchor.bs-anchor Collapse

.row
  .col-sm-12
    %p
      %a{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
        Link with href
      &nbsp;&nbsp;
      %button.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample", "data-toggle" => "collapse", :type => "button"}
        Button with data-target
    #collapseExample.collapse
      .card.card-body
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

  
%hr
.row
  .col-sm-12
    %h4 Collapsable Cards/Panels
    %p Collapsable Cards or Panels are single panels that are collapsable. If you have multiples of they will all open or collapse individually, unlike Accordions (see bellow), that are grouped and will close when another is opened.
    %p
      Add the class of 
      %code .collapsable
      to the .card as well as the usual collapse elements inside.
    .card.card-sard.collapsable
      #headingOne.card-header
        %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
          Collapsible Item #1 - Card
      #collapseOne.collapse.show{"aria-labelledby" => "headingOne", "data-parent" => "#collapseExample"}
        .card-body
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .panel.panel-sard.collapsable
      #headingTwo.panel-header
        %button.btn.btn-link.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-target" => "#collapseTwo", "data-toggle" => "collapse", :type => "button"}
          Collapsible Item #2 - Panel
      #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#collapseExample"}
        .panel-body
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .card.card-sard.collapsable
      #headingThree.card-header
        %button.btn.btn-link.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-target" => "#collapseThree", "data-toggle" => "collapse", :type => "button"}
          Collapsible Item #3 - Fieldset
      #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#collapseExample"}
        .card-body
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.



%hr
.row
  .col-sm-6
    %form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post"}
      %fieldset.sa-fieldset
        %legend Stand alone fieldset
        .form-group.border-bottom
          %label{:for => "user_login"} Email
          %input#user_login.form-control{:name => "user[login]", :size => "30", :type => "text"}/
        
        .form-group
          %label{:for => "user_password"} Password
          %input#user_password.form-control{:name => "user[password]", :size => "30", :type => "password"}/
          %a{:href => "/users/password/new"} Forgot your password?
          %br/
      %fieldset
        .form-group.no-border.login-btns
          %input.btn.btn-client.btn-bold.pull-right{:name => "commit", :type => "submit", :value => "Sign in"}/
          %button.btn.btn-primary{:type => "submit"} Submit

            

%hr
.row
  .col-sm-12
    %h4 Accordions
    %p 
      Using the card component, you can extend the default collapse behavior to create an accordion. To properly achieve the accordion style, be sure to use 
      %code .accordion
      as a wrapper.

    #accordionExample.accordion
      .card.card-sard
        #headingOne.card-header
          %a{"aria-controls" => "accordionOne", "aria-expanded" => "true", "data-target" => "#accordionOne", "data-toggle" => "collapse"}
            Accordion Group Item #1
        #accordionOne.collapse.show{"aria-labelledby" => "headingOne", "data-parent" => "#accordionExample"}
          .card-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      .card.card-sard
        #headingTwo.card-header
          %button.btn.btn-link.collapsed{"aria-controls" => "accordionTwo", "aria-expanded" => "false", "data-target" => "#accordionTwo", "data-toggle" => "collapse", :type => "button"}
            Accordion Group Item #2
        #accordionTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionExample"}
          .card-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      .card.card-sard
        #headingThree.card-header
          %button.btn.btn-link.collapsed{"aria-controls" => "accordionThree", "aria-expanded" => "false", "data-target" => "#accordionThree", "data-toggle" => "collapse", :type => "button"}
            Accordion Group Item #3
        #accordionThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordionExample"}
          .card-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

    // Test
    #accordionExampleTwo.accordion
      .panel.panel-sard
        #headingFour.panel-header
          %a{"aria-controls" => "accordionFour", "aria-expanded" => "true", "data-target" => "#accordionFour", "data-toggle" => "collapse"}
            Accordion Group Item #4 - Panels
        #accordionFour.collapse.show{"aria-labelledby" => "headingFour", "data-parent" => "#accordionExampleTwo"}
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      .panel.panel-sard
        #headingFive.panel-header
          %button.btn.btn-link.collapsed{"aria-controls" => "accordionFive", "aria-expanded" => "false", "data-target" => "#accordionFive", "data-toggle" => "collapse", :type => "button"}
            Accordion Group Item #5 - Panels
        #accordionFive.collapse{"aria-labelledby" => "headingFive", "data-parent" => "#accordionExampleTwo"}
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      .panel.panel-sard
        #headingSix.panel-header
          %button.btn.btn-link.collapsed{"aria-controls" => "accordionSix", "aria-expanded" => "false", "data-target" => "#accordionSix", "data-toggle" => "collapse", :type => "button"}
            Accordion Group Item #6 - Panels
        #accordionSix.collapse{"aria-labelledby" => "headingSix", "data-parent" => "#accordionExampleTwo"}
          .panel-body
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.