.row
  .col-sm-12
    %h1#dropdowns-anchor.bs-anchor Dropdowns

.row
  .col-sm-12
    %h4 Textlink dropdown
    %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "link"}
      Action
    .dropdown-menu
      %a.dropdown-item{:href => "#/"} Action
      %a.dropdown-item{:href => "#/"} Another action
      %a.dropdown-item.active{:href => "#/"} Active
      .dropdown-divider
      %h6.dropdown-header Dropdown header
      %a.dropdown-item{:href => "#/"} Separated link


%hr
.row
  .col-sm-12    
    %h4 Button dropdowns
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        User
      .dropdown-menu
        %a.dropdown-item{:href => "#/"} Action
        %a.dropdown-item{:href => "#/"} Another action
        %a.dropdown-item.active{:href => "#/"} Active
        .dropdown-divider
        %h6.dropdown-header Dropdown header
        %a.dropdown-item{:href => "#/"} Separated link

    .btn-group
      %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Admin
      .dropdown-menu
        %h6.dropdown-header Dropdown header
        %a.dropdown-item{:href => "#/"} Action
        %a.dropdown-item{:href => "#/"} Another action
        %a.dropdown-item.active{:href => "#/"} Active
        .dropdown-divider
        %a.dropdown-item{:href => "#/"} Separated link

    .btn-group
      %button.btn.btn-success.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Success
      .dropdown-menu
        %a.dropdown-item{:href => "#/"} Action
        %a.dropdown-item{:href => "#/"} Another action
        %a.dropdown-item.active{:href => "#/"} Active
        .dropdown-divider
        %h6.dropdown-header Dropdown header
        %a.dropdown-item{:href => "#/"} Separated link

    .btn-group
      %button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Info
      .dropdown-menu
        %h6.dropdown-header Dropdown header
        %a.dropdown-item{:href => "#/"} Action
        %a.dropdown-item{:href => "#/"} Another action
        %a.dropdown-item.active{:href => "#/"} Active
        .dropdown-divider
        %a.dropdown-item{:href => "#/"} Separated link

    .btn-group
      %button.btn.btn-warning.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Warning
      .dropdown-menu
        %a.dropdown-item{:href => "#/"} Action
        %a.dropdown-item{:href => "#/"} Another action
        %a.dropdown-item.active{:href => "#/"} Active
        .dropdown-divider
        %h6.dropdown-header Dropdown header
        %a.dropdown-item{:href => "#/"} Separated link
      
    .btn-group
      %button.btn.btn-danger.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Danger
      .dropdown-menu
        .dropdown-header Dropdown header
        %a.dropdown-item{:href => "#/"} Action
        %a.dropdown-item{:href => "#/"} Another action
        %a.dropdown-item.active{:href => "#/"} Active
        .dropdown-divider
        %a.dropdown-item{:href => "#/"} Separated link

    %hr

    %h5 Sizing
    / Large button groups (default and split)
    .btn-group
      %button.btn.btn-primary.btn-lg.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Large button
      .dropdown-menu
        %button.dropdown-item{:type => "button"} Action
        %button.dropdown-item{:type => "button"} Another action
        %button.dropdown-item{:type => "button"} Something else here
    .btn-group
      %button.btn.btn-primary.btn-lg{:type => "button"}
        Large split button
      %button.btn.btn-lg.btn-primary.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.sr-only Toggle Dropdown
      .dropdown-menu
        %button.dropdown-item{:type => "button"} Action
        %button.dropdown-item{:type => "button"} Another action
        %button.dropdown-item{:type => "button"} Something else here
    %p
    / Small button groups (default and split)
    .btn-group
      %button.btn.btn-primary.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Small button
      .dropdown-menu
        %button.dropdown-item{:type => "button"} Action
        %button.dropdown-item{:type => "button"} Another action
        %button.dropdown-item{:type => "button"} Something else here
    .btn-group
      %button.btn.btn-primary.btn-sm{:type => "button"}
        Small split button
      %button.btn.btn-sm.btn-primary.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.sr-only Toggle Dropdown
      .dropdown-menu
        %button.dropdown-item{:type => "button"} Action
        %button.dropdown-item{:type => "button"} Another action
        %button.dropdown-item{:type => "button"} Something else here

    %hr

    %h5 Responsive alignment
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-display" => "static", "data-toggle" => "dropdown", :type => "button"}
        Left-aligned but right aligned when large screen
      .dropdown-menu.dropdown-menu-lg-right
        %button.dropdown-item{:type => "button"} Action
        %button.dropdown-item{:type => "button"} Another action
        %button.dropdown-item{:type => "button"} Something else here
    %p
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-display" => "static", "data-toggle" => "dropdown", :type => "button"}
        Right-aligned but left aligned when large screen
      .dropdown-menu.dropdown-menu-right.dropdown-menu-lg-left
        %button.dropdown-item{:type => "button"} Action
        %button.dropdown-item{:type => "button"} Another action
        %button.dropdown-item{:type => "button"} Something else here


    %hr

    %h5 Text & Forms
    %p 
      Dropdowns containing text or forms, should have their content in a wrapper of 
      %code .dropwown-menu-item
    
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Text
      .dropdown-menu
        .dropwown-menu-item
          %p
            Some example text that's free-flowing within the dropdown menu.
          %p.mb-0
            And this is more example text.
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Form
      .dropdown-menu
        %form.dropwown-menu-item
          .form-group
            %label{:for => "exampleDropdownFormEmail1"} Email address
            %input#exampleDropdownFormEmail1.form-control{:placeholder => "email@example.com", :type => "email"}/
          .form-group
            %label{:for => "exampleDropdownFormPassword1"} Password
            %input#exampleDropdownFormPassword1.form-control{:placeholder => "Password", :type => "password"}/
          .form-group
            .form-check
              %input#dropdownCheck.form-check-input{:type => "checkbox"}/
              %label.form-check-label{:for => "dropdownCheck"}
                Remember me
          %button.btn.btn-primary.mt-3{:type => "submit"} Sign in
        .dropdown-divider
        %a.dropdown-item{:href => "#/"} New around here? Sign up
        %a.dropdown-item{:href => "#/"} Forgot password?

