.row
  .col-sm-12
    %h1#links.bs-anchor Links

.row
  .col-sm-12
    %p
      This is an example of a standard
      %a{href: "#/"} Text Link

%hr

.row
  .col-sm-12
    %h4 Links in Cards, Panels and Fieldsets

  .col-sm-4
    %h5 Links in Cards
    .card.card-sard
      .card-header 
        %a{href: "#/"} Link in Card Header
      .card-body
        %h5.card-title 
          %a{href: "#/"} Link in Card Title
        %p.card-text 
          Standard
          %a{href: "#/"} Link in Card Text
        %p 
          %a{href: "#/"} Link in Card Body
      .card-body.border-top
        %h5.card-title
          Link icons
        %a.link-pdf{href: "#/"}Direct (a.link-pdf) Link to pdf, this a really, really long title so it it wrap onto the next line.
        %p.link-pdf
          %a{href: "#/"} Link within a paragraph (p.link-pdf), Some long title
        %a.pdf{href: "#/"}Direct (a.pdf) Link to pdf, this a really, really long title so it it wrap onto the next line.
        %p.pdf
          %a{href: "#/"} Link within a paragraph (p.pdf), Some long title, so it wraps around to show the indent.

      .card-footer
        %a{href: "#/"} Link in Card Footer


  .col-sm-4
    %h5 Links in Panels
    .panel.card-sard
      .panel-header 
        %a{href: "#/"} Link in Panel Header
      .panel-body
        %h5.panel-title 
          %a{href: "#/"} Link in Panel Title
        %p.panel-text 
          Standard
          %a{href: "#/"} Link in Panel Text
        %p 
          %a{href: "#/"} Link in Panel Body
      .panel-footer
        %a{href: "#/"} Link in Panel Footer


  .col-sm-4 
    %h5 Links in Fieldsets 
    %fieldset.sa-fieldset
      %legend 
        Standard
        %a{href: "#/"} Link in Legend
      .form-group
        %label
          %a{href: "#/"} Link in Label
        %br/
        %p
          Standard
          %a{href: "#/"} Link in Form Group
      .form-footer
        Standard
        %a{href: "#/"} Link in Footer
