
.row
  .col-sm-12
    %h1#list-group-anchor.bs-anchor List Groups
    %p These are List Groups placed within either Cards, Panels or Fieldsets.
.row
  .col-sm-6
    .card.card-sard
      .card-header Basic example
      .card-body
        %ul.list-group
          %li.list-group-item Cras justo odio
          %li.list-group-item Dapibus ac facilisis in
          %li.list-group-item Morbi leo risus
          %li.list-group-item Porta ac consectetur ac
          %li.list-group-item Vestibulum at eros
  .col-sm-6
    .card.card-sard
      .card-header Flush example
      .card-body
        %ul.list-group.list-group-flush
          %li.list-group-item Cras justo odio
          %li.list-group-item Dapibus ac facilisis in
          %li.list-group-item Morbi leo risus
          %li.list-group-item Porta ac consectetur ac
          %li.list-group-item Vestibulum at eros

%hr
.row
  .col-sm-12
    .card.card-sard
      .card-header Horizontal
      .card-body 
        %ul.list-group.list-group-horizontal
          %li.list-group-item Cras justo odio
          %li.list-group-item Dapibus ac facilisis in
          %li.list-group-item Morbi leo risus

  .col-sm-12
    .card.card-sard
      .card-header Horizontal / Flush
      .card-body 
        %ul.list-group.list-group-flush.list-group-horizontal
          %li.list-group-item Cras justo odio
          %li.list-group-item Dapibus ac facilisis in
          %li.list-group-item Morbi leo risus

%hr

.row
  .col-sm-6
    .card.card-sard
      .card-header Contextual classes
      .card-body 
        .list-group
          %a.list-group-item.list-group-item-action{href: "#/"} Dapibus ac facilisis in
          %a.list-group-item.list-group-item-action.list-group-item-primary{href: "#/"} A simple primary list group item
          %a.list-group-item.list-group-item-action.list-group-item-secondary{href: "#/"} A simple secondary list group item
          %a.list-group-item.list-group-item-action.list-group-item-success{href: "#/"} A simple success list group item
          %a.list-group-item.list-group-item-action.list-group-item-danger{href: "#/"} A simple danger list group item
          %a.list-group-item.list-group-item-action.list-group-item-warning{href: "#/"} A simple warning list group item
          %a.list-group-item.list-group-item-action.list-group-item-info{href: "#/"} A simple info list group item
          %a.list-group-item.list-group-item-action.list-group-item-light{href: "#/"} A simple light list group item
          %a.list-group-item.list-group-item-action.list-group-item-dark{href: "#/"} A simple dark list group item
  .col-sm-6
    .card.card-sard
      .card-header With badges
      .card-body 
        %ul.list-group.mb-3
          %li.list-group-item.d-flex.justify-content-between.align-items-center
            Cras justo odio
            %span.badge.badge-trust.badge-pill 14
          %li.list-group-item.d-flex.justify-content-between.align-items-center
            Dapibus ac facilisis in
            %span.badge.badge-trust.badge-pill 2
          %li.list-group-item.d-flex.justify-content-between.align-items-center
            Morbi leo risus
            %span.badge.badge-trust.badge-pill 1

    .card.card-sard
      .card-header Flush
      .card-body 
        %ul.list-group.list-group-flush
          %li.list-group-item.d-flex.justify-content-between.align-items-center
            Cras justo odio
            %span.badge.badge-trust.badge-pill 14
          %li.list-group-item.d-flex.justify-content-between.align-items-center
            Dapibus ac facilisis in
            %span.badge.badge-trust.badge-pill 2
          %li.list-group-item.d-flex.justify-content-between.align-items-center
            Morbi leo risus
            %span.badge.badge-trust.badge-pill 1

%hr

.row
  .col-sm-12
    .card.card-sard
      .card-header Custom content
      .card-body 
        .list-group
          %a.list-group-item.list-group-item-action.active{:href => "#/"}
            .d-flex.w-100.justify-content-between
              %h5.mb-1 List group item heading
              %small 3 days ago
            %p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            %small Donec id elit non mi porta.
          %a.list-group-item.list-group-item-action{:href => "#/"}
            .d-flex.w-100.justify-content-between
              %h5.mb-1 List group item heading
              %small.text-muted 3 days ago
            %p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            %small.text-muted Donec id elit non mi porta.
          %a.list-group-item.list-group-item-action{:href => "#/"}
            .d-flex.w-100.justify-content-between
              %h5.mb-1 List group item heading
              %small.text-muted 3 days ago
            %p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            %small.text-muted Donec id elit non mi porta.

%hr
.row
  .col-sm-12
    .card.card-sard
      .card-header JavaScript behavior
      .card-body
        .row
          .col-4
            #list-tab.list-group{:role => "tablist"}
              %a#list-home-list.list-group-item.list-group-item-action.active{"aria-controls" => "home", "data-toggle" => "list", :href => "#list-home-2", :role => "tab"} Home
              %a#list-profile-list.list-group-item.list-group-item-action{"aria-controls" => "profile", "data-toggle" => "list", :href => "#list-profile-2", :role => "tab"} Profile
              %a#list-messages-list.list-group-item.list-group-item-action{"aria-controls" => "messages", "data-toggle" => "list", :href => "#list-messages-2", :role => "tab"} Messages
              %a#list-settings-list.list-group-item.list-group-item-action{"aria-controls" => "settings", "data-toggle" => "list", :href => "#list-settings-2", :role => "tab"} Settings
          .col-8
            #nav-tabContent.tab-content
              #list-home-2.tab-pane.fade.show.active{"aria-labelledby" => "list-home-list", :role => "tabpanel"} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tortor id eros pulvinar iaculis posuere sit amet nulla. Aenean malesuada lacus id libero rutrum, eu elementum mauris ultrices. Cras vel imperdiet ante. Sed eget nisi ante. Aenean dapibus arcu vel ex molestie convallis sit amet vel sem. Vivamus vitae magna non dolor pulvinar mollis. Suspendisse lacinia tortor sed cursus finibus. Aenean tellus turpis, accumsan a egestas ac, faucibus eget lorem. Duis odio diam, iaculis eget est sed, tincidunt malesuada arcu. Nulla facilisi. Donec porttitor, diam quis feugiat vestibulum, leo eros malesuada arcu, id congue magna diam molestie est. In eget accumsan justo. Aliquam id sapien porta, tempor est sit amet, varius lectus. Vestibulum maximus consequat quam, a mollis ante finibus vel.
              
              #list-profile-2.tab-pane.fade{"aria-labelledby" => "list-profile-list", :role => "tabpanel"} Vivamus mattis nunc a quam ultricies, vitae posuere elit malesuada. Aliquam erat volutpat. In mauris nulla, molestie ac fermentum et, pellentesque non lacus. Fusce lacinia felis at venenatis efficitur. Sed facilisis metus sit amet urna pretium efficitur. Aenean eros orci, rhoncus quis suscipit a, fringilla sed ipsum. Nunc nec odio euismod, convallis nunc sed, sollicitudin lacus. Vestibulum vulputate ante nunc, vel ultricies lorem consectetur in. Duis dignissim suscipit massa sed blandit. Aenean a fringilla neque. Pellentesque suscipit quis diam at posuere. Vivamus ac orci rutrum, lacinia nulla eget, pellentesque libero. Pellentesque et dapibus ligula. Donec egestas rhoncus risus, elementum fringilla odio interdum sit amet. Fusce sollicitudin dolor eget enim eleifend fringilla.

              #list-messages-2.tab-pane.fade{"aria-labelledby" => "list-messages-list", :role => "tabpanel"} Vestibulum quis odio vestibulum, aliquet nisl ut, dapibus nunc. Pellentesque volutpat et nisi mattis tempor. Suspendisse faucibus sit amet ipsum vitae molestie. Aenean ut massa sem. Phasellus et condimentum elit. Pellentesque sit amet feugiat leo. Ut aliquam eget erat vel posuere. Vivamus at tincidunt augue, ac maximus mi.

              #list-settings-2.tab-pane.fade{"aria-labelledby" => "list-settings-list", :role => "tabpanel"} Fusce porta semper tortor, non luctus lorem porttitor vitae. Donec sollicitudin turpis ut sem egestas auctor eu sed leo. Cras lacinia elit ut nibh rhoncus vestibulum vel id leo. Aliquam porta, massa quis viverra fringilla, est eros sodales sem, quis laoreet risus purus in arcu. Ut quis est vestibulum, ultrices nisl ut, hendrerit mi. Ut hendrerit ac elit molestie cursus. Vivamus vel metus sed lacus dictum maximus ac et lacus. Morbi libero erat, porttitor non nibh sit amet, faucibus sodales justo. Vestibulum ut risus pellentesque, semper lorem id, sagittis sem. Cras aliquet risus at ex euismod facilisis. Vestibulum vulputate, orci quis blandit pellentesque, tortor turpis finibus risus, in lobortis risus dolor vel dui. Phasellus finibus et urna vitae tincidunt. Vivamus euismod augue urna.




