.row
  .col-sm-12
    %h1#modal-anchor.bs-anchor Modals

    %h4 Basic Modal
    / Button trigger modal
    %button.btn.btn-default{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
      Launch demo modal
    / Modal
    #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %h5#exampleModalLabel.modal-title Modal title
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            This is the basic Modal.
          .modal-footer
            %button.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-sm.btn-save{:type => "button"} Save changes

    %hr

    %h4 Scrolling long content
    %p When modals become too long for the user’s viewport or device, they scroll independent of the page itself. Try the demo below to see what we mean.

    / Button trigger modal
    %button.btn.btn-default{"data-target" => "#exampleModalLong", "data-toggle" => "modal", :type => "button"}
      Scrolling long content
    / Modal
    #exampleModalLong.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLongTitle", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %h5#exampleModalLongTitle.modal-title 
              Scrolling 
              %br/
              long content
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.
            %hr/
            %ul
              %li List Item One
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %hr/
            %h6.base ul.no-bullet
            %ul.no-bullet
              %li List Item One
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %hr/
            %h1.base H1 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h2.base H2 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h3.base H3 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h4.base H4 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h5.base H5 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h6.base H6 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus. 
            %hr/
            %p
              This is an example of a standard
              %a{href: "#/"} Text Link
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.
            %hr/
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.

          .modal-footer
            %button.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-sm.btn-save{:type => "button"} Save changes

    %hr

    %h4 Scrollable Modal
    %p 
      You can also create a scrollable modal that allows scroll the modal body by adding 
      %code .modal-dialog-scrollable 
      to 
      %code .modal-dialog
      \.
    / Button trigger modal
    %button.btn.btn-default{"data-target" => "#exampleModalScrollable", "data-toggle" => "modal", :type => "button"}
      Scrollable Modal
    / Modal
    #exampleModalScrollable.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalScrollableTitle", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-scrollable{:role => "document"}
        .modal-content
          .modal-header
            %h5#exampleModalScrollableTitle.modal-title Scrollable Modal
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tortor id eros pulvinar iaculis posuere sit amet nulla. Aenean malesuada lacus id libero rutrum, eu elementum mauris ultrices. Cras vel imperdiet ante. Sed eget nisi ante. Aenean dapibus arcu vel ex molestie convallis sit amet vel sem. Vivamus vitae magna non dolor pulvinar mollis. Suspendisse lacinia tortor sed cursus finibus. Aenean tellus turpis, accumsan a egestas ac, faucibus eget lorem. Duis odio diam, iaculis eget est sed, tincidunt malesuada arcu. Nulla facilisi. Donec porttitor, diam quis feugiat vestibulum, leo eros malesuada arcu, id congue magna diam molestie est. In eget accumsan justo. Aliquam id sapien porta, tempor est sit amet, varius lectus. Vestibulum maximus consequat quam, a mollis ante finibus vel.

            %p
              Vivamus mattis nunc a quam ultricies, vitae posuere elit malesuada. Aliquam erat volutpat. In mauris nulla, molestie ac fermentum et, pellentesque non lacus. Fusce lacinia felis at venenatis efficitur. Sed facilisis metus sit amet urna pretium efficitur. Aenean eros orci, rhoncus quis suscipit a, fringilla sed ipsum. Nunc nec odio euismod, convallis nunc sed, sollicitudin lacus. Vestibulum vulputate ante nunc, vel ultricies lorem consectetur in. Duis dignissim suscipit massa sed blandit. Aenean a fringilla neque. Pellentesque suscipit quis diam at posuere. Vivamus ac orci rutrum, lacinia nulla eget, pellentesque libero. Pellentesque et dapibus ligula. Donec egestas rhoncus risus, elementum fringilla odio interdum sit amet. Fusce sollicitudin dolor eget enim eleifend fringilla.
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tortor id eros pulvinar iaculis posuere sit amet nulla. Aenean malesuada lacus id libero rutrum, eu elementum mauris ultrices. Cras vel imperdiet ante. Sed eget nisi ante. Aenean dapibus arcu vel ex molestie convallis sit amet vel sem. Vivamus vitae magna non dolor pulvinar mollis. Suspendisse lacinia tortor sed cursus finibus. Aenean tellus turpis, accumsan a egestas ac, faucibus eget lorem. Duis odio diam, iaculis eget est sed, tincidunt malesuada arcu. Nulla facilisi. Donec porttitor, diam quis feugiat vestibulum, leo eros malesuada arcu, id congue magna diam molestie est. In eget accumsan justo. Aliquam id sapien porta, tempor est sit amet, varius lectus. Vestibulum maximus consequat quam, a mollis ante finibus vel.

            %p
              Vivamus mattis nunc a quam ultricies, vitae posuere elit malesuada. Aliquam erat volutpat. In mauris nulla, molestie ac fermentum et, pellentesque non lacus. Fusce lacinia felis at venenatis efficitur. Sed facilisis metus sit amet urna pretium efficitur. Aenean eros orci, rhoncus quis suscipit a, fringilla sed ipsum. Nunc nec odio euismod, convallis nunc sed, sollicitudin lacus. Vestibulum vulputate ante nunc, vel ultricies lorem consectetur in. Duis dignissim suscipit massa sed blandit. Aenean a fringilla neque. Pellentesque suscipit quis diam at posuere. Vivamus ac orci rutrum, lacinia nulla eget, pellentesque libero. Pellentesque et dapibus ligula. Donec egestas rhoncus risus, elementum fringilla odio interdum sit amet. Fusce sollicitudin dolor eget enim eleifend fringilla.
          .modal-footer
            %button.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-sm.btn-save{:type => "button"} Save changes

    %hr

    %h4 Vertically centered
    %p Add .modal-dialog-centered to .modal-dialog to vertically center the modal.
    / Button trigger modal
    %button.btn.btn-default{"data-target" => "#exampleModalCenter", "data-toggle" => "modal", :type => "button"}
      Vertically centered
    / Modal
    #exampleModalCenter.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-centered{:role => "document"}
        .modal-content
          .modal-header
            %h5#exampleModalCenterTitle.modal-title Vertically centered
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            This is a vertically centered Modal.
          .modal-footer
            %button.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-sm.btn-save{:type => "button"} Save changes

    %hr

    %h4 Tooltips and popovers
    %p Tooltips and popovers can be placed within modals as needed. When modals are closed, any tooltips and popovers within are also automatically dismissed.

    / Button trigger modal
    %button.btn.btn-default{"data-target" => "#exampleModalToolTips", "data-toggle" => "modal", :type => "button"}
      Tooltips and popovers
    / Modal
    #exampleModalToolTips.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalToolTipTitle", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-centered{:role => "document"}
        .modal-content
          .modal-header
            %h5#exampleModalToolTipTitle.modal-title Tooltips and popovers
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %h5 Popover in a modal
            %p
              This
              %a.btn.btn-secondary.popover-test{"aria-describedby" => "popover166647", "data-container" => "#exampleModalPopovers", "data-content" => "Popover body content is set in this attribute.", "data-original-title" => "Popover title", :href => "#", :role => "button", :title => ""} button
              triggers a popover on click.
            %hr/
            %h5 Tooltips in a modal
            %p
              %a.tooltip-test{"data-container" => "#exampleModalPopovers", "data-original-title" => "Tooltip", :href => "#", :title => ""} This link
              and
              %a.tooltip-test{"data-container" => "#exampleModalPopovers", "data-original-title" => "Tooltip", :href => "#", :title => ""} that link
              have tooltips on hover.
          .modal-footer
            %button.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-sm.btn-save{:type => "button"} Save changes

%hr/
.row
  .col-sm-12
    %h2 SARD Modals
    %p This is a selction of SARD specific modals.

    / Button trigger modal
    %button.btn.btn-info{"data-target" => "#modalInfo", "data-toggle" => "modal", :type => "button"}
      Modal Info
    / Modal
    #modalInfo.modal.modal-info.fade{"aria-hidden" => "true", "aria-labelledby" => "modalInfoTitle", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-scrollable{:role => "document"}
        .modal-content
          .modal-header
            %h5#modalInfoTitle.modal-title 
              Modal Info
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.
            %hr/
            %ul
              %li List Item One
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %hr/
            %h6.base ul.no-bullet
            %ul.no-bullet
              %li List Item One
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %hr/
            %h1.base H1 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h2.base H2 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h3.base H3 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h4.base H4 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h5.base H5 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h6.base H6 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus. 
            %hr/
            %p
              This is an example of a standard
              %a{href: "#/"} Text Link
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.
            %hr/
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.

          .modal-footer
            %button.btn.btn-sm.btn-info{:type => "button"} btn info
            %button.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-sm.btn-save{:type => "button"} Save changes

    / Button trigger modal
    %button.btn.btn-trust{"data-target" => "#modalTrust", "data-toggle" => "modal", :type => "button"}
      Modal Trust
    / Modal
    #modalTrust.modal.modal-trust.fade{"aria-hidden" => "true", "aria-labelledby" => "modalTrustTitle", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-scrollable{:role => "document"}
        .modal-content
          .modal-header
            %h5#modalTrustTitle.modal-title 
              Modal Trust
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.
            %hr/
            %ul
              %li List Item One
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %hr/
            %h6.base ul.no-bullet
            %ul.no-bullet
              %li List Item One
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %hr/
            %h1.base H1 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h2.base H2 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h3.base H3 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h4.base H4 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h5.base H5 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h6.base H6 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus. 
            %hr/
            %p
              This is an example of a standard
              %a{href: "#/"} Text Link
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.
            %hr/
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.

          .modal-footer
            %button.btn.btn-sm.btn-info{:type => "button"} btn info
            %button.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-sm.btn-save{:type => "button"} Save changes

    / Button trigger modal
    %button.btn.btn-user{"data-target" => "#modalUser", "data-toggle" => "modal", :type => "button"}
      Modal User
    / Modal
    #modalUser.modal.modal-user.fade{"aria-hidden" => "true", "aria-labelledby" => "modalUserTitle", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-scrollable{:role => "document"}
        .modal-content
          .modal-header
            %h5#modalUserTitle.modal-title 
              Modal User
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.
            %hr/
            %ul
              %li List Item One
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %hr/
            %h6.base ul.no-bullet
            %ul.no-bullet
              %li List Item One
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %hr/
            %h1.base H1 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h2.base H2 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h3.base H3 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h4.base H4 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h5.base H5 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h6.base H6 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus. 
            %hr/
            %p
              This is an example of a standard
              %a{href: "#/"} Text Link
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.
            %hr/
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.

          .modal-footer
            %button.btn.btn-sm.btn-info{:type => "button"} btn info
            %button.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-sm.btn-save{:type => "button"} Save changes

    / Button trigger modal
    %button.btn.btn-admin{"data-target" => "#modalAdmin", "data-toggle" => "modal", :type => "button"}
      Modal Admin
    / Modal
    #modalAdmin.modal.modal-admin.fade{"aria-hidden" => "true", "aria-labelledby" => "modalAdminTitle", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-scrollable{:role => "document"}
        .modal-content
          .modal-header
            %h5#modalAdminTitle.modal-title 
              Modal Admin
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.
            %hr/
            %ul
              %li List Item One
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %hr/
            %h6.base ul.no-bullet
            %ul.no-bullet
              %li List Item One
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %hr/
            %h1.base H1 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h2.base H2 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h3.base H3 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h4.base H4 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h5.base H5 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h6.base H6 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus. 
            %hr/
            %p
              This is an example of a standard
              %a{href: "#/"} Text Link
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.
            %hr/
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.

          .modal-footer
            %button.btn.btn-sm.btn-info{:type => "button"} btn info
            %button.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-sm.btn-save{:type => "button"} Save changes

    / Button trigger modal
    %button.btn.btn-default{"data-target" => "#modalForm", "data-toggle" => "modal", :type => "button"}
      Modal Form
    / Modal
    #modalForm.modal.modal-form.fade{"aria-hidden" => "true", "aria-labelledby" => "modalFormTitle", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-scrollable{:role => "document"}
        .modal-content
          .modal-header
            %h5#modalFormTitle.modal-title 
              Modal Form
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %form#eleave-form.form-horizontal
              %fieldset
                %legend
                  Legend (if needed)
                .form-group.row.border-bottom
                  %label.col-sm-3.control-label{:for => "leave_allowance_name"} Allowance
                  .col-sm-9
                    %select#leave_allowance_name.form-control
                      %option{:value => ""} Choose one...
                      %option{:value => "Annual Leave"} Annual Leave
                      %option{:value => "Study / Professional Leave"} Study / Professional Leave
                      %option{:value => "Test"} Test
                    #leave_allowance_name_errors
                .form-group.row.border-bottom
                  %label.col-sm-3.control-label{:for => "type"} Take/Accrue
                  .col-sm-9
                    %select#type.form-control
                      %option{:value => ""} Choose one...
                      %option{:value => "Take"} Take
                      %option{:value => "Accrue"} Accrue
                    #type_errors
                .form-group.row.border-bottom
                  %label.col-sm-3.control-label{:for => "from_date"} From Date
                  .col-sm-9
                    %input#from_date.form-control.hasDatepicker{:placeholder => "DD/MM/YYYY", :type => "text"}/
                    #from_date_warning
                    #from_date_errors
                .form-group.row.border-bottom
                  %label.col-sm-3.control-label{:for => "start_time"} Start Time
                  .col-sm-9
                    %input#start_time.form-control{:placeholder => "HH:MM", :type => "text"}/
                    #start_time_errors
                .form-group.row.border-bottom
                  %label.col-sm-3.control-label{:for => "until_date"} Until Date
                  .col-sm-9
                    %input#until_date.form-control.hasDatepicker{:placeholder => "DD/MM/YYYY", :type => "text"}/
                    #until_date_errors
                .form-group.row.border-bottom
                  %label.col-sm-3.control-label{:for => "end_time"} End Time
                  .col-sm-9
                    %input#end_time.form-control{:placeholder => "HH:MM", :type => "text"}/
                    #end_time_errors
                .form-group.row.border-bottom
                  %label.col-sm-3.control-label{:for => "days_taken"} Allowance
                  .col-sm-9
                    %input#days_taken.form-control{:placeholder => "0.0", :type => "text"}/
                    #days_taken_errors
                    #days_taken_explanation
                      If incorrect, you must adjust the
                      %span.days_taken_label Allowance Taken
                      according to your contract.
                .form-group.row
                  %label.col-sm-3.control-label{:for => "notes"} Notes
                  .col-sm-9
                    %input#notes.form-control{:type => "text"}/
                    #notes_errors
                    #notes_errors
              %fieldset
                .form-group.row.requested_by
                  %label.col-sm-3{:for => "current_user"} Requested By
                  .col-sm-9
                    %span#current_user Mrs Bella Owen

          .modal-footer
            %button.btn.btn-sm.btn-info{:type => "button"} btn info
            %button.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-sm.btn-save{:type => "button"} Save changes

    / Button trigger modal
    %button.btn.btn-info{"data-target" => "#modalRoles", "data-toggle" => "modal", :type => "button"}
      Modal Roles
    / Modal
    #modalRoles.modal.modal-roles.fade{"aria-hidden" => "true", "aria-labelledby" => "modalRolesTitle", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-scrollable{:role => "document"}
        .modal-content
          -# .modal-header
          -#   %h5#modalRolesTitle.modal-title 
          -#     Modal Roles
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          .modal-body
            %h3 H3 Header
            %p Modal roles, is used specifically in in Admin/Users/Roles & Admin Users/New User/Form. It is created dynamically, so has special styling.
            %p It has no header, instead the header is within the modal-body with a h3 tag.
            %h4 H4 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.
            .divide-rule
            %ul
              %li List Item One
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %hr/
            %ul.no-bullet
              %li ul.no-bullet
              %li List Item Two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus
              %li List Item Three
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. 
            %hr/
            %h1 H1 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h2 H2 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %p H3 is used for the modal header.
            %h4 H4 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h5 H5 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus.
            %h6 H6 Header
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus. 
            %hr/
            %p
              This is an example of a standard
              %a{href: "#/"} Text Link
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit massa eget mi maximus, sed faucibus nisi consequat. Donec placerat mauris eu malesuada consectetur. Pellentesque egestas gravida dolor, eget aliquet dui consectetur ut. Phasellus sollicitudin diam vitae purus commodo, vel commodo leo elementum.         
          .modal-footer
            %button.btn.btn-sm.btn-default{:type => "button"} btn default
            %button.btn.btn-sm.btn-info{:type => "button"} btn info
            %button.btn.btn-sm.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-sm.btn-save{:type => "button"} Save changes