.row
  .col-sm-12
    %h1#panels-anchor Panels


.row
  .col-sm-6
    .panel
      .panel-heading
        %h3 Panel Heading H3
      .panel-body
        %p.last
          %strong Panel Body Text
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec et tortor ornare, imperdiet lacus bibendum, vestibulum erat. Cras vulputate faucibus est id sollicitudin. Duis congue libero odio, eget blandit ante commodo eleifend. Fusce auctor sit amet nibh consectetur molestie. Duis in lobortis lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus sit amet laoreet quam, sed tincidunt nulla. Nullam efficitur orci sed condimentum consectetur. Etiam dapibus libero nibh, sodales mollis tortor semper ut.
      .panel-footer
        Lorem ipsum dolor

  .col-sm-6
    .panel
      .panel-heading
        Panel Heading
      .panel-body
        %p
          %strong Panel Body Text
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec et tortor ornare, imperdiet lacus bibendum, vestibulum erat. Cras vulputate faucibus est id sollicitudin. Duis congue libero odio, eget blandit ante commodo eleifend.
        %p
          Fusce auctor sit amet nibh consectetur molestie. Duis in lobortis lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus sit amet laoreet quam, sed tincidunt nulla. Nullam efficitur orci sed condimentum consectetur. Etiam dapibus libero nibh, sodales mollis tortor semper ut.
      .panel-body
        %p
          %strong 2nd panel body
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taci
      .panel-body.border-bottom
        %p
          %strong 3rd panel body with .border-bottom added
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taci
      .panel-body
        %p
          %strong 4th panel body with HR between paras
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taci
        %hr
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taci

      .panel-footer
        Lorem ipsum dolor

.row
  .col-sm-12
    %hr
    %h3 Cards and Panels for comparison.
  .col-sm-6
    %h4 Card
    .card.card-sard
      .card-header Card Sard / Default
      .card-body.border-bottom
        %h5.card-title .card.card-sard
        %p.card-text 
          This can also be classed as 
          %span.bold .card.card-default.
          %br
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer

    .card.card-sard.outline
      .card-header Card Sard / Default Outline
      .card-body.border-bottom
        %h5.card-title .card.card-sard.outline
        %p.card-text  
          This can also be classed as 
          %span.bold .card.card-default.outline.
          %br
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer

  .col-sm-6
    %h4 Panel
    .panel.panel-sard
      .panel-heading Panel Sard / Default
      .panel-body.border-bottom
        %h5.panel-title .panel.panel-sard
        %p.panel-text 
          This can also be classed as 
          %span.bold .panel.panel-default.
          %br
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .panel-body
        %h5.panel-title 2nd Panel body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .panel-footer
        Panel Footer

    .panel.panel-sard.outline
      .panel-heading Panel Sard / Default Outline
      .panel-body.border-bottom
        %h5.panel-title .panel.panel-sard
        %p.panel-text 
          This can also be classed as 
          %span.bold .panel.panel-default.
          %br
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .panel-body
        %h5.panel-title 2nd Panel body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .panel-footer
        Panel Footer

