// sard-nav-tabs ================================

// Elements specific to a page can be found in their relative page css

$sa-tab-bg:               $sa-grey-12;

$tab-colour:              $sa-grey-03;
$tab-colour-hover:        $sa-grey-05;
$tab-shadow:              $sa-grey-07;
$tab-colour-active:       $sa-grey-14;
$tab-number-bg:           $sa-grey-12;

// SA-Nav-Tabs ==================================
// Don't confuse this with SARD Nav Tabs below

// sa-nav-tabs ----------------------------------
.sa-nav-tabs{
  border-bottom: none;
  padding: 0 8px;
  margin-bottom: -1px;
}

.sa-nav-tabs .nav-item .nav-link{
  border-bottom: 1px solid $tab-colour-active;
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.15);
  box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.15);
  &:hover{border-bottom: 1px solid $tab-colour-active!important;}
  &.active {box-shadow: none;}
}
.sa-nav-tabs .nav-link.disabled{ color: $sa-grey-06!important;}

.sa-nav-tabs + .tab-content{
  border: 2px solid $sa-tab-bg;
  border-radius: 8px;
  padding: 10px 8px;

  .card:last-of-type{ margin-bottom: 0; }

  .pagination { margin-bottom: 0; }
  
  p:last-of-type{ margin-bottom: 0; }
}

// sa-nav-tabs-grey -----------------------------
.sa-nav-tabs-grey{
  border-bottom: none;
  padding: 0 8px;
  margin-bottom: -1px;
}

.sa-nav-tabs-grey .nav-item .nav-link{
  border-bottom: 1px solid $tab-colour-active;
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.15);
  box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.15);
  &:hover{border-bottom: 1px solid $tab-colour-active!important;}
  &.active {box-shadow: none;}
}

.sa-nav-tabs-grey .nav-link.disabled{ color: $sa-grey-06!important;}

.sa-nav-tabs-grey + .tab-content{
  border: 2px solid $sa-tab-bg;
  background-color: $sa-bg;
  border-radius: 8px;
  padding: 10px 8px;
  
  .card{
    background-color: white;
  }

  .card:last-of-type{ margin-bottom: 0; }

  .pagination { margin-bottom: 0; }

  p:last-of-type{ margin-bottom: 0; }

  .alert-light{ 
    background-color: white; 
    margin-bottom: 0;
  }
}

// Colourings
.nav-primary .nav-item .nav-link{ border-bottom-color: $user-primary-colour;}
.nav-primary .nav-item .nav-link:hover{ border-bottom-color: $user-primary-colour!important;}
.nav-primary + .tab-content{ border-color: $user-primary-colour;}

.nav-secondary .nav-item .nav-link{ border-bottom-color: $user-secondary-colour;}
.nav-secondary .nav-item .nav-link:hover{ border-bottom-color: $user-secondary-colour!important;}
.nav-secondary + .tab-content{ border-color: $user-secondary-colour;}


// SARD NAV TABS ================================
// Structure ------------------------------------
.sard-nav-tabs{
  @include respond-to(md-break-down){
    display: block;
    @include breakout;
  }
  @include respond-to(md-break-up) {
    display: table;
    width:100%;
    vertical-align: top;
  }
}

.sard-nav-tabs{
  .snt-main-nav{
    @include respond-to(md-break-down){
      display: block;
    }
    @include respond-to(md-screens){
      display: table-cell;
      vertical-align: top;
      width: 25%;
    }
    @include respond-to(lg-screens){
      display: table-cell;
      vertical-align: top;
      width: 25%;
    }

    @include respond-to(xl-break-up) {
      display: table-cell;
      vertical-align: top;
      width: 25%;
    }
  }

  .nav-info{
    display: table;
    vertical-align: top;
    min-width: 100%;
  }
  .nav-col{
    display: block;
  }

  .nav-row {
    display: table;
    width: 100%;
    @include respond-to(md-break-up){
      margin-bottom: 5px;
    }
}

  .snt-main-section{
    @include respond-to(md-break-down){
      display: block;
    }
    @include respond-to(md-break-up){
      display: table-cell;
      vertical-align: top;
    }
  }
} // End .sard-nav-tabs

.section-view{
  display: block;
}

// Styling --------------------------------------

// snt-main-nav -------------
.sard-nav-tabs{
  #left-activity-summary{
    position: relative; 
    zoom: 1;
  }

  #left-activity-summary-toggles{
    border: 1px solid $tab-colour-active;
    border-top: none;
    padding-top: 7px;
    padding-left: 10px;
    margin-top: -20px;
    @include respond-to(md-break-up){
      border-right: none;
    }
    .sa-checkbox label {
      padding-right: 10px;
    }
  }

  #on-call{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $tab-colour-active;
  }

  .nav-info-buttons p{
    margin-bottom: 10px;
  }

  .submit-button {
    margin-top: 10px;
    @include respond-to(md-break-up){
      margin-right: 10px;
    }
  }
} // End .sard-nav-tabs

// Tabs ---------------------
.sard-nav-tabs{
  .nav-row a {
    display: table-cell;
    background-color: $tab-colour;
    color: $text;
    &:hover{
      background-color: $tab-colour-hover;
    }
    @include respond-to(md-break-down){
      border-top: 1px solid white;
    }
    @include respond-to(md-break-up){
      box-shadow: inset -5px 0px 0px 0px $tab-shadow;
    }
  }

  .nav-row.active a,{
    background-color: $tab-colour-active;
    color: white;
    @include respond-to(md-break-up){
      box-shadow: none;
    }
  }
 
} // End .sard-nav-tabs 

// Tab Numbers --------------
.sard-nav-tabs .nav-row .number{
  color: white;
  display: table-cell;
  text-align: center;
  letter-spacing: $tight;
  @include respond-to(md-break-down){ 
    vertical-align: top;
    min-width: 25px;
    width: 25px;
    min-height: 25px;
    height: 25px;

    @include roboto-regular;
    font-size: 14px;
  }

  @include respond-to(md-break-up){ 
    vertical-align: top;    
    min-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;

    @include roboto-light;
    font-size: 24px;
    line-height: 1em;
    padding-top: 8px;
  }
} 

// Tab Titles ---------------
.sard-nav-tabs .nav-row .title{
  display: table-cell;
  padding: 5px 8px;
  @include roboto-regular;
  font-size: 14px;
  line-height: 1.2em;
  
  @include respond-to(md-break-up){ 
    vertical-align: top;
    padding: 7px 8px 8px 8px;
    padding-right: 10px;
  }
}


// Main Section -------------
.sard-nav-tabs{
  .snt-main-section{
    border: 1px solid $tab-colour-active;
    padding-left: 20px;
    padding-right: 20px;

    @include respond-to(md-break-down){
      border-top-width: 10px;
      border-left-width: 1px;
    }
    @include respond-to(md-break-up){
      border-top-width: 1px;
      border-left-width: 10px;
    }
  }
} // End .sard-nav-tabs

