// Off Canvas sa-sidemenu ===========================
// http://blog.themearmada.com/off-canvas-slide-menu-for-bootstrap/

//#160757827 scroll bar covers sa-sidemenu menu on IE
body { -ms-overflow-style: scrollbar; }


$transition-time:   320ms;  

@mixin off-canvas-transmission {
  transition: all $transition-time ease!important;
}

@mixin off-canvas-visible {
  opacity: 1;
  visibility: visible;
  @include transition(
      opacity $transition-time linear,
      visibility $transition-time linear 
    )
}

@mixin off-canvas-invisible {
  opacity: 0;
  visibility: hidden;
  @include transition(
      opacity $transition-time linear,
      visibility $transition-time linear 
    )
}




// Posistioning =================================
#navbar + .sa-sidemenu{
  @include media-breakpoint-up(md){  top: 50px;}
  @include media-breakpoint-down(md){  top: 35px;}
}

#navbar + #breadcrumbs + .sa-sidemenu{
  @include media-breakpoint-up(md){  top: 79px;}
  @include media-breakpoint-down(md){  top: 64px;}
}

#navbar + #navbar-admin + .sa-sidemenu{
  @include media-breakpoint-up(md){  top: 85px;}
  @include media-breakpoint-down(md){  top: 70px;}
}

#navbar + #navbar-admin + #breadcrumbs + .sa-sidemenu{
  @include media-breakpoint-up(md){  top: 114px;}
  @include media-breakpoint-down(md){  top: 99px;}
}

// New sidemenu Plus Containers

#navbar + .sa-sidemenu + .container-fluid,
#navbar + .sa-sidemenu + .container{
  @include media-breakpoint-up(md){  margin-top: 70px;}
  @include media-breakpoint-down(md){  margin-top: 50px;}
}

#navbar + #breadcrumbs + .sa-sidemenu + .container-fluid,
#navbar + #breadcrumbs + .sa-sidemenu + .container{
  @include media-breakpoint-up(md){  margin-top: 100px;}
  @include media-breakpoint-down(md){  margin-top: 80px;}
}

#navbar + #navbar-admin + .sa-sidemenu + .container-fluid,
#navbar + #navbar-admin + .sa-sidemenu + .container{
  @include media-breakpoint-up(md){  margin-top: 105px;}
  @include media-breakpoint-down(md){  margin-top: 85px;}
}

#navbar + #navbar-admin + #breadcrumbs + .sa-sidemenu + .container-fluid,
#navbar + #navbar-admin + #breadcrumbs + .sa-sidemenu + .container{
  @include media-breakpoint-up(md){  margin-top: 135px;}
  @include media-breakpoint-down(md){  margin-top: 115px;}
}




// States =======================================
// Closed state -------------
.sa-sidemenu{
  // z-index in _sa-variables.css
  position: fixed;
  display: block;
  height: calc(100% - 80px);
  padding-bottom: 50px;
  top: 0;
  // @include off-canvas-transmission;
  @include media-breakpoint-down(md){
    height: calc(100% - 65px);
    padding-bottom: 40px;
  }
}

.sa-sidemenu{
  .menu-top{
    position: relative;
    top: 0px;
    left: 0px;
    height:40px;
    @include media-breakpoint-down(md){
      height: 30px;
    }
  }

  .open-icon{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    max-width: 40px;
    z-index: 6001;
    @include media-breakpoint-down(md){
      width: 30px;
    }
  }
  .menu-list{
    position: relative;
    left: 0;
    display: block;
    width: 100%;
    padding: 0 ;
    margin-top: 5px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

// Height of Menu-List depending on Navbars & Breadcrumbs etc.
#navbar + .sa-sidemenu .menu-list{
  height:calc(100% - 10px);
}

#navbar + #breadcrumbs + .sa-sidemenu .menu-list{
  height:calc(100% - 40px);
}

#navbar + #navbar-admin + .sa-sidemenu .menu-list{
  height:calc(100% - 45px);
}

#navbar + #navbar-admin + #breadcrumbs + .sa-sidemenu .menu-list{
  height:calc(100% - 70px);
}

// ==============================================
// Widths and container positions at various states
// Closed state --------------
.sa-sidemenu.closed, .sa-sidemenu:not(.open){
  @include off-canvas-transmission;
  width: 40px;
  @include media-breakpoint-down(md){
    width: 30px;
  }
}

// Open state ---------------
.sa-sidemenu.open, .sa-sidemenu:not(.closed){
  @include off-canvas-transmission;
  width: 200px;
}


// Position & Width of containers when pushed ---

.sa-sidemenu ~ .container-fluid,
.sa-sidemenu ~ .container{
  // @include off-canvas-transmission;
}
// Closed
.sa-sidemenu.closed ~ .container-fluid,
.sa-sidemenu:not(.open) ~ .container-fluid{
  @include off-canvas-transmission;
  padding-left: 70px;
  @include media-breakpoint-down(md){
    padding-left: 60px;
  }
  @include media-breakpoint-down(sm){
    padding-left: 50px;
  }
}

// Open
.sa-sidemenu.open ~ .container-fluid,
.sa-sidemenu:not(.closed) ~ .container-fluid{
  @media only screen and (min-width: 1200px){
    @include off-canvas-transmission;
    padding-left: 230px;
  }
  @include media-breakpoint-down(lg){
    padding-left: 70px;
  }
  @include media-breakpoint-down(md){
    padding-left: 60px;
  }
  @include media-breakpoint-down(sm){
    padding-left: 50px;
  }
}

.sa-sidemenu.open ~ .container,
.sa-sidemenu:not(.closed) ~ .container{
    @media only screen and (min-width: 1200px){
    padding-left: 150px;
  }
}

.sa-sidemenu ~ .container,
.sa-sidemenu:not(.open) ~ .container{
    @include media-breakpoint-down(sm){
    padding-left: 36px;
  }
}


// Styling ======================================
$sidemenu-bg:   $sa-grey-16;

.sa-sidemenu{
  background: $sidemenu-bg;
  color: white;
  -webkit-box-shadow: 4px 0px 0px 0px rgba(255,255,255,1);
  -moz-box-shadow: 4px 0px 0px 0px rgba(255,255,255,1);
  box-shadow: 4px 0px 0px 0px rgba(255,255,255,1);
}

.sa-sidemenu .menu-top{
  background: $sa-grey-18;
}

.sa-sidemenu .open-icon::before{
  color:$user-primary-colour;
  font-family: "sard-icons";
  content: "\e015";
  font-size: 1.5em;
  position: absolute;
  top: 4px;
  right: 10px;
  @include off-canvas-transmission;
  @include media-breakpoint-down(md){
    font-size: 1.3em;
    top: 1px;
    left: 5px;
    @include respond-to(ie11) {  // ie11
      font-size: 20px;
    }
  }
}
.sa-sidemenu.open .open-icon::before{
  -webkit-transform: rotate(180deg);  // Chrome, Opera 15+, Safari 3.1+
  -ms-transform: rotate(180deg);  // IE 9
  transform: rotate(180deg);
}


// Sidemenu contents ============================

.sa-sidemenu .menu-list li:before{ // Removes Bullets
  content: none;
  display:none;
}

.sa-sidemenu{
  .menu-list{
    .menu-section{
      font-size: 1rem;
      line-height: 1.2rem;
      color: white;
      border-bottom: 1px solid $sa-grey-12;
    }

    .menu-section-heading{
      @include roboto-bold;
      padding: 10px 8px 6px 8px;
      display: flex;
      min-width: 200px; // Stops the jiggling of the text during the opening
      color: white;
      i{
        top: -3px;
        margin-right: 6px;
        font-size: 1.5rem;
      }

      i:before{
        @include media-breakpoint-down(md){
          font-size: 1.3rem;
          position: relative;
          left: -3px;
        }
      }
    }


    ul.sub-menu{
      margin: 0;
      @include roboto-light;
      li.sub-menu--item{
        padding: 0;
        text-indent: 0;
      }

      li.sub-menu--item a{
        display: flex;
        min-width: 200px; // Stops the jiggling of the text during the opening
        font-size: 1rem;
        line-height: 1.2rem;
        padding: 6px 20px 6px 8px;
        color: white;
        &:visited{
          background: $sidemenu-bg;
        }
        &:active,
        &:focus,
        &:hover{
          background: darken($sidemenu-bg, 10%);
        }
        i:before{
          @include media-breakpoint-down(md){
            font-size: 1.3rem;
            position: relative;
            left: -3px;
          }
        }
      }

      li.sub-menu--item a.active,
      li.sub-menu--item a.selected{
        position: relative;
        background: $user-primary-colour;
        i {
          color: white;
        }
        &:after{
          content:"";
          display:inline-block;
          position:absolute;
          border:16px solid white;
          border-color:transparent transparent transparent white;
          top: calc(50% - 16px);
          right: 0px;
          -webkit-transform: rotate(180deg);  // Chrome, Opera 15+, Safari 3.1+
          -ms-transform: rotate(180deg);  // IE 9
          transform: rotate(180deg);
        }
      }
    }

    li.sub-menu--item a i{
      min-width: 1.2em;
      top: 0px;
      right: -1px;
      margin-right: 6px;
      font-size: 1.25rem;
      color: $sa-grey-08;
    }

    li.sub-menu--item a .item{ padding-top: 1px; }

    li.sub-menu--item a p{ margin: 0; }

    hr{
      margin: 0;
      border-color: $sa-grey-12;
    }

    .spacer{
      min-width: 1.2em;
      margin-right: 10px;
    }
  }
}



// --------------------------
// Toggle Sections ----------
.sa-sidemenu{
  .menu-section{
    a.menu-section-heading{
      position: relative;
      padding-right: 32px;
    }

    a.menu-section-heading[aria-expanded="true"] {
      background: lighten($sidemenu-bg, 10%);
      &:after{
        color:$user-primary-colour;
        font-family: "sard-icons";
        content: "\e0d1";
        font-size: 1.5em;
        position: absolute;
        top: 10px;
        right: 8px;
      }
    }
    a.menu-section-heading[aria-expanded="false"] {
      &:after{
        -webkit-transform: rotate(180deg);  // Chrome, Opera 15+, Safari 3.1+
        -ms-transform: rotate(180deg);  // IE 9
        transform: rotate(180deg);
        color:$user-primary-colour;
        font-family: "sard-icons";
        content: "\e0d1";
        font-size: 1.5em;
        position: absolute;
        top: 10px;
        right: 8px;
      }
    }

    ul.sub-menu.collapse,
    ul.sub-menu.collapsing{
      background: lighten($sidemenu-bg, 10%);
    }
  }
}



// ==============================================
// Visibility ===================================
// Closed -------------------
.sa-sidemenu.closed{
  .menu-section-heading .item{
    @include off-canvas-invisible;
  }
  .menu-section-heading:after{ 
    @include off-canvas-invisible;
  }

  li.sub-menu--item a {
  }
  li.sub-menu--item a .item{
    @include off-canvas-invisible;
  }
}
// Open ---------------------
.sa-sidemenu.open{
  .menu-section-heading .item{
    @include off-canvas-visible;
  }
  .menu-section-heading:after{ 
    @include off-canvas-visible;
  }
  li.sub-menu--item a {
  }
  li.sub-menu--item a .item{
    @include off-canvas-visible;
  }
}


// ==============================================
// Sidemenu Light ===============================

$sidemenu-light-bg:   $sa-grey-02;

.sa-sidemenu.sidemenu-light{
  background: $sidemenu-light-bg;
}

.sa-sidemenu.sidemenu-light{
  .menu-list{
    .menu-section{
      color: $text;
      border-bottom-color: $sa-grey-10;
    }

    .menu-section-heading{
      color: $text;
    }

    ul.sub-menu{
      @include roboto-regular;  // Differs from default version

      li.sub-menu--item a{
        color: $text;
        &:visited{
          background: $sidemenu-light-bg;
        }
        &:active,
        &:focus,
        &:hover{
          background: darken($sidemenu-light-bg, 10%);
        }
      }

      li.sub-menu--item a.active,
      li.sub-menu--item a.selected{
        color: white;
        i { color: white;}
      }
    }

    li.sub-menu--item a i{ color: $text; }

    hr{ border-color: $sa-grey-10; }
  }
}

// Toggle Sections ----------
.sa-sidemenu.sidemenu-light{
  .menu-section{
    a.menu-section-heading[aria-expanded="true"] {
      background: darken($sidemenu-light-bg, 10%);
      &:after{
        color:$user-primary-colour;
      }
    }

    ul.sub-menu.collapse,
    ul.sub-menu.collapsing{
      background: darken($sidemenu-light-bg, 10%);
      li.sub-menu--item a.active,
      li.sub-menu--item a.selected{
        background: $user-primary-colour;
        color: white;
        i { color: white;}
      }
    }

    ul.sub-menu.show {

      li.sub-menu--item a{
        background: darken($sidemenu-light-bg, 10%);
        &:visited{
          background: darken($sidemenu-light-bg, 10%);
        }
        &:active,
        &:focus,
        &:hover{
          background: darken($sidemenu-light-bg, 20%);
        }
      }

      li.sub-menu--item a.active,
      li.sub-menu--item a.selected{
        background: $user-primary-colour;
        color: white;
        i { color: white;}
      }
    }
  }
}
