// Searchbars ===================================

// Look at: https://mdbootstrap.com/docs/jquery/forms/search/?

// Base styles
.searchbar-sard{
  border-radius:8px;
  // margin: 0 -2px; // Visual overhang
}

.searchbar-sard .form-inline{
  flex-flow: row nowrap;
}

.searchbar-sard .form-control{
  min-width: 100px;
  width: 100%;
  box-shadow: none;
}
.searchbar-sard input{
    padding: 10px;
    padding-right: 38px;
    margin-right: -38px;
    border-radius: 4px;
    background-color: white;
    border: 0;
    box-shadow: none;
    border-radius: 20px;
    height:36px;
    border:2px solid $user-primary-colour;
    
    @include respond-to(ie11) {  // ie11
      line-height: 0.5rem;
    }
    
}


.searchbar-sard .btn-search{
  position: relative;
  right: -2px;
  min-width:36px; // ie fix
  width:36px;
  height:36px;
  border-radius: 0 20px 20px 0;
  border:none;
  border-left: none;
  box-shadow: none;
  background-color: $user-primary-colour;
  &:hover { 
    background-color: darken($user-primary-colour, 5%); 
  }
  &:active {
    background-color: darken($user-primary-colour, 10%);
  }
  &::after{ // overrides generic .btn-search position
    right: 6px;
  }
}

.searchbar-sard .btn-search:hover{
  &::before{
    color: $sa-grey-16;
  }
}
.searchbar-sard .btn-search:focus{
  &::before{
    color: $sa-grey-18;
  }
}

.searchbar-sard input:hover + .btn-search{
  &::before{
    color: $sa-grey-16;
  }
}
.searchbar-sard input:focus + .btn-search{
  &::before{
    color: $sa-grey-18;
  }
}

// Added clear button -------

.searchbar-sard.plus-clear-button{
  .btn-search{
    border-radius: 0;
  }
  .btn-clear{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    margin-left: 2px!important;
    padding-left: 8px;
  }
}

.btn-clear{
  background-color: $user-secondary-colour-light;
}

.btn-clear::before{
  content: 'Clear';
  @include media-breakpoint-down(sm){
    font-family: "Font Awesome 5 Free"; 
    content: "\f00d" ;
    color:white;
    font-weight: 900;
  }
}


// Colour variations ============================

// Searchbar Primary ============================

.searchbar-sard.searchbar-primary input{
  border:2px solid darken($user-primary-colour, 0%);
  &:hover{
    border-color: darken($user-primary-colour, 5%);
  }
  &:focus{
    border-color: darken($user-primary-colour, 15%);
  }
}

.searchbar-sard.searchbar-primary .btn-search{
  &::before{
    color:darken($user-primary-colour, 5%);
  }
}

.searchbar-sard.searchbar-primary .btn-search:hover{
  &::before{
    color: darken($user-primary-colour, 10%);
  }
}
.searchbar-sard.searchbar-primary .btn-search:focus{
  &::before{
    color: darken($user-primary-colour, 15%);
  }
}

.searchbar-sard.searchbar-primary input:hover + .btn-search{
  &::before{
    color: darken($user-primary-colour, 10%);
  }
}
.searchbar-sard.searchbar-primary input:focus + .btn-search{
  &::before{
    color: darken($user-primary-colour, 15%);
  }
}

// Searchbar Secondary ==========================

.searchbar-sard.searchbar-secondary input{
  border:2px solid darken($user-secondary-colour, 0%);
  &:hover{
    border-color: darken($user-secondary-colour, 5%);
  }
  &:focus{
    border-color: darken($user-secondary-colour, 15%);
  }
}

.searchbar-sard.searchbar-secondary .btn-search{
  &::before{
    color:darken($user-secondary-colour, 5%);
  }
}

.searchbar-sard.searchbar-secondary .btn-search:hover{
  &::before{
    color: darken($user-secondary-colour, 10%);
  }
}
.searchbar-sard.searchbar-secondary .btn-search:focus{
  &::before{
    color: darken($user-secondary-colour, 15%);
  }
}

.searchbar-sard.searchbar-secondary input:hover + .btn-search{
  &::before{
    color: darken($user-secondary-colour, 10%);
  }
}
.searchbar-sard.searchbar-secondary input:focus + .btn-search{
  &::before{
    color: darken($user-secondary-colour, 15%);
  }
}

// in navbar -----------------
.navbar-primary{
  .searchbar-sard input{
    border-color: $user-secondary-colour;
    &:hover { 
      border-color: darken($user-secondary-colour, 5%); 
    }
    &:active {
      border-color: darken($user-secondary-colour, 10%);
    }
  }
  .searchbar-sard .btn-search{
    background-color: $user-secondary-colour;
    &:hover { 
      background-color: darken($user-secondary-colour, 5%); 
    }
  &:active {
      background-color: darken($user-secondary-colour, 10%);
    }
  }
}

.navbar-secondary{
  .searchbar-sard input{
    border-color: $user-primary-colour;
    &:hover { 
      border-color: darken($user-primary-colour, 5%); 
    }
    &:active {
      border-color: darken($user-primary-colour, 10%);
    }
  }
  .searchbar-sard .btn-search{
    background-color: $user-primary-colour;
    &:hover { 
      background-color: darken($user-primary-colour, 5%); 
    }
  &:active {
      background-color: darken($user-primary-colour, 10%);
    }
  }
}