// Off Canvas sa-sidemenu ===========================
// http://blog.themearmada.com/off-canvas-slide-menu-for-bootstrap/

//#160757827 scroll bar covers sa-sidemenu menu on IE
body { -ms-overflow-style: scrollbar; }

@mixin off-canvas-transmission {
  transition: all 320ms ease!important;
}

// Posistioning =================================
#navbar + .sa-sidemenu{
  @include media-breakpoint-up(md){  top: 50px;}
  @include media-breakpoint-down(md){  top: 35px;}
}

#navbar + #breadcrumbs + .sa-sidemenu{
  @include media-breakpoint-up(md){  top: 79px;}
  @include media-breakpoint-down(md){  top: 64px;}
}

#navbar + #navbar-admin + .sa-sidemenu{
  @include media-breakpoint-up(md){  top: 85px;}
  @include media-breakpoint-down(md){  top: 70px;}
}

#navbar + #navbar-admin + #breadcrumbs + .sa-sidemenu{
  @include media-breakpoint-up(md){  top: 114px;}
  @include media-breakpoint-down(md){  top: 99px;}
}

// New sidemenu Plus Containers

#navbar + .sa-sidemenu + .container-fluid,
#navbar + .sa-sidemenu + .container{
  @include media-breakpoint-up(md){  margin-top: 70px;}
  @include media-breakpoint-down(md){  margin-top: 50px;}
}

#navbar + #breadcrumbs + .sa-sidemenu + .container-fluid,
#navbar + #breadcrumbs + .sa-sidemenu + .container{
  @include media-breakpoint-up(md){  margin-top: 100px;}
  @include media-breakpoint-down(md){  margin-top: 80px;}
}

#navbar + #navbar-admin + .sa-sidemenu + .container-fluid,
#navbar + #navbar-admin + .sa-sidemenu + .container{
  @include media-breakpoint-up(md){  margin-top: 105px;}
  @include media-breakpoint-down(md){  margin-top: 85px;}
}

#navbar + #navbar-admin + #breadcrumbs + .sa-sidemenu + .container-fluid,
#navbar + #navbar-admin + #breadcrumbs + .sa-sidemenu + .container{
  @include media-breakpoint-up(md){  margin-top: 135px;}
  @include media-breakpoint-down(md){  margin-top: 115px;}
}

// Position & Width of containers when pushed ---

.sa-sidemenu ~ .container-fluid,
.sa-sidemenu ~ .container{
  @include off-canvas-transmission;
}

.sa-sidemenu ~ .container-fluid{
  padding-left: 70px;
  @include media-breakpoint-down(md){
    padding-left: 60px;
  }
  @include media-breakpoint-down(sm){
    padding-left: 50px;
  }
}

@media only screen and (min-width: 1200px){
  .sa-sidemenu.open ~ .container-fluid{
    padding-left: 230px;
  }

  .sa-sidemenu.open ~ .container{
    padding-left: 150px;
  }
}

@include media-breakpoint-down(sm){
  .sa-sidemenu ~ .container{
    padding-left: 36px;
  }
}






// States =======================================
// Closed state -------------
.sa-sidemenu{
  // z-index in _sa-variables.css
  position: fixed;
  display: block;
  height: calc(100% - 80px);
  padding-bottom: 85px;
  top: 0;
  width: 40px;
  @include off-canvas-transmission;
  @include media-breakpoint-down(md){
    height: calc(100% - 65px);
    width: 30px;
    padding-bottom: 75px;
  }
}

.sa-sidemenu{ 
  .menu-top{
    position: relative;
    top: 0px;
    left: 0px;
    height:40px;
    @include media-breakpoint-down(md){
      height: 30px;
    }
  }

  .open-icon{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    max-width: 40px;
    z-index: 6001;
    @include media-breakpoint-down(md){
      width: 30px;
    }
  }
  .menu-list{
<<<<<<< HEAD
=======
    display: none;
  }
}

// Open state
.sa-sidemenu.open{
  @include off-canvas-transmission;
  width: 200px;
}

.sa-sidemenu.open{

  .menu-list{
>>>>>>> 83b37e43c0ced72dc37f5730354e385543973c01
    position: relative;
    left: 0;
    display: block;
    width: 100%;
    padding: 0 ;
    margin-top: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    height:calc(100% - 10px);
  }
}

// Open state ---------------
.sa-sidemenu.open{
  @include off-canvas-transmission;
  width: 200px;
}


// Styling ======================================
$sidemenu-bg:   $sa-grey-16;

.sa-sidemenu{
  background: $sidemenu-bg;
  color: white;
  // cursor: pointer;
}

.sa-sidemenu .menu-top{
  background: $sa-grey-18;
}

.sa-sidemenu .open-icon::before{
  color:$user-primary-colour;
  font-family: "Font Awesome 5 Free"; 
  content: "\f036";
  font-weight: 700; 
  font-size: 1.5em;
  position: absolute;
  top: 4px;
  right: 12px;
  @include media-breakpoint-down(md){
    font-size: 1.3em;
    top: 1px;
    left: 5px;
  }
}
.sa-sidemenu.open .open-icon::before{
  content: "\f038";
  right: 10px;
}


// Sidemenu contents ============================ 

.sa-sidemenu .menu-list li:before{ // Removes Bullets
  content: none;
  display:none;
}

.sa-sidemenu{
  .menu-list{
    .menu-section{
      font-size: 1rem;
      line-height: 1.2rem;
      color: white;
    }
    .menu-section-heading{
      @include roboto-black;
      padding: 6px 8px;
      display: flex;
      i{
        top: -3px;
        margin-right: 6px;
        font-size: 1.5rem;
      }  
    }

    ul.sub-menu{
      li.sub-menu--item{
        padding: 0;
        text-indent: 0;
      }
      li.sub-menu--item a{
        display: flex;
        font-size: 1rem;
        line-height: 1.2rem;
        padding: 6px 8px;
        color: white;
        &:visited{
          background: $sidemenu-bg;
        }
        &:active, 
        &:focus,
        &:hover{
          background: darken($sidemenu-bg, 10%);
        }
        &.selected{
          background: darken($sidemenu-bg, 5%);
        }
      }
    }


    li.sub-menu--item a i{
      top: -3px;
      margin-right: 6px;
      font-size: 1.5rem;
    }
    li.sub-menu--item a p{
      margin: 0;
      
    }
  }
}

.sa-sidemenu.open{
  .menu-list{
    // background-color: pink;
  }
}

.sa-sidemenu.closed{
  .menu-section-heading .item{ display: none; }
  
  .menu-list{
    li.sub-menu--item a .item{ display: none; }
  }
}


.sa-sidemenu .menu-list{
  // background-color: pink;
}
// .sa-sidemenu .menu-list a{
//   display: flex;
//   margin: 0px;
//   padding: 5px 10px;
//   @include roboto-light;
//   font-size: 16px;
//   color: white;
//   text-decoration: none;
// }

// .sa-sidemenu .menu-list a:visited{
//   color: white;
// }

// .sa-sidemenu .menu-list a:active,
// .sa-sidemenu .menu-list a:focus,
// .sa-sidemenu .menu-list a:hover {
//   background: $sa-grey-18;
// }

// .sa-sidemenu .menu-list a.active {
//   background: $sa-grey-17;
//   i {
//     color:$user-primary-colour;
//   }
// }

// .sa-sidemenu .menu-list hr{
//   margin-top: 0px;
//   margin-bottom: 0px;
// }
// .sa-sidemenu .menu-list .sub-title{
//   padding: 5px 10px 0px 10px;
//   text-indent: 0;
//   @include roboto-bold;
//   font-size: 16px;
//   color: white;
// }

<<<<<<< HEAD
// .sa-sidemenu .menu-list a{
//   i {
//     padding-right: 0.5rem ; // 8px
//     color: $sa-grey-06;
//   }
// }





// Dropdowns
// .sa-sidemenu .menu-list li:before{ // Removes Bullets
//   content: none;
//   display:none;
// }
// .sa-sidemenu .menu-list ul li{
//   padding: 5px 0px;
// }
// .sa-sidemenu .menu-list ul li a{
//   padding: 5px 20px;
// }
// .sa-sidemenu .menu-list ul li a::after{
//   margin-left: 0.5em;
//   position: relative;
//   top: 7px;
// }

// .sa-sidemenu .dropdown-menu.show{
//   background: $sa-grey-14;
//   border-color: $sa-grey-18;
//   border-top: none;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
//   margin-left: 5px;
//   width: calc(100% - 20px);
// }

// .sa-sidemenu .dropdown-item:first-of-type {
//   border-top-left-radius: 0px;
//   border-top-right-radius: 0px;
// }
// .sa-sidemenu .dropdown-item:last-of-type {
//   border-bottom-left-radius: 5px;
//   border-bottom-right-radius: 5px;
// }



=======
// // ==============================================
// // Sidemenu when used with Container Fluid
// .sidemenu-wrapper {
//   display: flex;
//   width: 100%;
//   align-items: stretch;
// }

// .sa-sidemenu {
//   position: fixed;
//   // min-height: 100vh;
//   // height: calc(100% - 80px);
//   // padding-bottom: 80px;
// }

// // postioning after navbar and breadcrumbs
// .navbar + .sidemenu-wrapper .sa-sidemenu{
//   top: 50px;
//   @include media-breakpoint-down(md){
//     top: 35px;
//   }
// }
// #navbar-admin + .sidemenu-wrapper .sa-sidemenu{
//   top: 35px;
//   @include media-breakpoint-down(md){
//     top: 35px;
//   }
// }

// .navbar + #breadcrumbs + .sidemenu-wrapper .sa-sidemenu{
//   top: 79px;
//   @include media-breakpoint-down(md){
//     top: 64px;
//   }
// }

// .navbar + #navbar-admin + .sidemenu-wrapper .sa-sidemenu{
//   top: 85px;
//   @include media-breakpoint-down(md){
//     top: 70px;
//   }
// }

// .navbar + #navbar-admin + #breadcrumbs + .sidemenu-wrapper .sa-sidemenu{
//   top: 114px;
//   @include media-breakpoint-down(md){
//     top: 99px;
//   }
// }
// #navbar-admin + #breadcrumbs + .sidemenu-wrapper .sa-sidemenu{
//   top: 64px;
//   @include media-breakpoint-down(md){
//     top: 64px;
//   }
// }

// .wrapper-content{
//   width: 100%;
//   padding-left: 40px;
//   margin-bottom: 50px;
//   @include off-canvas-transmission;
//   @include media-breakpoint-down(xs){
//     padding-left: 30px;
//   }
// }

// // Push Content on large screens and above

// @include media-breakpoint-up(xl){
//   .sa-sidemenu.open + .wrapper-content{
//     padding-left: 200px;
//   }
// }
>>>>>>> 83b37e43c0ced72dc37f5730354e385543973c01


// Sidemenu Light ===============================



.sa-sidemenu.sidemenu-light.sidemenu-light{
  background: $sa-grey-02;
  color: $text;
  cursor: pointer;
}

.sa-sidemenu.sidemenu-light .menu-list a{
  color: $text;
  @include roboto-regular;
}

.sa-sidemenu.sidemenu-light .menu-list a{
  i {
    color: $sa-grey-10;
  }
}

.sa-sidemenu.sidemenu-light .menu-list a:visited{
  color: $text;
}

.sa-sidemenu.sidemenu-light .menu-list a:active,
.sa-sidemenu.sidemenu-light .menu-list a:focus,
.sa-sidemenu.sidemenu-light .menu-list a:hover {
  background: $sa-grey-04;
  i {
    color:$sa-grey-12;
  }
}

.sa-sidemenu.sidemenu-light .menu-list a.active {
  background: $sa-grey-03;
  i {
    color:$user-primary-colour;
  }
}

.sa-sidemenu.sidemenu-light .menu-list .sub-title{
  color: $text;
}



