// Off Canvas Options ===========================
// http://blog.themearmada.com/off-canvas-slide-menu-for-bootstrap/

//#160757827 scroll bar covers options menu on IE
body { -ms-overflow-style: scrollbar; }

body.plus-option-tab{
  .container-fluid{
    padding-right: 34px;
  }

  #navbar + .sa-sidemenu ~ .container{
    @include media-breakpoint-down(lg){
      padding-left: 16px;
    }
    @include media-breakpoint-down(sm){
      padding-left: 27px;
      max-width: calc(100% - 65px);
    }
  }

}


@mixin off-canvas-transmission {
  transition: all 320ms ease!important;
}
// navigation button ----------------------------

a.options-nav-expander {
  background: $sa-grey-18;
  color: #FFFFFF;
  display: block;

  margin-right: 0;
  position: absolute;
  top: 130px;
  right: 0px;
  text-decoration: none;

  width: 30px;
  height: 110px;
  z-index: 12;

  border-radius: 6px 0px 0px 6px;
  border: 2px solid white;
  border-right: none;

  @include off-canvas-transmission;
}

a.options-nav-expander .title{
  position: absolute;
  bottom: 25px;
  right: -18px;
  color:white;
  @include roboto-light;
  font-size: 1.2em;
  transform: rotate(-90deg);
}

a.options-nav-expander:after{
  content: "\e013";
  font-family: "sard-icons";
  color:white;
  font-size: 1.25em;
  position: absolute;
  top: 3px;
  right: 5px;

  @include off-canvas-transmission;
}
.options-nav-expanded a.options-nav-expander:after{
  transform: rotate(180deg);
}

a.options-nav-expander:hover {
  cursor: pointer;
  color: white!important;
}


a.options-nav-expander.fixed {
  position: fixed;
}

.options-nav-expanded a.options-nav-expander.fixed {
  right: 300px;
}

@include respond-to(md-break-down) { // Small Screens
    a.options-nav-expander{
      width: 30px;
      height: 35px;
    }

    a.options-nav-expander .title{
      display: none;
    }

    a.options-nav-expander:after{
      top: 1px;
    }
}

// canvas menu & menu container -----------------

nav.options-menu {
  background: $sa-grey-16;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  z-index: 6000;
  border-left: 4px solid ;

  @include off-canvas-transmission;
}

.options-nav-expanded nav.options-menu {
  right: 0;
}

body.options-nav-expanded {
  margin-left: 0em;
  @include off-canvas-transmission;
}

#options-nav-close {
  height:133px;
}
#options-nav-close:hover{
  background-color: darken($sa-grey-16, 3%);
  cursor: pointer;
}
#options-nav-close:hover:before{
  content: 'Close';
  color: white;
  position: relative;
  top: 40%;
  left: 45%;
}

#options-nav-close:after {
  content: "\e015";
  font-family: "sard-icons";
  color:white;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 10px;
}

//  menu and animations -------------------------

.options-menu .main-menu li {
  padding: 0px;
}

.options-menu .main-menu li a {
  position: relative;
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 7px 10px;
  padding-right: 30px;
  font-size: 16px;
  @include roboto-light;
}

.options-menu .main-menu li a:visited{
  color: white;
}

.options-menu .main-menu li a:active,
.options-menu .main-menu li a:focus,
.options-menu .main-menu li a:hover {
  background: $sa-grey-18;
}

.options-menu .main-menu hr{
  margin-top: 5px;
  margin-bottom: 5px;
}
.options-menu .main-menu li.sub-title{
  padding: 7px 10px;
  text-indent: 0;
  color: white;
  font-size: 16px;
  @include roboto-regular;
}

// Animated Icon --------------------------------

.options-menu .main-menu li a:after {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1;
  text-transform: none;
  content: '\f054';
  position: absolute;
  top: 7px;
  right: 0px;
  color: white;
}

.options-menu .main-menu li a:after {
  float: right;
  margin: 0.1rem 1.7rem -0.1rem 0;
  opacity: 0;
  @include off-canvas-transmission;
}

.options-menu .main-menu li a:hover:after {
  float: right;
  margin: 0.1rem -0.3rem -0.1rem 0;
  opacity: 1;
}

// Icons ----------------------------------------

.options-menu .main-menu li:before{ // Removes Bullets
  content: none;
  display:none;
}

.options-menu .main-menu li.icon a{
  text-indent: -1.8em;
  padding-left: 2.5em;
}

.options-menu .main-menu li.icon a:before{
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1;
  text-transform: none;
  padding-right: 10px;
}

.options-menu .main-menu li.new a:before,
.options-menu .main-menu li.add a:before{
  content: '\f067';
  font-weight: 900;
  padding-right: 12px;
}

.options-menu .main-menu li.new-set a:before{
  content: '\f0c5';
  font-size: 1.1rem;
  padding-right: 12px;
}

.options-menu .main-menu li.edit a:before{
  content: '\f044';
  font-weight: 900;
  padding-right: 12px;
}

.options-menu .main-menu li.export a:before{
  content: '\f56e';
  font-weight: 900;
}

.options-menu .main-menu li.download a:before,
.options-menu .main-menu li.import a:before{
  content: '\f381';
  font-weight: 900;
  padding-right: 8px;
}

.options-menu .main-menu li.action-needed a:before,
.options-menu .main-menu li.warning a:before{
  content: '\f071';
  font-weight: 900;
}

.options-menu .main-menu li.view a:before{
  content: '\f06e';
  font-size: 1.1rem;
  padding-right: 8px;
}

.options-menu .main-menu li.back a:before{
  content: '\f0a8';
  font-weight: 900;
  font-size: 1.1rem;
  padding-right: 10px;
}

.options-menu .main-menu li.questionnaire a:before{
  content: '\f46c';
  font-weight: 900;
  font-size: 1.1rem;
  padding-right: 15px;
}

.options-menu .main-menu li.pdf a:before{
  content: '\f1c1';
  font-size: 1.1rem;
  padding-right: 16px;
}

.options-menu .main-menu li.zip a:before{
  content: '\f1c6';
  font-size: 1.1rem;
  padding-right: 16px;
}

.options-menu .main-menu li.email a:before{
  content: '\f0e0';
  padding-right: 14px;
}

.options-menu .main-menu li.cancel a:before{
  content: '\f05e';
  font-weight: 900;
  font-size: 1.1rem;
  padding-right: 12px;
}

.options-menu .main-menu li.info a:before{
  content: '\f05a';
  font-weight: 900;
  font-size: 1.1rem;
  padding-right: 12px;
}

.options-menu .main-menu li.video a:before{
  content: '\f03d';
  font-weight: 900;
  padding-right: 12px;
}

.options-menu .main-menu li.apply a:before{
  content: '\f058';
  padding-right: 12px;
  font-size: 1.1rem;
}

.options-menu .main-menu li.refresh a:before{
  content: '\f2f1';
  font-weight: 900;
  padding-right: 14px;
}

.options-menu .main-menu li.user a:before{
  content: '\f007';
  font-weight: 900;
  font-size: 1.1rem;
  padding-right: 13px;
}

.options-menu .main-menu li.user-md a:before{
  content: '\f0f0';
  font-weight: 900;
  font-size: 1.1rem;
  padding-right: 13px;
}

.options-menu .main-menu li.all-users a:before{
  content: '\f0c0';
  font-weight: 900;
}

.options-menu .main-menu li.new-user a:before{
  content: '\f234';
  font-weight: 900;
}

.options-menu .main-menu li.destroy a:before,
.options-menu .main-menu li.delete a:before{
  content: '\f2ed';
  font-size: 1.1rem;
  padding-right: 14px;
}


// Add Super Admin Icon to sidebar
  .options-menu .main-menu li.super-admin a:after{
    font-family: "sard-icons";
    content: "\e00a";
    color:$sa-grey-10;
    margin:  0;
    position: relative;
    top: 2px;
    right: -30px;
    opacity: 1;
    padding-right: 0px;
  }




// Only needed if we use dropdowns within the menu
// DROPDOWN ------------------------------
// .main-menu a .caret {
//   width: 0;
//   height: 0;
//   display: inline-block;
//   vertical-align: top;
//   border-top: 4px solid #4f5963;
//   border-right: 4px solid transparent;
//   border-left: 4px solid transparent;
//   content: "";
//     margin-top: 8px;
// }

// .main-menu a:hover .caret {
//   border-top-color: #4f5963;
// }

// .main-menu li.open > a > .caret {
//   border-top: none;
//   border-bottom: 4px solid #4f5963;
//   border-right: 4px solid transparent;
//   border-left: 4px solid transparent;
// }

// .main-menu li.open > a:hover > .caret {
//   border-bottom-color: #4f5963;
// }

// .main-menu li .sub-nav {
//   border-bottom: 0px;
//   padding: 4px;
// }

