!!!
%html.no-js{:lang => "en"}
  %head
    %title Bootstrap 4 Layout - BS Components
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-styles.min.css", :rel => "stylesheet"}/
 
  %body
    //=include ../navbars/_navbar-x1.haml


    .container.first
      .row
        .col-12
          %h1 Bootstrap Components
          %p.lead These are default Bootstrap Components with no SARD styling other than the global colouring and font styles.
          %h2#alerts.bs-anchor Alerts
          //=include bs-components/_alerts.haml

          %hr.black

          %h2#badges.bs-anchor Badges
          //=include bs-components/_badges.haml

          %hr.black

          %h2#breadcrumbs.bs-anchor Breadcrumbs
          //=include bs-components/_breadcrumbs.haml

          %hr.black

          %h2#buttons.bs-anchor Buttons
          //=include bs-components/_buttons.haml

          %hr.black

          %h2#cards.bs-anchor Cards
          //=include bs-components/_cards.haml

          %hr.black

          %h2#collapse.bs-anchor Collapse
          //=include bs-components/_collapse.haml

          %hr.black

          %h2#dropdowns.bs-anchor Dropdowns
          //=include bs-components/_dropdowns.haml

          %hr.black

          %h2#forms.bs-anchor Forms
          //=include bs-components/_forms.haml

          %hr.black

          %h2#input-group.bs-anchor Input Group
          //=include bs-components/_input-group.haml

          %hr.black

          %h2#list-group.bs-anchor List Group
          //=include bs-components/_list-group.haml

          %hr.black

          %h2#modal.bs-anchor Modal
          //=include bs-components/_modal.haml

          %hr.black

          %h2#navs.bs-anchor Navs
          //=include bs-components/_navs.haml

          %hr.black

          %h2#navbar.bs-anchor Navbar
          //=include bs-components/_navbar.haml

          %hr.black

          %h2#pagination.bs-anchor Pagintaion
          //=include bs-components/_pagination.haml

          %hr.black

          %h2#popovers.bs-anchor Popovers
          //=include bs-components/_popovers.haml

          %hr.black

          %h2#progress.bs-anchor Progress
          //=include bs-components/_progress.haml

          %hr.black

          %h2#searchbars.bs-anchor Searchbars
          //=include bs-components/_searchbars.haml

          %hr.black

          %h2#tables.bs-anchor Tables
          //=include bs-components/_tables.haml

          %hr.black

          %h2#tooltips.bs-anchor Tooltips
          //=include bs-components/_tooltips.haml


          %hr.black

          %h1 Bootstrap 3 Components

          %h2#panels.bs-anchor Panels
          //=include bs-components/_panels.haml



/ Scripts

%script{:src => "../assets/js/remote-sard-scripts.min.js"}