.sa-footer
  #accordion
    .footer-header.collapsable
      .container
        .row
          .col-5
            %p.logo
              %a{href: "http://www.sardjv.co.uk/", target: "balnk"} SARD JV &copy;
              %span.slash &#47;
              %span.inline-block 020 8771 4153
          .col-2.center
            %p
              S
          .col-5.right
            %a.expand-button{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFooter"}
    #collapseFooter.collapse.footer-body
      .container
        .row
          .col-sm-3
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, adipisci, quibusdam, minima ratione voluptas quidem porro sint nobis odio cupiditate alias nisi. Magnam et fugiat labore eum at adipisci ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          .col-sm-3
            Voluptatibus, adipisci, quibusdam, minima ratione voluptas quidem porro sint nobis odio cupiditate alias nisi. Magnam et fugiat labore eum at adipisci ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, adipisci, quibusdam, minima ratione voluptas quidem porro sint nobis odio cupiditate alias nisi. 
          .col-sm-3
            Magnam et fugiat labore eum at adipisci ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, adipisci, quibusdam, minima ratione voluptas quidem porro sint nobis odio cupiditate alias nisi. Magnam et fugiat labore eum at adipisci ex.