
// Megamenu
#megamenu
  %li.dropdown
    %a#bsComponents.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      Megamenu
    .dropdown-menu
      .megamenu
        .mega-column
          %p.mega-list-title Sard UI
          .mega-item
            %a{:href => "sard-ui/sa-typography.html"} Typography
          .mega-item
            %a{:href => "sard-ui/sa-icons.html"} Icons
          .mega-item
            %a{:href => "sard-ui/sa-colours.html"} Colours
          .mega-item
            %a{:href => "sard-ui/sa-links.html"} Links
          .mega-item
            %a{:href => "sard-ui/sa-lists.html"} Lists
          .mega-item
            %a{:href => "sard-ui/sa-perforations.html"} Perforations and Dividers
        .mega-column
          %p.mega-list-title Users
          .mega-item
            %a{:href => "#/"} New User
          .mega-item
            %a{:href => "#/"} All Users
          .mega-item
            %a{:href => "#/"} Advanced User Search
          .mega-item.super-admin
            %a{:href => "#/"} Guest Users
        .mega-column
          %p.mega-list-title Data
          .mega-item
            %a{:href => "#/"} Roles
          .mega-item
            %a{:href => "#/"} Medic Groups
          .mega-item
            %a{:href => "#/"} Directorates
          .mega-item
            %a{:href => "#/"} Locations
          .mega-item
            %a{:href => "#/"} Teams
          .mega-item
            %a{:href => "#/"} Specialties
          .mega-item
            %a{:href => "#/"} Position Titles
          .mega-item
            %a{:href => "#/"} ESR Roles
          .mega-item
            %a{:href => "#/"} Sites
        .mega-column
          %p.mega-list-title GMC
          .mega-item
            %a{:href => "#/"} Council Memberships
          .mega-item
            %a{:href => "#/"} Prescribed Connections
        .mega-column
          %p.mega-list-title CSV Imports
          .mega-item
            %a{:href => "#/"} New User CSV Import
          .mega-item
            %a{:href => "#/"} User Update Import
          .mega-item
            %a{:href => "#/"} Council Membership Import
          %hr/
          .mega-item
            %a{:href => "#/"} Appraisal Month Import
          .mega-item
            %a{:href => "#/"} Offline Appraisal Import
          .mega-item
            %a{:href => "#/"} MAG Form Import
          .mega-item
            %a{:href => "#/"} Recommendation Import
          .mega-item
            %a{:href => "#/"} Gov and FtoP Import
          .mega-item
            %a{:href => "#/"} Section 12 Import
          %hr/
          .mega-item
            %a{:href => "#/"} Appraiser Role Import
          .mega-item.super-admin
            %a{:href => "#/"} User Lead Appraiser Import
          .mega-item
            %a{:href => "#/"} Custom Appraisal Lead Import
          %hr/
          .mega-item
            %a{:href => "#/"} Offline MSF Import
          .mega-item
            %a{:href => "#/"} Patient Feedback MSF Import
          %hr/
          .mega-item
            %a{:href => "#/"} Offline Job Plan Import
          %hr/
          .mega-item
            %a{:href => "#/"} Role Import
          .mega-item
            %a{:href => "#/"} Medic Group Import
          %hr/
          .mega-item.super-admin
            %a{:href => "#/"} Designated Body Import
          .mega-item.super-admin
            %a{:href => "#/"} Prep Documents Import
          .mega-item.super-admin
            %a{:href => "#/"} Allocate Appraisal Import
          .mega-item.super-admin
            %a{:href => "#/"} Equiniti User Appraisals Import
          .mega-item.super-admin
            %a{:href => "#/"} Equiniti Portfolio Import
// End Megamenu

