
// Megamenu
#megamenu
  %li.dropdown
    %a#bsComponents.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      Megamenu
    .dropdown-menu
      .megamenu
        .mega-column
          %p.mega-list-title Sard UI
          .mega-item
            %a{:href => "sard-ui/sa-typography.html"} Typography
          .mega-item
            %a{:href => "sard-ui/sa-icons.html"} Icons
          .mega-item
            %a{:href => "sard-ui/sa-colours.html"} Colours
          .mega-item
            %a{:href => "sard-ui/sa-links.html"} Links
          .mega-item
            %a{:href => "sard-ui/sa-lists.html"} Lists
          .mega-item
            %a{:href => "sard-ui/sa-perforations.html"} Perforations and Dividers
        .mega-column
          %p.mega-list-title BS Components
          .mega-item
            %a{:href => "bs-components/components.html#alerts-anchor"} Alerts
            %a{:href => "bs-components/components.html#badges-anchor"} Badges
            %a{:href => "bs-components/components.html#breadcrumbs-anchor"} Breadcrumbs
            %a{:href => "bs-components/components.html#buttons-anchor"} Buttons
            %a{:href => "bs-components/components.html#cards-anchor"} Cards
            %a{:href => "bs-components/components.html#collapse-anchor"} Collapse

            %a{:href => "bs-components/components.html#forms-anchor"} Forms
            %a.mega-sub-item{:href => "bs-components/components.html#checkboxes-anchor"} Checkboxes and Radios
            %a.mega-sub-item{:href => "bs-components/components.html#file-imports-anchor"} File Imports
            %a.mega-sub-item{:href => "bs-components/components.html#input-group-anchor"} Input Groups
            %a.mega-sub-item{:href => "bs-components/components.html#validation-anchor"} Validation

            %a{:href => "bs-components/components.html#list-group-anchor"} List Groups
            %a{:href => "bs-components/components.html#modal-anchor"} Modals
            %a{:href => "bs-components/components.html#navbar-anchor"} Navbar
            %a{:href => "bs-components/components.html#navs-anchor"} Navs
            %a{:href => "bs-components/components.html#pagination-anchor"} Pagination
            %a{:href => "bs-components/components.html#panels-anchor"} Panels
            %a{:href => "bs-components/components.html#popovers-anchor"} Popovers
            %a{:href => "bs-components/components.html#progress-anchor"} Progress Bars
            %a{:href => "bs-components/components.html#searchbars-anchor"} Searchbars
            %a{:href => "bs-components/components.html#tables-anchor"} Tables
            %a{:href => "bs-components/components.html#tooltips-anchor"} Tooltips
        
        .mega-column
          %p.mega-list-title Sard Components
          .mega-item
            %a{:href => "sard-components/sa-nav-tabs-job-planning.html"} Sard Nav Tabs - Job Planning
            %a{:href => "sard-components/sa-nav-tabs-portfolio.html"} Sard Nav Tabs - Portfolio
            %a{:href => "sard-components/sa-nav-tabs-appraisals.html"} Sard Nav Tabs - Appraisals

// End Megamenu

