%header
  %nav.navbar.fixed-top.navbar-expand-lg.navbar-sard
    .container
      %a.navbar-brand{:href => "index.html"} Navbar
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{:href => "index.html"}
              Home
              %span.sr-only (current)
          %li.nav-item.dropdown
            %a#sardUI.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Sard UI
            .dropdown-menu{"aria-labelledby" => "sardUI"}
              %a.dropdown-item{:href => "sard-ui/sa-typography.html"} Typography
              %a.dropdown-item{:href => "sard-ui/sa-icons.html"} Icons
              %a.dropdown-item{:href => "sard-ui/sa-colours.html"} Colours
              %a.dropdown-item{:href => "sard-ui/sa-links.html"} Links
          %li.nav-item.dropdown
            %a#bsComponents.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Components
            .dropdown-menu{"aria-labelledby" => "bsComponents"}
              %a.dropdown-item{:href => "components/components.html#alerts-anchor"} Alerts
              %a.dropdown-item{:href => "components/components.html#badges-anchor"} Badges
              %a.dropdown-item{:href => "components/components.html#breadcrumbs-anchor"} Breadcrumbs
              %a.dropdown-item{:href => "components/components.html#buttons-anchor"} Buttons
              %a.dropdown-item{:href => "components/components.html#cards-anchor"} Cards
              %a.dropdown-item{:href => "components/components.html#collapse-anchor"} Collapse
              %a.dropdown-item{:href => "components/components.html#dropdowns-anchor"} Dropdowns
              %a.dropdown-item{:href => "components/components.html#forms-anchor"} Forms
              %a.dropdown-item{:href => "components/components.html#input-group-anchor"} Input Groups
              %a.dropdown-item{:href => "components/components.html#list-group-anchor"} List Groups
              %a.dropdown-item{:href => "components/components.html#modal-anchor"} Modals
              %a.dropdown-item{:href => "components/components.html#navbar-anchor"} Navbar
              %a.dropdown-item{:href => "components/components.html#navs-anchor"} Navs
              %a.dropdown-item{:href => "components/components.html#pagination-anchor"} Pagination
              %a.dropdown-item{:href => "components/components.html#popovers-anchor"} Popovers
              %a.dropdown-item{:href => "components/components.html#progress-anchor"} Progress Bars
              %a.dropdown-item{:href => "components/components.html#searchbars-anchor"} Searchbars
              %a.dropdown-item{:href => "components/components.html#tables-anchor"} Tables
              %a.dropdown-item{:href => "components/components.html#tooltips-anchor"} Tooltips

              .dropdown-divider
              .dropdown-header BS3 Components
              %a.dropdown-item{:href => "components/components.html#panels-anchor"} Panels
          %li.nav-item
            %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
        %form.form-inline.input-group.searchbar-sard
          %input.form-control{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
          .input-group-append
            %button.btn.btn-navbar{:type => "submit"} Search
