.sa-sidemenu.sidemenu-light.open
  .menu-top
    .open-icon
  .menu-list
    / Include your navigation here
    .menu-section.section-01
      .menu-section-heading
        .item Section Heading 
      %ul.sub-menu
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            .item Link Without Icon
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            .item Link Without Icon

    .menu-section.section-02
      .menu-section-heading
        %i.si.si-user-circle-o
        .item Section Heading + Icon
      %ul.sub-menu
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            %i.si.si-chevron-right-x1
            .item Link With Icon
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            %i.si.si-chevron-right-x1
            .item 
              You can add a 
              %code %hr 
              between links if you wish
        %hr/
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            .spacer
            .item 
              You can also add a
              %code .spacer 
              instead of an icon to align the text
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            .spacer
            .item Link With spacer

    .menu-section.section-03
      %a.menu-section-heading{"aria-controls" => "collapse-section-03", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapse-section-03", :role => "button"}
        %i.si.si-user-circle-o
        .item Toggle Section 
      %ul.sub-menu.collapse#collapse-section-03
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            %i.si.si-chevron-right-x1
            .item Link With Icon
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            %i.si.si-chevron-right-x1
            .item Link With Icon

    .menu-section.section-04
      %a.menu-section-heading{"aria-controls" => "collapse-section-04", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#collapse-section-04", :role => "button"}
        %i.si.si-user-circle-o
        .item Toggle Section Show
      %ul.sub-menu.collapse.show#collapse-section-04
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            %i.si.si-chevron-right-x1
            .item Link With Icon
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            %i.si.si-chevron-right-x1
            .item Link With Icon 
        %li.sub-menu--item 
          %a.sard-products.active{:href => "/#"}
            %i.si.si-chevron-right-x1
            .item Active page 
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            %i.si.si-chevron-right-x1
            .item Link With Icon    

    .menu-section.section-05
      %a.menu-section-heading{"aria-controls" => "collapse-section-05", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapse-section-05", :role => "button"}
        %i.si.si-user-circle-o
        .item Toggle Section 
      %ul.sub-menu.collapse#collapse-section-05
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            %i.si.si-chevron-right-x1
            .item Link With Icon
        %li.sub-menu--item 
          %a.sard-products{:href => "/#"}
            %i.si.si-chevron-right-x1
            .item Link With Icon
