// Forms ========================================

legend{
  font-size: $sard-heading-font-size;
  font-weight: 400;
  line-height: $sard-heading-line-height;
}
label {
    margin-bottom: .25rem;
}

// Form Control =============
.form-control {
  color: $text;
  border: 1px solid $sa-grey-08;
  border-radius: .375rem;
}

.form-control:focus {
  color: $text;
  border-color: $client;
  -webkit-box-shadow: 0 0 0 0.2rem $client;
  box-shadow: 0 0 0 0.2rem $client;
}

.custom-select:focus {
  border-color: $client;
    outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem $client;
  box-shadow: 0 0 0 0.2rem $client;
}