// Checkboxes ===================================

$checkbox-background:           white;
$checkbox-background-checked:   $user-colour;
$checkbox-background-border:    $sa-grey-08;
$checkbox-background-disabled:  transparent;

// SARD Checkboxes ===========================
// https://www.templatemonster.com/blog/style-checkboxes-radio-buttons-css/



.sa-checkbox,
.sa-checkbox-after{
  span.checkbox{ // This overrides the default Bootstrap settings
    display: inline-block; // Original: block
    margin-top:5px; // Original: 10px
    margin-bottom:5px; // Original: 10px
  }
}

.sa-checkbox.form-check,
.sa-checkbox-after.form-check{
  padding-left: 0;
}

.sa-checkbox input[type="checkbox"],
.sa-checkbox-after input[type="checkbox"]{
  display: none;
}

.sa-checkbox label {
  position: relative;
  padding-left: 28px;
  padding-right: 30px;
  line-height: 1.2em;
  cursor: pointer;
}

.sa-checkbox span.checkbox{
  padding-left: 0px;
  cursor: pointer;
}

.sa-checkbox span.checkbox::before,
.sa-checkbox span.checkbox::after {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 0;
  margin: auto;
  margin-top:0px;
}

.sa-checkbox span.checkbox::before {
  left: 0px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Font Awesome 5 Free"; 
  content: "\f00c" ;
  font-weight: 900;
  color: transparent;
  text-align: center;
  font-size: 100%;
  line-height: 1.15em;
  border: 2px solid $checkbox-background-border;
  background-color: $checkbox-background;
}
.sa-checkbox input[type="checkbox"][disabled] + label{
  cursor: not-allowed;
}
.sa-checkbox input[type="checkbox"][disabled] + label span.checkbox::before{
  background-color: $checkbox-background-disabled;
  cursor: not-allowed;
}

.sa-checkbox input[type="checkbox"]:checked + label span.checkbox::before {
  color: $checkbox-background;
  background-color: $checkbox-background-checked;
  border-color: $checkbox-background-checked;
}

.sa-checkbox.right label{
  padding-right: 0px;
  right:-10px;
}

// Checkbox after
.sa-checkbox-after span.checkbox::before{
  display:none;
}
.sa-checkbox-after label {
  position: relative;
  padding-left: 0px;
  padding-right: 28px;
  line-height: 1.2em;
  cursor: pointer;
}

.sa-checkbox-after span.checkbox{
  padding-left: 0px;
  cursor: pointer;
}

.sa-checkbox-after span.checkbox::after {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 0;
  margin: auto;
  margin-top:0px;
}

.sa-checkbox-after span.checkbox::after {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Font Awesome 5 Free"; 
  content: "\f00c" ;
  color: transparent;
  text-align: center;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.15em;
  border: 2px solid $checkbox-background-border;
  background-color: $checkbox-background;
  margin-left: 8px;
}
.sa-checkbox-after span.checkbox.right::after{
  right:0;
}

.sa-checkbox-after input[type="checkbox"][disabled] + label{
  cursor: not-allowed;
}
.sa-checkbox-after input[type="checkbox"][disabled] + label span.checkbox::after{
  background-color: $checkbox-background-disabled;
  cursor: not-allowed;
}

.sa-checkbox-after input[type="checkbox"]:checked + label span.checkbox::after {
  color: $checkbox-background;
  background-color: $checkbox-background-checked;
  border-color: $checkbox-background-checked;
}

// Hover effect
.sa-checkbox:hover span.checkbox::before,
.sa-checkbox-after:hover span.checkbox::after{
  border-color: $checkbox-background-checked;
}

.sa-checkbox:hover input[type="checkbox"][disabled] + label span.checkbox::before,
.sa-checkbox-after:hover input[type="checkbox"][disabled] + label span.checkbox::after{
  border-color: $checkbox-background-border;
}



// Adjustments
.sa-checkbox-after.right { // When in a range right column
  text-align: right;
  .sa-radio-buttons .radio-button{
    padding-right:0;
    margin-left:10px;
  }
}



// SARD Radio Buttons ============================================

// This Works (2018-01-25) =======================================
// http://cssdeck.com/labs/radio-button-styling-in-css

.sa-radio-buttons{
  margin-top: 5px;
  margin-bottom: 5px;
}

.sa-radio-buttons.form-check,
.sa-radio-buttons-after.form-check{
  padding-left: 0;
}
.sa-radio-buttons.form-check-inline{
  margin-right: 0;
}
.sa-radio-buttons label{
  padding-top: 0;
}

.sa-radio-buttons .radio-button{
  display: inline;
  position:relative;
  padding-left:25px;
  padding-right:10px;
  cursor: pointer;
}

.sa-radio-buttons .radio-button:after{
  content:'';
  width:20px;
  height:20px;
  border:2px solid $checkbox-background-border;
  background-color: $checkbox-background;
  position:absolute;
  left:0;
  margin-top:1px;
  border-radius:100%;
  box-sizing:border-box;
}
.sa-radio-buttons input[type="radio"]{
  cursor: pointer;
  position:absolute;
  width:30px;
  height:30px;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}


.sa-radio-buttons input[type="radio"]:checked + .radio-button:after {
  background-color: $checkbox-background-checked;
  border-color: $checkbox-background-checked;
}
.sa-radio-buttons input[type="radio"]:checked + .radio-button:before{
  content:'';
  width:10px;
  height:10px;
  position:absolute;
  background:$checkbox-background;
  left:5px;
  top:4px;
  border-radius:100%;
  z-index: 2;
}
.form-check-inline.sa-radio-buttons input[type="radio"]:checked + .radio-button:before{
  margin-top:2px;
}

.sa-radio-buttons input[type="radio"]:disabled{
  cursor: not-allowed;
}
.sa-radio-buttons input[type="radio"]:disabled + .radio-button{
  cursor: not-allowed;
}

.sa-radio-buttons input[type="radio"]:disabled + .radio-button:after{
  background-color: $checkbox-background-disabled;
  cursor: not-allowed;
}
.sa-radio-buttons input[type="radio"]:disabled:checked + .radio-button:after{
  border-color: mix($checkbox-background-disabled, $checkbox-background-checked, 50%);
  background-color: mix($checkbox-background-disabled, $checkbox-background-checked, 50%);
  cursor: not-allowed;
}
.sa-radio-buttons input[type="radio"]:disabled:checked + .radio-button:before{
  background-color: $checkbox-background-disabled;
  cursor: not-allowed;
}


// Radio Buttons After = when button is to the right of the label =============
.sa-radio-buttons-after{
  margin-top: 5px;
  margin-bottom: 5px;
}

.sa-radio-buttons-after .control-label{
  padding-top: 0;
}

.sa-radio-buttons-after .radio-button{
  display: inline;
  position:relative;
  padding-right:25px;
  cursor: pointer;
}

.sa-radio-buttons-after .radio-button:after{
  content:'';
  width:20px;
  height:20px;
  border:2px solid $checkbox-background-border;
  background-color: $checkbox-background;
  position:absolute;
  right:0;
  margin-top:1px;
  border-radius:100%;
  box-sizing:border-box;
}
.sa-radio-buttons-after input[type="radio"]{
  cursor: pointer;
  position:absolute;
  width:30px;
  height:30px;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}


.sa-radio-buttons-after input[type="radio"]:checked + .radio-button:after {
  color:#0B8;
  background-color: $checkbox-background-checked;
  border-color: $checkbox-background-checked;
}
.sa-radio-buttons-after input[type="radio"]:checked + .radio-button:before{
  content:'';
  width:10px;
  height:10px;
  position:absolute;
  background:$checkbox-background;
  right:5px;
  top:4px;
  border-radius:100%;
  z-index: 2;
}

.form-check-inline.sa-radio-buttons-after input[type="radio"]:checked + .radio-button:before{
  top:6px;
}

.sa-radio-buttons-after input[type="radio"]:disabled{
  cursor: not-allowed;
}
.sa-radio-buttons-after input[type="radio"]:disabled + .radio-button{
  cursor: not-allowed;
}
.sa-radio-buttons-after input[type="radio"]:disabled + .radio-button:after{
  background-color: $checkbox-background-disabled;
  cursor: not-allowed;
}
.sa-radio-buttons-after input[type="radio"]:disabled:checked + .radio-button:after{
  border-color: mix($checkbox-background-disabled, $checkbox-background-checked, 50%);
  background-color: mix($checkbox-background-disabled, $checkbox-background-checked, 50%);
  cursor: not-allowed;
}
.sa-radio-buttons-after input[type="radio"]:disabled:checked + .radio-button:before{
  background-color: $checkbox-background-disabled;
  cursor: not-allowed;
}

// Hover effect
.sa-radio-buttons:hover .radio-button:after,
.sa-radio-buttons-after:hover .radio-button:after{
  border-color: $checkbox-background-checked;
}

.sa-radio-buttons:hover input[type="radio"]:disabled + .radio-button:after,
.sa-radio-buttons-after:hover input[type="radio"]:disabled + .radio-button:after{
  border-color: $checkbox-background-border;
}


// Adjustments
.sa-radio-buttons-after.right { // When in a range right column
  text-align: right;
  .sa-radio-buttons .radio-button{
    padding-right:0;
    margin-left:10px;
  }
}
.form-check-inline.sa-radio-buttons-after:last-of-type{
  margin-right: 0;
}

.sa-radio-buttons .position-static,
sa-radio-buttons-after .position-static{
  position: absolute!important;
}

.form-group-row .sa-radio-buttons{
  margin-top: 7px;
  margin-bottom: 7px;
}

// ERRORS =================

.sa-radio-buttons.error + .radio-button:after {
  color:#0B8;
}

.sa-radio-buttons{
  .radio-button.radio-inline{display: table-cell;}
  .radio-button.radio-inline + span{
    display: table-cell;
    padding-top: 2px;
  }
}




// SARD Toggle Switch ==================================
// https://codepen.io/morganfeeney/pen/KiBty
// http://codersblock.com/blog/checkbox-trickery-with-css/
// https://www.w3schools.com/howto/howto_css_switch.asp
.sa-toggle-switch-right input[type="checkbox"],
.sa-toggle-switch input[type="checkbox"]{
  display: none;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.sa-toggle-switch label {
  position: relative;
  padding-left: 50px;
  margin-bottom: 8px;
}

.sa-toggle-switch span::before,
.sa-toggle-switch span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.sa-toggle-switch span.slider{
  padding-top: 4px;
}
.sa-toggle-switch span.slider:hover {
  cursor: pointer;
}
.sa-toggle-switch span.slider::before {
  left: 0px;
  width: 45px;
  height: 25px;
  background-color: $checkbox-background;
  border-radius: 50px;
  border: 2px solid $checkbox-background-border;
}
.sa-toggle-switch:hover span.slider::before{
  border-color: $checkbox-background-checked;
}
.sa-toggle-switch input[type="checkbox"]:checked + label span.slider::before{
  border-color: $checkbox-background-checked;
}

.sa-toggle-switch span.slider::after {
  left: 4px;
  // top:1px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: $checkbox-background-border;
  transition: .25s, background-color .25s;
}
.sa-toggle-switch input[type="checkbox"]:checked + label{
  @include roboto-bold;
}
.sa-toggle-switch input[type="checkbox"]:checked + label span.slider::after {
  left: 24px;
  background-color: $checkbox-background-checked;
}

// right variation
.sa-toggle-switch-right{
  text-align: right;
}
.sa-toggle-switch-right label {
  position: relative;
  padding-right: 50px;
  margin-bottom: 8px;
}
.sa-toggle-switch-right span::before,
.sa-toggle-switch-right span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.sa-toggle-switch-right span.slider{
  padding-top: 4px;
}
.sa-toggle-switch-right span.slider:hover {
  cursor: pointer;
}

.sa-toggle-switch-right span.slider::before {
  right: 0px;
  width: 45px;
  height: 25px;
  background-color: $checkbox-background;
  border-radius: 50px;
  border: 2px solid $checkbox-background-border;
}
.sa-toggle-switch-right:hover span.slider::before{
  border-color: $checkbox-background-checked;
}
.sa-toggle-switch-right input[type="checkbox"]:checked + label span.slider::before{
  border-color: $checkbox-background-checked;
}

.sa-toggle-switch-right span.slider::after {
  right: 24px;
  // top:1px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: $checkbox-background-border;
  transition: .25s, background-color .25s;
}
.sa-toggle-switch-right input[type="checkbox"]:checked + label{
  @include roboto-bold;
}
.sa-toggle-switch-right input[type="checkbox"]:checked + label span.slider::after {
  right: 4px;
  background-color: $checkbox-background-checked;
}



// SARD Radio Toggles =========================
// https://www.templatemonster.com/blog/style-checkboxes-radio-buttons-css/

.sa-radio-toggle input[type="radio"]{
  display: none;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.sa-radio-toggle label {
  position: relative;
  padding-left: 50px;
  margin-bottom: 8px;
}

.sa-radio-toggle span::before,
.sa-radio-toggle span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.sa-radio-toggle span.radio{
  padding-top: 4px;
}
.sa-radio-toggle span.radio:hover {
  cursor: pointer;
}
.sa-radio-toggle span.radio::before {
  left: 0px;
  width: 45px;
  height: 25px;
  background-color: $checkbox-background;
  border-radius: 50px;
  border: 2px solid $checkbox-background-border;
}
.sa-radio-toggle:hover span.radio::before{
  border-color: $checkbox-background-checked;
}
.sa-radio-toggle input[type="radio"]:checked + label span.radio::before{
  border-color: $checkbox-background-checked;
}

.sa-radio-toggle span.radio::after {
  left: 4px;
  // top:1px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: $checkbox-background-border;
  transition: .25s, background-color .25s;
}
.sa-radio-toggle input[type="radio"]:checked + label{
  @include roboto-bold;
}
.sa-radio-toggle input[type="radio"]:checked + label span.radio::after {
  left: 24px;
  background-color: $checkbox-background-checked;
}

// sa-radio-toggle Right ==============

.sa-radio-toggle-right input[type="radio"]{
  display: none;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}


.sa-radio-toggle-right{
  text-align: right;
}
.sa-radio-toggle-right label {
  position: relative;
  padding-right: 50px;
  margin-bottom: 8px;
}

.sa-radio-toggle-right span::before,
.sa-radio-toggle-right span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.sa-radio-toggle-right span.radio{
  padding-top: 4px;
}
.sa-radio-toggle-right span.radio:hover {
  cursor: pointer;
}
.sa-radio-toggle-right span.radio::before {
  right: 0px;
  width: 45px;
  height: 25px;
  background-color: $checkbox-background;
  border-radius: 50px;
  border: 2px solid $checkbox-background-border;
}
.sa-radio-toggle-right:hover span.radio::before{
  border-color: $checkbox-background-checked;
}
.sa-radio-toggle-right input[type="radio"]:checked + label span.radio::before{
  border-color: $checkbox-background-checked;
}
.sa-radio-toggle-right span.radio::after {
  right: 24px;
  // top:1px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: $checkbox-background-border;
  transition: .25s, background-color .25s;
}
.sa-radio-toggle-right input[type="radio"]:checked + label{
  @include roboto-bold;
}
.sa-radio-toggle-right input[type="radio"]:checked + label span.radio::after {
  right: 4px;
  background-color: $checkbox-background-checked;
}

// SARD Toggle Check ===============================================================
// This is the Yes/No Switch used in Appraisals
// https://codepen.io/anon/pen/GgpdwY

.sa-toggle-check,
.sa-toggle-check-right{
  input[type="checkbox"]{
    display: none;
  }
}

.sa-toggle-check{

  .toggle-check-input {
    width: 1px;
    height: 1px;
    position: absolute;
  }

  .toggle-check-text {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    background: $checkbox-background;
    padding: 0em 0.5em 0em 2em;
    border-radius: 1em;
    min-width: 4.2em;
    width: 4.2em;
    cursor: pointer;
    transition: background-color 0.15s;
    border: 2px solid $checkbox-background-border;
  }
  .toggle-check-text:hover{
    border-color: $checkbox-background-checked;
  }

  .toggle-check-text:after {
    content: ' ';
    display: block;
    background: $checkbox-background-border;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    transition: 0.15s, margin-left 0.15s;
  }

  .toggle-check-text:before {
    content: 'No';
    color: $checkbox-background-border;
  }

  .toggle-check-input:checked ~ .toggle-check-text {
    background: $checkbox-background-checked;
    border-color: $checkbox-background-checked;
    padding-left: 0.5em;
  }

  .toggle-check-input:checked ~ .toggle-check-text:before {
    content: 'Yes';
    color: $checkbox-background;
    @include roboto-bold;
  }

  .toggle-check-input:checked ~ .toggle-check-text:after {
    left: 100%;
    margin-left: -1.3em;
    background: $checkbox-background;
  }
}

// Right Version
.sa-toggle-check-right{
  text-align: right;

  .toggle-check-input {
    width: 1px;
    height: 1px;
    position: absolute;
  }

  .toggle-check-text {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    background: $checkbox-background;
    padding: 0em 0.5em 0em 2em;
    border-radius: 1em;
    min-width: 4.2em;
    width: 4.2em;
    cursor: pointer;
    transition: background-color 0.15s;
    border: 2px solid $checkbox-background-border;
    text-align: left;
  }
  .toggle-check-text:hover{
    border-color: $checkbox-background-checked;
  }

  .toggle-check-text:after {
    content: ' ';
    display: block;
    background: $checkbox-background-border;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    transition: left 0.15s, margin-left 0.15s;
  }

  .toggle-check-text:before {
    content: 'No';
    color: $checkbox-background-border;
  }

  .toggle-check-input:checked ~ .toggle-check-text {
    background: $checkbox-background-checked;
    border-color: $checkbox-background-checked;
    padding-left: 0.5em;
  }

  .toggle-check-input:checked ~ .toggle-check-text:before {
    content: 'Yes';
    color: $checkbox-background;
    @include roboto-bold;
  }

  .toggle-check-input:checked ~ .toggle-check-text:after {
    left: 100%;
    margin-left: -1.3em;
    background: $checkbox-background;
  }
}


// ==================================================================

// Inferred Checkbox ============
// Used in Admin / Directorates / Edit Form

.sa-inferred-checkbox{
  padding-top: 4px;
  padding-bottom: 3px;
  float:left;
  margin-right: 10px;
  border-right: 1px solid $checkbox-background;
}

.sa-inferred-checkbox input[type="checkbox"],
.sa-inferred-checkbox-after input[type="checkbox"]{
  display: none;
}

.sa-inferred-checkbox label {
  position: relative;
  padding-right: 30px;
  @include roboto-bold;
  line-height: 1.2em;
}

.sa-inferred-checkbox span.checkbox{
  padding-left: 0px;
}

.sa-inferred-checkbox span.checkbox::before,
.sa-inferred-checkbox span.checkbox::after {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 0;
  margin: auto;
  margin-top:0px;
}

.sa-inferred-checkbox span.checkbox::before {
  left: 0px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  font-family: "Font Awesome 5 Free"; 
  content: "\f00c" ;
  font-weight: 900;
  color: transparent;
  text-align: center;
  font-size: 100%;
  line-height: 1.15em;
  border: 2px solid $checkbox-background-border;
  background-color: $checkbox-background;
}

.sa-inferred-checkbox input[type="checkbox"]:checked + label span.checkbox::before {
  color: $admin-colour-2;
}

.sa-inferred-checkbox input[type="checkbox"][disabled] + label span.checkbox::before{
  background-color: $checkbox-background-disabled;
  cursor: not-allowed;
}

.sa-inferred-checkbox input[type="checkbox"][disabled]:checked + label span.checkbox::before{
  color: $sa-grey-10;
}
