// Navs =========================================

$sa-nav-colour: $sa-grey-14;

.nav.nav-tabs .nav-item{
  .nav-link{
    color: $sa-nav-colour;
    &:visited{
      color: $sa-nav-colour;
    }
    &:hover{
      background-color: $sa-grey-02;
    }
    &:focus,
    &:active{
      background-color: $sa-grey-04;
    }
  }
}

.nav.nav-pills .nav-link{
  border-radius: $sard-spacer-6;
  color: $sa-nav-colour;
  &:visited{
    color: $sa-nav-colour;
  }
  &:hover{
    background-color: lighten($sa-nav-colour, 55%);
  }
  &:focus,
  &:active{
    background-color: lighten($sa-nav-colour, 45%);
  }
}

.nav.nav-pills .nav-link.active{
  &:focus,
  &:active{
    background-color: $sa-nav-colour;
  }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: $sa-nav-colour;
}

.nav.nav-pills .nav-item,
.nav.nav-pills .nav-link{
  & a{
    color: $sa-nav-colour;
  }
}
.nav.nav-pills .nav-link.active{
  background-color: $sa-nav-colour;
  color: white;
  &:focus,
  &:active{
    background-color: $sa-nav-colour;
  }
}

// Colour variations ----------------------------

.nav-primary.nav.nav-pills .nav-item,
.nav-primary.nav.nav-pills .nav-link{
  & a{
    color: $user-primary-colour;
  }
}
.nav-primary.nav.nav-pills .nav-link.active{
  background-color: $user-primary-colour;
  color: white;
  &:focus,
  &:active{
    background-color: $user-primary-colour;
  }
}

.nav-admin.nav.nav-pills .nav-item,
.nav-admin.nav.nav-pills .nav-link{
  & a{
    color: $admin-primary-colour;
  }
}
.nav-admin.nav.nav-pills .nav-link.active{
  background-color: $admin-primary-colour;
  color: white;
  &:focus,
  &:active{
    background-color: $admin-primary-colour;
  }
}


.nav-secondary.nav.nav-pills .nav-item,
.nav-secondary.nav.nav-pills .nav-link{
  & a{
    color: $secondary;
  }
}
.nav-secondary.nav.nav-pills .nav-link.active{
  background-color: $secondary;
  color: white;
  &:focus,
  &:active{
    background-color: $secondary;
  }
}

