// Cards ========================================

// Base class
.card{
  border:1px solid transparent;
  margin-bottom: $sard-margin;
  
  & .card-header, .card-footer{
    border:none;
    color: white;
  }
}
.card-body {
  padding: $sard-body-padding;
  margin: -1px;
  @include clearfix;
}
.card-body.border-top{
  border-color: white!important;
  margin-top: -0.5px!important;
}
.card-body.border-bottom{
  border-color: white!important;
  margin-bottom: -0.5px!important;
}
.card-body hr{
  border-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.card-body p + hr{
  margin-top: -0.5rem;
}
.card-title{
  margin-bottom: initial;
}



// Optional heading
.card-header {
  padding: $sard-heading-padding;
  border-bottom: 1px solid transparent;
  background-color: $sard-heading-bg;
  margin: -1px;
  overflow: hidden;

  font-size: $sard-heading-font-size;
  font-weight: 300;
  line-height: $sard-heading-line-height;
  color: $sard-heading-text-color;

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }
}

.card-header h3{
  margin: 0;
  font-size: $sard-heading-font-size;
  line-height: $sard-heading-line-height;
  font-weight: $sard-heading-font-weight;
  color: $sard-heading-text-color;
}


// Optional footer (stays gray in every modifier class)
.card-footer {
  padding: $sard-footer-padding;
  background-color: $sard-footer-bg;
  color: $sard-heading-text-color;
  font-weight: $sard-heading-font-weight;
  border-top: 1px solid $sard-inner-border;
  @include border-bottom-radius(($sard-border-radius - 1));
  margin: -1px;

  &:last-child {
    @include border-radius( 0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}


// SARD Cards ===================================

.card.card-sard, .card.card-default{
  background-color: $sard-bg;
  & .card-header, .card-footer{
    background-color: $sard-heading-bg;
    & .text-muted { 
      color: lighten($sard-heading-bg, 30%) !important;
    }
  }
}
.card.card-sard.outline, .card.card-default.outline{
  background-color: white;
  border-color: $sard-heading-bg;
  & .card-body.border-bottom{
    border-color: $sard-heading-bg!important;
  }
  & .card-body.border-top{
    border-color: $sard-heading-bg!important;
  }
  & .card-body hr{
    border-color: $sard-heading-bg!important;
  }
}


.card.card-primary{
  background-color: $client;
  & .card-header, .card-footer{
    background-color: darken($client, 15%);
    & .text-muted { 
      color: darken($client, 25%) !important;
    }
  }
}
.card.card-primary.outline{
  background-color: white;
  border-color: $client;
  & .card-body.border-bottom{
    border-color: $client!important;
  }
  & .card-body.border-top{
    border-color: $client!important;
  }
  & .card-body hr{
    border-color: $client;
  }
}

.card.card-success{
  background-color: $success;
  & .card-header, .card-footer{
    background-color: darken($success, 10%);
    & .text-muted { 
      color: darken($success, 25%) !important;
    }
  }
}
.card.card-success.outline{
  background-color: white;
  border-color: $success;
  & .card-body.border-bottom{
    border-color: $success!important;
  }
  & .card-body.border-top{
    border-color: $success!important;
  }
  & .card-body hr{
    border-color: $success;
  }
}

.card.card-danger{
  background-color: $danger;
  & .card-header, .card-footer{
    background-color: darken($danger, 15%);
    & .text-muted { 
      color: lighten($text, 25%) !important;
    }
  }
  & .card-body{
    & h1, h2, h3, h4, h5, h6, p{
      color: white;
    }
  }
}
.card.card-danger.outline{
  background-color: white;
  border-color: $danger;
  & .card-body.border-bottom{
    border-color: $danger!important;
  }
  & .card-body.border-top{
    border-color: $danger!important;
  }
  & .card-body hr{
    border-color: $danger;
  }
  & .card-body{
    & h1, h2, h3, h4, h5, h6, p{
      color: $text;
    }
  }
}

.card.card-warning{
  background-color: $warning;
  & .card-header, .card-footer{
    background-color: $text;
    & .text-muted { 
      color: lighten($text, 25%) !important;
    }
  }
}
.card.card-warning.outline{
  background-color: white;
  border-color: $warning;
  & .card-body.border-bottom{
    border-color: $warning!important;
  }
  & .card-body.border-top{
    border-color: $warning!important;
  }
  & .card-body hr{
    border-color: $warning;
  }
}


.card.card-info{
  background-color: $info;
  & .card-header, .card-footer{
    background-color: darken($info, 20%);
    & .text-muted { 
      color: darken($info, 50%) !important;
    }
  }
}
.card.card-info.outline{
  background-color: white;
  border-color: $info;
  & .card-body.border-bottom{
    border-color: $info!important;
  }
  & .card-body.border-top{
    border-color: $info!important;
  }
  & .card-body hr{
    border-color: $info;
  }
}


.card.card-dark{
  background-color: $sa-grey-14;
  & .card-header, .card-footer{
    background-color: $sard-heading-bg;
    & .text-muted { 
      color: lighten($text, 25%) !important;
    }
  }
  & .card-body{
    & h1, h2, h3, h4, h5, h6, p{
      color: white;
    }
  }
}
.card.card-dark.outline{
  background-color: white;
  border-color: $sard-heading-bg;
  & .card-body.border-bottom{
    border-color: $sard-heading-bg!important;
  }
  & .card-body.border-top{
    border-color: $sard-heading-bg!important;
  }
  & .card-body hr{
    border-color: $sard-heading-bg;
  }
  & .card-body{
    & h1, h2, h3, h4, h5, h6, p{
      color: $text;
    }
  }
}

.card.card-white{
  background-color: white;
  & .card-header, .card-footer{
    background-color: white;
    color: $text;
    & .text-muted { 
      color: lighten($text, 25%) !important;
    }
  }
  & .card-header{
    border-bottom: 1px solid $sa-grey-04;
    margin-bottom: -2px;
  }
  & .card-footer{
    border-top: 1px solid $sa-grey-04;
    margin-top: -2px;
  }
  & .card-body.border-bottom{
    border-color: $sa-grey-04!important;
  }
  & .card-body.border-top{
    border-color: $sa-grey-04!important;
  }
  & .card-body hr{
    border-color: $sa-grey-04;
  }
}
.card.card-white.outline{
  background-color: transparent;
  border-color: white;
  & .card-header, .card-footer{
    background-color: transparent;
    color: $text;
  }
  & .card-header{
    border-bottom: 1px solid white;
    margin-bottom: -2px;
  }
  & .card-footer{
    border-top: 1px solid white;
    margin-top: -2px;
  }
  & .card-body.border-bottom{
    border-color: white!important;
  }
  & .card-body.border-top{
    border-color: white!important;
  }
  & .card-body hr{
    border-color: white;
  }
}

