// Panels =======================================

// Base class
.panel{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  word-wrap: break-word;
  background-color: $sard-bg;
  background-clip: border-box;
  border:1px solid transparent;
  @include border-radius($sard-border-radius);
  margin-bottom: $sard-margin;

  & .panel-heading, .panel-header, .panel-footer{
    border:none;
    color: white;
  }
}
.panel-body {
  padding: $sard-body-padding;
  margin: -1px;
  @include clearfix;
}
.panel-body.border-top{
  border-color: white!important;
  margin-top: -0.5px!important;
}
.panel-body.border-bottom{
  border-color: white!important;
  margin-bottom: -0.5px!important;
}
.panel-body hr{
  border-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.panel-body p:last-child {
  margin-bottom: 0;
}

.panel-body p + hr{
  margin-top: -0.5rem;
}
.panel-title{
  margin-bottom: initial;
}



// Optional heading
.panel-heading, .panel-header  {
  padding: $sard-heading-padding;
  border-bottom: 1px solid transparent;
  background-color: $sard-heading-bg;
  margin: -1px;
  overflow: hidden;

  font-size: $sard-heading-font-size;
  font-weight: 300;
  line-height: $sard-heading-line-height;
  color: $sard-heading-text-color;

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
  &:first-child {
    @include border-radius($sard-inner-border-radius $sard-inner-border-radius 0 0);
  }
}

.panel-heading h3, .panel-header h3,
.panel-heading h4, .panel-header h4{
  margin: 0;
  font-size: $sard-heading-font-size;
  line-height: $sard-heading-line-height;
  font-weight: $sard-heading-font-weight;
  color: $sard-heading-text-color;
}


// Optional footer (stays gray in every modifier class)
.panel-footer {
  padding: $sard-footer-padding;
  background-color: $sard-footer-bg;
  color: $sard-heading-text-color;
  font-weight: $sard-heading-font-weight;
  border-top: 1px solid $sard-inner-border;
  @include border-bottom-radius(($sard-border-radius - 1));
  margin: -1px;

  &:last-child {
    @include border-radius( 0 0 $sard-inner-border-radius $sard-inner-border-radius);
  }
}


// SARD panels ===================================

.panel.panel-sard, .panel.panel-default{
  // background-color: $sard-bg;
  & .panel-heading, .panel-header, .panel-footer{
    background-color: $sard-heading-bg;
    & .text-muted { 
      color: lighten($sard-heading-bg, 30%) !important;
    }
  }
}
.panel.panel-sard.outline, .panel.panel-default.outline{
  background-color: white;
  border-color: $sard-heading-bg;
  & .panel-body.border-bottom{
    border-color: $sard-heading-bg!important;
  }
  & .panel-body.border-top{
    border-color: $sard-heading-bg!important;
  }
  & .panel-body hr{
    border-color: $sard-heading-bg!important;
  }
}


.panel.panel-primary{
  background-color: $client;
  & .panel-heading, .panel-header, .panel-footer{
    background-color: darken($client, 15%);
    & .text-muted { 
      color: darken($client, 25%) !important;
    }
  }
}
.panel.panel-primary.outline{
  background-color: white;
  border-color: $client;
  & .panel-body.border-bottom{
    border-color: $client!important;
  }
  & .panel-body.border-top{
    border-color: $client!important;
  }
  & .panel-body hr{
    border-color: $client;
  }
}

.panel.panel-success{
  background-color: $success;
  & .panel-heading, .panel-header, .panel-footer{
    background-color: darken($success, 10%);
    & .text-muted { 
      color: darken($success, 25%) !important;
    }
  }
}
.panel.panel-success.outline{
  background-color: white;
  border-color: $success;
  & .panel-body.border-bottom{
    border-color: $success!important;
  }
  & .panel-body.border-top{
    border-color: $success!important;
  }
  & .panel-body hr{
    border-color: $success;
  }
}

.panel.panel-danger{
  background-color: $danger;
  & .panel-heading, .panel-header, .panel-footer{
    background-color: darken($danger, 15%);
    & .text-muted { 
      color: lighten($text, 25%) !important;
    }
  }
  & .panel-body{
    & h1, h2, h3, h4, h5, h6, p{
      color: white;
    }
  }
}
.panel.panel-danger.outline{
  background-color: white;
  border-color: $danger;
  & .panel-body.border-bottom{
    border-color: $danger!important;
  }
  & .panel-body.border-top{
    border-color: $danger!important;
  }
  & .panel-body hr{
    border-color: $danger;
  }
  & .panel-body{
    & h1, h2, h3, h4, h5, h6, p{
      color: $text;
    }
  }
}

.panel.panel-warning{
  background-color: $warning;
  & .panel-heading, .panel-header, .panel-footer{
    background-color: $text;
    & .text-muted { 
      color: lighten($text, 25%) !important;
    }
  }
}
.panel.panel-warning.outline{
  background-color: white;
  border-color: $warning;
  & .panel-body.border-bottom{
    border-color: $warning!important;
  }
  & .panel-body.border-top{
    border-color: $warning!important;
  }
  & .panel-body hr{
    border-color: $warning;
  }
}


.panel.panel-info{
  background-color: $info;
  & .panel-heading, .panel-header, .panel-footer{
    background-color: darken($info, 20%);
    & .text-muted { 
      color: darken($info, 50%) !important;
    }
  }
}
.panel.panel-info.outline{
  background-color: white;
  border-color: $info;
  & .panel-body.border-bottom{
    border-color: $info!important;
  }
  & .panel-body.border-top{
    border-color: $info!important;
  }
  & .panel-body hr{
    border-color: $info;
  }
}


.panel.panel-dark{
  background-color: $sard-heading-bg;
  & .panel-heading, .panel-header, .panel-footer{
    background-color: $sard-heading-bg;
    & .text-muted { 
      color: lighten($text, 25%) !important;
    }
  }
  & .panel-body{
    & h1, h2, h3, h4, h5, h6, p{
      color: white;
    }
  }
}
.panel.panel-dark.outline{
  background-color: white;
  border-color: $sard-heading-bg;
  & .panel-body.border-bottom{
    border-color: $sard-heading-bg!important;
  }
  & .panel-body.border-top{
    border-color: $sard-heading-bg!important;
  }
  & .panel-body hr{
    border-color: $sard-heading-bg;
  }
  & .panel-body{
    & h1, h2, h3, h4, h5, h6, p{
      color: $text;
    }
  }
}

.panel.panel-white{
  background-color: white;
  & .panel-heading, .panel-header, .panel-footer{
    background-color: white;
    color: $text;
    & .text-muted { 
      color: lighten($text, 25%) !important;
    }
  }
  & .panel-heading, .panel-header{ 
    border-bottom: 1px solid $sa-grey-04;
    margin-bottom: -2px;
  }
  & .panel-footer{
    border-top: 1px solid $sa-grey-04;
    margin-top: -2px;
  }
  & .panel-body.border-bottom{
    border-color: $sa-grey-04!important;
  }
  & .panel-body.border-top{
    border-color: $sa-grey-04!important;
  }
  & .panel-body hr{
    border-color: $sa-grey-04;
  }
}
.panel.panel-white.outline{
  background-color: transparent;
  border-color: white;
  & .panel-heading, .panel-header, .panel-footer{
    background-color: transparent;
    color: $text;
  }
  & .panel-heading, .panel-header{ 
    border-bottom: 1px solid white;
    margin-bottom: -2px;
  }
  & .panel-footer{
    border-top: 1px solid white;
    margin-top: -2px;
  }
  & .panel-body.border-bottom{
    border-color: white!important;
  }
  & .panel-body.border-top{
    border-color: white!important;
  }
  & .panel-body hr{
    border-color: white;
  }
}


