// Buttons ===================================

// Base styles

.btn{
  border-radius: 2rem;
  box-shadow: $sa-box-shadow;
}

.btn-xs{
  padding: 0 $sard-spacer-6;
  font-size: .75rem;
}

.btn-client{
  background-color: $user-colour;
  color: white!important;
  &:hover { 
    background-color: darken($user-colour, 5%); 
  }
  &:active {
    background-color: darken($user-colour, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-colour, .25);
  }
}

.btn-client-dark{
  background-color: $user-colour-dark;
  color: white!important;
  &:hover { 
    background-color: darken($user-colour-dark, 5%); 
  }
  &:active {
    background-color: darken($user-colour-dark, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-colour-dark, .25);
  }
}

.btn-client-2{
  background-color: $user-colour-2;
  color: white!important;
  &:hover { 
    background-color: darken($user-colour-2, 5%); 
  }
  &:active {
    background-color: darken($user-colour-2, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-colour-2, .25);
  }
}

.btn-client-2-dark{
  background-color: $user-colour-2-dark;
  color: white!important;
  &:hover { 
    background-color: darken($user-colour-2-dark, 5%); 
  }
  &:active {
    background-color: darken($user-colour-2-dark, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-colour-2-dark, .25);
  }
}


.btn-admin{
  background-color: $admin-colour;
  color: white!important;
  &:hover { 
    background-color: darken($admin-colour, 5%); 
  }
  &:active {
    background-color: darken($admin-colour, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($admin-colour, .25);
  }
}
// Outer Glow
.btn-admin:not(:disabled):not(.disabled).active:focus, .btn-admin:not(:disabled):not(.disabled):active:focus, .show>.btn-admin.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba($admin-colour, .25);
}

.btn-admin-dark{
  background-color: $admin-colour-dark;
  color: white!important;
  &:hover { 
    background-color: darken($admin-colour-dark, 5%); 
  }
  &:active {
    background-color: darken($admin-colour-dark, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($admin-colour-dark, .25);
  }
}

.btn-admin-2{
  background-color: $admin-colour-2;
  color: white!important;
  &:hover { 
    background-color: darken($admin-colour-2, 5%); 
  }
  &:active {
    background-color: darken($admin-colour-2, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($admin-colour-2, .25);
  }
}

.btn-admin-2-dark{
  background-color: $admin-colour-2-dark;
  color: white!important;
  &:hover { 
    background-color: darken($admin-colour-2-dark, 5%); 
  }
  &:active {
    background-color: darken($admin-colour-2-dark, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($admin-colour-2-dark, .25);
  }
}

$btn-default: $sa-grey-14;
.btn-default{
  background-color: $btn-default;
  color: white!important;
  &:hover { 
    background-color: darken($btn-default, 5%); 
  }
  &:active {
    background-color: darken($btn-default, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($btn-default, .25);
  }
}

.btn.btn-outline-light{
  color: $sa-grey-06;
  border-color: $sa-grey-06;
  &:hover{
    color: $sa-grey-10;
  }
}

// Button Outlines ==============================
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark{
  border-width: 2px;
}

// Button Groups ================================
.btn-group .btn{
  box-shadow: none;
}
.btn-group{
  border-radius: 2rem;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.2);
  box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.2);
}