// Megamenu =====================================

// =================================================================
// Megamenu ============================================
// http://stackoverflow.com/questions/32094344/how-to-make-full-width-mega-menu-in-bootstrap
// http://jsfiddle.net/ztczg6h7/1/


#megamenu{

  .nav-item.dropdown {
    position: static !important; // This make the menu full body width
  }

  // Mega Menu Size =================
  .dropdown-menu.show{
    background-color: transparent;
    box-shadow: none;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .megamenu{
    overflow-y: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
    
    @media (min-width: 1589px) { // XXL 
      max-height: 400px;
      width: 1502px ;
    }
    @media (max-width: 1588.98px){ // XL
      width: 1112px ;
    }
    @media (max-width: 1199.98px) { // LG
      max-height: 400px;
      width: 904px ;
    }
    @media (max-width: 991.98px) { // MD
      max-height: 400px;
      width: 670px ;
    }
    @media (max-width: 991.98px) { // SM
      max-height: 400px;
      width: 100% ;
    }
    @media (max-width: 767.98px) { // XS
      max-height: 200px;
      width: 100% ;
    }
    @media (max-width: 575.98px) { // XXS
      max-height: 200px;
      width:100%;
    }
  }

  // Mega Menu ==============
  .megamenu{
    padding: $sard-spacer-8 $sard-spacer-8;
    background-color:white;
    @include roboto-regular;
    border:1px solid darken($user-primary-colour, 15%);
    border-top: none;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (max-width: 767.98px){
      display: block;
    }
  }


  // Mega Menu layout =======

  .mega-column{
    flex-grow: 1;
  }

  @media (max-width: 767.98px){
    .mega-column{
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid $user-primary-colour;
    }
    .mega-column:first-child{
    margin-top: 0px;
    padding-top: 0px;
    border-top: none;
  }
}

  .mega-list-title{
    padding: 0px 5px;
    padding-bottom: 3px;
    margin: 0;
    @include roboto-bold;
    color: $user-primary-colour;
  }
    
  .mega-item{
    padding: 3px 5px;
    & a { color: $text; }
    &:hover{
      background-color: $sa-grey-02;
    }
    &:focus, &:active{
      background-color: $sa-grey-04;
    }
    &.current{
      background-color: $user-primary-colour;
      & a { color: white; }
      &:hover{
        background-color: darken($user-primary-colour, 5%);
      }
      &:focus, &:active{ background-color: darken($user-primary-colour, 10%); }
    }
  }

  hr{
    margin: 5px;
  }

  .mega-item.super-admin a:after{
    font-family: "sard-icons" !important;
    line-height: initial;
    content: "\e00a";
    color:$sa-grey-10;
    margin-left: 5px;
    position: relative;
    top: 2px;
  }

} // END #megamenu
