// Buttons ===================================

// Base styles

.btn{
  border-radius: 2rem;
  box-shadow: $sa-box-shadow;
  &:visited { 
    color: white; 
  }
}

.btn-xs{
  padding: 0 $sard-spacer-6;
  font-size: .75rem;
}

.btn-warning, .btn-light{
  &:visited { 
    color: $text; 
  }
}

.btn-link{
  &:visited { 
    color: $link-color; 
  }
}

.btn-user{
  background-color: $user-colour;
  color: white!important;
  &:hover { 
    background-color: darken($user-colour, 5%); 
  }
  &:active {
    background-color: darken($user-colour, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-colour, .25);
  }
}

.btn-trust{
  background-color: $user-colour;
  color: white!important;
  &:hover { 
    background-color: darken($user-colour, 5%); 
  }
  &:active {
    background-color: darken($user-colour, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-colour, .25);
  }
}

.btn-user-dark{
  background-color: $user-colour-dark;
  color: white!important;
  &:hover { 
    background-color: darken($user-colour-dark, 5%); 
  }
  &:active {
    background-color: darken($user-colour-dark, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-colour-dark, .25);
  }
}

.btn-user-2{
  background-color: $user-colour-2;
  color: white!important;
  &:hover { 
    background-color: darken($user-colour-2, 5%); 
  }
  &:active {
    background-color: darken($user-colour-2, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-colour-2, .25);
  }
}

.btn-user-2-dark{
  background-color: $user-colour-2-dark;
  color: white!important;
  &:hover { 
    background-color: darken($user-colour-2-dark, 5%); 
  }
  &:active {
    background-color: darken($user-colour-2-dark, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($user-colour-2-dark, .25);
  }
}


.btn-admin{
  background-color: $admin-colour;
  color: white!important;
  &:hover { 
    background-color: darken($admin-colour, 5%); 
  }
  &:active {
    background-color: darken($admin-colour, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($admin-colour, .25);
  }
}
// Outer Glow
.btn-admin:not(:disabled):not(.disabled).active:focus, .btn-admin:not(:disabled):not(.disabled):active:focus, .show>.btn-admin.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba($admin-colour, .25);
}

.btn-admin-dark{
  background-color: $admin-colour-dark;
  color: white!important;
  &:hover { 
    background-color: darken($admin-colour-dark, 5%); 
  }
  &:active {
    background-color: darken($admin-colour-dark, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($admin-colour-dark, .25);
  }
}

.btn-admin-2{
  background-color: $admin-colour-2;
  color: white!important;
  &:hover { 
    background-color: darken($admin-colour-2, 5%); 
  }
  &:active {
    background-color: darken($admin-colour-2, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($admin-colour-2, .25);
  }
}

.btn-admin-2-dark{
  background-color: $admin-colour-2-dark;
  color: white!important;
  &:hover { 
    background-color: darken($admin-colour-2-dark, 5%); 
  }
  &:active {
    background-color: darken($admin-colour-2-dark, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($admin-colour-2-dark, .25);
  }
}

$btn-default: $sa-grey-14;
.btn-default{
  background-color: $btn-default;
  color: white!important;
  &:hover { 
    background-color: darken($btn-default, 5%); 
  }
  &:active {
    background-color: darken($btn-default, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($btn-default, .25);
  }
}

// SARD Buttons

.btn-submit{
  background-color: $success;
  color: white!important;
  &:hover { 
    background-color: darken($success, 5%); 
  }
  &:active {
    background-color: darken($success, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($success, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f058" ;
    color:white;
    font-size: 1.45rem;
    line-height: 1rem;
    position: relative;
    top: 3.5px;
    left: -5px;
  }
}
.btn-sign-in{
  background-color: $success;
  color: white!important;
  &:hover { 
    background-color: darken($success, 5%); 
  }
  &:active {
    background-color: darken($success, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($success, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f2f6" ;
    color:white;
    font-size: 1.45rem;
    font-weight: 900;
    line-height: 1rem;
    position: relative;
    top: 3.5px;
    left: -5px;
  }
}

.btn-sign-out{
  background-color: $success;
  color: white!important;
  &:hover { 
    background-color: darken($success, 5%); 
  }
  &:active {
    background-color: darken($success, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($success, .25);
  }
  &::after{
    font-family: "Font Awesome 5 Free"; 
    content: "\f2f5" ;
    color:white;
    font-size: 1.45rem;
    font-weight: 900;
    line-height: 1rem;
    position: relative;
    top: 3.5px;
    right: -6px;
  }
}

.btn-cancel{
  background-color: $sa-red;
  color: white!important;
  &:hover { 
    background-color: darken($sa-red, 5%); 
  }
  &:active {
    background-color: darken($sa-red, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($sa-red, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f057" ;
    color:white;
    font-size: 1.45rem;
    line-height: 1rem;
    position: relative;
    top: 3.5px;
    left: -5px;
  }
}

.btn-back{
  background-color: $btn-default;
  color: white!important;
  &:hover { 
    background-color: darken($btn-default, 5%); 
  }
  &:active {
    background-color: darken($btn-default, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($btn-default, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f060" ;
    color:white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1rem;
    position: relative;
    top: 2px;
    left: -3px;
  }
}

.btn-forward{
  background-color: $btn-default;
  color: white!important;
  &:hover { 
    background-color: darken($btn-default, 5%); 
  }
  &:active {
    background-color: darken($btn-default, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($btn-default, .25);
  }
  &::after{
    font-family: "Font Awesome 5 Free"; 
    content: "\f061" ;
    color:white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1rem;
    position: relative;
    top: 2px;
    right: -6px;
  }
}

.btn-download{
  background-color: $sa-info;
  color: white!important;
  &:hover { 
    background-color: darken($sa-info, 5%); 
  }
  &:active {
    background-color: darken($sa-info, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($sa-info, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f381" ;
    color:white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1rem;
    position: relative;
    top: 2px;
    left: -3px;
  }
}

.btn-upload{
  background-color: $sa-info;
  color: white!important;
  &:hover { 
    background-color: darken($sa-info, 5%); 
  }
  &:active {
    background-color: darken($sa-info, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($sa-info, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
    content: "\f382" ;
    color:white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1rem;
    position: relative;
    top: 2px;
    left: -3px;
  }
}

.btn-refresh{
  background-color: $sa-success;
  color: white!important;
  &:hover { 
    background-color: darken($sa-success, 5%); 
  }
  &:active {
    background-color: darken($sa-success, 10%);
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($sa-success, .25);
  }
  &::before{
    font-family: "Font Awesome 5 Free"; 
  content: "\f2f1" ;
    color:white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1rem;
    position: relative;
    top: 2px;
    left: -3px;
  }
}
.btn-sign-in,
.btn-sign-out,
.btn-submit,
.btn-cancel,
.btn-back,
.btn-forward,
.btn-download,
.btn-upload,
.btn-refresh{
  &.btn-lg::before{
    font-size: 1.7rem;
    top: 4px;
    left: -8px;
  }
  &.btn-lg::after{
    font-size: 1.7rem;
    top: 4px;
    right: -10px;
  }
}
.btn-sign-in,
.btn-sign-out,
.btn-submit,
.btn-cancel,
.btn-back,
.btn-forward,
.btn-download,
.btn-upload,
.btn-refresh{
  &.btn-sm::before{
    font-size: 1.1rem;
    top: 2px;
    left: -3px;
  }
  &.btn-sm::after{
    font-size: 1.1rem;
    top: 2px;
    right: -5px;
  }
}
.btn-sign-in,
.btn-sign-out,
.btn-submit,
.btn-cancel,
.btn-back,
.btn-forward,
.btn-download,
.btn-upload,
.btn-refresh{
  &.btn-xs::before{
    font-size: 0.8rem;
    top: 1px;
    left: -2px;
  }
  &.btn-xs::after{
    font-size: 0.8rem;
    top: 1px;
    right: -5px;
  }
}

.btn-notext{
  padding: $sard-spacer-6;
  &::before{
    left: 0;
    right: 0;
  }
  &::after{
    left: 0;
    right: 0;
  }
  &.btn-forward{
    padding: $sard-spacer-6 $sard-spacer-8;
  }
  &.btn-back{
    padding: $sard-spacer-6 $sard-spacer-8;
  }
  &.btn-refresh{
    padding: $sard-spacer-6 $sard-spacer-8;
  }
}

.btn-notext.btn-lg{
  padding:  $sard-spacer-7;
  &::before{
    left: 0;
    right: 0;
  }
  &::after{
    left: 0;
    right: 0;
  }
  &.btn-forward{
   padding:  $sard-spacer-7 $sard-spacer-9;
  }
  &.btn-back{
    padding:  $sard-spacer-7 $sard-spacer-9;
  }
}

.btn-notext.btn-sm{
  padding:  $sard-spacer-4;
  &::before{
    left: 0;
    right: 0;
  }
  &::after{
    left: 0;
    right: 0;
  }
  &.btn-forward{
   padding:  $sard-spacer-4 $sard-spacer-6;
  }
  &.btn-back{
    padding:  $sard-spacer-4 $sard-spacer-6;
  }
}

.btn-notext.btn-xs{
  padding:  0 $sard-spacer-2;
  &::before{
    left: 0;
    right: 0;
  }
  &::after{
    left: 0;
    right: 0;
  }
  &.btn-cancel{
    padding: 0 $sard-spacer-3;
  }
  &.btn-forward{
    padding: 0 $sard-spacer-3;
  }
  &.btn-back{
    padding: 0 $sard-spacer-3;
  }
  &.btn-refresh{
    padding: 0 $sard-spacer-3;
  }
  &.btn-upload{
    padding: 0 $sard-spacer-3;
  }
  &.btn-download{
    padding: 0 $sard-spacer-3;
  }
}

// Button Outlines ==============================

.btn.btn-outline-light{
  color: $sa-grey-06;
  border-color: $sa-grey-06;
  &:hover{
    color: $sa-grey-10;
  }
}

.btn.btn-outline-trust{
  color: $user-colour;
  border-color: $user-colour;
  &:hover{
    background-color: $user-colour;
    color: white;
  }
}

.btn.btn-outline-warning{
  color: $text;
  &:hover{
    color: $text;
  }
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark,
.btn-outline-trust{
  border-width: 2px;
}

// Button Groups ================================
.btn-group .btn{
  box-shadow: none;
}
.btn-group{
  border-radius: 2rem;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.2);
  box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.2);
}