// Models =======================================

@mixin modal-padding{
  padding: $sard-spacer-8 $sard-spacer-12;
}
.modal-dialog {
  padding-top: 3.5rem; // Allows for navbar and breadbrumbs
}


.modal-dialog.modal-dialog-centered {
  padding-top: 0; // Allows for navbar and breadbrumbs
}

.modal-header .close{
  background-color: white;
  min-width: 30px;
  width: 30px;
  min-height: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  margin: -24px -30px auto auto;
  text-align: center;
  opacity: 1;
  border: 2px solid white;
  & span {
    font-size: 28px;
    line-height: 28px;
    color: $sa-red;
  }
}
.modal-header .close:not(:disabled):not(.disabled):hover{
  opacity: 1;
  background-color: $sa-red;
  & span{
    color: white;
    line-height: 26px;
  }
}

.modal-content {
  border-radius: 12px;
  border: 2px solid white;
}

.modal-header{
  background-color: $sard-heading-bg;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  min-height: 43px;
  max-height: auto;
  @include modal-padding;
  font-size: 21px;
  line-height: 21.3px;
  color: white;
}
.modal-header h1.modal-title,
.modal-header h2.modal-title,
.modal-header h3.modal-title,
.modal-header h4.modal-title,
.modal-header h5.modal-title,
.modal-header h6.modal-title{
  padding: 0;
  margin: 0;
  padding-top: 1px;
} 

.modal-title{
  @include roboto-regular;
  font-size: $sard-heading-font-size;
  font-weight: 300;
  line-height: $sard-heading-line-height;
  color: $sard-heading-text-color;
  padding-top: 1px;
}

.modal-body{
  padding: 0 $sard-spacer-12;
  margin: $sard-spacer-8 0;
}

.modal-body p:last-of-type{
  margin-bottom: $sard-spacer-8;
}

.modal-footer {
  margin-top: 0px;
  margin-left: -2px;
  width: calc(100% + 4px);
  @include modal-padding;
  border-top: 1px solid $sa-grey-08;
}

.modal-footer .btn, .modal-footer .btn + .btn {
  margin-top: 3px;
  margin-bottom: 3px;
}

// Scrollable
.modal-dialog-scrollable .modal-content{
  overflow: visible; 
}


// SARD Colour Variations =======================

// Modal Info -----------------------------------
.modal-info .modal-content{
  background-color: $sa-info;
}

.modal-info .modal-header {
  background-color: darken($sa-info, 20%);
  color: white;
  border-bottom: none;
}

.modal-info .modal-footer {
  border-color: darken($sa-info, 20%);
  color: white;
}
.modal-info .modal-body h1,
.modal-info .modal-body h2,
.modal-info .modal-body h3,
.modal-info .modal-body h4,
.modal-info .modal-body h5,
.modal-info .modal-body h6{
  color:white;
}

.modal-info .modal-body ul li:before {
  color: white;
}

.modal-info .modal-body a:link {color: white;}
.modal-info .modal-body a:visited {color: white;}
.modal-info .modal-body a:hover {color: darken($sa-info, 20%);}
.modal-info .modal-body a:focus {color: darken($sa-info, 25%)!important;}
.modal-info .modal-body a:active {color: darken($sa-info, 25%)!important;}

.modal-info .modal-body hr{
  border-color: white;
}

.modal-info .modal-footer {
  margin-left: 0px;
  width: 100%;
}

.modal-info ::-webkit-scrollbar-thumb {
  background-color: darken($sa-info, 20%)!important;
}


// Modal Trust ----------------------------------

.modal-trust .modal-header {
  background-color: $user-colour;
  color: white;
  border-bottom: none;
}

.modal-trust .modal-footer {
  background-color: $user-colour;
  border-top: none;
  color: white;
}

.modal-trust .modal-body a:link {color: white;}
.modal-trust .modal-body a:visited {color: white;}
.modal-trust .modal-body a:hover {color: darken($user-colour, 20%);}
.modal-trust .modal-body a:focus {color: darken($user-colour, 25%)!important;}
.modal-trust .modal-body a:active {color: darken($user-colour, 25%)!important;}

.modal-trust .modal-body hr{
  border-color: $user-colour;
}

.modal-trust .modal-footer {
  margin-left: 0px;
  width: 100%;
}


// Modal User ----------------------------------

.modal-user .modal-header {
  background-color: $user-colour;
  color: white;
  border-bottom: none;
}

.modal-user .modal-footer {
  background-color: $user-colour;
  border-top: none;
  color: white;
}

.modal-user .modal-body a:link {color: white;}
.modal-user .modal-body a:visited {color: white;}
.modal-user .modal-body a:hover {color: darken($user-colour, 20%);}
.modal-user .modal-body a:focus {color: darken($user-colour, 25%)!important;}
.modal-user .modal-body a:active {color: darken($user-colour, 25%)!important;}

.modal-user .modal-body hr{
  border-color: $user-colour;
}

.modal-user .modal-footer {
  margin-left: 0px;
  width: 100%;
}

.modal-user ::-webkit-scrollbar-thumb {
  background-color: darken($user-colour, 20%)!important;
}

// Modal Admin ----------------------------------

.modal-admin .modal-header {
  background-color: $admin-colour;
  color: white;
  border-bottom: none;
}

.modal-admin .modal-footer {
  background-color: $admin-colour;
  border-top: none;
  color: white;
}

.modal-admin .modal-body a:link {color: white;}
.modal-admin .modal-body a:visited {color: white;}
.modal-admin .modal-body a:hover {color: darken($admin-colour, 20%);}
.modal-admin .modal-body a:focus {color: darken($admin-colour, 25%)!important;}
.modal-admin .modal-body a:active {color: darken($admin-colour, 25%)!important;}

.modal-admin .modal-body hr{
  border-color: $admin-colour;
}

.modal-admin .modal-footer {
  margin-left: 0px;
  width: 100%;
}

.modal-admin ::-webkit-scrollbar-thumb {
  background-color: darken($admin-colour, 20%)!important;
}

// Modal Form -----------------------------------

.modal-form fieldset:first-of-type{
  margin-top: 8px;
}

.modal-form fieldset:last-of-type{
  margin-bottom: 0px;
}

.modal-form .modal-footer{
  border-top: none;
  padding-top: 0px;
}

// Modal Roles ----------------------------------
// Used specifically in in Admin/Users/Roles & Admin Users/New User/Form. 

.modal-roles .close{
  background-color: white;
  min-width: 30px;
  width: 30px;
  min-height: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: -16px;
  right: -16px;
  text-align: center;
  opacity: 1;
  border: 2px solid white;
  z-index: 100;
  & span {
    font-size: 28px;
    line-height: 28px;
    color: $sa-red;
  }
}
.modal-roles .close:not(:disabled):not(.disabled):hover{
  opacity: 1;
  background-color: $sa-red;
  & span{
    color: white;
    line-height: 26px;
  }
}

.modal-roles .modal-content{
  background-color: $sa-info;
}

.modal-roles .modal-header {
  border-bottom: none;
  color: white;
}

.modal-roles .modal-dialog-scrollable .modal-body {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-roles .modal-body{
  padding-top: 0;
  margin-top: 0;
}

.modal-roles .modal-body h3{
  background-color: darken($sa-info, 20%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  min-height: 43px;
  max-height: auto;
  padding:7.5px 15px;
  font-size: 21px;
  color: white; 
  margin-top: 0;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
}
.modal-roles .modal-body h1,
.modal-roles .modal-body h2,
.modal-roles .modal-body h4,
.modal-roles .modal-body h5,
.modal-roles .modal-body h6{
  font-size: 16px;
  line-height: 18px;
  @include roboto-bold;
  color: $text;
  margin-bottom: 0;
}
.modal-roles .modal-body p{
  font-size: 15px;
  line-height: 17px;
  color: $text;
}
.modal-roles .modal-body ul li{
  color: $text;
}
.modal-roles .modal-body ul li:before {
  color: white;
}

.modal-roles .modal-body ul li:last-child{
  padding-bottom: 0;
}

.modal-roles .modal-body hr{
  border-color: white;
}

.modal-roles .modal-footer {
  margin-left: 0px;
  width: 100%;
  border-color: darken($sa-info, 20%);
  color: white;
}

.modal-roles .modal-body a:link {color: white;}
.modal-roles .modal-body a:visited {color: white;}
.modal-roles .modal-body a:hover {color: darken($sa-info, 20%);}
.modal-roles .modal-body a:focus {color: darken($sa-info, 25%)!important;}
.modal-roles .modal-body a:active {color: darken($sa-info, 25%)!important;}



// Modal Button colours -------------------------

.modal-info .btn-info,
.modal-trust .modal-footer .btn-info,
.modal-user .modal-footer .btn-info,
.modal-admin .modal-footer .btn-info,
.modal-roles .btn-info { 
  background-color: darken($sa-info, 20%); 
  border-color: darken($sa-info, 20%);
}
.modal-info .btn-info:visited,
.modal-trust .modal-footer .btn-info:visited,
.modal-user .modal-footer .btn-info:visited,
.modal-admin .modal-footer .btn-info:visited,
.modal-roles .btn-info:visited { 
  background-color: darken($sa-info, 20%); 
  border-color: darken($sa-info, 20%);
}
.modal-info .btn-info:hover,
.modal-trust .modal-footer .btn-info:hover,
.modal-user .modal-footer .btn-info:hover,
.modal-admin .modal-footer .btn-info:hover,
.modal-roles .btn-info:hover { 
  background-color: darken($sa-info, 25%); 
  border-color: darken($sa-info, 25%); 
}
.modal-info .btn-info:focus,
.modal-trust .modal-footer .btn-info:focus,
.modal-user .modal-footer .btn-info:focus,
.modal-admin .modal-footer .btn-info:focus,
.modal-roles .btn-info:focus { 
  background-color: darken($sa-info, 27%)!important; 
  border-color: darken($sa-info, 27%)!important;
}
.modal-info .btn-info:active,
.modal-trust .modal-footer .btn-info:active,
.modal-user .modal-footer .btn-info:active,
.modal-admin .modal-footer .btn-info:active,
.modal-roles .btn-info:active  { 
  background-color: darken($sa-info, 28%)!important; 
  border-color: darken($sa-info, 28%)!important;
}

.modal-info .btn-danger,
.modal-trust .modal-footer .btn-danger,
.modal-user .modal-footer .btn-danger,
.modal-admin .modal-footer .btn-danger,
.modal-roles .btn-danger { 
  background-color: darken($sa-danger, 10%);
  border-color: darken($sa-danger, 10%); 
}
.modal-info .btn-danger:visited,
.modal-trust .modal-footer .btn-danger:visited,
.modal-user .modal-footer .btn-danger:visited,
.modal-admin .modal-footer .btn-danger:visited,
.modal-roles .btn-danger:visited { 
  background-color: darken($sa-danger, 10%); 
  border-color: darken($sa-danger, 10%); 
}
.modal-info .btn-danger:hover,
.modal-trust .modal-footer .btn-danger:hover,
.modal-user .modal-footer .btn-danger:hover,
.modal-admin .modal-footer .btn-danger:hover,
.modal-roles .btn-danger:hover { 
  background-color: darken($sa-danger, 15%); 
  border-color: darken($sa-danger, 15%); 
}
.modal-info .btn-danger:focus,
.modal-trust .modal-footer .btn-danger:focus,
.modal-user .modal-footer .btn-danger:focus,
.modal-admin .modal-footer .btn-danger:focus,
.modal-roles .btn-danger:focus { 
  background-color: darken($sa-danger, 17%)!important; 
  border-color: darken($sa-danger, 17%)!important; 
}
.modal-info .btn-danger:active,
.modal-trust .modal-footer .btn-danger:active,
.modal-user .modal-footer .btn-danger:active,
.modal-admin .modal-footer .btn-danger:active,
.modal-roles .btn-danger:active  { 
  background-color: darken($sa-danger, 18%)!important; 
  border-color: darken($sa-danger, 18%)!important; 
}

.modal-info .btn-success,
.modal-trust .modal-footer .btn-success,
.modal-user .modal-footer .btn-success,
.modal-admin .modal-footer .btn-success,
.modal-roles .btn-success { 
  background-color: darken($sa-success, 10%);
  border-color: darken($sa-success, 10%);
}
.modal-info .btn-success:visited,
.modal-trust .modal-footer .btn-success:visited,
.modal-user .modal-footer .btn-success:visited,
.modal-admin .modal-footer .btn-success:visited,
.modal-roles .btn-success:visited { 
  background-color: darken($sa-success, 10%);
  border-color: darken($sa-success, 10%);
}
.modal-info .btn-success:hover,
.modal-trust .modal-footer .btn-success:hover,
.modal-user .modal-footer .btn-success:hover,
.modal-admin .modal-footer .btn-success:hover,
.modal-roles .btn-success:hover { 
  background-color: darken($sa-success, 15%);
  border-color: darken($sa-success, 15%);
}
.modal-info .btn-success:focus,
.modal-trust .modal-footer .btn-success:focus,
.modal-user .modal-footer .btn-success:focus,
.modal-admin .modal-footer .btn-success:focus,
.modal-roles .btn-success:focus { 
  background-color: darken($sa-success, 17%)!important;
  border-color: darken($sa-success, 17%)!important;
}
.modal-info .btn-success:active,
.modal-trust .modal-footer .btn-success:active,
.modal-user .modal-footer .btn-success:active,
.modal-admin .modal-footer .btn-success:active,
.modal-roles .btn-success:active  { 
  background-color: darken($sa-success, 18%)!important;
  border-color: darken($sa-success, 18%)!important;
}

.modal-info .btn-save,
.modal-trust .modal-footer .btn-save,
.modal-user .modal-footer .btn-save,
.modal-admin .modal-footer .btn-save,
.modal-roles .btn-save { 
  background-color: darken($sa-success, 10%);
  border-color: darken($sa-success, 10%);
}
.modal-info .btn-save:visited,
.modal-trust .modal-footer .btn-save:visited,
.modal-user .modal-footer .btn-save:visited,
.modal-admin .modal-footer .btn-save:visited,
.modal-roles .btn-save:visited { 
  background-color: darken($sa-success, 10%);
  border-color: darken($sa-success, 10%);
}
.modal-info .btn-save:hover,
.modal-trust .modal-footer .btn-save:hover,
.modal-user .modal-footer .btn-save:hover,
.modal-admin .modal-footer .btn-save:hover,
.modal-roles .btn-save:hover { 
  background-color: darken($sa-success, 15%);
  border-color: darken($sa-success, 15%);
}
.modal-info .btn-save:focus,
.modal-trust .modal-footer .btn-save:focus,
.modal-user .modal-footer .btn-save:focus,
.modal-admin .modal-footer .btn-save:focus,
.modal-roles .btn-save:focus { 
  background-color: darken($sa-success, 17%)!important;
  border-color: darken($sa-success, 17%)!important;
}
.modal-info .btn-save:active,
.modal-trust .modal-footer .btn-save:active,
.modal-user .modal-footer .btn-save:active,
.modal-admin .modal-footer .btn-save:active,
.modal-roles .btn-save:active  { 
  background-color: darken($sa-success, 18%)!important;
  border-color: darken($sa-success, 18%)!important;
}
