// Navbar =======================================


$navbar-sard-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") ;

// Base styles
.navbar.fixed-top{
  z-index: 2000;
  box-shadow: $sa-box-shadow;
}
/* change the background color */
.navbar {
  padding: 0rem 1rem;
}

/* change the padding for height */
.navbar .navbar-nav .nav-link {
  padding: $sard-spacer-15 $sard-spacer-8;
}

/* change the color of active or hovered links */
.navbar .nav-item:focus .nav-link {
  background-color: $sa-grey-04; 
}
.navbar .nav-item:hover .nav-link {
  background-color: $sa-grey-06;
}
.navbar .nav-item:active .nav-link {
  background-color: $sa-grey-08;
}
.navbar .nav-item.active .nav-link{
  background-color: $sa-grey-08; /* add background-color to active links */
  color: white;
}
.navbar .nav-item.active .nav-link:hover{
  background-color: $sa-grey-10; /* add background-color to active links */
}
.navbar .nav-item.active .nav-link:focus{
  background-color: $sa-grey-12; /* add background-color to active links */
}

// Dropdown Menu

.navbar {
  .dropdown-menu{
    border-color: $sa-grey-08;
  }
  .dropdown-item{
    color: $text;
    padding: $sard-spacer-4 $sard-spacer-8;
    &:visited { 
      color: $text;
    }
    &:hover{
      background-color: $sa-grey-04;
    }
    &:focus,
    &.active,
    &.active:hover{
      background-color: $sa-grey-06;
    }
    &:active{
      background-color: $sa-grey-08;
    }
  }
  
  .dropdown-item:first-of-type{ // Override Dopdown styles
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .dropdown-item:last-of-type{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .dropdown-menu li:first-of-type .dropdown-item{
    border-top-left-radius: $sard-inner-border-radius;
    border-top-right-radius: $sard-inner-border-radius;
  }
  .dropdown-menu li:last-of-type .dropdown-item{
    border-bottom-left-radius: $sard-inner-border-radius;
    border-bottom-right-radius: $sard-inner-border-radius;
  }
}



// Navbar Toggler
.navbar .navbar-toggler{
  background-color: darken($user-colour, 20%);
  border:none;
  padding: 0 $sard-spacer-4;
  &:focus{
    background-color: darken($user-colour, 25%);
  }
  &:hover{
    background-color: darken($user-colour, 25%);
  }
  &:active{
    background-color: darken($user-colour, 30%);
  }
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: $navbar-sard-toggler-icon-bg;
  font-size: 1rem;
}

// Disabled
// https://stackoverflow.com/questions/1107551/css-strikethrough-different-color-from-text
.navbar .nav-item a.disabled{
  color:         rgba(225, 225, 225, 0.5);
  text-decoration: line-through;
  /*noinspection CssOverwrittenProperties*/
  text-decoration: white line-through; /* Ignored in CSS1/CSS2 UAs */
}
.navbar .nav-item:focus .nav-link.disabled,
.navbar .nav-item:hover .nav-link.disabled {
  // color:         rgba(225, 225, 225, 0.5);
  background-color: transparent; 
  cursor: not-allowed;
}


// Navbar dropdowns at small screens
@media (max-width: 991px){
  .navbar .navbar-nav .nav-link {
    padding: $sard-spacer-4 $sard-spacer-8;
  }
  .navbar .searchbar-sard {
    margin-bottom: $sard-spacer-8;
  }
  
}


// Dropdown Submenu - Added as not included in BS4
// https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  // overflow: visible;
  top: 0;
  left: 100%;
  // margin-left: .1rem;
  // margin-right: .1rem;
}

.dropdown-submenu a:last-of-type{
  // border-bottom-left-radius: $sard-inner-border-radius;
  // border-bottom-right-radius: $sard-inner-border-radius;
}

.navbar-sard .dropdown-submenu .dropdown-menu{
  border-left: 1px solid darken($user-colour, 30%);
}


// ==============================================
// Navbar Dark ==================================

.navbar-dark {
  background-color: $sa-grey-14;
}

/* change the color of active or hovered links */
.navbar-dark .nav-item:hover .nav-link {
  background-color: $sa-grey-16; 
}
.navbar-dark .nav-item:focus .nav-link {
  background-color: $sa-grey-18; 
}
.navbar-dark .nav-item:active .nav-link {
  background-color: $sa-grey-16  
}
// add background-color to active links
.navbar-dark .nav-item.active .nav-link{ 
  background-color: $sa-grey-16 
}
.navbar-dark .nav-item.active .nav-link:hover{
  background-color: $sa-grey-18 
}
.navbar-dark .nav-item.active .nav-link:focus{
  background-color: black
}

// Dropdown Menu

.navbar-dark .nav-item.dropdown.show .nav-link.dropdown-toggle{
  background-color: $sa-grey-18;
}
.navbar-dark .dropdown-menu{
  border:none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-dark .dropdown-menu{
  background-color: $sa-grey-14;
}

.navbar-dark .dropdown-menu .dropdown-item{
  color: white;
  border-color: $user-colour;
  &:hover{
    background-color: $sa-grey-16;
    color: white;
  }
  &:focus{
    background-color: $sa-grey-18;
    color: white;
  }
  &:active{
    background-color: black;
    color: white;
  }
}

// Submenu
// .navbar-dark .nav-item:active .dropdown-menu.show .dropdown-submenu .dropdown-item.dropdown-toggle:active{
//   background-color: $sa-grey-18;
// }

.navbar-dark .dropdown-submenu .dropdown-menu{
  border:none;
  border-top-left-radius: $sard-border-radius;
  border-top-right-radius: $sard-border-radius;
}
.navbar-dark .dropdown-menu .dropdown-divider {
    border-color: white;
}

// Dropdown header
.navbar-dark .dropdown-menu .dropdown-header{
  color: white;
}


// Navbar SARD ==================================

.navbar-sard {
  background-color: $user-colour;
}

.navbar-sard .navbar-brand,
.navbar-sard .navbar-text {
    color: white;
}

.navbar-sard .navbar-nav .nav-link {
  color: white;
}

/* change the color of active or hovered links */
.navbar-sard .nav-item:hover .nav-link {
  background-color: darken($user-colour, 15%); 
}
.navbar-sard .nav-item:focus .nav-link {
  background-color: darken($user-colour, 10%); 
}
.navbar-sard .nav-item:active .nav-link {
  background-color: darken($user-colour, 20%); 
}
// add background-color to active links
.navbar-sard .nav-item.active .nav-link{ 
  background-color: darken($user-colour, 20%); 
}
.navbar-sard .nav-item.active .nav-link:hover{
  background-color: darken($user-colour, 25%); 
}
.navbar-sard .nav-item.active .nav-link:focus{
  background-color: darken($user-colour, 30%); 
}

.navbar-sard .nav-item:focus .nav-link.disabled,
.navbar-sard .nav-item:hover .nav-link.disabled {
  color:         rgba(225, 225, 225, 0.5);
}

// Dropdown Menu
.navbar-sard .dropdown-menu{
  border:none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-sard .nav-item.dropdown.show .nav-link.dropdown-toggle{
  background-color: darken($user-colour, 25%);
}

.navbar-sard .dropdown-menu{
  background-color: darken($user-colour, 20%);
  color: white;
}

.navbar-sard .dropdown-menu .dropdown-item{
  color: white;
  border-color: $user-colour;
  &:focus{
    background-color: darken($user-colour, 25%);
  }
  &:hover{
    background-color: darken($user-colour, 25%);
  }
  &:active{
    background-color: darken($user-colour, 30%);
  }
}


// Submenu
// .navbar-sard .dropdown-submenu .dropdown-item.dropdown-toggle.active{
//   background-color: darken($user-colour, 25%);
// }
.navbar-sard .dropdown-submenu .dropdown-menu{
  border:none;
  border-top-left-radius: $sard-border-radius;
  border-top-right-radius: $sard-border-radius;
}
.navbar-sard .dropdown-menu .dropdown-divider {
    border-color: white;
}

// Dropdown header
.navbar-sard .dropdown-menu .dropdown-header{
  color: white;
}