// Models =======================================

@mixin modal-padding{
  padding: $sard-spacer-8 $sard-spacer-12;
}
.modal-dialog {
  padding-top: 3.5rem; // Allows for navbar and breadbrumbs
}


.modal-dialog.modal-dialog-centered {
  padding-top: 0; // Allows for navbar and breadbrumbs
}

.modal-header .close{
  background-color: white;
  min-width: 30px;
  width: 30px;
  min-height: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  margin: -24px -30px auto auto;
  text-align: center;
  opacity: 1;
  border: 2px solid white;
  & span {
    font-size: 28px;
    line-height: 28px;
    color: $sa-red;
  }
}
.modal-header .close:not(:disabled):not(.disabled):hover{
  opacity: 1;
  background-color: $sa-red;
  & span{
    color: white;
    line-height: 26px;
  }
}

.modal-content {
  border-radius: 12px;
  border: 2px solid white;
}

.modal-header{
  background-color: $sard-heading-bg;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  min-height: 43px;
  max-height: auto;
  @include modal-padding;
  font-size: 21px;
  line-height: 21.3px;
  color: white;
}
.modal-header h1.modal-title,
.modal-header h2.modal-title,
.modal-header h3.modal-title,
.modal-header h4.modal-title,
.modal-header h5.modal-title,
.modal-header h6.modal-title{
  padding: 0;
  margin: 0;
  padding-top: 1px;
} 

.modal-title{
  @include roboto-regular;
  font-size: $sard-heading-font-size;
  font-weight: 300;
  line-height: $sard-heading-line-height;
  color: $sard-heading-text-color;
  padding-top: 1px;
}

.modal-body{
  @include modal-padding;
  padding-bottom: 0;
}

.modal-footer {
  margin-top: 0px;
  margin-left: -2px;
  width: calc(100% + 4px);
  @include modal-padding;
  border-top: 1px solid $sa-grey-08;
}

.modal-footer .btn, .modal-footer .btn + .btn {
  margin-top: 3px;
  margin-bottom: 3px;
}

// Scrollable
.modal-dialog-scrollable .modal-content{
  overflow: visible; 
}