!!!
%html.no-js{:lang => "en"}
  %head
    %title Bootstrap 4 Layout
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/sard-styles.min.css", :rel => "stylesheet"}/
 
  %body
    //=include ../partials/global/_navbar.haml

    .container
      %h1 SARD Icons
      %p 
        To add use an icon add: .sicon.sicon-NAME.sicon-SIZE 
        %br
        i.e. (.sicon.sicon-approve.sicon-2x)
      %h4 Approve / Reject
      .row
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-approve.sicon-2x
          %span.small.small .sicon-approve
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-reject.sicon-2x
          %span.small .sicon-reject
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-approve-circle.sicon-2x
          %span.small .sicon-approve-circle
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-approve-circle-o.sicon-2x
          %span.small .sicon-approve-circle-o

        .col-6.col-sm-4.col-md-3
          .sicon.sicon-reject-circle.sicon-2x
          %span.small .sicon-reject-circle
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-reject-circle-o.sicon-2x
          %span.small .sicon-reject-circle-o

      %hr
      %h4 Arrows
      .row
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-down.sicon-2x
          %span.small .sicon-arrow-down
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-down-circle.sicon-2x
          %span.small .sicon-arrow-down-circle
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-down-circle-o.sicon-2x
          %span.small .sicon-arrow-down-circle-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-left.sicon-2x
          %span.small .sicon-arrow-left
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-left-circle.sicon-2x
          %span.small .sicon-arrow-left-circle
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-left-circle-o.sicon-2x
          %span.small .sicon-arrow-left-circle-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-left-right.sicon-2x
          %span.small .sicon-arrow-left-right
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-right.sicon-2x
          %span.small .sicon-arrow-right
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-right-circle.sicon-2x
          %span.small .sicon-arrow-right-circle
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-right-circle-o.sicon-2x
          %span.small .sicon-arrow-right-circle-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-up.sicon-2x
          %span.small .sicon-arrow-up
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-up-circle.sicon-2x
          %span.small .sicon-arrow-up-circle
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-up-circle-o.sicon-2x
          %span.small .sicon-arrow-up-circle-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-arrow-up-down.sicon-2x
          %span.small .sicon-arrow-up-down
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-double-arrow-down.sicon-2x
          %span.small .sicon-double-arrow-down
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-double-arrow-left.sicon-2x
          %span.small .sicon-double-arrow-left
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-double-arrow-right.sicon-2x
          %span.small .sicon-double-arrow-right
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-double-arrow-up.sicon-2x
          %span.small .sicon-double-arrow-up
      
      %hr
      %h4 Logos
      .row
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-circle-lg.sicon-2x
          %span.small .sicon-flower-circle-lg
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-circle-md.sicon-2x
          %span.small .sicon-flower-circle-md
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-circle-o-lg.sicon-2x
          %span.small .sicon-flower-circle-o-lg
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-circle-o-md.sicon-2x
          %span.small .sicon-flower-circle-o-md
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-circle-o-sm.sicon-2x
          %span.small .sicon-flower-circle-o-sm
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-circle-o-xl.sicon-2x
          %span.small .sicon-flower-circle-o-xl
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-circle-o-xs.sicon-2x
          %span.small .sicon-flower-circle-o-xs
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-circle-sm.sicon-2x
          %span.small .sicon-flower-circle-sm
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-circle-xl.sicon-2x
          %span.small .sicon-flower-circle-xl
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-circle-xs.sicon-2x
          %span.small .sicon-flower-circle-xs
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-lg.sicon-2x
          %span.small .sicon-flower-lg
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-md.sicon-2x
          %span.small .sicon-flower-md
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-sm.sicon-2x
          %span.small .sicon-flower-sm
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-xl.sicon-2x
          %span.small .sicon-flower-xl
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-flower-xs.sicon-2x
          %span.small .sicon-flower-xs
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-nhs-logo.sicon-2x
          %span.small .sicon-nhs-logo
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-nhs-oxleas.sicon-2x
          %span.small .sicon-nhs-oxleas
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-nhs-oxleas-joint.sicon-2x
          %span.small .sicon-nhs-oxleas-joint
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sard-logo-lg.sicon-2x
          %span.small .sicon-sard-logo-lg
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sard-logo-md.sicon-2x
          %span.small .sicon-sard-logo-md
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sard-logo-sm.sicon-2x
          %span.small .sicon-sard-logo-sm
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sard-logo-xs.sicon-2x
          %span.small .sicon-sard-logo-xs
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sard-name.sicon-2x
          %span.small .sicon-sard-name
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-super-admin.sicon-2x
          %span.small .sicon-super-admin
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-super-admin-o.sicon-2x
          %span.small .sicon-super-admin-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-nav-icon-admin.sicon-2x
          %span.small .sicon-nav-icon-admin
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-nav-icon-site.sicon-2x
          %span.small .sicon-nav-icon-site

      %hr
      %h4 Solutions
      .row
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-360.sicon-2x
          %span.small .sicon-sol-360
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-360-o.sicon-2x
          %span.small .sicon-sol-360-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-a4a.sicon-2x
          %span.small .sicon-sol-a4a
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-a4a-o.sicon-2x
          %span.small .sicon-sol-a4a-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-ele.sicon-2x
          %span.small .sicon-sol-ele
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-ele-o.sicon-2x
          %span.small .sicon-sol-ele-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-eros.sicon-2x
          %span.small .sicon-sol-eros
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-eros-o.sicon-2x
          %span.small .sicon-sol-eros-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-jp.sicon-2x
          %span.small .sicon-sol-jp
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-jp-o.sicon-2x
          %span.small .sicon-sol-jp-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-mrv.sicon-2x
          %span.small .sicon-sol-mrv
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-mrv-o.sicon-2x
          %span.small .sicon-sol-mrv-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-nrv.sicon-2x
          %span.small .sicon-sol-nrv
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sol-nrv-o.sicon-2x
          %span.small .sicon-sol-nrv-o

      / %hr
      / %h4 Status
      / .row
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-danger.sicon-2x
      /     %span.small .sicon-status-danger
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-danger-o.sicon-2x
      /     %span.small .sicon-status-danger-o
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-success.sicon-2x
      /     %span.small .sicon-status-success
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-success-o.sicon-2x
      /     %span.small .sicon-status-success-o
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-warning.sicon-2x
      /     %span.small .sicon-status-warning
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-warning-o.sicon-2x
      /     %span.small .sicon-status-warning-o

      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-approved.sicon-2x
      /     %span.small .sicon-status-approved
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-approved-o.sicon-2x
      /     %span.small .sicon-status-approved-o

      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-recommended.sicon-2x
      /     %span.small .sicon-status-recommended
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-recommended-o.sicon-2x
      /     %span.small .sicon-status-recommended-o

      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-submitted.sicon-2x
      /     %span.small .sicon-status-submitted
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-submitted-o.sicon-2x
      /     %span.small .sicon-status-submitted-o

      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-archived.sicon-2x
      /     %span.small .sicon-status-archived
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-archived-o.sicon-2x
      /     %span.small .sicon-status-archived-o

      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-due.sicon-2x
      /     %span.small .sicon-status-due
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-due-o.sicon-2x
      /     %span.small .sicon-status-due-o

      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-draft.sicon-2x
      /     %span.small .sicon-status-draft
      /   .col-6.col-sm-4.col-md-3
      /     .sicon.sicon-status-draft-o.sicon-2x
      /     %span.small .sicon-status-draft-o

      %hr
      %h4 Various
      .row
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-upload.sicon-2x
          %span.small .sicon-upload
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-upload-o.sicon-2x
          %span.small .sicon-upload-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-volcano.sicon-2x
          %span.small .sicon-volcano
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-comment-left-o.sicon-2x
          %span.small .sicon-comment-left-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-comment-left.sicon-2x
          %span.small .sicon-comment-left
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-comment-right.sicon-2x
          %span.small .sicon-comment-right
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-comment-right-o.sicon-2x
          %span.small .sicon-comment-right-o

        .col-6.col-sm-4.col-md-3
          .sicon.sicon-quote.sicon-2x
          %span.small .sicon-quote
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-quote-o.sicon-2x
          %span.small .sicon-quote-o
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-circle.sicon-2x
          %span.small .sicon-circle
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-circle-dot.sicon-2x
          %span.small .sicon-circle-dot
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-dot.sicon-2x
          %span.small .sicon-dot
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sort-asc.sicon-2x
          %span.small .sicon-sort-asc
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sort-both.sicon-2x
          %span.small .sicon-sort-both
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-sort-desc.sicon-2x
          %span.small .sicon-sort-desc
        .col-6.col-sm-4.col-md-3
          .sicon.sicon-cancel.sicon-2x
          %span.small .sicon-cancel

      %p.mt-3.small
        These icons was created with
        %a{:href => "http://fontastic.me/"} Fontastic

      %hr

    .container
      %h1 SARD Icons

      %p This is a mixture of fontawesome and sicons to test alignment.


      %i.fas.fa-arrow-alt-circle-right.fa-xs

      %i.sicon.sicon-arrow-down-circle.sicon-xs

      %i.fas.fa-adjust.fa-xs

      %i.sicon.sicon-circle.sicon-xs
      XS

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-sm

      %i.sicon.sicon-arrow-down-circle.sicon-sm

      %i.fas.fa-adjust.fa-sm

      %i.sicon.sicon-circle.sicon-sm
      SM

      %p

      %i.fas.fa-arrow-alt-circle-right

      %i.sicon.sicon-arrow-down-circle

      %i.fas.fa-adjust

      %i.sicon.sicon-circle
      Default

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-lg

      %i.sicon.sicon-arrow-down-circle.sicon-lg

      %i.fas.fa-adjust.fa-lg

      %i.sicon.sicon-circle.sicon-lg
      LG

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-1x

      %i.sicon.sicon-arrow-down-circle.sicon-1x

      %i.fas.fa-adjust.fa-1x

      %i.sicon.sicon-circle.sicon-1x
      1x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-2x

      %i.sicon.sicon-arrow-down-circle.sicon-2x

      %i.fas.fa-adjust.fa-2x

      %i.sicon.sicon-circle.sicon-2x
      2x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-3x

      %i.sicon.sicon-arrow-down-circle.sicon-3x

      %i.fas.fa-adjust.fa-3x

      %i.sicon.sicon-circle.sicon-3x
      3x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-4x

      %i.sicon.sicon-arrow-down-circle.sicon-4x

      %i.fas.fa-adjust.fa-4x

      %i.sicon.sicon-circle.sicon-4x
      4x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-5x

      %i.sicon.sicon-arrow-down-circle.sicon-5x

      %i.fas.fa-adjust.fa-5x

      %i.sicon.sicon-circle.sicon-5x
      5x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-6x

      %i.sicon.sicon-arrow-down-circle.sicon-6x

      %i.fas.fa-adjust.fa-6x

      %i.sicon.sicon-circle.sicon-6x
      6x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-7x

      %i.sicon.sicon-arrow-down-circle.sicon-7x

      %i.fas.fa-adjust.fa-7x

      %i.sicon.sicon-circle.sicon-7x
      7x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-8x

      %i.sicon.sicon-arrow-down-circle.sicon-8x

      %i.fas.fa-adjust.fa-8x

      %i.sicon.sicon-circle.sicon-8x
      8x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-9x

      %i.sicon.sicon-arrow-down-circle.sicon-9x

      %i.fas.fa-adjust.fa-9x

      %i.sicon.sicon-circle.sicon-9x
      9x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-10x

      %i.sicon.sicon-arrow-down-circle.sicon-10x

      %i.fas.fa-adjust.fa-10x

      %i.sicon.sicon-circle.sicon-10x
      10x

      %hr


      %i.fas.fa-arrow-alt-circle-right.fa-2x.fa-spin

      %i.sicon.sicon-arrow-down-circle.sicon-2x.sicon-spin

      %i.fas.fa-adjust.fa-2x.fa-spin

      %i.sicon.sicon-circle.sicon-2x.sicon-spin
      2x Spin

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-2x.fa-pulse

      %i.sicon.sicon-arrow-down-circle.sicon-2x.sicon-pulse

      %i.fas.fa-adjust.fa-2x.fa-pulse

      %i.sicon.sicon-circle.sicon-2x.sicon-pulse
      2x Pulse

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-2x.fa-border

      %i.sicon.sicon-arrow-down-circle.sicon-2x.sicon-border

      %i.fas.fa-adjust.fa-2x.fa-border

      %i.sicon.sicon-circle.sicon-2x.sicon-border
      2x Border

      %p

      .icon-bg

        %i.fas.fa-arrow-alt-circle-right.fa-2x.fa-inverse

        %i.sicon.sicon-arrow-down-circle.sicon-2x.sicon-inverse

        %i.fas.fa-adjust.fa-2x.fa-inverse

        %i.sicon.sicon-circle.sicon-2x.sicon-inverse
        2x Inverse



    / Scripts ================================

    %script{:src => "../assets/js/sardJS.min.js"}