!!!
%html.no-js{:lang => "en"}
  %head
    %title SARD Core UI - Icons
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-ui-styles.min.css", :rel => "stylesheet"}/
 
  %body.theme-trust
    //=include ../navbars/_navbar-x1.haml

    .container
      %h1 SARD Icons 
      %p 
        To add use an icon add: .si .si-
        %code name
        %span  .si- 
        %code size
        %br
        i.e. (.si.si-approve.si-3x)
      %p
        %span.strong SCSS Example 
        %br
        font-family: "sard-icons";
        %br
        content: "\e016";


      
      
      %hr
      %h4 Alignment
      .row
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-left.si-3x
            .icon-name .si-align-left
            %code e006
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-left-circle.si-3x
            .icon-name .si-align-left-circle
            %code e007
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-left-circle-o.si-3x
            .icon-name .si-align-left-circle-o
            %code e008

        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-center.si-3x
            .icon-name .si-align-center
            %code e000
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-center-circle.si-3x
            .icon-name .si-align-center-circle
            %code e001
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-center-circle-o.si-3x
            .icon-name .si-align-center-circle-o
            %code e002

        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-right.si-3x
            .icon-name .si-align-right
            %code e009
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-right-circle.si-3x
            .icon-name .si-align-right-circle
            %code e00a
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-right-circle-o.si-3x
            .icon-name .si-align-right-circle-o
            %code e00b

        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-justify.si-3x
            .icon-name .si-align-justify
            %code e003
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-justify-circle.si-3x
            .icon-name .si-align-justify-circle
            %code e004
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-justify-circle-o.si-3x
            .icon-name .si-align-justify-circle-o
            %code e005

        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-sort-asc.si-3x
            .icon-name .si-sort-asc
            %code e092
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-sort-desc.si-3x
            .icon-name .si-sort-desc
            %code e094
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-sort-both.si-3x
            .icon-name .si-sort-both
            %code e093


      %hr
      %h4 Approve / Reject
      %p Approve / Reject Icons have specific colouring.
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-approve.si-3x
            .icon-name .si-approve
            %code e00c
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-approve-circle.si-3x
            .icon-name .si-approve-circle
            %code e00d
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-approve-circle-o.si-3x
            .icon-name .si-approve-circle-o
            %code e00e

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-reject.si-3x
            .icon-name .si-reject
            %code e077
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-reject-circle.si-3x
            .icon-name .si-reject-circle
            %code e078
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-reject-circle-o.si-3x
            .icon-name .si-reject-circle-o
            %code e079

      %hr
      %h4 Arrows
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-down.si-3x
            .icon-name .si-arrow-down
            %code e010
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-left.si-3x
            .icon-name .si-arrow-left
            %code e01f
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-right.si-3x
            .icon-name .si-arrow-right
            %code e024
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-up.si-3x
            .icon-name .si-arrow-up
            %code e025

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-down-circle.si-3x
            .icon-name .si-arrow-down-circle
            %code e010
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-left-circle.si-3x
            .icon-name .si-arrow-left-circle
            %code e012
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-right-circle.si-3x
            .icon-name .si-arrow-right-circle
            %code e014
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-up-circle.si-3x
            .icon-name .si-arrow-up-circle
            %code e016

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-down-circle-o.si-3x
            .icon-name .si-arrow-down-circle-o
            %code e011
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-left-circle-o.si-3x
            .icon-name .si-arrow-left-circle-o
            %code e013
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-right-circle-o.si-3x
            .icon-name .si-arrow-right-circle-o
            %code e015
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-up-circle-o.si-3x
            .icon-name .si-arrow-up-circle-o
            %code e017

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-h.si-3x
            .icon-name .si-arrow-double-h
            %code e01c
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-h-circle.si-3x
            .icon-name .si-arrow-double-h-circle
            %code e018
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-h-circle-o.si-3x
            .icon-name .si-arrow-double-h-circle-o
            %code e019

      .row  
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-v.si-3x
            .icon-name .si-arrow-double-v
            %code e01d
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-v-circle.si-3x
            .icon-name .si-arrow-double-v-circle
            %code e01a
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-v-circle-o.si-3x
            .icon-name .si-arrow-double-v-circle-o
            %code e01b
      
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-x-long-down.si-3x
            .icon-name .si-arrow-x-long-down
            %code e026
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-x-long-right.si-3x
            .icon-name .si-arrow-x-long-right
            %code e028
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-x-long-up.si-3x
            .icon-name .si-arrow-x-long-up
            %code e029
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-x-long-left.si-3x
            .icon-name .si-arrow-x-long-left
            %code e027
      
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-xx-long-down.si-3x
            .icon-name .si-arrow-xx-long-down
            %code e02a
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-xx-long-right.si-3x
            .icon-name .si-arrow-xx-long-right
            %code e02c
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-xx-long-up.si-3x
            .icon-name .si-arrow-xx-long-up
            %code e02d
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-xx-long-left.si-3x
            .icon-name .si-arrow-xx-long-left
            %code e02b


      %hr
      %h4 Chevrons
      .row        
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-up-x1.si-3x
            .icon-name .si-chevron-up-x1
            %code e0d1
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-up-x2.si-3x
            .icon-name .si-chevron-up-x2
            %code e0d2
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-up-x3.si-3x
            .icon-name .si-chevron-up-x3
            %code e0d3
      .row        
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-right-x1.si-3x
            .icon-name .si-chevron-right-x1
            %code e0ce
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-right-x2.si-3x
            .icon-name .si-chevron-right-x2
            %code e0cf
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-right-x3.si-3x
            .icon-name .si-chevron-right-x3
            %code e0d0
      .row        
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-down-x1.si-3x
            .icon-name .si-chevron-down-x1
            %code e00f
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-down-x2.si-3x
            .icon-name .si-chevron-down-x2
            %code e07a
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-down-x3.si-3x
            .icon-name .si-chevron-down-x3
            %code e0b6
      .row        
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-left-x1.si-3x
            .icon-name .si-chevron-left-x1
            %code e0cb
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-left-x2.si-3x
            .icon-name .si-chevron-left-x2
            %code e0cc
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-chevron-left-x3.si-3x
            .icon-name .si-chevron-left-x3
            %code e0cd

        

      %hr
      %h4 Logos
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-flower-8.si-3x
            .icon-name .si-flower-8
            %code e043
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-flower-8-circle.si-3x
            .icon-name .si-flower-8-circle
            %code e044
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-flower-4.si-3x
            .icon-name .si-flower-4
            %code e041
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-flower-4-circle.si-3x
            .icon-name .si-flower-4-circle
            %code e042
      
      %hr
      %h4 Logos (Associated)
      .row
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-logo-nhs.si-4x
            .icon-name .si-logo-nhs
            %code e048
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-logo-nhs-oxleas.si-6x
            .icon-name .si-logo-nhs-oxleas
            %code e049
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-logo-nhs-oxleas-joint.si-8x
            .icon-name .si-logo-nhs-oxleas-joint
            %code e04a


      %hr
      %h4 Products
      %p Product Icons have specific colouring.
      .row
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-mrv.si-3x
            .icon-name .si-prod-mrv
            %code e06c
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-mrv-o.si-3x
            .icon-name .si-prod-mrv-o
            %code e06d
        
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-360.si-3x
            .icon-name .si-prod-360
            %code e062
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-360-o.si-3x
            .icon-name .si-prod-360-o
            %code e063
        
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-a4a.si-3x
            .icon-name .si-prod-a4a
            %code e064
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-a4a-o.si-3x
            .icon-name .si-prod-a4a-o
            %code e065

        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-ele.si-3x
            .icon-name .si-prod-ele
            %code e068
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-ele-o.si-3x
            .icon-name .si-prod-ele-o
            %code e069

        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-ros.si-3x
            .icon-name .si-prod-ros
            %code e070
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-ros-o.si-3x
            .icon-name .si-prod-ros-o
            %code e071

        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-jp.si-3x
            .icon-name .si-prod-jp
            %code e06a
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-jp-o.si-3x
            .icon-name .si-prod-jp-o
            %code e06b

        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-nrv.si-3x
            .icon-name .si-prod-nrv
            %code e06e
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-nrv-o.si-3x
            .icon-name .si-prod-nrv-o
            %code e06f

        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-cap.si-3x
            .icon-name .si-prod-cap
            %code e066
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-cap-o.si-3x
            .icon-name .si-prod-cap-o
            %code e067 
            
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-foundry.si-3x
            .icon-name .si-prod-foundry
            %code e0e7
        .col-xl-4.col-md-6.col-sm-8.col-24
          .icon-wrap
            .si.si-prod-foundry-o.si-3x
            .icon-name .si-prod-foundry-o
            %code e0e8 


      %hr
      %h4 System Icons - Users
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-super-admin.si-3x
            .icon-name .si-super-admin
            %code e0c5
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-super-admin-o.si-3x
            .icon-name .si-super-admin-o
            %code e0c6
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-super-admin-circle.si-3x
            .icon-name .si-super-admin-circle
            %code e0c3
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-super-admin-circle-o.si-3x
            .icon-name .si-super-admin-circle-o
            %code e0c4 
        
        
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-admin.si-3x
            .icon-name .si-nav-icon-admin
            %code e04c
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-admin-o.si-3x
            .icon-name .si-nav-icon-admin-o
            %code e04d 
        
        
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-site.si-3x
            .icon-name .si-nav-icon-site
            %code e04e
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-site-o.si-3x
            .icon-name .si-nav-icon-site-o
            %code e04f 

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-user.si-3x
            .icon-name .si-nav-icon-user
            %code e050
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-user-o.si-3x
            .icon-name .si-nav-icon-user-o
            %code e051 

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-user.si-3x
            .icon-name .si-user
            %code e0c7  
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-user-circle.si-3x
            .icon-name .si-user-circle
            %code e0c8 
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-user-circle-o.si-3x
            .icon-name .si-user-circle-o
            %code e0e3    
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-users.si-3x
            .icon-name .si-users
            %code e0e4  
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-users-circle.si-3x
            .icon-name .si-users-circle
            %code e0e5 
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-users-circle-o.si-3x
            .icon-name .si-users-circle-o
            %code e0e6   
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sign-in.si-3x
            .icon-name .si-sign-in
            %code e0fe  
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sign-out.si-3x
            .icon-name .si-sign-out
            %code e0ff 

      %hr
      %h4 System Icons - Page Status
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-approved.si-6x
            .icon-name .si-page-approved
            %code e052
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-approved-o.si-6x
            .icon-name .si-page-approved-o
            %code e053 

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-archived.si-6x
            .icon-name .si-page-archived
            %code e054
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-archived-o.si-6x
            .icon-name .si-page-archived-o
            %code e055 

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-complete.si-6x
            .icon-name .si-page-complete
            %code e056
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-complete-o.si-6x
            .icon-name .si-page-complete-o
            %code e057 

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-draft.si-6x
            .icon-name .si-page-draft
            %code e058
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-draft-o.si-6x
            .icon-name .si-page-draft-o
            %code e059 

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-due.si-6x
            .icon-name .si-page-due
            %code e05a
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-due-o.si-6x
            .icon-name .si-page-due-o
            %code e05b 

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-recommended.si-6x
            .icon-name .si-page-recommended
            %code e05c
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-recommended-o.si-6x
            .icon-name .si-page-recommended-o
            %code e05d 

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-submitted.si-6x
            .icon-name .si-page-submitted
            %code e05e
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-submitted-o.si-6x
            .icon-name .si-page-submitted-o
            %code e05f 
        
      %hr
      %h4 System Icons - Status
      %p Status Icons have specific colouring.
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-alert.si-3x
            .icon-name .si-status-alert
            %code e099
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-alert-o.si-3x
            .icon-name .si-status-alert-o
            %code e09b
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-alert-circle.si-3x
            .icon-name .si-status-alert-circle
            %code e09a
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-alert-circle-o.si-3x
            .icon-name .si-status-alert-circle-o
            %code e09b 

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-approved.si-3x
            .icon-name .si-status-approved
            %code e09d
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-approved-circle.si-3x
            .icon-name .si-status-approved-circle
            %code e09e
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-approved-circle-o.si-3x
            .icon-name .si-status-approved-circle-o
            %code e09f

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-archived.si-3x
            .icon-name .si-status-archived
            %code e0a0
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-archived-circle.si-3x
            .icon-name .si-status-archived-circle
            %code e0a1
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-archived-circle-o.si-3x
            .icon-name .si-status-archived-circle-o
            %code e0a2

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-complete.si-3x
            .icon-name .si-status-complete
            %code e0a3
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-complete-o.si-3x
            .icon-name .si-status-complete-o
            %code e0a6
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-complete-circle.si-3x
            .icon-name .si-status-complete-circle
            %code e0a4
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-complete-circle-o.si-3x
            .icon-name .si-status-complete-circle-o
            %code e0a5

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-danger.si-3x
            .icon-name .si-status-danger
            %code e0a7
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-danger-o.si-3x
            .icon-name .si-status-danger-o
            %code e0aa
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-danger-circle.si-3x
            .icon-name .si-status-danger-circle
            %code e0a8
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-danger-circle-o.si-3x
            .icon-name .si-status-danger-circle-o
            %code e0a9

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-warning.si-3x
            .icon-name .si-status-warning
            %code e0bf
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-warning-o.si-3x
            .icon-name .si-status-warning-o
            %code e0c2
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-warning-circle.si-3x
            .icon-name .si-status-warning-circle
            %code e0c0
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-warning-circle-o.si-3x
            .icon-name .si-status-warning-circle-o
            %code e0c1

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-draft.si-3x
            .icon-name .si-status-draft
            %code e0ab
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-draft-o.si-3x
            .icon-name .si-status-draft-o
            %code e0ae
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-draft-circle.si-3x
            .icon-name .si-status-draft-circle
            %code e0ac
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-draft-circle-o.si-3x
            .icon-name .si-status-draft-circle-o
            %code e0ad

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-due.si-3x
            .icon-name .si-status-due
            %code e0af
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-due-o.si-3x
            .icon-name .si-status-due-o
            %code e0b0

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-na.si-3x
            .icon-name .si-status-na
            %code e0b1
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-na-o.si-3x
            .icon-name .si-status-na-o
            %code e0b2

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-recommended.si-3x
            .icon-name .si-status-recommended
            %code e0b3

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-recommended-circle.si-3x
            .icon-name .si-status-recommended-circle
            %code e0b4
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-recommended-circle-o.si-3x
            .icon-name .si-status-recommended-circle-o
            %code e0b5

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-submitted.si-3x
            .icon-name .si-status-submitted
            %code e0b7
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-submitted-o.si-3x
            .icon-name .si-status-submitted-o
            %code e0bb
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-submitted-circle.si-3x
            .icon-name .si-status-submitted-circle
            %code e0b8
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-submitted-circle-o.si-3x
            .icon-name .si-status-submitted-circle-o
            %code e0ba

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-success.si-3x
            .icon-name .si-status-success
            %code e0bc
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-success-o.si-3x
            .icon-name .si-status-success-o
            %code e0be
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-success-circle.si-3x
            .icon-name .si-status-success-circle
            %code e0b9
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-success-circle-o.si-3x
            .icon-name .si-status-success-circle-o
            %code e0bd


      %hr
      %h4 Pages
      %p Page Icons have specific colouring.
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-faqs.si-3x
            .icon-name .si-sard-faqs
            %code e085
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-faqs-circle.si-3x
            .icon-name .si-sard-faqs-circle
            %code e086
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-faqs-circle-o.si-3x
            .icon-name .si-sard-faqs-circle-o
            %code e087
        
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-products.si-3x
            .icon-name .si-sard-products
            %code e088
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-products-circle.si-3x
            .icon-name .si-sard-products-circle
            %code e089
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-products-circle-o.si-3x
            .icon-name .si-sard-products-circle-o
            %code e08a

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-support.si-3x
            .icon-name .si-sard-support
            %code e08b
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-support-circle.si-3x
            .icon-name .si-sard-support-circle
            %code e08d
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-support-circle-o.si-3x
            .icon-name .si-sard-support-circle-o
            %code e08e
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-support-alt.si-3x
            .icon-name .si-sard-support-alt
            %code e08c

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-clients.si-3x
            .icon-name .si-sard-clients
            %code e07f
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-clients-circle.si-3x
            .icon-name .si-sard-clients-circle
            %code e080
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-clients-circle-o.si-3x
            .icon-name .si-sard-clients-circle-o
            %code e081

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-company.si-3x
            .icon-name .si-sard-company
            %code e082
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-company-circle.si-3x
            .icon-name .si-sard-company-circle
            %code e083
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-company-circle-o.si-3x
            .icon-name .si-sard-company-circle-o
            %code e084

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-team-member.si-3x
            .icon-name .si-sard-team-member
            %code e08f
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-team-member-circle.si-3x
            .icon-name .si-sard-team-member-circle
            %code e090
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-team-member-circle-o.si-3x
            .icon-name .si-sard-team-member-circle-o
            %code e091

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-charity.si-3x
            .icon-name .si-sard-charity
            %code e07b
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-charity-o.si-3x
            .icon-name .si-sard-charity-o
            %code e07e
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-charity-circle.si-3x
            .icon-name .si-sard-charity-circle
            %code e07c
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-charity-circle-o.si-3x
            .icon-name .si-sard-charity-circle-o
            %code e07d

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-blog-left.si-3x
            .icon-name .si-blog-left
            %code e02e
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-blog-left-o.si-3x
            .icon-name .si-blog-left-o
            %code e02f
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-blog-right.si-3x
            .icon-name .si-blog-right
            %code e030
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-blog-right-o.si-3x
            .icon-name .si-blog-right-o
            %code e031
        
      %hr
      %h4 Page Sections
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-comment-left.si-3x
            .icon-name .si-comment-left
            %code e035
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-comment-left-o.si-3x
            .icon-name .si-comment-left-o
            %code e036

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-comment-right.si-3x
            .icon-name .si-comment-right
            %code e037
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-comment-right-o.si-3x
            .icon-name .si-comment-right-o
            %code e038

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-evidence.si-3x
            .icon-name .si-evidence
            %code e03d
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-evidence-o.si-3x
            .icon-name .si-evidence-o
            %code e03e

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-private-note.si-3x
            .icon-name .si-private-note
            %code e060
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-private-note-o.si-3x
            .icon-name .si-private-note-o
            %code e061

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-speech-bubble-left.si-3x
            .icon-name .si-speech-bubble-left
            %code e095
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-speech-bubble-left-o.si-3x
            .icon-name .si-speech-bubble-left-o
            %code e096

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-speech-bubble-right.si-3x
            .icon-name .si-speech-bubble-right
            %code e097
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-speech-bubble-right-o.si-3x
            .icon-name .si-speech-bubble-right-o
            %code e099

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-quote.si-3x
            .icon-name .si-quote
            %code e075
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-quote-o.si-3x
            .icon-name .si-quote-o
            %code e076
      
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-email.si-3x
            .icon-name .si-email
            %code e03a
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-email-circle.si-3x
            .icon-name .si-email-circle
            %code e03b
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-email-circle-o.si-3x
            .icon-name .si-email-circle-o
            %code e03c

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-feedback.si-3x
            .icon-name .si-feedback
            %code e03f
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-feedback-o.si-3x
            .icon-name .si-feedback-o
            %code e040

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-video-play-circle.si-3x
            .icon-name .si-video-play-circle
            %code e0c9
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-video-play-circle-o.si-3x
            .icon-name .si-video-play-circle-o
            %code e0ca

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-phone.si-3x
            .icon-name .si-phone
            %code e0e9
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-phone-circle.si-3x
            .icon-name .si-phone-circle
            %code e0ed
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-phone-circle-o.si-3x
            .icon-name .si-phone-circle-o
            %code e0ee

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-phone-call.si-3x
            .icon-name .si-phone-call
            %code e0ea
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-phone-call-circle.si-3x
            .icon-name .si-phone-call-circle
            %code e0eb
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-phone-call-circle-o.si-3x
            .icon-name .si-phone-call-circle-o
            %code e0ec

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-calendar.si-3x
            .icon-name .si-calendar
            %code e0ef
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-calendar-circle.si-3x
            .icon-name .si-calendar-circle
            %code e0f0
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-calendar-circle-o.si-3x
            .icon-name .si-calendar-circle-o
            %code e0f1

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-calendar-plus.si-3x
            .icon-name .si-calendar-plus
            %code e0f2
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-calendar-plus-circle.si-3x
            .icon-name .si-calendar-plus-circle
            %code e0f2
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-calendar-plus-circle-o.si-3x
            .icon-name .si-calendar-plus-circle-o
            %code e0f3

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-search.si-3x
            .icon-name .si-search
            %code e0f5
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-search-minus.si-3x
            .icon-name .si-search-minus
            %code e0f6
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-search-plus.si-3x
            .icon-name .si-search-plus
            %code e0f7

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-twitter.si-3x
            .icon-name .si-twitter
            %code e0f8
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-twitter-circle.si-3x
            .icon-name .si-twitter-circle
            %code e0f9
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-twitter-circle-o.si-3x
            .icon-name .si-twitter-circle-o
            %code e0fa

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-print.si-3x
            .icon-name .si-print
            %code e0fc

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-download.si-3x
            .icon-name .si-download
            %code e0fb
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-upload.si-3x
            .icon-name .si-upload
            %code e101

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-print.si-3x
            .icon-name .si-print
            %code e0fc

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sync.si-3x
            .icon-name .si-sync
            %code e100
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-refresh.si-3x
            .icon-name .si-refresh
            %code e0fd
            
      %hr
      %h4 eRostering
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap.si-3x
            .icon-name .si-ros-shift-swap
            %code e0d4 
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-circle.si-3x
            .icon-name .si-ros-shift-swap-circle
            %code e0d9 
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-circle-o.si-3x
            .icon-name .si-ros-shift-swap-circle-o
            %code e0da  
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-pending-circle.si-3x
            .icon-name .si-ros-shift-swap-pending-circle
            %code e0db
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-pending-circle-o.si-3x
            .icon-name .si-ros-shift-swap-pending-circle.o
            %code e0dc

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-agreed-circle.si-3x
            .icon-name .si-ros-shift-swap-agreed-circle
            %code e0d5
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-agreed-circle-o.si-3x
            .icon-name .si-ros-shift-swap-agreed-circle.o
            %code e0d6

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-processed-circle.si-3x
            .icon-name .si-ros-shift-swap-processed-circle
            %code e0dd
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-processed-circle-o.si-3x
            .icon-name .si-ros-shift-swap-processed-circle.o
            %code e0de

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-cancelled-circle.si-3x
            .icon-name .si-ros-shift-swap-cancelled-circle
            %code e0d7
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-cancelled-circle-o.si-3x
            .icon-name .si-ros-shift-swap-cancelled-circle.o
            %code e0d8

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-rejected-circle.si-3x
            .icon-name .si-ros-shift-swap-rejected-circle
            %code e0df
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-rejected-circle-o.si-3x
            .icon-name .si-ros-shift-swap-rejected-circle.o
            %code e0e0
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-reverted-circle.si-3x
            .icon-name .si-ros-shift-swap-reverted-circle
            %code e0e1
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-ros-shift-swap-reverted-circle-o.si-3x
            .icon-name .si-ros-shift-swap-reverted-circle.o
            %code e0e2


      %hr
      %h4 Various
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-cancel.si-3x
            .icon-name .si-cancel
            %code e032
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-circle.si-3x
            .icon-name .si-circle
            %code e033
        
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-dot.si-3x
            .icon-name .si-dot
            %code e039
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-dot-circle.si-3x
            .icon-name .si-dot-circle
            %code e034

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-lock.si-3x
            .icon-name .si-lock
            %code e045
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-lock-circle.si-3x
            .icon-name .si-lock-circle
            %code e046
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-lock-circle-o.si-3x
            .icon-name .si-lock-circle-o
            %code e047

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-question.si-3x
            .icon-name .si-question
            %code e072
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-question-circle.si-3x
            .icon-name .si-question-circle
            %code e073
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-question-circle-o.si-3x
            .icon-name .si-question-circle-o
            %code e074

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-menu.si-3x
            .icon-name .si-menu
            %code e04b

        




      %p.mt-3.small
        These icons was created with
        %a{:href => "http://fontastic.me/"} Fontastic

      %hr

    .container
      %h2 Icon sizes

      %p This is a mixture of fontawesome and sis to test alignment.


      %i.fas.fa-arrow-alt-circle-right.fa-xs

      %i.si.si-arrow-down-circle.si-xs

      %i.fas.fa-adjust.fa-xs

      %i.si.si-lock-circle.si-xs
      XS

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-sm

      %i.si.si-arrow-down-circle.si-sm

      %i.fas.fa-adjust.fa-sm

      %i.si.si-lock-circle.si-sm
      SM

      %p

      %i.fas.fa-arrow-alt-circle-right

      %i.si.si-arrow-down-circle

      %i.fas.fa-adjust

      %i.si.si-lock-circle
      Default

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-lg

      %i.si.si-arrow-down-circle.si-lg

      %i.fas.fa-adjust.fa-lg

      %i.si.si-lock-circle.si-lg
      LG

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-1x

      %i.si.si-arrow-down-circle.si-1x

      %i.fas.fa-adjust.fa-1x

      %i.si.si-lock-circle.si-1x
      1x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-3x

      %i.si.si-arrow-down-circle.si-3x

      %i.fas.fa-adjust.fa-3x

      %i.si.si-lock-circle.si-3x
      2x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-3x

      %i.si.si-arrow-down-circle.si-3x

      %i.fas.fa-adjust.fa-3x

      %i.si.si-lock-circle.si-3x
      3x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-4x

      %i.si.si-arrow-down-circle.si-4x

      %i.fas.fa-adjust.fa-4x

      %i.si.si-lock-circle.si-4x
      4x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-5x

      %i.si.si-arrow-down-circle.si-5x

      %i.fas.fa-adjust.fa-5x

      %i.si.si-lock-circle.si-5x
      5x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-6x

      %i.si.si-arrow-down-circle.si-6x

      %i.fas.fa-adjust.fa-6x

      %i.si.si-lock-circle.si-6x
      6x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-7x

      %i.si.si-arrow-down-circle.si-7x

      %i.fas.fa-adjust.fa-7x

      %i.si.si-lock-circle.si-7x
      7x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-8x

      %i.si.si-arrow-down-circle.si-8x

      %i.fas.fa-adjust.fa-8x

      %i.si.si-lock-circle.si-8x
      8x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-9x

      %i.si.si-arrow-down-circle.si-9x

      %i.fas.fa-adjust.fa-9x

      %i.si.si-lock-circle.si-9x
      9x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-10x

      %i.si.si-arrow-down-circle.si-10x

      %i.fas.fa-adjust.fa-10x

      %i.si.si-lock-circle.si-10x

      %i.fas.fa-biking.fa-10x

      10x

      %hr


      %i.fas.fa-arrow-alt-circle-right.fa-3x.fa-spin

      %i.si.si-arrow-down-circle.si-3x.si-spin

      %i.fas.fa-adjust.fa-3x.fa-spin

      %i.si.si-lock-circle.si-3x.si-spin
      Spin

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-3x.fa-pulse

      %i.si.si-arrow-down-circle.si-3x.si-pulse

      %i.fas.fa-adjust.fa-3x.fa-pulse

      %i.si.si-lock-circle.si-3x.si-pulse
      Pulse

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-3x.fa-border

      %i.si.si-arrow-down-circle.si-3x.si-border

      %i.fas.fa-adjust.fa-3x.fa-border

      %i.si.si-lock-circle.si-3x.si-border
      Border

      %p

      .icon-bg

        %i.fas.fa-arrow-alt-circle-right.fa-3x.fa-inverse

        %i.si.si-arrow-down-circle.si-3x.si-inverse

        %i.fas.fa-adjust.fa-3x.fa-inverse

        %i.si.si-lock-circle.si-3x.si-inverse
        Inverse

    //=include ../navbars/_footer.haml

    / Scripts ================================

    %script{:src => "../assets/js/remote-sard-scripts.min.js"}