!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4, Bootstrap 4 - Icons
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-ui-styles.min.css", :rel => "stylesheet"}/
 
  %body.theme-trust
    //=include ../navbars/_navbar-x1.haml

    .container
      %h1 SARD Icons 
      %p 
        To add use an icon add: .si .si-
        %code name
        %span  .si- 
        %code size
        %br
        i.e. (.si.si-approve.si-3x)
      
      
      %hr
      %h4 Alignment
      .row
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-left.si-3x
            .icon-name .si-align-left
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-left-circle.si-3x
            .icon-name .si-align-left-circle
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-left-circle-o.si-3x
            .icon-name .si-align-left-circle-o

        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-center.si-3x
            .icon-name .si-align-center
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-center-circle.si-3x
            .icon-name .si-align-center-circle
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-center-circle-o.si-3x
            .icon-name .si-align-center-circle-o

        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-right.si-3x
            .icon-name .si-align-right
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-right-circle.si-3x
            .icon-name .si-align-right-circle
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-right-circle-o.si-3x
            .icon-name .si-align-right-circle-o

        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-justify.si-3x
            .icon-name .si-align-justify
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-justify-circle.si-3x
            .icon-name .si-align-justify-circle
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-align-justify-circle-o.si-3x
            .icon-name .si-align-justify-circle-o

        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-sort-asc.si-3x
            .icon-name .si-sort-asc
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-sort-desc.si-3x
            .icon-name .si-sort-desc
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-sort-both.si-3x
            .icon-name .si-sort-both


      %hr
      %h4 Approve / Reject
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-approve.si-3x
            .icon-name .si-approve
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-reject.si-3x
            .icon-name .si-reject
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-approve-o.si-3x
            .icon-name .si-approve-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-reject-o.si-3x
            .icon-name .si-reject-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-approve-circle.si-3x
            .icon-name .si-approve-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-approve-circle-o.si-3x
            .icon-name .si-approve-circle-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-reject-circle.si-3x
            .icon-name .si-reject-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-reject-circle-o.si-3x
            .icon-name .si-reject-circle-o

      %hr
      %h4 Arrows
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-down.si-3x
            .icon-name .si-arrow-down
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-left.si-3x
            .icon-name .si-arrow-left
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-right.si-3x
            .icon-name .si-arrow-right
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-up.si-3x
            .icon-name .si-arrow-up

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-circle-down.si-3x
            .icon-name .si-arrow-circle-down
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-circle-left.si-3x
            .icon-name .si-arrow-circle-left
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-right-circle.si-3x
            .icon-name .si-arrow-right-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-circle-up.si-3x
            .icon-name .si-arrow-circle-up

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-circle-down-o.si-3x
            .icon-name .si-arrow-circle-down-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-circle-left-o.si-3x
            .icon-name .si-arrow-circle-left-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-right-circle-o.si-3x
            .icon-name .si-arrow-right-circle-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-circle-up-o.si-3x
            .icon-name .si-arrow-circle-up-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-h.si-3x
            .icon-name .si-arrow-double-h
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-circle-h.si-3x
            .icon-name .si-arrow-double-circle-h
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-circle-h-o.si-3x
            .icon-name .si-arrow-double-circle-h-o

      .row  
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-v.si-3x
            .icon-name .si-arrow-double-v
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-circle-v.si-3x
            .icon-name .si-arrow-double-circle-v
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-double-circle-v-o.si-3x
            .icon-name .si-arrow-double-circle-v-o
      
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-x-long-down.si-3x
            .icon-name .si-arrow-x-long-down
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-x-long-right.si-3x
            .icon-name .si-arrow-x-long-right
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-x-long-up.si-3x
            .icon-name .si-arrow-x-long-up
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-x-long-left.si-3x
            .icon-name .si-arrow-x-long-left
      
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-xx-long-down.si-3x
            .icon-name .si-arrow-xx-long-down
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-xx-long-right.si-3x
            .icon-name .si-arrow-xx-long-right
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-xx-long-up.si-3x
            .icon-name .si-arrow-xx-long-up
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-arrow-xx-long-left.si-3x
            .icon-name .si-arrow-xx-long-left

        

      %hr
      %h4 Logos
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-flower-8.si-3x
            .icon-name .si-flower-8
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-flower-8-circle.si-3x
            .icon-name .si-flower-8-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-flower-4.si-3x
            .icon-name .si-flower-4
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-flower-4-circle.si-3x
            .icon-name .si-flower-4-circle
      
      %hr
      %h4 Logos (Associated)
      .row
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-logo-nhs.si-4x
            .icon-name .si-logo-nhs
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-logo-nhs-oxleas.si-6x
            .icon-name .si-logo-nhs-oxleas
        .col-24.col-sm-12.col-md-8
          .icon-wrap
            .si.si-logo-nhs-oxleas-joint.si-8x
            .icon-name .si-logo-nhs-oxleas-joint


      %hr
      %h4 Products
      %p Product Icons have specific colouring.
      .row
        .col-24
          .icon-wrap
            .si.si-prod-mrv.si-3x
            .icon-name .si-prod-mrv
        .col-24
          .icon-wrap
            .si.si-prod-mrv-o.si-3x
            .icon-name .si-prod-mrv-o
        
        .col-24
          .icon-wrap
            .si.si-prod-360.si-3x
            .icon-name .si-prod-360
        .col-24
          .icon-wrap
            .si.si-prod-360-o.si-3x
            .icon-name .si-prod-360-o
        
        .col-24
          .icon-wrap
            .si.si-prod-a4a.si-3x
            .icon-name .si-prod-a4a
        .col-24
          .icon-wrap
            .si.si-prod-a4a-o.si-3x
            .icon-name .si-prod-a4a-o

        .col-24
          .icon-wrap
            .si.si-prod-ele.si-3x
            .icon-name .si-prod-ele
        .col-24
          .icon-wrap
            .si.si-prod-ele-o.si-3x
            .icon-name .si-prod-ele-o

        .col-24
          .icon-wrap
            .si.si-prod-ros.si-3x
            .icon-name .si-prod-ros
        .col-24
          .icon-wrap
            .si.si-prod-ros-o.si-3x
            .icon-name .si-prod-ros-o

        .col-24
          .icon-wrap
            .si.si-prod-jp.si-3x
            .icon-name .si-prod-jp
        .col-24
          .icon-wrap
            .si.si-prod-jp-o.si-3x
            .icon-name .si-prod-jp-o

        .col-24
          .icon-wrap
            .si.si-prod-nrv.si-3x
            .icon-name .si-prod-nrv
        .col-24
          .icon-wrap
            .si.si-prod-nrv-o.si-3x
            .icon-name .si-prod-nrv-o

        .col-24
          .icon-wrap
            .si.si-prod-cap.si-3x
            .icon-name .si-prod-cap
        .col-24
          .icon-wrap
            .si.si-prod-cap-o.si-3x
            .icon-name .si-prod-cap-o



      %hr
      %h4 System Icons - Users
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-super-admin.si-3x
            .icon-name .si-super-admin
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-super-admin-o.si-3x
            .icon-name .si-super-admin-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-super-admin-circle.si-3x
            .icon-name .si-super-admin-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-super-admin-circle-o.si-3x
            .icon-name .si-super-admin-circle-o
        
        
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-admin.si-3x
            .icon-name .si-nav-icon-admin
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-admin-o.si-3x
            .icon-name .si-nav-icon-admin-o
        
        
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-site.si-3x
            .icon-name .si-nav-icon-site
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-site-o.si-3x
            .icon-name .si-nav-icon-site-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-user.si-3x
            .icon-name .si-nav-icon-user
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-nav-icon-user-o.si-3x
            .icon-name .si-nav-icon-user-o

      %hr
      %h4 System Icons - Page Status
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-approved.si-6x
            .icon-name .si-page-approved
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-approved-o.si-6x
            .icon-name .si-page-approved-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-archived.si-6x
            .icon-name .si-page-archived
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-archived-o.si-6x
            .icon-name .si-page-archived-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-complete.si-6x
            .icon-name .si-page-complete
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-complete-o.si-6x
            .icon-name .si-page-complete-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-draft.si-6x
            .icon-name .si-page-draft
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-draft-o.si-6x
            .icon-name .si-page-draft-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-due.si-6x
            .icon-name .si-page-due
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-due-o.si-6x
            .icon-name .si-page-due-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-recommended.si-6x
            .icon-name .si-page-recommended
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-recommended-o.si-6x
            .icon-name .si-page-recommended-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-submitted.si-6x
            .icon-name .si-page-submitted
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-page-submitted-o.si-6x
            .icon-name .si-page-submitted-o
        
      %hr
      %h4 System Icons - Status
      %p Status Icons have specific colouring.
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-alert.si-3x
            .icon-name .si-status-alert
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-alert-o.si-3x
            .icon-name .si-status-alert-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-alert-circle.si-3x
            .icon-name .si-status-alert-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-alert-circle-o.si-3x
            .icon-name .si-status-alert-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-approved.si-3x
            .icon-name .si-status-approved
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-approved-circle.si-3x
            .icon-name .si-status-approved-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-approved-circle-o.si-3x
            .icon-name .si-status-approved-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-archived.si-3x
            .icon-name .si-status-archived
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-archived-circle.si-3x
            .icon-name .si-status-archived-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-archived-circle-o.si-3x
            .icon-name .si-status-archived-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-complete.si-3x
            .icon-name .si-status-complete
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-complete-o.si-3x
            .icon-name .si-status-complete-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-complete-circle.si-3x
            .icon-name .si-status-complete-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-complete-circle-o.si-3x
            .icon-name .si-status-complete-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-danger.si-3x
            .icon-name .si-status-danger
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-danger-o.si-3x
            .icon-name .si-status-danger-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-danger-circle.si-3x
            .icon-name .si-status-danger-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-danger-circle-o.si-3x
            .icon-name .si-status-danger-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-warning.si-3x
            .icon-name .si-status-warning
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-warning-o.si-3x
            .icon-name .si-status-warning-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-warning-circle.si-3x
            .icon-name .si-status-warning-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-warning-circle-o.si-3x
            .icon-name .si-status-warning-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-draft.si-3x
            .icon-name .si-status-draft
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-draft-o.si-3x
            .icon-name .si-status-draft-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-draft-circle.si-3x
            .icon-name .si-status-draft-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-draft-circle-o.si-3x
            .icon-name .si-status-draft-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-due.si-3x
            .icon-name .si-status-due
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-due-o.si-3x
            .icon-name .si-status-due-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-na.si-3x
            .icon-name .si-status-na
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-na-o.si-3x
            .icon-name .si-status-na-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-recommended.si-3x
            .icon-name .si-status-recommended
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-recommended-o.si-3x
            .icon-name .si-status-recommended-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-recommended-circle.si-3x
            .icon-name .si-status-recommended-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-recommended-circle-o.si-3x
            .icon-name .si-status-recommended-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-submitted.si-3x
            .icon-name .si-status-submitted
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-submitted-o.si-3x
            .icon-name .si-status-submitted-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-submitted-circle.si-3x
            .icon-name .si-status-submitted-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-submitted-circle-o.si-3x
            .icon-name .si-status-submitted-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-success.si-3x
            .icon-name .si-status-success
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-success-o.si-3x
            .icon-name .si-status-success-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-success-circle.si-3x
            .icon-name .si-status-success-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-status-success-circle-o.si-3x
            .icon-name .si-status-success-circle-o


      %hr
      %h4 Pages
      %p Page Icons have specific colouring.
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-faqs.si-3x
            .icon-name .si-sard-faqs
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-faqs-circle.si-3x
            .icon-name .si-sard-faqs-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-faqs-circle-o.si-3x
            .icon-name .si-sard-faqs-circle-o
        
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-products.si-3x
            .icon-name .si-sard-products
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-products-circle.si-3x
            .icon-name .si-sard-products-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-products-circle-o.si-3x
            .icon-name .si-sard-products-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-support.si-3x
            .icon-name .si-sard-support
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-support-circle.si-3x
            .icon-name .si-sard-support-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-support-circle-o.si-3x
            .icon-name .si-sard-support-circle-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-support-alt.si-3x
            .icon-name .si-sard-support-alt

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-clients.si-3x
            .icon-name .si-sard-clients
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-clients-circle.si-3x
            .icon-name .si-sard-clients-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-clients-circle-o.si-3x
            .icon-name .si-sard-clients-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-company.si-3x
            .icon-name .si-sard-company
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-company-circle.si-3x
            .icon-name .si-sard-company-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-company-circle-o.si-3x
            .icon-name .si-sard-company-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-staff.si-3x
            .icon-name .si-sard-staff
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-staff-circle.si-3x
            .icon-name .si-sard-staff-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-staff-circle-o.si-3x
            .icon-name .si-sard-staff-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-charity.si-3x
            .icon-name .si-sard-charity
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-charity-o.si-3x
            .icon-name .si-sard-charity-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-charity-circle.si-3x
            .icon-name .si-sard-charity-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-sard-charity-circle-o.si-3x
            .icon-name .si-sard-charity-circle-o

      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-blog-left.si-3x
            .icon-name .si-blog-left
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-blog-left-o.si-3x
            .icon-name .si-blog-left-o
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-blog-right.si-3x
            .icon-name .si-blog-right
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-blog-right-o.si-3x
            .icon-name .si-blog-right-o
        
      %hr
      %h4 Page Sections
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-comment-left.si-3x
            .icon-name .si-comment-left
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-comment-left-o.si-3x
            .icon-name .si-comment-left-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-comment-right.si-3x
            .icon-name .si-comment-right
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-comment-right-o.si-3x
            .icon-name .si-comment-right-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-evidence.si-3x
            .icon-name .si-evidence
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-evidence-o.si-3x
            .icon-name .si-evidence-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-private-note.si-3x
            .icon-name .si-private-note
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-private-note-o.si-3x
            .icon-name .si-private-note-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-speech-bubble-left.si-3x
            .icon-name .si-speech-bubble-left
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-speech-bubble-left-o.si-3x
            .icon-name .si-speech-bubble-left-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-speech-bubble-right.si-3x
            .icon-name .si-speech-bubble-right
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-speech-bubble-right-o.si-3x
            .icon-name .si-speech-bubble-right-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-quote.si-3x
            .icon-name .si-quote
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-quote-o.si-3x
            .icon-name .si-quote-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-email.si-3x
            .icon-name .si-email
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-email-circle.si-3x
            .icon-name .si-email-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-email-circle-o.si-3x
            .icon-name .si-email-circle-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-feedback.si-3x
            .icon-name .si-feedback
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-feedback-o.si-3x
            .icon-name .si-feedback-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-user.si-3x
            .icon-name .si-user
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-user-o.si-3x
            .icon-name .si-user-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-video-play-circle.si-3x
            .icon-name .si-video-play-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-video-play-circle-o.si-3x
            .icon-name .si-video-play-circle-o

        


      %hr
      %h4 Various
      .row
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-cancel.si-3x
            .icon-name .si-cancel
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-circle.si-3x
            .icon-name .si-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-circle-dot.si-3x
            .icon-name .si-circle-dot
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-dot.si-3x
            .icon-name .si-dot

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-lock.si-3x
            .icon-name .si-lock
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-lock-circle.si-3x
            .icon-name .si-lock-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-lock-circle-o.si-3x
            .icon-name .si-lock-circle-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-question.si-3x
            .icon-name .si-question
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-question-circle.si-3x
            .icon-name .si-question-circle
        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-question-circle-o.si-3x
            .icon-name .si-question-circle-o

        .col-24.col-sm-12.col-md-8.col-lg-6
          .icon-wrap
            .si.si-menu.si-3x
            .icon-name .si-menu

        




      %p.mt-3.small
        These icons was created with
        %a{:href => "http://fontastic.me/"} Fontastic

      %hr

    .container
      %h1 SARD Icons

      %p This is a mixture of fontawesome and sis to test alignment.


      %i.fas.fa-arrow-alt-circle-right.fa-xs

      %i.si.si-arrow-circle-down.si-xs

      %i.fas.fa-adjust.fa-xs

      %i.si.si-lock-circle.si-xs
      XS

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-sm

      %i.si.si-arrow-circle-down.si-sm

      %i.fas.fa-adjust.fa-sm

      %i.si.si-lock-circle.si-sm
      SM

      %p

      %i.fas.fa-arrow-alt-circle-right

      %i.si.si-arrow-circle-down

      %i.fas.fa-adjust

      %i.si.si-lock-circle
      Default

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-lg

      %i.si.si-arrow-circle-down.si-lg

      %i.fas.fa-adjust.fa-lg

      %i.si.si-lock-circle.si-lg
      LG

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-1x

      %i.si.si-arrow-circle-down.si-1x

      %i.fas.fa-adjust.fa-1x

      %i.si.si-lock-circle.si-1x
      1x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-3x

      %i.si.si-arrow-circle-down.si-3x

      %i.fas.fa-adjust.fa-3x

      %i.si.si-lock-circle.si-3x
      2x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-3x

      %i.si.si-arrow-circle-down.si-3x

      %i.fas.fa-adjust.fa-3x

      %i.si.si-lock-circle.si-3x
      3x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-4x

      %i.si.si-arrow-circle-down.si-4x

      %i.fas.fa-adjust.fa-4x

      %i.si.si-lock-circle.si-4x
      4x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-5x

      %i.si.si-arrow-circle-down.si-5x

      %i.fas.fa-adjust.fa-5x

      %i.si.si-lock-circle.si-5x
      5x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-6x

      %i.si.si-arrow-circle-down.si-6x

      %i.fas.fa-adjust.fa-6x

      %i.si.si-lock-circle.si-6x
      6x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-7x

      %i.si.si-arrow-circle-down.si-7x

      %i.fas.fa-adjust.fa-7x

      %i.si.si-lock-circle.si-7x
      7x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-8x

      %i.si.si-arrow-circle-down.si-8x

      %i.fas.fa-adjust.fa-8x

      %i.si.si-lock-circle.si-8x
      8x


      %p

      %i.fas.fa-arrow-alt-circle-right.fa-9x

      %i.si.si-arrow-circle-down.si-9x

      %i.fas.fa-adjust.fa-9x

      %i.si.si-lock-circle.si-9x
      9x

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-10x

      %i.si.si-arrow-circle-down.si-10x

      %i.fas.fa-adjust.fa-10x

      %i.si.si-lock-circle.si-10x

      %i.fas.fa-biking.fa-10x

      10x

      %hr


      %i.fas.fa-arrow-alt-circle-right.fa-3x.fa-spin

      %i.si.si-arrow-circle-down.si-3x.si-spin

      %i.fas.fa-adjust.fa-3x.fa-spin

      %i.si.si-lock-circle.si-3x.si-spin
      Spin

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-3x.fa-pulse

      %i.si.si-arrow-circle-down.si-3x.si-pulse

      %i.fas.fa-adjust.fa-3x.fa-pulse

      %i.si.si-lock-circle.si-3x.si-pulse
      Pulse

      %p

      %i.fas.fa-arrow-alt-circle-right.fa-3x.fa-border

      %i.si.si-arrow-circle-down.si-3x.si-border

      %i.fas.fa-adjust.fa-3x.fa-border

      %i.si.si-lock-circle.si-3x.si-border
      Border

      %p

      .icon-bg

        %i.fas.fa-arrow-alt-circle-right.fa-3x.fa-inverse

        %i.si.si-arrow-circle-down.si-3x.si-inverse

        %i.fas.fa-adjust.fa-3x.fa-inverse

        %i.si.si-lock-circle.si-3x.si-inverse
        Inverse

    //=include ../navbars/_footer.haml

    / Scripts ================================

    %script{:src => "../assets/js/remote-sard-scripts.min.js"}