!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4, Bootstrap 4 - Links
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-ui-styles.min.css", :rel => "stylesheet"}/
 
  %body.theme-trust
    //=include ../navbars/_navbar-x1.haml

    .container
      .row
        .col-sm-24
          %h1#links.bs-anchor Lists

      .row
        .col-sm-24
          %p.lead
            All 
            %span.strong ul 
            list styles have a bullet point added, To remove the bullet, add
            %code .no-bullet
            to the 
            %code ul 

      

      .row
        .col-sm-12
          %h4 A Standard UL List
          %ul
            %li Cras justo odio
            %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li Morbi leo risus
            %li Porta ac consectetur ac
            %li Vestibulum at eros
        .col-sm-12
          %h4 A Standard UL List Group
          %ul.list-group
            %li.list-group-item Cras justo odio
            %li.list-group-item A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li.list-group-item Morbi leo risus
            %li.list-group-item Porta ac consectetur ac
            %li.list-group-item Vestibulum at eros
        .col-sm-24
          %hr
          %p 
            By adding
            %code .no-bullet
            to 
            %code ul 
            , you can remove the bullet.
        .col-sm-12
          %h4 A Standard UL.no-bullet List
          %ul.no-bullet
            %li Cras justo odio
            %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li Morbi leo risus
            %li Porta ac consectetur ac
            %li Vestibulum at eros
        .col-sm-12
          %h4 A Standard UL.no-bullet List Group
          %ul.no-bullet.list-group
            %li.list-group-item Cras justo odio
            %li.list-group-item A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li.list-group-item Morbi leo risus
            %li.list-group-item Porta ac consectetur ac
            %li.list-group-item Vestibulum at eros

        .col-sm-24
          %hr
          %p 
            Alternatively, you can just remove the bullet from individual list items by adding 
            %code .no-bullet 
            to the 
            %code li
            instead. 
        .col-sm-12
          %h4 A Standard UL.no-bullet List
          %ul
            %li Cras justo odio
            %li.no-bullet A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li.no-bullet Morbi leo risus
            %li Porta ac consectetur ac
            %li Vestibulum at eros
        .col-sm-12
          %h4 A Standard UL.no-bullet List Group
          %ul.list-group
            %li.list-group-item Cras justo odio
            %li.no-bullet.list-group-item A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li.no-bullet.list-group-item Morbi leo risus
            %li.list-group-item Porta ac consectetur ac
            %li.list-group-item Vestibulum at eros

      %hr/
      .row
        .col-sm-24  
          %h3 Colour variations 
          %p
            Add 
            %code .list-primary 
            or 
            %code .list-secondary 
            to the 
            %code ul 
            or 
            %code li 
        .col-sm-8
          %h4 List Primary
          %ul.list-primary
            %li Cras justo odio
            %li 
              A List Item,
              %br/
              with a line break in it
            %li Morbi leo risus
            %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li Vestibulum at eros
        .col-sm-8
          %h4 List Secondary
          %ul.list-secondary 
            %li Cras justo odio
            %li 
              A List Item,
              %br/
              with a line break in it
            %li Morbi leo risus
            %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li Vestibulum at eros

      %hr/
      .row
        .col-sm-24  
          %h3 Open Bullets 
          %p
            Add 
            %code .open-bullet 
            to either the 
            %code ul 
            or 
            %code li 
            to create an open bullet.
        .col-sm-8
          %h4 List Primary
          %ul.open-bullet
            %li Cras justo odio
            %li.list-primary
              A List Item,
              %br/
              with a line break in it
            %li.list-primary Morbi leo risus
            %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li Vestibulum at eros
        .col-sm-8
          %h4 List Secondary
          %ul
            %li Cras justo odio
            %li.open-bullet.list-secondary 
              A List Item,
              %br/
              with a line break in it
            %li.open-bullet.list-secondary Morbi leo risus
            %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li Vestibulum at eros


      %hr/
      .row
        .col-sm-24  
          %h3 Nested Bullets 
        .col-sm-8
          %h4 No Bullets
          %ul.no-bullet
            %li Cras justo odio
            %li.list-primary 
              A List Item,
              %br/
              with a line break in it
            %li.list-primary Morbi leo risus
            %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li Nested bullets below
            %ul
              %li Cras justo odio
              %li.list-primary 
                A List Item,
                %br/
                with a line break in it
              %li.list-primary Morbi leo risus
              %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
              %li Vestibulum at eros
        .col-sm-8
          %h4 List Primary
          %ul
            %li Cras justo odio
            %li.list-primary 
              A List Item,
              %br.line-break/
              with a line break in it
            %li.list-primary Morbi leo risus
            %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li Nested bullets below
            %ul
              %li Cras justo odio
              %li.list-primary 
                A List Item,
                %br.line-break/
                with a line break in it
              %li.list-primary Morbi leo risus
              %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
              %li Vestibulum at eros
        .col-sm-8
          %h4 List Secondary
          %ul
            %li Cras justo odio
            %li.list-secondary 
              A List Item,
              %br/
              with a line break in it
            %li.list-secondary Morbi leo risus
            %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
            %li Nested bullets below
            %ul
              %li Cras justo odio
              %li.list-secondary 
                A List Item,
                %br/
                with a line break in it
              %li.list-secondary Morbi leo risus
              %li A Really. Really, Really long text, I mean really long. Dooby Dooby Do, Yad Yada Yada, All looking good? Maybe it is, maybe it isn't, who's to say.
              %li Vestibulum at eros

                
    //=include ../navbars/_footer.haml

    / Scripts ================================

    %script{:src => "../assets/js/remote-sard-scripts.min.js"}