!!!
%html.no-js{:lang => "en"}
  %head
    %title SARD Core UI - Lists
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-ui-styles.min.css", :rel => "stylesheet"}/
 
  %body.theme-trust
    //=include ../navbars/_navbar-x1.haml

    .container
      .row
        .col-sm-24
          %h1#links.bs-anchor SA Loader

      .row
        .col
          .sa-page-loader
            %a.sa-page-loader-spinner
            .loader-section.section-left
            .loader-section.section-right

      .row
        .col-md-12
          %h3 .sa-page-loader
          %p
            This is a page preloader. It shoudn't matter where it sits on the page as it is designed the cover the entire screen, but appear behind the navbar, sidemenu and footer. 
          %h5 Code
          %p
            %code .sa-page-loader
            %br/
            %code &nbsp;&nbsp;.sa-page-loader-spinner
            %br/
            %code &nbsp;&nbsp;&nbsp;&nbsp;.loader-section.section-left
            %br/
            %code &nbsp;&nbsp;&nbsp;&nbsp;.loader-section.section-right
          %p
            You can also reduce the size of the spinner by adding 
            %br/
            %code .small-spinner
            to 
            %code .sa-page-loader-spinner
          
          %h5 Demo
          %p
            To see it work 
            .btn.btn-primary.activate-loader Click Here
            %br/
            %br/
            To close it, click on the loader spinner to replicate the page having loaded.


        .col-md-12
          %h3 .sa-element-loader
          %p
            This is a preloader for an individual element. 
          .loader-demo-element.mb-2.with-element-loader
            .sa-element-loader
              %a.sa-element-loader-spinner
              .loader-section.section-left
              .loader-section.section-right

            %p
              The containing element will need to have the class of
              %code .with-element-loader
              added to it, this gives this element a position of relative, so that the loader itself can be positioned absolute to it.
              %br/
              The .sa-element-loader MUST sit within this containing element.

            %h5 Code 
            %p
              %code DIV.with-element-loader
              %br/
              %code &nbsp;&nbsp;.sa-element-loader
              %br/
              %code &nbsp;&nbsp;&nbsp;&nbsp;.sa-element-loader-spinner
              %br/
              %code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.loader-section.section-left
              %br/
              %code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.loader-section.section-right
            %p
              You can also reduce the size of the spinner by adding 
              %br/
              %code .small-spinner
              to 
              %code .sa-element-loader-spinner

          %h5 Demo
          %p
            To toggle the loader on and off 
            .btn.btn-primary.element-loader-btn Click Here


                
    //=include ../navbars/_footer.haml

    / Scripts ================================

    %script{:src => "../assets/js/remote-sard-scripts.min.js"}