!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4, Bootstrap 4 - Perforations and Dividers
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/remote-sard-styles.min.css", :rel => "stylesheet"}/
 
  %body
    //=include ../navbars/_navbar-x1.haml

    .container
      .row
        .col-sm-12
          %h1#links.bs-anchor Perforations and Dividers
          %p Throughout SARD we use a variety of perforations and divders to visually seperate sections.

      .row
        .col-sm-12
          %h3 Horizontal Rules
          %p We have created a range of HR thickness and colours.
          %h5 A standard HR 
          %code hr 
          %hr/
          %h5 Various weights
          %p Add the weights as below. 
          %code hr.x2 
          %hr.x2/
          %code hr.x4 
          %hr.x4/
          %code hr.x8 
          %hr.x8/
          %code hr.x12 
          %hr.x12/
          %code hr.x16 
          %hr.x16/

          %h5 Various colours
          %p Add the colours as below. 
          %code hr.black 
          %hr.black/
          %code hr.primary 
          or 
          %code hr.client
          %hr.primary/
          %code hr.secondary 
          or 
          %code hr.admin
          %hr.secondary/
          %code hr.white
          .card.card-sard
            .card-body
              %hr.white/
          
          %h5 Various styles
          %code hr.dashed 
          %hr.dashed/
          %code hr.dotted 
          %hr.dotted/
          
          %h5 Mix n match
          %code hr.client.dashed.x4
          %hr.client.dashed.x4/
          %code hr.admin.dotted.x12
          %hr.admin.x12.dotted

          

      .row
        .col-sm-12
          %h3.mt-3 Perforations 
          %p Dotted horizontal rules don't always behave well in varions browsers, So we have created a set of perforations that can be used as dividers instead.

          %p
            %code .perf.client
            .perf.client
          %h5 Various weights
          %p
            %code .perf.client.x2
            .perf.client.x2
          %p
            %code .perf.client.x4
            .perf.client.x4
          %p
            %code .perf.client.x8
            .perf.client.x8
          %p
            %code .perf.client.x12
            .perf.client.x12
          %p
            %code .perf.client.x16
            .perf.client.x16

          %h5 Various colours
          %p
            %code .perf.black
            .perf.black.x8 
          %p
            %code .perf.primary
            or
            %code .perf.client
            .perf.client.x8
          %p
            %code .perf.secondary
            or
            %code .perf.admin
            .perf.secondary.x8
          %p
            %code .perf.white
          .card.card-sard 
            .card-body
              .perf.white.x8
            
      .row
        .col-sm-12
          %h3.mt-3 Perforations as Card dividers
          %p Perforations were origionally designed as dividers between card body dividers. They can be placed within Cards, Panels or Fieldsets to divide them.

        .col-sm-4 
          .card.card-sard 
            .card-header Card
            .card-body
              %p 
                They can be placed between two card bodies
            .perf
            .card-body
              %p Like this
              %hr.black/
              %p Or within a .card-body 
              .perf
              %p like this
          %p
            The Default Perforation for use in Cards is white, 8px. So you only need to have the following code:
            %br/
            %code .card-body
            %br/
            %code .perf
            %br/
            %code .card-body

        .col-sm-4 
          .panel.panel-sard 
            .panel-header Panel
            .panel-body
              %p 
                They can be placed between two panel bodies
            .perf
            .panel-body
              %p  Like this
              %hr.black/
              %p Or within a .panel-body 
              .perf
              %p like this
          %p
            The Default Perforation for use in panels is white, 8px. So you only need to have the following code:
            %br/
            %code .panel-body
            %br/
            %code .perf
            %br/
            %code .panel-body

        .col-sm-4 
          %fieldset 
            %legend Fieldset
            .form-group
              %p 
                They can be placed between two form groups
            .perf
            .form-group
              %p  Like this
              %hr.black/
              %p Or within a .form-group 
              .perf
              %p like this
          %p
            The Default Perforation for use in fieldsets is white, 8px. So you only need to have the following code:
            %br/
            %code .form-group
            %br/
            %code .perf
            %br/
            %code .form-group



    / Scripts ================================

    %script{:src => "../assets/js/remote-sard-scripts.min.js"}