!!!
%html.no-js{:lang => "en"}
  %head
    %title Bootstrap 4 Layout - Typography
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../assets/css/sard-styles.min.css", :rel => "stylesheet"}/
 
  %body
    //=include ../partials/global/_navbar.haml

    .container
      .row
        .col-12
          %h1 Typography
          %hr
          %h1 
            H1 Heading
            %br
            Anothery line
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

          %h2 
            H2 Heading
            %br
            Anothery line
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

          %h3 
            H3 Heading
            %br
            Anothery line
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

          %h4 
            H4 Heading
            %br
            Anothery line
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

          %h5 
            H5 Heading
            %br
            Anothery line
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

          %h6 
            H6 Heading
            %br
            Anothery line
          %p
            %em Heading 6 is the same size as the paragraph text
            %br
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed, mollis accumsan tortor. Duis vitae varius magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
          %hr
        .col-12
          %h1 Display headings
          %p Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style. Keep in mind these headings are  responsive and resize depending on the screen width.
          %h1.display-1 Display 1
          %h1.display-2 Display 2
          %h1.display-3 Display 3
          %h1.display-4 Display 4



    / Scripts ================================

    %script{:src => "../assets/js/sardJS.min.js"}