.row
  .col-sm-12
    %h1#cards-anchor.bs-anchor Cards

    .card.card-sard{:style => "width: 18rem;"}
      %img.card-img-top{:alt => "image placement", :src => "../assets/images/image-placement.png"}/
      .card-body
        %h5.card-title Card title
        %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        %ul.list-group
          %li.list-group-item Cras justo odio
          %li.list-group-item Dapibus ac facilisis in
          %li.list-group-item Vestibulum at eros
      .card-body
        %a.card-link{:href => "#"} Card link
        %a.card-link{:href => "#"} Another link

    %hr
    .card.card-sard.text-center
      .card-header
        Featured
      .card-body
        %h5.card-title Special title treatment
        %p.card-text With supporting text below as a natural lead-in to additional content.
        %a.btn.btn-primary{:href => "#"} Go somewhere
      .card-footer.text-muted
        2 days ago

    %hr

.row
  .col-sm-6
    .card.card-sard
      .card-body
        %h5.card-title Special title treatment
        %p.card-text With supporting text below as a natural lead-in to additional content.
        %a.btn.btn-primary{:href => "#"} Go somewhere
  .col-sm-6
    .card.card-sard
      .card-body
        %h5.card-title Special title treatment
        %p.card-text With supporting text below as a natural lead-in to additional content.
        %a.btn.btn-primary{:href => "#"} Go somewhere

%hr

.row
  .col-12
    %h4 Navigation
    .card.card-sard.text-center
      .card-header
        %ul#nav-tab.nav.nav-tabs.card-header-tabs{:role => "tablist"}
          %li.nav-item
            %a#tabs-home-tab.nav-link.active{"aria-controls" => "nav-tabs-home", "aria-selected" => "true", "data-toggle" => "pill", :href => "#nav-card-tabs-home", :role => "tab"} Home
          %li.nav-item
            %a#nav-tabs-profile-tab.nav-link{"aria-controls" => "nav-tabs-profile", "aria-selected" => "false", "data-toggle" => "pill", :href => "#nav-card-tabs-profile", :role => "tab"} Profile
          %li.nav-item
            %a#nav-tabs-contact-tab.nav-link{"aria-controls" => "nav-tabs-contact", "aria-selected" => "false", "data-toggle" => "pill", :href => "#nav-card-tabs-contact", :role => "tab"} Contact
          %li.nav-item
            %a.nav-link.disabled{"aria-disabled" => "true", :href => "#/", :tabindex => "-1"} Disabled
      .card-body
        #nav-tabs-tabContent.tab-content
          #nav-card-tabs-home.tab-pane.fade.show.active{"aria-labelledby" => "tabs-home-tab", :role => "tabpanel"} 
            %h6.base Nav Tab Card Home
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tortor id eros pulvinar iaculis posuere sit amet nulla. Aenean malesuada lacus id libero rutrum, eu elementum mauris ultrices. Cras vel imperdiet ante. Sed eget nisi ante. Aenean dapibus arcu vel ex molestie convallis sit amet vel sem. Vivamus vitae magna non dolor pulvinar mollis. Suspendisse lacinia tortor sed cursus finibus. Aenean tellus turpis, accumsan a egestas ac, faucibus eget lorem. Duis odio diam, iaculis eget est sed, tincidunt malesuada arcu. Nulla facilisi. Donec porttitor, diam quis feugiat vestibulum, leo eros malesuada arcu, id congue magna diam molestie est. In eget accumsan justo. Aliquam id sapien porta, tempor est sit amet, varius lectus. Vestibulum maximus consequat quam, a mollis ante finibus vel.


          #nav-card-tabs-profile.tab-pane.fade{"aria-labelledby" => "tabs-profile-tab", :role => "tabpanel"} 
            %h6.base Nav Tab Card Profile
            %p
              Vivamus mattis nunc a quam ultricies, vitae posuere elit malesuada. Aliquam erat volutpat. In mauris nulla, molestie ac fermentum et, pellentesque non lacus. Fusce lacinia felis at venenatis efficitur. Sed facilisis metus sit amet urna pretium efficitur. Aenean eros orci, rhoncus quis suscipit a, fringilla sed ipsum. Nunc nec odio euismod, convallis nunc sed, sollicitudin lacus. Vestibulum vulputate ante nunc, vel ultricies lorem consectetur in. Duis dignissim suscipit massa sed blandit. Aenean a fringilla neque. Pellentesque suscipit quis diam at posuere. Vivamus ac orci rutrum, lacinia nulla eget, pellentesque libero. Pellentesque et dapibus ligula. Donec egestas rhoncus risus, elementum fringilla odio interdum sit amet. Fusce sollicitudin dolor eget enim eleifend fringilla.

          #nav-card-tabs-contact.tab-pane.fade{"aria-labelledby" => "tabs-contact-tab", :role => "tabpanel"} 
            %h6.base Nav Tab Card Contact
            %p
              Vestibulum quis odio vestibulum, aliquet nisl ut, dapibus nunc. Pellentesque volutpat et nisi mattis tempor. Suspendisse faucibus sit amet ipsum vitae molestie. Aenean ut massa sem. Phasellus et condimentum elit. Pellentesque sit amet feugiat leo. Ut aliquam eget erat vel posuere. Vivamus at tincidunt augue, ac maximus mi.

%hr

.row
  .col-sm-6
    %h4 Horizontal
    .card.card-sard
      .row.no-gutters
        .col-md-4
          %img.card-img{:alt => "image placement", :src => "../assets/images/image-placement.png"}/
            
        .col-md-8
          .card-body
            %h5.card-title Card title
            %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            %p.card-text
              %small.text-muted Last updated 3 mins ago

  .col-sm-6
    %h4 Images 
    %p 
      For information about placing images in cards, see: 
      %br/
      %a.link-external{href: "https://getbootstrap.com/docs/4.3/components/card/#images-1", target:'blank'} Bootstrap card Images
%hr

.row
  .col-sm-12
    %h4 Card Styles
  .col-sm-6
    .card.card-sard
      .card-header Card Sard / Default
      .card-body.border-bottom
        %h5.card-title .card.card-sard
        %p.card-text 
          This can also be classed as 
          %br
          %span.bold .card.card-default.
          %br
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-sard.outline
      .card-header Card Sard / Default Outline
      .card-body.border-bottom
        %h5.card-title .card.card-sard.outline
        %p.card-text  
          This can also be classed as 
          %br
          %span.bold .card.card-default.outline.
          %br
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted
  
  .col-12
    %hr/

  .col-sm-6
    .card.card-primary
      .card-header Card Primary
      .card-body.border-bottom
        %h5.card-title .card.card-primary
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-primary.outline
      .card-header Card Primary Outline
      .card-body.border-bottom
        %h5.card-title .card.card-primary
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-secondary
      .card-header Card Secondary
      .card-body.border-bottom
        %h5.card-title .card.card-secondary
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-secondary.outline
      .card-header Card Secondary Outline
      .card-body.border-bottom
        %h5.card-title .card.card-secondary
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-12
    %hr/

  .col-sm-6
    .card.card-success
      .card-header Card Success
      .card-body.border-bottom
        %h5.card-title .card.card-success
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-success.outline
      .card-header Card Success Outline
      .card-body.border-bottom
        %h5.card-title .card.card-success
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted


  .col-sm-6
    .card.card-danger
      .card-header Card Danger 
      .card-body.border-bottom
        %h5.card-title .card.card-danger
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-danger.outline
      .card-header Card Danger Outline
      .card-body.border-bottom
        %h5.card-title .card.card-danger
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-warning
      .card-header Card Warning 
      .card-body.border-bottom
        %h5.card-title .card.card-warning
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-warning.outline
      .card-header Card Warning Outline
      .card-body.border-bottom
        %h5.card-title .card.card-warning
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-info
      .card-header Card Info 
      .card-body.border-bottom
        %h5.card-title .card.card-info
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-info.outline
      .card-header Card Info Outline
      .card-body.border-bottom
        %h5.card-title .card.card-info
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-dark
      .card-header Card Dark 
      .card-body.border-bottom
        %h5.card-title .card.card-dark
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted

  .col-sm-6
    .card.card-dark.outline
      .card-header Card Dark Outline
      .card-body.border-bottom
        %h5.card-title .card.card-dark
        %p.card-text 
          This .card-body has .border-bottom added to it, you could also add .border-top
      .card-body
        %h5.card-title 2nd Card body
        %p Below is a %hr between the paras.
        %hr
        %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
      .card-footer
        Card Footer / 
        %span.text-muted .text-muted


%hr
.row
  .col-sm-12
    .card.card-sard
      .card-body
        %h5 White cards
        .row
          .col-sm-6
            .card.card-white
              .card-header Card White 
              .card-body.border-bottom
                %h5.card-title .card.card-white
                %p.card-text 
                  This .card-body has .border-bottom added to it, you could also add .border-top
              .card-body
                %h5.card-title 2nd Card body
                %p Below is a %hr between the paras.
                %hr
                %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
              .card-footer
                Card Footer / 
                %span.text-muted .text-muted
          .col-sm-6
            .card.card-white.outline
              .card-header Card White Outline
              .card-body.border-bottom
                %h5.card-title .card.card-white
                %p.card-text 
                  This .card-body has .border-bottom added to it, you could also add .border-top
              .card-body
                %h5.card-title 2nd Card body
                %p Below is a %hr between the paras.
                %hr
                %p Normal para. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tortor, consectetur a neque sed.
              .card-footer
                Card Footer / 
                %span.text-muted .text-muted


%hr

.row
  .col-12
    %h4 Card Groups
    .card-group
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card-footer
          %small.text-muted Last updated 3 mins ago
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This card has supporting text below as a natural lead-in to additional content.
        .card-footer
          %small.text-muted Last updated 3 mins ago
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        .card-footer
          %small.text-muted Last updated 3 mins ago


%hr

.row
  .col-12
    %h4 Card Decks
    .card-deck
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card-footer
          %small Last updated 3 mins ago
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This card has supporting text below as a natural lead-in to additional content.
        .card-footer
          %small Last updated 3 mins ago
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        .card-footer
          %small.text-muted .text-muted

%hr

.row
  .col-12
    %h4 Card Columns
    .card-columns
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title that wraps to a new line
          %p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card.card-sard.p-3
        %blockquote.blockquote.mb-0.card-body
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          %footer.blockquote-footer
            %small.text-muted
              Someone famous in
              %cite{:title => "Source Title"} Source Title
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-text This card has supporting text below as a natural lead-in to additional content.
          %p.card-text
            %small.text-muted Last updated 3 mins ago
      .card.card-sard.text-center.p-3
        %blockquote.blockquote.mb-0
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
          %footer.blockquote-footer
            %small
              Someone famous in
              %cite{:title => "Source Title"} Source Title
      .card.card-sard.text-center
        .card-body
          %h5.card-title Card title
          %p.card-text This card has a regular title and short paragraphy of text below it.
          %p.card-text
            %small.text-muted Last updated 3 mins ago
      .card.card-sard
        %img.card-img-top{:alt => "...", :src => "..."}/
      .card.card-sard.p-3.text-right
        %blockquote.blockquote.mb-0
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          %footer.blockquote-footer
            %small.text-muted
              Someone famous in
              %cite{:title => "Source Title"} Source Title
      .card.card-sard
        .card-body
          %h5.card-title Card title
          %p.card-text This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.
          %p.card-text
            %small.text-muted Last updated 3 mins ago



