.row
  .col-sm-12
    %h1#tables-anchor.bs-anchor Tables

.row
  .col-sm-12
    %p 
      These are the Bootstrap tables with the class of 
      %code.strong .table-sard 
      %br 
      Sard tables are designed to always sit withing a 
      %code.strong .panel-body 
      , 
      %code.strong .card-body
      or a 
      %code.strong .form-group
      and look identical.
    %h4 Basic Sard Table

.row
  .col-sm-4
    .card.card-sard
      .card-header
        Card
      .card-body
        %table.table.table-sard
          %caption
            This is an example in a 
            %strong card body
          %thead
            %tr
              %th thead/tr/th
              %th th
              %th th
              %th th
          %tbody
            %tr
              %th tbody/tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
          %caption.caption-bottom
            This is an example of a 
            %strong caption.caption-bottom
  .col-sm-4
    .panel.panel-sard
      .panel-header
        Panel
      .panel-body
        %table.table.table-sard
          %caption
            This is an example in a 
            %strong panel body
          %thead
            %tr
              %th thead/tr/th
              %th th
              %th th
              %th th
          %tbody
            %tr
              %th tbody/tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
          %caption.caption-bottom
            This is an example of a 
            %strong caption.caption-bottom

  .col-sm-4
    %fieldset
      %legend
        Fieldset
      .form-group  
        %table.table.table-sard
          %caption
            This is an example in a 
            %strong form-group
          %thead
            %tr
              %th thead/tr/th
              %th th
              %th th
              %th th
          %tbody
            %tr
              %th tbody/tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
          %caption.caption-bottom
            This is an example of a 
            %strong caption.caption-bottom

%hr/
.row
  .col-sm-12
    %h4 Basic Sard Table
    .panel.panel-sard
      .panel-heading Panel Heading
      .panel-body     
        %table.table.table-sard
          %caption
            This is an example of a 
            %strong caption
          %thead
            %tr
              %th thead/tr/th
              %th th
              %th th
              %th th
          %tbody
            %tr
              %th tbody/tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
          %caption.caption-bottom
            This is an example of a 
            %strong caption.caption-bottom

  .col-sm-6
    %h4.base Basic Sard Table - small
    %p
      Add the class
      %code .table-sm
      to reduce the cell padding.
    .panel.panel-sard
      .panel-heading Panel Heading
      .panel-body     
        %table.table.table-sard.table-sm
          %thead
            %tr
              %th thead/tr/th
              %th th
              %th th
              %th th
          %tbody
            %tr
              %th tbody/tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td

  .col-sm-6
    %h4.base Basic Sard Hoverable Table
    %p
      Add the class
      %code .table-hover
    .panel.panel-sard
      .panel-heading Panel Heading
      .panel-body     
        %table.table.table-sard.table-hover
          %thead
            %tr
              %th thead/tr/th
              %th th
              %th th
              %th th
          %tbody
            %tr
              %th tbody/tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td

  .col-sm-6
    %h4.base Basic Sard Striped Table, with hover
    %p
      Add the class
      %code .table-striped
    .panel.panel-sard
      .panel-heading Panel Heading
      .panel-body     
        %table.table.table-sard.table-striped.table-hover
          %thead
            %tr
              %th thead/tr/th
              %th th
              %th th
              %th th
          %tbody
            %tr
              %th tbody/tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td

  .col-sm-6
    %h4.base Basic Sard Bordered Table
    %p
      Add the class
      %code .table-bordered
    .panel.panel-sard
      .panel-heading Panel Heading
      .panel-body     
        %table.table.table-sard.table-bordered
          %thead
            %tr
              %th thead/tr/th
              %th th
              %th th
              %th th
          %tbody
            %tr
              %th tbody/tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td

  .col-sm-6
    %h4.base Inverted Sard Table
    %p
      Add the class
      %code .table-dark
    .panel.panel-sard.panel-dark
      .panel-heading Panel Heading
      .panel-body     
        %table.table.table-sard.table-dark
          %thead
            %tr
              %th thead/tr/th
              %th thead/tr/th
              %th thead/tr/th
              %th thead/tr/th
          %tbody
            %tr
              %th tbody/tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td
            %tr
              %th tr/th
              %td td
              %td td
              %td td


  .col-sm-6
    %h4.base Table head options
    %p
      Use the modifier classes
      %code .thead-light
      ,
      %code .thead-dark
      ,
      %code .thead-white
      ,
      %code .thead-info
      to make the table head appear lighter, darker or another colour.

    .panel.panel-sard
      .panel-heading Panel Heading
      .panel-body
        %table.table.table-sard
          %thead
            %tr
              %th Normal
              %th First
              %th Last
              %th Handle
          %thead.thead-light
            %tr
              %th .thead-light
              %th First
              %th Last
              %th Handle
          %tbody
            %tr
              %th 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %th 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %th 3
              %td Larry
              %td the Bird
              %td @twitter
      .panel-body
        %table.table.table-sard
          %thead.thead-dark
            %tr
              %th .thead-dark
              %th First
              %th Last
              %th Handle
          %tbody
            %tr
              %th 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %th 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %th 3
              %td Larry
              %td the Bird
              %td @twitter
      .panel-body
        %table.table.table-sard
          %thead.thead-white
            %tr
              %th .thead-white
              %th First
              %th Last
              %th Handle
          %tbody
            %tr
              %th 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %th 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %th 3
              %td Larry
              %td the Bird
              %td @twitter
      .panel-body
        %table.table.table-sard
          %thead.thead-info
            %tr
              %th .thead-info
              %th First
              %th Last
              %th Handle
          %tbody
            %tr
              %th 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %th 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %th 3
              %td Larry
              %td the Bird
              %td @twitter

%hr

%h2 Responsive tables
%p
  Responsive tables allow tables to be scrolled horizontally with ease. Make any table responsive across all viewports by wrapping a
  %code .table
  with
  = succeed "." do
    %code .table-responsive

.row
  .col-sm-12
    %h4.base Basic Sard Responsive Table
    %p
      Use 
      %code .table-responsive
      
  .col-sm-6
    .panel.panel-sard
      .panel-heading Panel Heading
      .panel-body     
        .table-responsive
          %table.table.table-sard
            %thead
              %tr
                %th thead/tr/th
                %th thead/tr/th
                %th thead/tr/th
                %th thead/tr/th
                %th thead/tr/th
                %th thead/tr/th
                %th thead/tr/th
            %tbody
              %tr
                %th tbody/tr/th
                %td td
                %td td
                %td td
                %td td
                %td td
                %td td
              %tr
                %th tr/th
                %td td
                %td td
                %td td
                %td td
                %td td
                %td td
              %tr
                %th tr/th
                %td td
                %td td
                %td td
                %td td
                %td td
                %td td


%h4 Breakpoint specific
%p
  Add
  %code .table-responsive{-sm|-md|-lg|-xl}
  as needed to create responsive tables up to a particular breakpoint. From that breakpoint and up, the table will behave normally and not scroll horizontally.

.row
  .col
    %h5.base Up to Small
    %p
      %code .table-responsive-sm
    .panel.panel-sard
      .panel-heading Panel Heading
      .panel-body
        .table-responsive-sm
          %table.table.table-sard
            %thead
              %tr
                %th #
                %th Heading
                %th Heading
                %th Heading
                %th Heading
                %th Heading
            %tbody
              %tr
                %th 1
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell
              %tr
                %th 2
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell
              %tr
                %th 3
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell
    %h5.base Up to Medium
    %p
      %code .table-responsive-md
    .panel.panel-sard
      .panel-heading Panel Heading
      .panel-body
        .table-responsive-md
          %table.table.table-sard
            %thead
              %tr
                %th #
                %th Heading
                %th Heading
                %th Heading
                %th Heading
                %th Heading
            %tbody
              %tr
                %th 1
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell
              %tr
                %th 2
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell
              %tr
                %th 3
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell

    %h5.base Up to Large
    %p
      %code .table-responsive-lg
    .panel.panel-sard
      .panel-heading Panel Heading
      .panel-body
        .table-responsive-lg
          %table.table.table-sard
            %thead
              %tr
                %th #
                %th Heading
                %th Heading
                %th Heading
                %th Heading
                %th Heading
            %tbody
              %tr
                %th 1
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell
              %tr
                %th 2
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell
              %tr
                %th 3
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell

    %h5.base Up to Extra Large
    %p
      %code .table-responsive-xl
    .panel.panel-sard
      .panel-heading Panel Heading
      .panel-body
        .table-responsive-xl
          %table.table.table-sard
            %thead
              %tr
                %th #
                %th Heading
                %th Heading
                %th Heading
                %th Heading
                %th Heading
            %tbody
              %tr
                %th 1
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell
              %tr
                %th 2
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell
              %tr
                %th 3
                %td Cell
                %td Cell
                %td Cell
                %td Cell
                %td Cell

