.multi-column-2, .multi-column-3, .multi-column-4 {
    column-gap: 30px;
    column-rule: 1px solid $sa-grey-06;
    column-rule-width: 1px;
  }
  .multi-column-2-client, .multi-column-3-client, .multi-column-4-client {
    column-gap: 30px;
    column-rule: 1px solid $user-primary-colour;
    column-rule-width: 1px;
  }
  
  .multi-column-2-admin, .multi-column-3-admin, .multi-column-4-admin {
    column-gap: 30px;
    column-rule: 1px solid $admin-primary-colour;
    column-rule-width: 1px;
  }
  
  .multi-column-2-dark, .multi-column-3-dark, .multi-column-4-dark {
    column-gap: 30px;
    column-rule: 1px solid $sa-grey-18;
    column-rule-width: 1px;
  }
  
  .multi-column-2-white, .multi-column-3-white, .multi-column-4-white {
    column-gap: 30px;
    column-rule: 1px solid white;
    column-rule-width: 1px;
  }
  
  
  // Extra Small screens
  @media (max-width: 767px) {
    .multi-column-2, .multi-column-3, .multi-column-4,
    .multi-column-2-client, .multi-column-3-client, .multi-column-4-client,
    .multi-column-2-admin, .multi-column-3-admin, .multi-column-4-admin,
    .multi-column-2-dark, .multi-column-3-dark, .multi-column-4-dark,
    .multi-column-2-white, .multi-column-3-white, .multi-column-4-white {
      column-count: 1;
    }
  }
  
  // Small screens
  @media (min-width: 768px) and (max-width: 991px) {
    .multi-column-2, .multi-column-3, .multi-column-4,
    .multi-column-2-client, .multi-column-3-client, .multi-column-4-client,
    .multi-column-2-admin, .multi-column-3-admin, .multi-column-4-admin,
    .multi-column-2-dark, .multi-column-3-dark, .multi-column-4-dark,
    .multi-column-2-white, .multi-column-3-white, .multi-column-4-white {
      column-count: 2;
    }
  }
  
  
  // Medium screens
  @media (min-width: 992px) and (max-width: 1199px) {
    .multi-column-2,
    .multi-column-2-client,
    .multi-column-2-admin,
    .multi-column-2-dark,
    .multi-column-2-white {
      column-count: 2;
    }
    .multi-column-3, .multi-column-4,
    .multi-column-3-client, .multi-column-4-client,
    .multi-column-3-admin, .multi-column-4-admin,
    .multi-column-3-dark, .multi-column-4-dark,
    .multi-column-3-white, .multi-column-4-white {
      column-count: 3;
    }
  }
  
  
  // Large screens
  @media (min-width: 1200px) {
    .multi-column-2,
    .multi-column-2-client,
    .multi-column-2-admin,
    .multi-column-2-dark,
    .multi-column-2-white {
      column-count: 2;
    }
    .multi-column-3,
    .multi-column-3-client,
    .multi-column-3-admin,
    .multi-column-3-dark,
    .multi-column-3-white {
      column-count: 3;
    }
    .multi-column-4,
    .multi-column-4-client,
    .multi-column-4-admin,
    .multi-column-4-dark,
    .multi-column-4-white {
      column-count: 4;
    }
  }
  
  // Leads
  .leads-multi-column-2-col,.leads-multi-column-full {
    column-gap: 30px;
    column-rule: 1px solid white;
    column-rule-width: 1px;
  }
  .leads-multi-column-2-col{
    @media (max-width: 414px){
      column-count: 1;
    }
      @media (min-width: 415px){
      column-count: 2;
    }
  }
  .leads-multi-column-full{
    @media (max-width: 414px){
      column-count: 1;
    }
      @media (min-width: 415px) and (max-width: 991px){
      column-count: 2;
    }
    @media (min-width: 992px) and (max-width: 1199px){
      column-count: 3;
    }
    @media (min-width: 1200px){
      column-count: 4;
    }
  }
