

//  SARD Colours ===============
$turq:                  #00B2B2;
$pink:                  #E50073;
$orange:                #FF6A00;
$yellow:                #FFB200;
$lime:                  #A7BF30;
$green:                 #359E00;
$teal:                  #004D4D;
$blue:                  #003CB8;
$ink:                   #000078;
$purple:                #52008C;
$plum:                  #990099;
$red:                   #BF0000;
$white:                 #FFFFFF;

$MRv:                   $turq;
$NRv:                   $orange;
$sa-360:                $yellow;
$eLeave:                $lime;
$A4A:                   $plum;
$JPL:                   $pink;
$eRo:                   $teal;
$CPL:                   $red;

//  Greys ======================
$grey00:                #f6f5f5;
$grey01:                #F0F0F0;
$grey02:                #EDEBEB;
$grey03:                #E3E1E1;
$grey04:                #D9D6D6;
$grey05:                #d0cecd;
$grey06:                #C7C4C2;
$grey07:                #bdbab9;
$grey08:                #B5B0B0;
$grey09:                #aba6a5;
$grey10:                #A39E9C;
$grey11:                #918d8b;
$grey12:                #827D7D;
$grey13:                #716d6c;
$grey14:                #615E5C;
$grey15:                #514e4d;
$grey16:                #403D3D;
$grey17:                #302f2e;
$grey18:                #211F0F;
$grey19:                #0e0e0e;

//  Other Colours ==============
$active:                $grey04; // Used in Bootstrap Overrides Table Hover line 1030.
$success:               $green;
$info:                  #00a0e0;
$warning:               $yellow;
$danger:                $red;
$alert:                 $pink;

//colours used for admin Options Menu buttons
$index_colour: #BF14AE;
$view_colour: #83C8EE;
$edit_colour: #E81E6F;
$export_colour: #1ba7dc;

// Job Plan Colours ====================
$jp_trav:               #ED4D9D;
$jp_fps:                #D24D4D;
$jp_ms:                 #FF974D;
$jp_ed:                 #FFC94D;
$jp_spa:                #72BB4D;
$jp_dcc:                #4DC9C9;
$jp_priv:               #4D77C9;
$jp_ar:                 #B84DB8;
$jp_uni:                #C2D26F;

// Global Mixins ===================

$text:                  $grey18;
$bodytext:              $grey18;

$background:            $grey04;

$client:                $turq;
$client-light:          lighten($client, 5%);
$client-very-light:     lighten($client, 10%);
$client-dark:           darken($client, 10%);
$client-very-dark:      darken($client, 20%);

$medic:                 $turq;
$non-medic:             $ink;

$link-color:            lighten($ink, 20%);


// Admin Mixins =================================

$admin:               $pink;
$admin-2:             $plum;
$admin-light:         lighten($admin, 5%);
$admin-very-light:    lighten($admin, 10%);
$admin-dark:          darken($admin, 10%);
$admin-very-dark:     darken($admin, 20%);

// Navbar Admin =================================

$navAdminBase        : $admin-2;
$navAdminHover       : darken($navAdminBase, 10%);
$navAdminFocus       : darken($navAdminBase, 15%);
$navAdminActive      : darken($navAdminBase, 15%);
$navAdminText        : white;
$navAdminActiveFocus : darken($navAdminBase, 15%);
$navAdminDropdown    : darken($navAdminBase, 15%);
$navAdminDropdownBG  : darken($navAdminBase, 15%);


// Text Colours =================================

.client {color: $client;}
.admin {color: $admin;}
.admin-2 {color: $admin-2;}
.text-colour {color: $text!important;}


.turq{ color: $turq;}
.pink{ color: $pink;}
.orange{ color: $orange;}
.yellow{ color: $yellow;}
.lime{ color: $lime;}
.green{ color: $green;}
.teal{ color: $teal;}
.blue{ color: $blue;}
.ink{ color: $ink;}
.purple{ color: $purple;}
.plum{ color: $plum;}
.red{ color: $red;}
.white{ color: $white;}

.MRv{ color: $MRv;}
.NRv{ color: $NRv;}
.sa-360{ color: $sa-360;}
.eLeave{ color: $eLeave;}
.A4A{ color: $A4A;}
.JPL{ color: $JPL;}
.eRo{ color: $eRo;}
.CPL{ color: $CPL;}

.grey02{ color: $grey02;}
.grey03{ color: $grey03;}
.grey04{ color: $grey04;}
.grey06{ color: $grey06;}
.grey08{ color: $grey08;}
.grey10{ color: $grey10;}
.grey10{ color: $grey10;}
.grey12{ color: $grey12;}
.grey14{ color: $grey14;}
.grey16{ color: $grey16;}
.grey18{ color: $grey18;}

.success{ color: $success;}
.info{ color: $info;}
.warning{ color: $warning;}
.danger{ color: $danger;}
.alarm{ color: $alert;}

// Background Colours ====================

.turq-bg{ background-color: $turq;}
.pink-bg{ background-color: $pink;}
.orange-bg{ background-color: $orange;}
.yellow-bg{ background-color: $yellow;}
.lime-bg{ background-color: $lime;}
.green-bg{ background-color: $green;}
.teal-bg{ background-color: $teal;}
.blue-bg{ background-color: $blue;}
.ink-bg{ background-color: $ink;}
.purple-bg{ background-color: $purple;}
.plum-bg{ background-color: $plum;}
.red-bg{ background-color: $red;}
.white-bg{ background-color: $white;}

.MRv-bg{ background-color: $MRv;}
.NRv-bg{ background-color: $NRv;}
.sa-360-bg{ background-color: $sa-360;}
.eLeave-bg{ background-color: $eLeave;}
.A4A-bg{ background-color: $A4A;}
.JPL-bg{ background-color: $JPL;}
.eRo-bg{ background-color: $eRo;}
.CPL-bg{ background-color: $CPL;}

.grey02-bg{ background-color: $grey02;}
.grey03-bg{ background-color: $grey03;}
.grey04-bg{ background-color: $grey04;}
.grey06-bg{ background-color: $grey06;}
.grey08-bg{ background-color: $grey08;}
.grey10-bg{ background-color: $grey10;}
.grey10-bg{ background-color: $grey10;}
.grey12-bg{ background-color: $grey12;}
.grey14-bg{ background-color: $grey14;}
.grey16-bg{ background-color: $grey16;}
.grey18-bg{ background-color: $grey18;}

.success-bg{ background-color: $success;}
.info-bg{ background-color: $info;}
.warning-bg{ background-color: $warning;}
.danger-bg{ background-color: $danger;}
.alarm-bg{ background-color: $alert;}

