!!!
%html.no-js{:lang => "en"}
  %head
    %title Bootstrap 4 Layout
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "assets/css/sard-styles.min.css", :rel => "stylesheet"}/
 
  %body
    //=include partials/global/_navbar.haml


    .container.first
      .row
        .col-12
          %h1 Bootstrap Components
          %h2#alerts.bs-anchor Alerts
          //=include partials/components/_alerts.haml

          %hr.black

          %h2#badges.bs-anchor Badges
          //=include partials/components/_badges.haml

          %hr.black

          %h2#breadcrumbs.bs-anchor Breadcrumbs
          //=include partials/components/_breadcrumbs.haml

          %hr.black

          %h2#buttons.bs-anchor Buttons
          //=include partials/components/_buttons.haml

          %hr.black

          %h2#cards.bs-anchor Cards
          //=include partials/components/_cards.haml

          %hr.black

          %h2#collapse.bs-anchor Collapse
          //=include partials/components/_collapse.haml

          %hr.black

          %h2#dropdowns.bs-anchor Dropdowns
          //=include partials/components/_dropdowns.haml

          %hr.black

          %h2#forms.bs-anchor Forms
          //=include partials/components/_forms.haml

          %hr.black

          %h2#input-group.bs-anchor Input Group
          //=include partials/components/_input-group.haml

          %hr.black

          %h2#list-group.bs-anchor List Group
          //=include partials/components/_list-group.haml

          %hr.black

          %h2#modal.bs-anchor Modal
          //=include partials/components/_modal.haml

          %hr.black

          %h2#navs.bs-anchor Navs
          //=include partials/components/_navs.haml

          %hr.black

          %h2#navbar.bs-anchor Navbar
          //=include partials/components/_navbar.haml

          %hr.black

          %h2#pagination.bs-anchor Pagintaion
          //=include partials/components/_pagination.haml

          %hr.black

          %h2#popovers.bs-anchor Popovers
          //=include partials/components/_popovers.haml







/ Scripts

%script{:src => "assets/js/sardJS.min.js"}