!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4, Bootstrap 4
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "assets/css/remote-sard-styles.min.css", :rel => "stylesheet"}/
 
  %body.theme-test
    //=include navbars/_navbar-x0.haml


    .container
      .row  
        .col-sm-12
          %h1
            .sicon.sicon-flower-xl.sicon-10x.mb-3
        .col-sm-12
          %h1 SARD Gulp4, Bootstrap 4 - Boilerplate

          %p.lead 
            This is the main Boilerplate for SARD. 
          %p
            Created using Gulp 4 and Bootstrap 4, it has added Bootstrap 3 styles for components that have been discontinued in BS4 but are still part of the SARD system family.
          %p      
            This boilerplate is intended to be a master style guide for SARD. The build process creates a single CSS file and a Single JS file, that can be linked to from external SARD systems, creating a unified set of styles and JS behaviours that span the entire SARD suit.

          %p That's the theory, anyway.

          %hr/
          %h3 Components that will need updating in SARD on completion.
          %ul
            %li All Panels to Cards
            %li Toggle Switches
            %li File uploads




    / Scripts ================================

    %script{:src => "assets/js/remote-sard-scripts.min.js"}