!!!
%html.no-js{:lang => "en"}
  %head
    %title Bootstrap 4 Layout
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "assets/css/sard-styles.min.css", :rel => "stylesheet"}/
 
  %body
    //=include partials/global/_navbar.haml


    .container
      %h1 SARD Bootstrap 4 - Boilerplate

      %p This boilerplate is intended to be a master style guide for SARD. It uses Bootstrap 4, but the components have been styled to suit.


    
      %i.fas.fa-anchor


      %i.sicon-arrow-down-circle



    / Scripts ================================

    %script{:src => "assets/js/sardJS.min.js"}