!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4, Bootstrap 4
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "assets/css/remote-sard-styles.min.css", :rel => "stylesheet"}/
 
  %body
    //=include navbars/_navbar-x0.haml


    .container
      %h1 SARD Bootstrap 4 - Boilerplate

      %p.lead This boilerplate is intended to be a master style guide for SARD. It uses Bootstrap 4, but the components have been styled to suit.




    / Scripts ================================

    %script{:src => "assets/js/remote-sard-scripts.min.js"}