!!!
%html.no-js{:lang => "en"}
  %head
    %title Bootstrap 4 Layout
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    / <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    / <link rel="stylesheet" href="/css/bootstrap.css">
    / <link rel="stylesheet" href="/css/styles.css">
    %link{:href => "assets/css/sard-styles.min.css", :rel => "stylesheet"}/
 
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{:href => "#"} Navbar
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{:href => "#"}
              Home
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{:href => "#"} Link
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Dropdown
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %a.dropdown-item{:href => "#"} Action
              %a.dropdown-item{:href => "#"} Another action
              .dropdown-divider
              %a.dropdown-item{:href => "#"} Something else here
          %li.nav-item
            %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
        %form.form-inline.my-2.my-lg-0
          %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
          %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search


    .container
      %h1 Index page


      %h2 type into terminal: gulp watch


    
      //=include partials/index/_partialtest.haml


      %a.btn.btn-primary{:href => "#"} button
      %i.fas.fa-camera


    .container
      .row
        .col
          %h1 Bootstrap Grid
      .row
        .col-12.col-sm-4.column
          One of three columns
        .col-12.col-sm-4.column
          One of three columns
        .col-12.col-sm-4.column
          One of three columns

    / Scripts
    %script{:src => "assets/js/sardJS.min.js"}