!!!
%html.no-js{:lang => "en"}
  %head
    %title Bootstrap 4 Layout
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    / <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    / <link rel="stylesheet" href="/css/bootstrap.css">
    / <link rel="stylesheet" href="/css/styles.css">
    %link{:href => "assets/css/sard-styles.min.css", :rel => "stylesheet"}/
  %body
    %h1 Index page CjjBBXXcBBG


    %h2 type into terminal: gulp watch


  
    //=include partials/index/_partialtest.haml

    %img{:alt => "Big Bird", :src => "assets/images/test/big-bird.jpg"}/

    / <script src="/js/jquery.min.js"></script>
    / <script src="/js/popper.min.js"></script>
    / <script src="/js/bootstrap.min.js"></script>
    %script{:src => "assets/js/sardJS.min.js"}