!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4, Bootstrap 4
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "assets/css/remote-sard-ui-styles.min.css", :rel => "stylesheet"}/
 
  %body#ui-index-page.theme-trust
    //=include navbars/_navbar-x0.haml


    .container
      .row  
        .col-sm-24

          %img.logo{:src => "assets/images/logos/SARD-logo-col-blk-md.png", :alt => "SARD Logo"}/
        .col-sm-24
          %h1 SARD Core 2020 (gulp version)

          %p.lead 
            This is the main Boilerplate for SARD. 
          %p
            Created using Gulp 4 and Bootstrap 4, it has added Bootstrap 3 styles for components that have been discontinued in BS4 but are still part of the SARD system family.
          %p      
            This boilerplate is intended to be a master style guide for SARD. The build process creates a single CSS file and a Single JS file, that can be linked to from external SARD systems, creating a unified set of styles and JS behaviours that span the entire SARD suit.

          %p That's the theory, anyway.

          %hr/
          %h3 Components that will need updating in SARD on completion.
          %ul
            %li All Panels to Cards
            %li Toggle Switches
            %li File uploads

    //=include navbars/_footer.haml




    / Scripts ================================

    %script{:src => "assets/js/remote-sard-scripts.min.js"}