//=include /includes/_head.haml


.container
  %h1 Test Page

  %p This boilerplate is intended to be a master style guide for SARD. It uses Bootstrap 4, but the components have been styled to suit.

  %p This is a mixture of fontawesome and sicons to test alignment.





//=include /includes/_base.haml
